[2022-08-24 08:13] DL8 commented on #855
Yes, and new key generation should look something like this:
https://github.com/intel/linux-sgx/blob/70e1535caa96c315189760a3ad4663eded9e8a2c/sdk/protected_fs/sgx_tprotected_fs/file_crypto.cpp#L197

Note that:
1. Current SVNs are taken
2. A random key ID is generated

In addition to that, I think CONFIGSVN field should be with the same semantics as other SVNs (I wonder why I don't see it in SGX SD

[2022-08-24 08:22] svenkata9 commented on #853
I tried couple of things -
With restricting to one NUMA node and using OMP options `OMP_NUM_THREADS=32 KMP_AFFINITY=granularity=fine,verbose,compact,1,0 KMP_BLOCKTIME=1 KMP_SETTINGS=1 DEBUG=0` 16T did little better and 32T did 2x better (~11000 tps). But post that with 64 threads no improvement and it comes down drastically. But even with this 2x improvement for 32T, gramine-sgx's throughput is on

[2022-08-24 08:46] svenkata9 commented on #853
Let me add this observation also - the above one is with `gramine-sgx`. None of these helped `gramine-direct`. The number remains very poor. So, the above bottlenecks may not be the same for `gramine-sgx`

[2022-08-24 09:03] mkow commented on #857
I think this is because we use our own KDF on that key later, so there's no weakness here?

[2022-08-24 09:11] qijiax commented on #853
With the suggestion from @svenkata9 , I re-benchmark on my environment.

Threads | 1 | 2 | 4 | 8 | 16 | 32 | 64
-- | -- | -- | -- | -- | -- | -- | --
non-gramine | 1625.24 | 3214.88 | 6360 | 12646.55 | 24800.75 | 46771.27 | 67288.27
gramine-direct | 1457.85 | 2765.94 | 4896.05 | 7745.49 | 10147.87 | 8660.04 | 3959.38
gramine-sgx | 914.35 | 1727.94 | 3162.01 | 5278.77 | 8319.01 | 10798 | 4520.98

T

[2022-08-24 11:41] svenkata9 commented on #853
This is an extract from `lscpu` in my system
[code]

There is a strong correlation here between the NUMA cores and the performance. When `threads` passed to `sysbench` exceeds 35 (cores per socket is 36), I see the tps starts dropping.

@qijiax Could you try the same in your system. I think your system has 56 cores per socket. Perhaps, you can try `sysbench --threads=55 ...` and see if this theory

[2022-08-24 12:13] #836 closed

[2022-08-24 12:14] boryspoplawski commented on #853
The problem is as @dimakuv mentioned, you cannot work around it using any kind of cpu pinning.

The most straight forward thing to do is to remove: https://github.com/gramineproject/gramine/blob/f7995b60c7b49e075adefa18573767c6e24a4cc9/pal/include/pal/pal.h#L471 (or at least make sure it's binary compatible and force a type cast). This would get rid of all the mallocs and should bring down the ove

[2022-08-24 12:28] boryspoplawski commented on #853
@qijiax @svenkata9 please check this branch: https://github.com/gramineproject/gramine/tree/borys/test_rm_pal_iov

[2022-08-24 15:12] svenkata9 commented on #853
In my quick testing, this doesn't make the numbers different for `gramine-direct`. For `gramine-sgx` it makes it little worse than the numbers that @qijiax mentione first. With the `OMP_NUM_THREADS` option even, the numbers are little worse than what I see in my system (with this branch)

[2022-08-24 15:15] boryspoplawski commented on #853
It doesn't make any sense, this commit shouldn't worsen things, that shouldn't even be possible...
Can you provide perf report with call graph (similar to before)?

[2022-08-24 15:56] DL8 commented on #857
How does the KDF work and when is it used? Do you mix some random value for each newly derived key? If not, the weakness may be applicable

[2022-08-25 06:48] dimakuv commented on #857
@DL8 You can look at this function and its comment: https://github.com/gramineproject/gramine/blob/master/common/src/protected_files/protected_files.c#L142-L145

Basically, yes, we mix a random value (nonce) with the KDK (key derivation key) to generate a newly derived key. This happens for **every new 4KB block of the file** (including on re-writes of the same block).

[2022-08-25 06:52] monavij commented on #822
As Dmitrii described all of the above can be done with premain or preloaded lib type approach, including the token renewel. There is no need to embed all this logic in Gramine.

[2022-08-25 07:09] qijiax commented on #853
Thanks for the patch @boryspoplawski .
I am using the command `numactl --cpubind=0 --membind=0 gramine-direct  mariadbd --user=root`
I have a similar result as Sankar's that the performance would have a small drop, but only when threads exceed 32. With the patch, it reaches a higher maximum performance and the performance scaling is better.

Threads | 1 | 2 | 4 | 8 | 16 | 32 | 64
-- | -- | -- | --

[2022-08-25 07:28] dimakuv commented on #853
@qijiax Can you set `libos.check_invalid_pointers = false` in your manifest and re-run? This `is_in_adjacent_user_vmas()` function is called to check for invalid pointers in syscall arguments.

See https://gramine.readthedocs.io/en/latest/manifest-syntax.html#check-invalid-pointers

[2022-08-25 07:30] dimakuv commented on #853
Oh, wait, looks like you already have this option set? This cannot be true. Please verify your manifest file again. I don't think you correctly set this option.

[2022-08-25 08:15] qijiax commented on #853
@dimakuv You are right, this param was not set. It was commented last time for debuging.
After adding this to manifest, the `is_in_adjacent_user_vmas()' hotspot gone and performance improves. The TPS now is:

Threads | 8 | 16 | 32 | 64
-- | -- | -- | -- | --
before  | 9691.98 | 12125.77 | 7306.34 | 3682.22
check_invalid_pointers = false | 9701.95 | 14954.93 | 10903.3 | 5695.37

There is still a sp

[2022-08-25 08:22] dimakuv commented on #853
@boryspoplawski Any idea where these malloc/free come from now?

[2022-08-25 08:49] DL8 commented on #857
The solution you described is applicable only for protected files. What about keys derived by the application (read directly from key derivation APIs)?

[2022-08-25 08:54] dimakuv commented on #814
**Summary of discussion during the Gramine core meeting on 23. August**

*Dmitrii*: the main unsolved question now is "how do enclaves find each other? e.g. via TCP/IP ports". The idea of finding another enclave through the IP port is generic enough. It maps to Enclave-CC use case: the agent enclave has a hard-coded IP port, and the app enclave connects to this port and performs SGX local attestat

[2022-08-25 08:57] dimakuv commented on #857
What are these key derivation APIs? We don't expose such things in Gramine to the app.

[2022-08-25 11:39] boryspoplawski commented on #853
Ah, yes, I only removed the translation in LibOS, forgot about PAL. @qijiax please try the same branch, I've pushed additional changes

[2022-08-25 15:02] svenkata9 commented on #853
This improves the performance along with `libos.check_invalid_pointers = false` and `numactl` setting. Till 64T, there is a good scaling as well (but still way off in perf w.r.t. native numbers).

But, without `numactl`, I don't see any improvement.

[2022-08-25 19:54] qijiax commented on #853
I also tried on my environment, the performance is improves. The TPS is 17217 in 32T, but drops to 16417 in 64T.
Below is the perf record in 64T gramine-direct. The hotspot `do_recvmsg` and `do_sendmsg` is removed. However, `libos_emulate_syscall` shows up, and `libos_emulate_syscall` is still high.
[code]

[2022-08-25 21:00] boryspoplawski commented on #853
`libos_emulate_syscall` is entrypoint to a syscall, it will always show up.
For the current perf graph, it's fd handling that the issue (basically converting fd to a handle). I can take a look at this some day, maybe convert it to some lockless structure, but unfortunately not now, I have other tasks to do.

[2022-08-26 01:48] qijiax commented on #853
Thanks for helping @boryspoplawski . BTW, will this patch merge the the master branch?

[2022-08-26 02:59] svenkata9 commented on #853
@qijiax How is it performing with `gramine-sgx`? In my setup, it performs well upto 76 threads after which it starts dropping down. Again, my results are with `numactl` restricting it to one node for CPU and memory. Without it, the performance remains poor.

[code]

[2022-08-26 07:37] qijiax commented on #853
@svenkata9 I can't reach your performance on 76 threads. I took a detailed testing on current patch.

Threads | 1 | 2 | 4 | 8 | 16 | 32 | 64
-- | -- | -- | -- | -- | -- | -- | --
non-gramine | 1625.24 | 3214.88 | 6360 | 12646.55 | 24800.75 | 46771.27 | 67288.27
gramine-direct | 1494.82 | 2901.3 | 5646.37 | 10371.68 | 12942.06 | 15539.51 | 17982.64
gramine-sgx | 945.21 | 1847.56 | 3600.19 | 6924.44

[2022-08-26 08:33] dimakuv commented on #853
Thank you @qijiax and @svenkata9 for this analysis! It will help us work on the bottlenecks, one by one.

I believe we can merge @boryspoplawski's patch into Gramine, just need to make it better. In principal, I don't see problems with being binary-compatible with the Linux structs, where it makes significant perf difference.

[2022-08-26 12:07] boryspoplawski commented on #853
@qijiax I was just made aware that you are using a patched version of Gramine, yet you've never mentioned that. Due to that we cannot reason about performance, or even correctness of Gramine.

[2022-08-26 16:03] boryspoplawski opened #864 "[PAL] Host fds from checkpointing are leaked on `fork()`"
## Description of the problem
When Gramine emulates `fork()` syscall, it spawns another Gramine instance by doing `fork() + execve()` on the host OS. All open file descriptors are supposed to have `O_CLOEXEC` flag set, so that they are all closed - Gramine then sends (via ancillary data on unix domain socket) only those that are required in the child process.
The problem is that these fds don't ha

[2022-08-27 07:33] deliciousdish opened #865 "Error when running the example helloworld"
I follow the instrunctions in [QuickStart](https://gramine.readthedocs.io/en/latest/quickstart.html) on ubuntu 20.04, when running "gramine-direct helloworld", i got the following error:
[code]
make SGX=1 and run "gramine-sgx helloworld" got the same error.
How to solve this issue?

[2022-08-27 11:18] boryspoplawski commented on #865
1. Please read and use issues template, it's there for a reason.
2. The link you've posted has a caution banner at the top. Please read it.
3. Assuming you've installed Gramine from apt, you need to checkout `v1.2` tag in repo in order to get examples compatible with that version (latest version from apt).

[2022-08-27 11:18] #865 closed

[2022-08-28 09:20] qijiax commented on #853
What do you mean patched version? I used to install Gramine form yum, but the Gramine using now is built and installed from master branch and with your patch.

[2022-08-28 09:33] svenkata9 commented on #853
@qijiax But, haven't you faced an error with Gramine and I asked you to apply the workaround through email -

[2022-08-28 21:50] #819 closed

[2022-08-29 07:08] dimakuv commented on #864
So the solution is to iterate through the FDs while the child process is receiving them and `fnctl(received-fd, F_SETFD, FD_CLOEXEC)`, and we're done?

[2022-08-29 11:44] boryspoplawski commented on #864
Most likely, at least this is the easiest approach (though it would slow checkpointing even more). I'm currently looking at all useges of `CLOEXEC`, will submit a PR soon, I can also fix this in that PR

[2022-08-29 15:29] boryspoplawski commented on #864
It turned out to be much easier than that - just use `MSG_CMSG_CLOEXEC` flag to `recv` syscall.

[2022-08-31 08:00] deliciousdish commented on #752
I had the same issue as raoufro, and my installation process is almost the same as him.
[code]
Is there any tutorial about how to try it in a docker container?

[2022-08-31 08:03] dimakuv commented on #752
@deliciousdish https://gramine.readthedocs.io/en/latest/container-integration.html

In particular, you may use the Gramine Docker image: https://hub.docker.com/r/gramineproject/gramine

[2022-08-31 09:50] dimakuv commented on #822
@bigdata-memory Do we want to discuss this Amber proposal in one of the upcoming Gramine meetings (on Tuesdays)?

[2022-08-31 12:28] boryspoplawski commented on #752
@deliciousdish What do you mean exactly?

Also could you please outline step-by-step what commands did you use to install Gramine (`.bash_history` or your shell history might come in handy)?
Maybe you both use a shared machine?

[2022-08-31 15:08] #761 closed

[2022-08-31 18:06] bigdata-memory commented on #822
@dimakuv Thank you for this suggestion, however, I had a conflicting customer meeting that overlapped in the second half hour. So we can discuss it for a limited time, if you think it's okay. Thanks.

[2022-09-01 02:40] deliciousdish commented on #752
No，we don't know each other. I use a vm support sgx and my os is also ubuntu 20.04.
First, I installed gramine from the apt, following the instructions in [Quick start](https://gramine.readthedocs.io/en/stable/quickstart.html) for stable version
Second, i clone the gramine project
[code]
Third, i try helloword example, and it's ok.
Fourth, i want to try ra-tls-mbedtls. From the README.md, i got "f

[2022-09-01 06:29] dimakuv commented on #752
Gramine v1.2 supports DCAP, so you didn't need to re-build it.

Can you re-build the `ra-tls-mbedtls` example with `loader.log_level = "all"` in the manifest.template file? This will output a lot of information from Gramine. Please post or attach the resulting log here. I'd like to see the paths for shared libraries that Gramine loads. There is some mismatch in the paths...

[2022-09-01 06:47] dimakuv opened #872 "LibOS shouldn't not overwrite `g_pal_public_state`"
## Description of the problem

The `g_pal_public_state` global variable is supposed to be constant (contain fields that are constants).

However, the topology code of LibOS overwrites `g_pal_public_state` that is a bad precedent, we shouldn't have done it that way. See https://github.com/gramineproject/gramine/blob/7b369de0787eab57b80a569604155fb6d0e598d3/libos/src/fs/sys/fs.c#L333

From @boryspop

[2022-09-01 07:08] deliciousdish commented on #752
I set ```loader.log_level = "all"``` in server.manifest.template, and the following is the log when running gramine-sgx ./server dcap
[code]

[2022-09-01 07:39] dimakuv commented on #752
Something is very wrong. Do you have the directory `/usr/lib/x86_64-linux-gnu/gramine/runtime/glibc/` on your machine?

[2022-09-01 07:44] deliciousdish commented on #752
yes, I have and there are many *.so, *.a files.

[2022-09-01 07:49] dimakuv commented on #752
Can you open `server.manifest.sgx` and find the `env.LD_LIBRARY_PATH` line there? What is written there?

[2022-09-01 07:52] deliciousdish commented on #752
[code]

[2022-09-01 07:55] dimakuv commented on #752
Can you show the output of `ls -la /usr/lib/x86_64-linux-gnu/gramine/runtime/glibc/`? Still unsure what's going on in your case...

[2022-09-01 07:58] deliciousdish commented on #752
[code]

[2022-09-01 08:06] dimakuv commented on #752
I'm at a loss. Everything looks fine.

Let me explain my reasoning. You're running the `gramine-sgx server ...` application, which forces Gramine to use the `server.manifest.sgx` file. We can clearly see that this file forwards the directory with Gramine libraries into the SGX enclave:
[code]

What happens here is that your host `/usr/lib/x86_64-linux-gnu/gramine/runtime/glibc/` directory is visib

[2022-09-01 08:08] dimakuv commented on #752
@boryspoplawski Do you have any ideas?

My suspicion is that some versions of `/lib/ld-linux-x86-64.so.2` have hard-coded paths for searching for libraries. So instead of paying attention to `LD_LIBRARY_PATH` envvar, the `ld` interpreter immediately tries to load `/usr/lib/x86_64-linux-gnu/libc.so.6`. Can this be true?

[2022-09-01 08:23] deliciousdish commented on #752
[code]
The LD_LIBRARY_PATH is as the following:
[code]

[2022-09-01 09:58] dimakuv commented on #752
This is very curious. It looks like `ld` behaves differently depending on the value in `LD_LIBRARY_PATH`:
- If `LD_LIBRARY_PATH` contains `/usr/lib/x86_64-linux-gnu/`, the `ld` interpreter searches for libraries under this path first.
- If `LD_LIBRARY_PATH` does *not* contain `/usr/lib/x86_64-linux-gnu/`, the `ld` interpreter searches for libraries under the first path listed in `LD_LIBRARY_PATH`.

[2022-09-01 10:23] lili8808 commented on #752
I have the same issue, I have installed gramine using https://gramine.readthedocs.io/en/latest/quickstart.html#prerequisites
then I run make SGX=1 in ~/gramine/CI-Examples/python path, when I want to run gramine-sgx ./python scripts/helloworld.py I get below error:
error: Cannot parse 'sgx.remote_attestation' (the value must be `true` or `false`)
DOES any one knows the reason?

[2022-09-01 11:24] dimakuv commented on #752
@lili8808 You forgot to perform `git checkout v1.2` after you did `git clone ...`

[2022-09-01 11:29] boryspoplawski commented on #872
Not yet (at least I don't remember saying so).

What's the point of the split? If the 2nd struct is **copied** into LibOS, then it can be const as well.

[2022-09-01 11:39] lili8808 commented on #752
@dimakuv I get error:
[code]
[code]

[2022-09-01 11:42] dimakuv commented on #872
Purely for clear separation. Doesn't have to be split, I agree, just a subset of fields of a *single common struct* could be copied inside the LibOS.

[2022-09-01 11:43] dimakuv commented on #752
@lili8808 You're not supposed to do `git clone --depth 1  https://github.com/gramineproject/gramine.git`.

Please do instead `git clone https://github.com/gramineproject/gramine.git`

[2022-09-01 11:51] lili8808 commented on #752
@dimakuv Thanks in the document is mentioned to use git clone --depth 1 https://github.com/gramineproject/gramine.git I think it should be edited based on your suggestion,  and the error disappeared now, I am going to run helloworld.py so I did these steps and as you can see I get error:
[code]
`make SGX=1
gramine-manifest \
	-Dlog_level=error \
	-Darch_libdir=/lib/x86_64-linux-gnu \
	-Dentrypoint

[2022-09-01 12:06] dimakuv commented on #752
@lili8808 These are known issues with Gramine v1.2. The next release of Gramine (v1.3) will not have these quirks. This next release will be published some time in September.

The AESM error that you see is because Python in Gramine-SGX wants to use the DCAP SGX remote attestation. You probably **didn't install the DCAP software infrastructure**.

[2022-09-01 12:07] dimakuv commented on #752
@lili8808 What you can currently do with this v1.2, if you **don't need SGX remote attestation**:
[code]

After this, your Python helloworld example will work.

[2022-09-01 12:16] lili8808 commented on #752
@dimakuv Thanks for your prompt response you saved my time. It worked without SGX remote attestions.
bu I have installed gramine dcap using
`sudo apt-get install gramine-dcap`
what should I do if I want to run with SGX remote attestation?

[2022-09-01 12:27] boryspoplawski commented on #752
You should not be using Github issues, especially unrelated, to discuss Gramine usage.

@dimakuv as for original problem: I have no idea, this is weird indeed, let me look into ld sources

[2022-09-01 12:30] dimakuv commented on #752
This `-dcap` prefix in the installation package is not about the DCAP remote attestation. It is about the so-called *out-of-tree DCAP SGX driver*. Yep, this is confusing. I can only recommend to read our documentation more carefully...

SGX remote attestation is a hard topic. You should first google a bit how it works and what is required for this. You can start with our page: https://gramine.read

[2022-09-01 13:39] boryspoplawski commented on #752
There is a small difference between helloworld and ra-tls-mbedtls - the latter has runpath set to `/usr/lib/x86_64-linux-gnu`.

@deliciousdish please paste the output of `readelf -a server | fgrep PATH` run inside `gramine/CI-Examples/ra-tls-mbedtls`

[2022-09-01 14:00] lili8808 commented on #752
Thanks , but I know what SGX remote attestations is and I have run Go lang programs and also c programs using other infrastructures, but this error only appears in Gramine.

[2022-09-01 14:07] dimakuv commented on #752
@boryspoplawski Good hint on `RPATH` vs `RUNPATH`.

Check this: https://stackoverflow.com/questions/52018092/how-to-set-rpath-and-runpath-with-gcc-ld

I have a strong suspicion that @deliciousdish's system has an old linker -- and this old linker uses the old behavior of setting `RPATH`.

So what we want is for the linker (even the old linker) to use `RUNPATH` instead. And for this, looks like we

[2022-09-01 14:15] boryspoplawski commented on #752
Actually, why do we do that? `-L` should be enough, why we add `rpath`?

[2022-09-01 14:17] dimakuv commented on #752
@boryspoplawski We don't add `rpath`. It is the command `pkg-config --libs mbedtls_gramine` that does this. Just run this command on your local machine (with Gramine installed), and you'll see.

[2022-09-01 14:20] boryspoplawski commented on #752
How about we do `pkg-config --libs-only-l --libs-only-L`

[2022-09-01 14:22] dimakuv commented on #752
@boryspoplawski Doesn't work on my machine:
[code]

[2022-09-01 14:25] DL8 commented on #800
I think at this point the easy part is to add support for new build-time attributes of the enclave (`ISVEXTPRODID` and `ISVFAMILYID`).  For the implementaiton, I suggest adding the following attributes to the manifest:
[code]

SGX signing tool will be modified as follows:
1. If `sgx.kss = true`:
   1. Add the new fields to the SIGSTRUCT
   2. Set ATTRIBUTES.FIELDS.KSS = 1 (bit 7)
3. Else, use lega

[2022-09-02 01:24] deliciousdish commented on #752
@boryspoplawski
[code]

[2022-09-02 04:22] zcc35357949 opened #874 "WebAssembly can not allocate memory properly"
## Description of the problem
We try to run a simple snarkjs sample in gsc container, but it starts up with out-of-memory error.

## Steps to reproduce
### Docker Image
enclaive/nodejs-sgx:latest(from https://github.com/enclaive/enclaive-docker-nodejs-sgx)

### Snarkjs Sample
[code]

### CPU and Memory
Intel(R) Xeon(R) Gold 5318Y CPU @ 2.10GHz

[code]

### manifest template
[code]

## Expected res

[2022-09-02 06:43] dimakuv commented on #874
This seems to be related to this: https://github.com/nodejs/node/issues/30017

In particular:

Or even to this: https://github.com/piscinajs/piscina/issues/158

In particular:

There is a command-line argument to WASM: `--wasm-max-mem-pages`. Maybe you should try decreasing this number.

See https://gist.github.com/kyranet/3331b1346b773e1b03f1da2127f73fd0#file-v8-options-L281

I have a vague recol

[2022-09-02 06:46] dimakuv commented on #752
@deliciousdish Could you also show `ld --version`?

[2022-09-02 07:09] svenkata9 commented on #874
How much is it carved out for SGX EPC out of the total memory? Could you do `sudo dmesg | grep sgx`?

[2022-09-02 08:02] deliciousdish commented on #752
@dimakuv
[code]

[2022-09-02 08:24] dimakuv commented on #752
@boryspoplawski So the trick of `--libs-only-l --libs-only-L` doesn't work:

[code]

I will submit a PR with my other proposal, `-Wl,--enable-new-dtags`.

[2022-09-02 08:45] dimakuv commented on #752
@akumar2709 @deliciousdish @lili8808 Could (any of) you try the new PR https://github.com/gramineproject/gramine/pull/875 -- it should fix your problems (`Inconsistency detected by ld.so...`) hopefully.

[2022-09-02 09:04] deliciousdish commented on #752
Yes, I have tried, problem solved.

[2022-09-02 09:25] kailun-qin opened #876 "Check and remove unneeded include dependencies for RA-TLS and Secret Provisioning libs"
## Description of the problem

The original discussion was from https://github.com/gramineproject/gramine/pull/748#pullrequestreview-1094440566 where we'd like to add an `assert()` in `ra_tls_attest.c` which requires `#include <assert.h>` but accidently found out that our `assert.h in common` was actually used (which requires `_log()` and `abort()` then).

This is due to that the current `sgx_inc`

[2022-09-02 10:04] zcc35357949 commented on #874
`dmesg | grep sgx`:
[code]
`nodejs allocate memory error`:
[code]

[2022-09-02 10:12] svenkata9 commented on #874
What I suspected seems to be correct - the EPC is just 2GB. That's perhaps the reason you are hitting this error. Please enter the BIOS and in SGX EPC Size option, increase it to 64GB and you should see this error vanish.

[2022-09-02 10:14] zcc35357949 commented on #874
descreasing `--wasm-max-mem-pages` can not resolve it.

[2022-09-02 10:16] svenkata9 commented on #874
Please see my response. That should help. In your system, it might be present under
Socket Configuration -> Processor Configuration -> PRMRR Size

* might because I don't know the customization that OEMs have in their BIOS.

[2022-09-02 11:03] zcc35357949 commented on #874
already increase to 64GB, but it does't work.
[code]

[code]

[2022-09-02 11:16] svenkata9 commented on #874
Well, if I understand the error now seems to be at a different point (further down) in the flow, right? Couple of options to triage this:
1. Run the same workload with `gramine-direct` and see if it works - the gramine version without SGX. We expect it to work.
2. Increase the enclave size in the manifest to 32GB and see (along with decreasing wasm memory as @dimakuv mentioned)

[2022-09-02 11:40] zcc35357949 commented on #874
got the error running with `gramine-direct`:
`error: PAL failed at ../pal/src/host/linux/pal_main.c:215: setting personality failed: -6`

[2022-09-02 11:55] dimakuv commented on #874
Please check https://gramine.readthedocs.io/projects/gsc/en/latest/#execute-with-linux-pal-instead-of-linux-sgx-pal

For quick testing, you need to start your Docker container with `docker run ... --security-opt seccomp=unconfined`

[2022-09-02 12:04] zcc35357949 commented on #874
Ok, after setting the option, PAL error indeed vanish.
However, out-of-memory error still exists.I have expand enclave_size to 32G and `--wasm-max-mem-pages` to 16(1M?)

[2022-09-02 12:32] zcc35357949 commented on #874
It does't work even running with `gramine-direct`.

[2022-09-02 13:35] boryspoplawski commented on #752
Weird, one of my systems have even older `ld` and `gcc` and everything works correctly...

@dimakuv because you did not install Gramine, if you did it would work.

[2022-09-02 13:41] boryspoplawski commented on #874
I did run wasm, but it was long time ago and I don't remember the details. For sure it worked, consumed a lot of memory even for simple stuff, but 1-2G was enough for me.

What's the problem? How does it fail? Can you add `loader.log_level = "all"` to the manifest file and attach the output?

[2022-09-02 23:38] mkow opened #878 "Host paths in a manifest should be resolved relatively to that manifest location"
## Description of the problem

Host paths in a manifest should be resolved relatively to that manifest location.

## Steps to reproduce

Use any relative host path in the manifest (e.g. in `sgx.trusted_files`).

## Expected results

The paths are resolved relatively to the manifest location.

## Actual results

The paths are resolved relatively to current directory, which makes little sense.

## G

[2022-09-04 06:55] terminal69 commented on #874
Saw you mentioned this issue from the piscina thread. We had that problem with virtual memory in nodejs 16 which was somehow fixed in nodejs 17.1 or 17.2 I think.

Your docker image from https://github.com/enclaive/enclaive-docker-nodejs-sgx seems to use nodejs 12, based on https://github.com/enclaive/enclaive-docker-nodejs-sgx/blob/main/Dockerfile ...

for example, I built this Dockerfile
[code]

[2022-09-05 02:36] zcc35357949 commented on #874
Thanks for the reply. This is the output of running with gramine-direct:
[debug.log](https://github.com/gramineproject/gramine/files/9486282/debug.log)

[2022-09-05 02:46] zcc35357949 commented on #874
Thanks. It does't work after upgrading nodejs to v18.8.0.
[code]

[2022-09-05 02:47] zcc35357949 commented on #874
Thanks. It does't work after upgrading nodejs to v18.8.0.
[code]

[2022-09-05 07:52] dimakuv commented on #874
@zcc35357949 I looked at the attached `debug.log` file. I fail to see anything wrong in Gramine execution.

In particular, here is the snippet where the application starts to complain about insufficient memory (I cleaned it for readability):
[code]

So this is bizzare: the application complains that it cannot allocate memory, but at the same time Gramine is able to fullfill the request of the appl

[2022-09-05 07:56] dimakuv commented on #752
@boryspoplawski Pretty sure I have my Gramine installed (not globally, but in a local dir). Anyway, we should discuss -- if needed at all -- in the PR #875 from now on.

[2022-09-05 08:45] zcc35357949 commented on #874
After increasing the enclave size in the manifest to 64GB and removing `--wasm-max-mem-pages` node argument, `gramine-direct` can work as expect.

however, after change back to `gramine-sgx`,  no error message print and the process stuck up.
[debug.log.zip](https://github.com/gramineproject/gramine/files/9488222/debug.log.zip)

[2022-09-05 11:13] boryspoplawski commented on #752
Sorry, I was not precise, I meant installed in distro predefined paths, from which libs are loaded by default. Anyway, we have a good fix, this is not important.

[2022-09-05 11:45] #874 closed

[2022-09-05 14:21] lili8808 opened #882 "error: PAL failed at ../../Pal/src/db_main.c:pal_main:457 (exitcode = 4, reason=argv handling wasn't configured in the manifest, but cmdline arguments were specified.)"
## Description of the problem

I have installed Gramine using the link https://gramine.readthedocs.io/en/stable/cloud-deployment.html but when I run the command  ```gramine-sgx helloworld``` at the end I get error:
[code]

[2022-09-05 14:23] dimakuv commented on #882
Unfortunately, our documentation is currently wrong. Instead of this:
[code]

you should have done this:
[code]

[2022-09-05 14:29] lili8808 commented on #882
Thanks for response now I get this error:
[code]

[2022-09-05 14:30] dimakuv commented on #882
@lili8808 Forgot this step? https://gramine.readthedocs.io/en/stable/cloud-deployment.html#prepare-a-signing-key

[2022-09-05 14:49] lili8808 commented on #882
Thanks for your reply, I successfulyy run helloworld in c, but when I want to run the helloworld.py in python path I get the error as below:
`~/gramine/CI-Examples/python$ gramine-sgx ./python scripts/helloworld.py
Gramine is starting. Parsing TOML manifest file, this may take some time...
error: aesm_service returned error: 1
error: load_enclave() failed with error -1
`

[2022-09-05 14:55] dimakuv commented on #882
@lili8808 This will be fixed (or how to say that... "made more reasonable") in the next release of Gramine.

Currently, you should read the README of the Python example carefully, especially this part: https://github.com/gramineproject/gramine/tree/v1.2/CI-Examples/python#building-for-sgx

Basically, you need to re-build the Python example like this:
[code]

[2022-09-05 14:56] lili8808 commented on #882
Does this new make command mean without remote attestation?

[2022-09-05 14:58] dimakuv commented on #882
@lili8808 This means "dummy" (unused) remote attestation. So yes, without remote attestation.

[2022-09-05 14:59] lili8808 commented on #882
Thanks for help so I can not run python programs with remote attestation until new release am I right?

[2022-09-05 15:05] dimakuv commented on #882
@lili8808 You can. But you need to set up remote attestation correctly when you build your apps. Please read https://github.com/gramineproject/gramine/tree/v1.2/CI-Examples/python#building-for-sgx carefully. Also read https://gramine.readthedocs.io/en/stable/attestation.html.

[2022-09-05 15:05] #882 closed

[2022-09-06 11:43] dimakuv commented on #882
Yes, correct.

Yes, this is also correct. You're just reusing the same SPID.

[2022-09-06 16:54] #864 closed

[2022-09-06 20:06] enedellec opened #891 "[Doc] Issue in cloud deployment document for cloning the v1.2 release"
In the stable version of the documentation, it is proposed to clone the v1.2 version by proceeding that way :
`git clone --depth 1 https://github.com/gramineproject/gramine.git v1.2`

Actually, that command does not clone the version 1.2, but the last version in a directory named v1.2.
The right command is the following one :
`git clone --depth 1 --branch v1.2 https://github.com/gramineproject/gra

[2022-09-06 21:34] boryspoplawski commented on #891
The documentation for v1.2 is build well, from v1.2 :) It was found out and fixed only after the release, so v1.3 will be correct (the release should happen ~soon)

[2022-09-06 21:34] #891 closed

[2022-09-07 06:46] imtypist commented on #803
Thank you! It works for me :)

[2022-09-07 14:40] dimakuv opened #893 "Perf bottleneck of `FIONREAD` OCALL during PAL attributes read"
## Description of the problem

We have a perf bottleneck in Linux-SGX PAL. In particular, to get the attributes of the PAL handle (via `PalStreamAttributesQueryByHandle()`), we *always* perform one SGX OCALL to get the pending bytes-to-read. We have these four places in Linux-SGX code:
https://github.com/gramineproject/gramine/blob/f112c819ea030bbc144e712e17079d010a347444/pal/src/host/linux-sgx/pa

[2022-09-07 14:47] svenkata9 commented on #893
[nginx_gsgx_strace.txt](https://github.com/gramineproject/gramine/files/9507172/nginx_gsgx_strace.txt)

(Context of this PR was poor perf with NGINX. Thanks @dimakuv for creating an issue).
Attaching the NGINX log that shows a huge hit in perf w.r.t. native because of these IOCTLs with FIONREAD.

[2022-09-07 15:24] boryspoplawski commented on #893
Who analyzed this issue and how did they come to these conclusions?

My analysis of the provided log would be quite, quite different. There are 24 calls to `ioctl(FIONREAD)` which should take close to 0 time. The performance hit comes from `ioctl`s for creating the enclave (mostly adding pages).

[2022-09-07 15:48] boryspoplawski commented on #893
I have a hard time believing Nginx does `setsockopt` so frequent that this is a perf bottleneck.

[2022-09-07 16:04] dimakuv commented on #893
We should be talking about the usages of `PalStreamAttributesQueryByHandle()`.

[2022-09-07 16:26] boryspoplawski commented on #893
Which are:
- `setsockopt`,
- actually querying pending size,
- changing flags of a fd,
- emulating `MSG_DONTWAIT` for UNIX domain sockets - newly added, Nginx didnt use it.

[2022-09-08 07:00] dimakuv commented on #893
@boryspoplawski Yes, these are the usages. I think also `getsockopt`. Well, need to verify all the places that lead to calling the `attrquerybyhdl()` callback, I think there were a couple more (inside the PAL code itself).

Just to reiterate, I have a strong feeling that performing an FIONREAD OCALL is suboptimal.

[2022-09-08 07:58] DL8 commented on #857
So if I understand correctly, the challenge here is how to let the developer configure protected filesystem keys in a flexible manner. I feel that using key name mechanism as is might be very cumbersome, because there are too many combinations. Another solution I have in mind is to add something like key parameters property to `fs.mounts` entries in the manifest. It will look something like this:

[2022-09-08 09:24] boryspoplawski commented on #893
Of course, it definitely is suboptimal. But I would think you cannot notice it on any real workload. Could you share any perf/strace/whatever showing otherwise?

[2022-09-08 11:14] deliciousdish opened #895 "Unable to load binary execute when running python in Gramine"
## Description of the problem
I'm not sure whether it's a bug. I have tried helloworld.py in gramine/CI-Examples/python, and then I want to make some changes. Specifically, I want to load a binary executeable and got an error.

## Steps to reproduce
For example, I wrote a helloworld.c, then
[code]
And I modified python.manifest, add "file:scripts/helloworld" into allowed_files, then I want to exec

[2022-09-08 11:18] jinengandhi-intel opened #896 "[Doc] Incorrect git clone command in QuickStart Guide to run helloworld example"
## Description of the problem
In the quickstart guide for v1.2 and stable the command to checkout gramine is incorrect: https://gramine.readthedocs.io/en/stable/quickstart.html
https://gramine.readthedocs.io/en/v1.2/quickstart.html

`git clone --depth 1 https://github.com/gramineproject/gramine.git v1.2`

Here you are missing `-b` before `v1.2`: `git clone --depth 1 https://github.com/gramineproje

[2022-09-08 11:23] mkow commented on #896
This was fixed by 1b83451a1e8e38e7d56c8e6b2fe923504a4dc6a0 some time ago.

[2022-09-08 11:23] #896 closed

[2022-09-08 11:29] boryspoplawski commented on #895
Please try the current master branch, this might have been already fixed (and I couldn't repro it there).

The problem might be that you have the same file - `scripts/helloworld` both in trusted and allowed files. This should be fine, but maybe we had some bugs in this area.

[2022-09-08 11:36] #895 closed

[2022-09-08 11:42] anjalirai-intel commented on #783
Added select03 to the list

[2022-09-08 13:34] Villain88 opened #897 "Writing protected files hangs when there is not enough free space"
## Writing protected files hangs when there is not enough free space

## Steps to reproduce

1. Create a loopdevice of limited size (_2G for example_) and mount it in the host system (_/mnt/data for example_)

2. Create an application with GSC using the following manifest

[code]

3. Launch the application by forwarding /mnt/data to /data (docker -v /mnt/data:/data)
4. The application should write

[2022-09-08 15:16] lili8808 opened #898 "Is it possible to connect to the mysql tables while running python script suing Gramine?"
How Gramine can connect to the mysql tables while running a python script (when the script is running inside the SGX)?

[2022-09-08 15:18] boryspoplawski commented on #898
Please read the issue template:
[code]

[2022-09-08 15:18] #898 closed

[2022-09-08 15:23] boryspoplawski commented on #898
You can also join our gitter chat: https://gitter.im/gramineproject/community

[2022-09-08 16:50] enedellec opened #900 "Issue with Azure & DCAP (but I propose a solution)"
Hi,

As a new comer, I started by reading the documentation and I quickly arrived to the [Cloud Deployment page](https://gramine.readthedocs.io/en/stable/cloud-deployment.html) which was exactly what I wanted to do : quickly testing gramine in Azure.
I managed to run the "hello world" sample, but when I wanted to try one sample which relies on DCAP, it did not work.

To be honest, it took me a whi

[2022-09-09 00:28] marcelamelara opened #901 "Gramine installation through apt should check for existing Gramine installations built from source"
## Description of the problem

There is currently no straightforward way to cleanly uninstall old versions of Gramine that were installed from source without the original Gramine source tree. In other words, ` sudo ninja -C build uninstall` does not work in cases where the Gramine source tree is removed from the machine, and a new ninja build is configured at a later point with a newer version of

[2022-09-09 00:47] boryspoplawski commented on #901
1. I don't think what you are asking for is even possible. You can install Gramine at virtually any place in file system (any prefix).
2. If you have a custom build I recommend having a custom prefix. Things like `/opt/gramine/` as prefix is probably what most people would use.

tl;dr I believe everything works as it should.

[2022-09-09 02:49] deliciousdish commented on #895
But it didn't work on my machine. I removed old gramine using "apt purge" and build it from master branch following the instructions [here](https://gramine.readthedocs.io/en/latest/devel/building.html). But i start from Building section because I have installed sgx driver, sdk and psw from source. Then i test and get the following error message:
[code]
Any suggestions? Thanks!

[2022-09-09 06:32] dimakuv commented on #895
@deliciousdish Can you check `which gramine-sgx`? What does it output? One suspicion I have is that you're still having an old version of Gramine (or parts of Gramine) installed on the machine.

If this error still persists, I would ask you to show us *all the steps* that you did. Including how you change sources, how you change manifest.template files, how you build and how you run.

Something is

[2022-09-09 06:37] dimakuv commented on #901
If I understand correctly, `apt install` installs Gramine (on Debian/Ubuntu) at `/usr/`. Whereas `sudo ninja -C build/ install` installs Gramine at `/usr/local/`.

I guess this is where the problem of incompatible versions stems from. If this is indeed so, I agree that this is a nightmare to debug/realize.

We can't be the only project who has such problems... What do other projects do in this sit

[2022-09-09 06:50] dimakuv commented on #900
@enedellec Thanks for the great summary!

We already have the sources for our [official Dockerhub Gramine image](https://hub.docker.com/r/gramineproject/gramine). The sources can be found here: https://github.com/gramineproject/gramine/tree/master/packaging/docker. They include the minimal Dockerfile to install Gramine and all required dependencies. (Plus a minimal script to restart the SGX-specif

[2022-09-09 07:33] deliciousdish commented on #895
Maybe i set wrong parameter in meson setup. So, how to set sgx_driver_include_path when sgx_driver is set to upstream?
If i ignore this parameter, it will try to find "asm/sgx.h" when execute "ninja -C build/"
I search this file, and find it in
[code]
Then i try to set sgx_driver_include_path to
[code]
but it got another error
[code]
I can find bits.h in the following path
[code]
So, the question

[2022-09-09 08:09] dimakuv commented on #895
`sgx_driver_include_path="/usr/src/linux-hwe-5.13-headers-5.13.0-30/arch/x86/include/uapi"`

[2022-09-09 08:23] deliciousdish commented on #895
Yes, it worked. Last time, i built gramine using wrong param value for sgx_driver and sgx_driver_include_path.
 Thanks very much! @dimakuv

[2022-09-09 12:26] enedellec commented on #900
Thank you @dimakuv for your prompt and detailed reply.

I agree with you that documentation already exists in the docker context, and it is a good point.

To sum up my experience, I started by the hello world program, and when I wanted to go a step further with DCAP, it did not work. It took me a while to understand why it did not work, and to find a solution, just because I tried to improve the s

[2022-09-09 12:50] boryspoplawski commented on #901
`sudo ninja install` installs gramine at `--prefix=XYZ` defined at `meson setup`. `XYZ` can be anything you want, `/usr/local/` is just it's default value, but can be changed.

[2022-09-09 14:08] dimakuv opened #902 "Implement support for `TCP_KEEPIDLE`, `TCP_KEEPCNT` and `TCP_KEEPINTVL`"
## Description of the problem

Gramine currently doesn't support `setsockopt(TCP_KEEPIDLE)` (same for `TCP_KEEPCNT` and `TCP_KEEPINTVL`).

Some applications set these socket options and fail if these options are not supported (like currently in Gramine):
[code]

One example is applications that use `libpq` (library for communication with PostgreSQL): https://www.postgresql.org/docs/current/libpq-c

[2022-09-09 14:38] dimakuv commented on #901
@boryspoplawski If I understand correctly, `meson setup` defaults to the prefix of `/usr/local/`. Which sounds fair, and I don't think we should change it.

At the same time, Debian/Ubuntu packages install under `/usr/`. You can see it in Woju's PR: https://github.com/gramineproject/gramine/pull/512/files (find the line `MESONARGS := --prefix=/usr`). This `/usr/` prefix is I guess something that D

[2022-09-09 15:43] boryspoplawski commented on #901
As I said, when you build Gramine manually you are supposed to tweak `--prefix` to your needs.

It does not to me. If you want two versions of the same software installed, you should keep them separated.
Also I believe you shouldn't install stuff manually into `/usr/` (or whatever your distro uses) - this is the place for stuff coming from your system directly (here apt), which correctly tracks al

[2022-09-09 17:19] marcelamelara commented on #901
Thank you both @dimakuv and @boryspoplawski for your input.

I agree, for folks like me doing research with Gramine, switching between `ninja install` and `apt install` versions is not atypical. But I understand if this isn't the _most_ typical use case for Gramine, too.

That said, I understand that my problem was ultimately the fact that _I_ removed the original `meson setup`-ed build directory

[2022-09-12 07:33] dimakuv commented on #901
I agree with @marcelamelara. Gramine should do something about this. Maybe Gramine could at least probe `which gramine-direct` (or some Gramine tool that always exists, no matter what backend you install) during `meson setup` and give a huge warning `Gramine already installed under ..., are you sure you want to continue with installation? N/y`.

[2022-09-12 17:18] mkow opened #904 "Paths with a trailing slash don't work with encrypted mounts"
## Description of the problem

This does work:

[code]

but this doesn't, despite it should:

[code]
In both examples `enc_files/` is a directory. By not working I mean that `/files/` directory doesn't contain decrypted contents of `enc_files/` from the host.

Disclaimer: I haven't investigated the issue at all, so it may be something trivial.

## Gramine commit hash

7e7e31b1ac9cd94636245ba3c89f6

[2022-09-13 09:08] dimakuv commented on #904
Looks like smth we'd like to fix sooner than later... Anyone has free cycles? @kailun-qin @boryspoplawski

[2022-09-13 09:41] lbb211 opened #906 "error :Pal/src/host/Linux/db_main.c:pal_linux_main:214 (exitcode = 6, reason=setting personality failed)"
To test Gramine installation, I have installed Gramine using the link https://gramine.readthedocs.io/en/stable/quickstart.html but when I run the command gramine-direct helloworld at the end I get error:

root@1c7a50e4ba87:~/gramine/CI-Examples/helloworld# gramine-direct helloworld
error: PAL failed at ../../Pal/src/host/Linux/db_main.c:pal_linux_main:214 (exitcode = 6, reason=setting personality

[2022-09-13 10:01] qijiax commented on #853
@boryspoplawski Do you have any update on the fd lock?

[2022-09-13 10:04] dimakuv commented on #906
Looks like you run Gramine in a Docker container. You need to change the default Docker seccomp filter for `gramine-direct` to run (no need for this if you only care about `gramine-sgx`).

- https://hub.docker.com/r/gramineproject/gramine (see under `SGX`)
- https://gramine.readthedocs.io/projects/gsc/en/latest/#execute-with-linux-pal-instead-of-linux-sgx-pal

[2022-09-13 10:04] #906 closed

[2022-09-13 13:07] boryspoplawski commented on #853
No, and unfortunately nothing will happen until after the next release, which is happening soon. Also this might be non-trivial amount of work.

[2022-09-13 13:15] dimakuv commented on #904
FWIW: I couldn't reproduce it using `libos/test/regression/manifest.template`...

[2022-09-13 13:30] dimakuv commented on #904
I was able to reproduce this in the latest master (with #884) on `ra-tls-secret-prov` example.

In particular, the problem is in `uri` (not `path`) -- adding `/` indeed makes the example fail. I'm debugging this...

[2022-09-13 14:16] oshogbo opened #907 "Gramine strtoll/strtol is not coherent with glibc implementation."
## Description of the problem

Glibc defines the fallow rules for strtoll/strtol:
[code]

In the case of Gramine, the `strtoll/strtol` skips whitespace and sets the `*endptr` to the next character after the whitespace.

## Steps to reproduce

Use  `strtoll/strtol` on Linux:
[code]

Use Gramine `strtoll/strtol` with the following cases:
[code]

Results on Linux:
[code]

Results on Pal/LibOS:
[code]

[2022-09-13 19:55] #846 closed

[2022-09-14 03:14] lbb211 commented on #906
hi dimakuv , I think use gramine-direct helloworld in docker conntainer , now ,how to set the default docker seccomp filter
 ,can you tell me ,thank you !

[2022-09-14 06:46] dimakuv commented on #906
I gave you the links which explain how to do it... But here's a quick (and not recommended) way of running Docker that allows to run `gramine-direct`: `docker run ... --security-opt seccomp=unconfined`

[2022-09-14 07:28] lbb211 commented on #906
yes, I do it ,but the  other question is happend
error: PAL failed at ../../Pal/src/db_main.c:pal_main:457(exitcode =4, reason=argv handling wasn't configured in the manifest, but cmdline arguments were specified)

[2022-09-14 07:42] dimakuv commented on #906
Ah, I see. We have a bug in the QuickStart guide (which will be fixed soon).

In your `~/gramine/CI-Examples/helloworld` directly, please type `git checkout v1.2`. This will "synchronize" the version of the Helloworld example with the version of Gramine that you installed.

After this, you can do `make clean; make`, and then `gramine-direct helloworld` will work fine.

[2022-09-14 08:24] lbb211 commented on #906
Do you have the full git command  like "git clone --depth 1 https://github.com/gramineproject/gramine.git v1.2". thank you

[2022-09-14 09:14] dimakuv commented on #906
Well, the correct command should be `git clone --depth 1 --branch v1.2 https://github.com/gramineproject/gramine.git`

[2022-09-14 09:30] lbb211 commented on #906
The command : gramine-direct helloworld  is fine, thank you very much!

[2022-09-14 09:31] qijiax opened #910 "Performance Gap Between Logical Core and Physical Core"
## Description of the problem

We used HammerDB to benchmark the performance of MariaDB in Gramine.
We tested on a 2-socket platform, there are 56 physical cores (112 logical cores) per socket. The HammerDB virtual users(VU) is set to 16. The Gamine-MariaDB service is run bind to one socket.
If we do no limitation on cores, the HammerDB result NOPM is **270k**. The CPU utilization is 1600%.
If we

[2022-09-14 10:45] woju commented on #901
Nothing at all. Building and installing from source is error-prone esp. wrt uninstalling and user is expected to know what s/he is doing. The exact scenario described in the original issue is impossible to correct for (you can't reliably uninstall things if you don't have original builddir, the new builddir might be configured differently and has different set of installed files). Even if you have

[2022-09-14 11:09] #904 closed

[2022-09-14 11:09] boryspoplawski commented on #910
Yes, we are aware that heavy multi core scenario which uses a lot of futexes currently has some perf bottlenecks around accessing shared AVL tree in futex wake/wait code (basically high lock contention).
I started working on it some time ago, but it required some time and had low priority, so the work stalled.

[2022-09-14 11:19] dimakuv commented on #901
Thanks @woju. I'm surprised by the current state of affairs (`it's a general and well-known problem that you can't uninstall things compiled from source`). Well, if there is no common solution to this, and if other projects do `nothing at all`, I guess we can close this issue as wontfix.

I'd argue that UNIX created this mess, and learning 100500 less-than-obvious rules to acquire basic Linux admi

[2022-09-14 11:19] #901 closed

[2022-09-14 12:26] #752 closed

[2022-09-14 13:59] woju commented on #901
The common solution really is to install from packages. It just works, incl. uninstall.

Sadly, the problem of uninstallation is not limited to *nix (exhibit A: `uninstall.exe`, exhibit B: `regedit32.exe`). *nix is unique only because here installation from source is actually a thing, and in traditionally handcrafted makefiles the developers are responsible for sane `make uninstall`. But developer

[2022-09-14 15:22] marcelamelara commented on #901
I totally disagree that this is simply _a basic Linux admin issue_. Sure, I already readily admitted my basic mistake, AND this does not mean that you can't find ways to do better for other folks. Because side-by-side installations do have **security** implications, the absolute least you can do is point this out in documentation, because **that** is non-obvious to newbie SGX users. If you want Gr

[2022-09-15 13:28] imtypist opened #911 "build error for ra-tls-secret-prov example"
## Description of the problem
Build error for ra-tls-secret-prov example

## Steps to reproduce

make app dcap RA_TYPE=dcap

## Expected results
build pass

## Actual results

[code]

## Gramine commit hash

5c312f95d464a3ac69cce129e270838808f1ee31 [LibOS] Raise SIGALRM when setitimer's timer expires

[2022-09-15 13:42] imtypist commented on #911
sorry, I missed the `-Ddcap=enabled` option when building gramine from source. It has been solved after rebuilding gramine.

[2022-09-15 13:42] #911 closed

[2022-09-15 15:01] imtypist opened #912 "secret provisioning failed in the confidential PyTorch example"
## Description of the problem
secret provisioning failed in the confidential PyTorch example.
The client side outputs:
[code]
The server side outputs:
[code]
## Steps to reproduce
start secret provisioning server:
[code]
then, execute the pytorch example:
[code]

## Actual results
The client side log
[code]

The server side log
[code]

## Gramine commit hash

5c312f95d464a3ac69cce129e270838808f1ee

[2022-09-15 15:25] imtypist commented on #912
It should be caused by some insecure setting in the manifest. I solved it through adding the options
[code]
before `./server_dcap ../files/wrap_key`.

[2022-09-15 15:25] #912 closed

[2022-09-15 17:04] jinengandhi-intel opened #913 "Degradation seen when running certain OpenVino models for Latency after [LibOS,PAL] Emulate CPU affinity in LibOS commit"
## Description of the problem
In preparation for the release we were running different workloads with Gramine master and we noticed a substantial jump in overhead for Gramine Direct when running select OpenVino workloads measuring latency.

Sample numbers for one of the workloads are copied below:

![image](https://user-images.githubusercontent.com/60124476/190463288-b848e1e2-4fe4-43b7-b310-936f4e

[2022-09-15 17:13] aneessahib commented on #913
Notifying @vijaydhanraj  as well

[2022-09-15 17:23] dimakuv commented on #913
It would be good to perform `perf record` on this.

Looking at the commit https://github.com/gramineproject/gramine/commit/5b6f6db983a9ec23cf94408f5941eaaaea9a4d41, and knowing the fact that TensorFlow (a similar workload) doesn't have perf degradation, I have these suspicions:
1. OpenVINO calls `sched_setaffinity()` syscall very frequently, and Gramine's emulation added a `calloc` + `free`, which

[2022-09-15 19:19] vijaydhanraj commented on #913
Yes, agree with @dimakuv. It will be good to profile and collect some logs.

Based on my earlier findings (with `OpenVINO` and `HWLOC`), I have seen that `sched_getaffinity()` being called multiple times during the initial phase to find the `cpusetsize` and some `sched_setaffinity()` calls to actually set the right affinity but not too frequently during the runtime.

[2022-09-16 05:02] jinengandhi-intel commented on #913
@vijaydhanraj @dimakuv I have collected the perf data but the files were too big to upload here, so upload to our sharepoint which all of the Gramine developers should already have access to.

[OpenVino_Perf_Data](https://intel.sharepoint.com/:f:/r/sites/Graphene/Shared%20Documents/General/OpenVino_Degradation_Perf_Data?csf=1&web=1&e=R9kNLi)

Let me know if you face any issues accessing the files.

[2022-09-16 06:24] jasonkang1234 opened #914 "ra-tls-mbedtls: failed when it perform the SSL/TLS handshake"
## Description of the problem
I tried the run ra-tls-mbedtls from the CI-Examples. However it failed when it perform the SSL/TLS handshake.

I am using Gramine version1.2. I am running it on the same virtual machine

Steps:
1) Azure confidential compute resource virtual machine terminal :
$gramine-sgx ./server dcap &

2) Another terminal on the same virtual machine with Azure confidential compute

[2022-09-16 06:36] dimakuv commented on #914
Interesting, I've never seen an error like this (`The CRT/CRL/CSR format is invalid`).

Does the non-gramine client work for you? I mean the third example from the README:
[code]

[2022-09-16 07:17] dimakuv commented on #913
@jinengandhi-intel The collected data seems to be incomplete:
- `perf record` was run *without* `-g` (collecting callchains). Thus, the resulting files don't have any interesting insights...
- Gramine was built in `release` mode? For perf record, we need to build Gramine in `debugoptimized` mode (for this, `meson setup` should be run with `--buildtype=debugoptimized`).

Also, since I'm opening the

[2022-09-16 07:29] jinengandhi-intel commented on #913
I will re-collect the numbers and ping you with machine details for you to analyze.

[2022-09-16 08:43] dimakuv commented on #913
I re-ran the experiments with `perf record --call-graph dwarf`. The perf results (`perf report -g --no-children`) speak louder than words:

- Latest Gramine (with commit https://github.com/gramineproject/gramine/commit/5b6f6db983a9ec23cf94408f5941eaaaea9a4d41)
[code]

- Gramine v1.2 (without commit https://github.com/gramineproject/gramine/commit/5b6f6db983a9ec23cf94408f5941eaaaea9a4d41)
[code]

[2022-09-16 08:48] dimakuv commented on #913
Just for sanity, checked also the runtimes (running `gramine-direct` without perf, just like what @jinengandhi-intel did).

- Latest Gramine (with commit https://github.com/gramineproject/gramine/commit/5b6f6db983a9ec23cf94408f5941eaaaea9a4d41)
[code]

- Gramine v1.2 (without commit https://github.com/gramineproject/gramine/commit/5b6f6db983a9ec23cf94408f5941eaaaea9a4d41)
[code]

[2022-09-16 09:04] dimakuv commented on #913
Now my quick analysis.

I suspected two bottlenecks, now I'm sure that this is the bottleneck:

So yeah, I'm very surprised :) At least this particular OpenVINO workload creates new threads over and over, again and again. I guess, for each new iteration OpenVINO creates a new set of threads, and each iteration itself happens very fast, so the runtime is dominated by creation of threads.

This is a

[2022-09-16 09:58] dimakuv commented on #913
I implemented solution 2.i in this PR: https://github.com/gramineproject/gramine/pull/915

I verified the solution, here is the perf result of the same OpenVINO workload:
[code]

Here is an exerpt from the perf-record:
[code]

As one can see, there are no `libos_syscall_sched_setaffinity` traces. Solution works.

[2022-09-16 13:17] vijaydhanraj commented on #913
Thanks for the detailed analysis and a simple solution @dimakuv

[2022-09-18 15:02] #913 closed

[2022-09-19 07:39] caiqs-sys opened #917 "Error when import some module in python example"
## Description of the problem
Error happened when import some module in python examples. So, Any limitations when import module when run python program in gramine
## Steps to reproduce
Just add the following code in helloworld.py
[code]
## Expected results
Hello World
## Actual results
I run 3 times and got different result.
[code]

## Gramine commit hash
5b160c68260eaa57a9342762b33dbff1e3c8fb5a

[2022-09-19 07:53] jiangxu12 opened #918 "error: PAL failed at ../Pal/src/db_main.c:pal_main:458 (exitcode = 4, reason=argv handling wasn't configured in the manifest, but cmdline arguments were specified."
I have installed Gramine using the link https://gramine.readthedocs.io/en/stable/quickstart.html but when I run the command gramine-sgx XXXXX at the end I get error:

[code]
I can run helloworld in c successfully but when I run python, bash and redis etc it produces error.
I am using CentOS8，and I can make them successfully.
But I got this error, when I use the command gramine-sgx to run these exa

[2022-09-19 09:26] dimakuv commented on #917
Thanks @deliciousdish for the bug report. This looks like some corner case in Gramine, because something inside Gramine itself fails, based on this line of log:
[code]

Someone from the Gramine team will need to debug this...

[2022-09-19 09:37] deliciousdish commented on #917
I checked the docs，it looks like all the module imported should be added to fs.mounts in python.manifest.template, right?
The uuid module is at "/usr/lib/python3.8", so  i add it to fs.mounts as the following, but the error is the same as above.
[code]
caiqishen@gramine-clean:~/gramine/CI-Examples/python$ gramine-sgx ./python scripts/helloworld.py
Gramine is starting. Parsing TOML manifest file, t

[2022-09-19 10:53] dimakuv commented on #917
@deliciousdish Can you show your `manifest.template` file? I'm unsure why you get this error. Seems like some problem in the manifest.

[2022-09-19 10:55] dimakuv commented on #918
@jiangxu12 Please check this one: https://github.com/gramineproject/gramine/issues/882

[2022-09-19 11:14] #918 closed

[2022-09-19 13:25] jiangxu12 commented on #918
@dimakuv Yes，I have read this issue before,and I have use the new command
`git clone --branch v1.2 --depth 1 https://github.com/gramineproject/gramine.git`.
After that,I could run helloworld.c in c successfully, but when I run python, bash and redis etc in the CI-Examples,they still  produce this error.
![image](https://user-images.githubusercontent.com/43697225/191027478-02bc2bbd-7fd8-4a7f-af7f-0

[2022-09-19 15:01] dimakuv commented on #918
Strange, this shouldn't happen. Please try `make clean` in these examples (Python and Bash), and then build again using `make SGX=1`.

[2022-09-20 02:16] llly commented on #823
Met same Pytorch issue again in other cases.
https://github.com/pytorch/pytorch/blob/master/torch/csrc/distributed/c10d/Utils.hpp#L552
Pytouch add `MSG_MORE` to `sendto` flag. Gramine should ignore this flag instead of reporting error if it won't be supported.

[2022-09-20 02:31] lejunzhu commented on #917
You may also check the kernel log:
`sudo dmesg | grep ELDU`
If it shows something like:
`[ 2537.818570] ELDU returned 1073741837 (0x4000000d)`
Then it's a kernel bug that causes "Unexpected memory fault occurred inside PAL". You'll need a different version of kernel.

[2022-09-20 03:13] deliciousdish commented on #917
No, these's nothing wrong in my kernel log. But I have solved this problem.
I run gramine examples in a vm which is running a desktop computer with Intel(R) Core(TM) i7-8700 CPU @ 3.20GHz. This cpu only supports SGX1 and has only 128M EPC. Then I  set only 16M EPC for the VM. I think the too few EPC is the root cause of the error because i changed 16M to 64 M and no error happened.

[2022-09-20 06:40] dimakuv commented on #917
@deliciousdish Thanks for root causing the problem. Very valuable information!

I'm still curious why Gramine fails in such a weird way... I would expect Gramine to terminate with some meaningful message, like "out of memory" or smth like this. Well, whatever.

[2022-09-20 07:32] deliciousdish opened #920 "Error happened when using pika module"
## Description of the problem
Error happened when using pika module， which was used to connect a message queue.

## Steps to reproduce
First, install pika module.
[code]
Second, modify helloworld.py
[code]
## Expected results

## Actual results
[code]
I can't upload logs, so i paste the last part of logs here.
[code]
## Gramine commit hash
07fb01664bf692e851792866cc81db32636818f3

[2022-09-20 11:44] boryspoplawski commented on #917
I think we should diagnose this problem, trusted (enclave) part shouldn't fault like that (no matter what).

[2022-09-20 13:15] dimakuv commented on #917
Yes, I agree that it would be good to diagnose this problem. I'm currently not sure how to reproduce this deployment though.

@deliciousdish Are you from Intel?

[2022-09-21 01:43] wydxyreh opened #922 "graminelibos.manifest.ManifestError: Cannot resolve /lib/x86_64-redhat-linux make: *** [Makefile:96: sgx_outputs] Error 1"
## Description of the problem
I have installed Gramine on alibabacloud, which is similar as CentOS, by following https://gramine.readthedocs.io/en/latest/quickstart.html. I can run helloworld successfully, but when I try redis with "make SGX=1", I get error:

‘’‘
graminelibos.manifest.ManifestError: Cannot resolve /lib/x86_64-redhat-linux
make: *** [Makefile:96: sgx_outputs] Error 1
’‘’

## Steps

[2022-09-21 01:55] fork-while-1 opened #923 "warning: encrypted_file_internal_open: pf_open failed: Invalid path"
## Description of the problem
I am trying to run a ML model where the inputs to the model are encrypted (kind of like the pytorch example in the docs, but more involved). I encrypted all of the input image files using the wrap key, and mount the input directory as an encrypted directory.

The DCAP remote attestation works ok and my enclave is able to receive the wrap key, however, when the model t

[2022-09-21 01:55] wydxyreh commented on #922
ok, indeed, I just need to run "ARCH_LIBDIR=/lib64 make SGX=1", STUPID QUESTION.

[2022-09-21 01:58] deliciousdish commented on #917
No. I tried to reproduce the error,  but always got different error code.
[code]
I can't upload logs maybe because i am behind a proxy. I paste some logs around error here.
[code]
It's indeed a corner case, because i run gramine in a vm(support sgx) with little epc(16M). If want to reproduce the error, you have to build qemu-sgx with commit id '5e0214cdeee17de949f2565f4429c15173179ae3', then run a

[2022-09-21 06:26] dimakuv commented on #923
When you run this step:
[code]

The `gramine-sgx-pf-crypt` tool must say something like `Make sure that you put the file under the following path ...`. Could you send us the output of this tool, with the exact path that it wants you to use?

The Encrypted Files feature of Gramine uses a special format where the **file path is part of the verified metadata**. So the file path opened at runtime must

[2022-09-21 06:39] deliciousdish commented on #920
gramine-direct also failed.
[code]
It fails just after epoll_wait.
[code]

[2022-09-21 11:21] dimakuv commented on #920
Thanks @deliciousdish. I debugged it a bit. Indeed, I can repro it easily on the latest master.

I'm running `GDB=1 gramine-direct ./python scripts/helloworld.py`.

The segfault happens here: https://github.com/gramineproject/gramine/blob/5fd2145632d81ff3d4af40899eb8f7fb2135e663/libos/src/sys/libos_epoll.c#L594

GDB extract:
[code]

So `pal_handles` array is somehow not allocated (or just the poin

[2022-09-21 18:38] fork-while-1 commented on #923
Hi!
Thanks for getting back! I changed the encrypt command to:
`gramine-sgx-pf-crypt encrypt -w files/wrap-key -i ./datasets/cd-sem -o ./datasets/cd-sem-enc`
This directory has a bunch of subdirectories and image files inside of it, and the `pf-crypt` utility encrypts each of them recursively, and then prints something like:
`Gramine's sgx.protected_files must contain this exact path: "./datasets/

[2022-09-22 05:19] bronzeMe opened #926 "How to get the host ip address and hostname inside Gramine?"
*  Example code, see it at [get_host_name.py](https://github.com/bronzeMe/gramine/blob/master/CI-Examples/python/scripts/get_hostname.py)
* Running this example code directly on the host, we got the result:
[code]
* Running this example code inside Gramine , we got the following:
[code]
* The expected result should be the same as that returned by running it on the host.
Q1: Can we get the expected

[2022-09-22 06:30] Glenrun opened #927 "OOM with javascript + WebAssembly by Gramine in SGX mode"
## Description of the problem
I'm running javascript + WebAssembly  in Gramine in SGX mode, but run into OOM error, however I'm able to run javascript + WebAssembly program successfully without Gramine.

## Steps to reproduce
The attachement is a complete reproducer, in dockerfile format(`gramineproject/gramine:v1.2` as base image
), however the problem has nothing to do with container, since I ca

[2022-09-22 08:09] bronzeMe commented on #926
The above results were tested on an  old version gramine, I find the latest version gramine had overcome this issue, see details at [libos_uname.c](https://github.com/gramineproject/gramine/blob/master/libos/src/sys/libos_uname.c#L24)

[2022-09-22 08:37] dimakuv commented on #926
Yes, exactly. We fixed it just a couple days ago :)

[2022-09-22 08:37] #926 closed

[2022-09-22 09:33] dimakuv commented on #927
I suggest two things:

1. Check https://github.com/gramineproject/gramine/issues/874 and try the solutions proposed there: increase `sgx.enclave_size` in your manifest file (I see that currently it is 8GB, I would recommend to go all the way up to 64GB) and try the `--wasm-max-mem-pages` command line option.
2. I suggest to set `-Dlog_level=all` (in your `startup.sh` script), so that Gramine print

[2022-09-22 09:40] dimakuv commented on #923
You specified `003efc4c8819de47ff11b5a0af7ba09aee7f5fc1` as the Gramine commit hash. I don't see such hash in Gramine. Are you sure that's a correct one? What version of Gramine are you actually using?

[2022-09-22 09:42] dimakuv commented on #923
Also, could you show more of the Gramine log? The part of the log your copied is a bit too small, I would like to see ~20 lines before this copy-pasted part and ~20 lines after this copy-pasted part.

[2022-09-22 12:46] #920 closed

[2022-09-22 13:27] Glenrun commented on #927
Hi, Dimitrii, I know the issue  [WebAssembly can not allocate memory properly #874](https://github.com/gramineproject/gramine/issues/874) , actually we are working on the same project, since that issue was closed due to `repackaged version of Gramine`, so I used `gramineproject/gramine:v1.2` as the base image, just add my own program, and configure `sgx.enclave_size="8G"` just for easy reproduce,

[2022-09-22 13:41] boryspoplawski commented on #927
Could you add `log_level = "all"` to the manifest file and attach the result log here?

[2022-09-22 14:07] Glenrun commented on #927
Here are gramine log and application log files:
[gramine.log](https://github.com/gramineproject/gramine/files/9626517/gramine.log)
[nodejs.log](https://github.com/gramineproject/gramine/files/9626546/nodejs.log)

[2022-09-22 14:29] dimakuv commented on #927
Gramine log has this problematic point:

[code]

So your NodeJS/WebAssembly app for some reason wants to allocate `0x28000f000` which is ~10GB. Clearly that's the root cause. Now why allocating this memory region, and why so much space?

I couldn't find any explanation why your app (or the underlying frameworks) do this on the internet. Can you enable more logs in Node.js and WEbAssembly? We need

[2022-09-24 00:15] Glenrun commented on #927
The application could be modified to a very simple, just a print, after I tested, seems it is caused by WebAssembly, it allocates very large virtual memory, not physical memory, it is a known behavior:
[Chasing Memory Bugs through V8 and WebAssembly](https://bugs.chromium.org/p/v8/issues/detail?id=12076)
[Issue 12076: Hard limit on number of WebAssembly Memories](https://blog.stackblitz.com/posts/

[2022-09-24 09:20] jinengandhi-intel opened #930 "Gramine SGX degradation seen for OpenVino brain_tumor_seg_0001_fp16 with Sept 22 commit(4f259b80ed4c40e7cccde70e822d378754dacb97)"
## Description of the problem
Copied below are the results for one of the OpenVino models when run with Gramine SGX from Sept 21st and Sept 22nd. We are seeing an 13% increase in degradation (Linux Native/Gramine SGX) with [[LibOS] Always allocate a slot for a wakeup handle in do_epoll_wait](https://github.com/gramineproject/gramine/commit/4f259b80ed4c40e7cccde70e822d378754dacb97)

If you compare

[2022-09-24 17:54] boryspoplawski commented on #927
But what's the point? This memory would still need to be there for SGX1 and for SGX2 doing this would be a security vuln.

[2022-09-24 18:14] boryspoplawski commented on #930
First of all standard deviation compared to average is ~15% in those numbers so 13% difference in degradation could be just a statistical error.
Secondly this is a bug fix of an issue with potential security implications and there doesn't seem to be any other way of solving it, so I don't think we can do much.

[2022-09-26 03:10] Glenrun commented on #927
Case 2:
set enclave_size=16G, Gramine can be booted, but if a request sent to server by `curl http://localhost:3000/genAndVerify` , seems even `2G` memory can't be allocated, it fails with below error:

[code]

[2022-09-26 06:33] dimakuv commented on #927
@boryspoplawski What do you mean by "would still need to be there"? Sure, this memory will need to be specified in `sgx.enclave_size`. But it doesn't need to be measured at boot time and it can be skipped for zeroing-out via `sgx.preheat_enclave = false`. So this enclave memory won't be ever committed to any host physical memory.

Or am I missing something?

Why?

@Glenrun Unfortunately, I don't s

[2022-09-26 06:39] dimakuv commented on #930
Yes, standard deviation seems very high. On the other hand, it certainly feels like the [`[LibOS] Always allocate a slot for a wakeup handle in do_epoll_wait`](https://github.com/gramineproject/gramine/commit/4f259b80ed4c40e7cccde70e822d378754dacb97) commit degraded performance generally.

Now that I think of it, we introduced a `malloc` + `free` in the generic case of `epoll_wait()` (we allocate

[2022-09-26 12:09] boryspoplawski commented on #927
We would have EPC for it upfront. Sure it can be later swapped to host RAM to be never reclaimed, but it would need to be allocated at the beginning.
Side note: `sgx.preheat_enclave` does not zero-out memory.

I don't remember now what scenario I had in mind, maybe it's all ok.

[2022-09-26 12:14] boryspoplawski commented on #930
I'm not sure how this `malloc` + `free` make things that much slower here, where we already have a `malloc` there. Also it's `epoll_wait()`, it almost always sleeps form some indeterminate amount of time.

But yes, we have to rework `malloc` anyway (but I doubt it will help much in this case).

[2022-09-26 14:37] dimakuv commented on #927
Ok, yes, I agree with the EPC point. I admit my workaround is more of a hack. The real solution is to have EDMM.

Yes, bad wording. Instead of "zero-out memory", I should have said "touches memory".

[2022-09-26 21:43] fork-while-1 commented on #923
Hi, apologies for the delay, I've attached the full log here:
[code]

[2022-09-26 21:57] fork-while-1 commented on #923
The commit hash is the latest commit I believe. I'm using the current version on the master branch
Thanks!

[2022-09-26 21:58] fork-while-1 commented on #923
Here are also the mount outputs:
[code]

[2022-09-26 22:27] fork-while-1 commented on #923
I looked at `gramine-sgx-pf-crypt`'s output:
[code]
I even tried opening just this single file by using the exact path:
[code]
and I still get the same error message

[2022-09-27 01:54] lejunzhu commented on #923
Perhaps you can change the mount line in the manifest to:
`{ path = "/datasets/cd-sem-enc", uri = "file:./datasets/cd-sem-enc", type = "encrypted"},`
then it should work.

[2022-09-27 06:44] dimakuv commented on #923
I don't think this is true. There is no such commit hash in Gramine. What does `cd gramine/ && git log | head --lines 20` show you?

Notice that we fixed the bug with Encrypted Files just two weeks ago: https://github.com/gramineproject/gramine/commit/c92978c7645f89bd01a4dec09d2ab7eb33dbf840. This bug looks like something that may explain your issues. Please update to the latest master branch and

[2022-09-27 07:56] dimakuv opened #933 "FYI: Python Numba scripts with Gramine"
## Description of the problem

I wasn't sure where to dump this information. Since we have Python in our CI-Examples in this repo, I decided to dump the info here.

I quickly tested the [Numba](https://en.wikipedia.org/wiki/Numba) open-source JIT compiler that translates a subset of Python and NumPy into fast machine code using LLVM, via the llvmlite Python package. It works fine.

Here is the pat

[2022-09-27 09:23] mccoysc opened #934 "WebAssembly.instantiate():Out of memory"
load wasm in nodejs would always get error as the title(error not only for one special wasm,but for all wasm modules which be used by me).

for example code:

[code]

gramine version: 1.2
host linux env: centos8 x64
docker os which gramine-sgx run in: ubuntu20.04 x64
enclave memory size:4GB
nodejs:version 18.4 x64

[2022-09-27 09:35] dimakuv commented on #934
Duplicate of https://github.com/gramineproject/gramine/issues/927.

Unfortunately, we're currently unaware how to solve this problem. It seems like some hard-coded logic in WebAssembly which is not supported by the current Intel SGX hardware, and Gramine cannot circumvent this.

[2022-09-27 09:35] #934 closed

[2022-09-27 09:52] mccoysc commented on #934
@dimakuv this is the feature "proto_noreserve".
it means "reserve" a range of memory address space,no need any real memory.and may be later,they can re-call mmap to commit it to real memory.
it's not caused by sgx hardware feature.
maybe you can implement it in mmap?

[2022-09-27 10:03] dimakuv commented on #934
@mccoysc Please move the discussion to #927. It's better to discuss in one place, rather then it two different (but related) ones.

I understand what you mean, and we already had a brief discussion with @boryspoplawski in #927. Please see there.

[2022-09-27 11:04] dimakuv commented on #933
How do we put it there? We don't have Python there.

[2022-09-27 12:43] mkow commented on #933
This definitely shouldn't be an issue, especially open, as there's no bug/issue to fix here from our side.

[2022-09-27 12:43] #933 closed

[2022-09-27 15:28] fork-while-1 commented on #923
Ah, you are right -- sorry, my mistake. This seems to not be the latest commit:
[code]
Let me reinstall and try it out

[2022-09-27 18:15] fork-while-1 commented on #923
Unfortunately that doesn't seem to work, but I'm trying it out with the latest version and lets see.

[2022-09-28 01:19] lejunzhu commented on #923
I just tested it. It seems you need to change the encryption command to:
`gramine-sgx-pf-crypt encrypt -w test_key -i datasets/cd-sem -o datasets/cd-sem-enc`
The leading './' is causing the mismatch (at least in my test).

[2022-09-28 02:00] mccoysc commented on #927
may be encrypted file map can be applied for these huge memory alloc?

[2022-09-28 02:03] mccoysc commented on #927
and,the file can be sparse which no disk space required for not used range

[2022-09-28 07:52] dimakuv commented on #923
@lejunzhu Thanks! I know what the problem is. We don't normalize the paths in the `gramine-sgx-pf-crypt` tool. Let me cook a PR that fixes that...

[2022-09-28 09:51] dimakuv commented on #923
@fork-while-1 @lejunzhu If you have time, please check https://github.com/gramineproject/gramine/pull/937. It should fix the error.

[2022-09-28 11:57] lejunzhu commented on #923
Yes, it fixes the issue in my test.

[2022-09-28 12:25] boryspoplawski commented on #927
I don't understand your proposal, but I'm fairly certain it's not possible in Gramine

[2022-09-28 16:38] mccoysc commented on #927
in implemention of mmap,you can set a threshold (512MB for example).if memory map size is lower than the threshold,you can map real memory。
for the other end,if the map size is greater than the threshold,you need create a file map(the backend file should be sparse so that it could not requires disk space immediately) instead of map real memory to avoid alloc memory with huge size and return the fi

[2022-09-28 17:15] boryspoplawski commented on #927
No, that's not possible. Mapping a file inside enclave is essentially mapping anonymous memory and copying file content into it. Since this is enclave memory, it must be reflected in enclave_size and backed by EPC pages (in SGX1), there is no way around that.

[2022-09-28 22:27] asmprogrammer5 opened #941 "ra-tls-mbedtls example with DCAP fails to establish TLS handshake"
## Description of the problem
RA-TLS Sample with DCAP fails, but succeeds with EPID
It's similar to this issue:
https://github.com/gramineproject/gramine/issues/570

However, that issue only states to use EPID, but does not address DCAP. I can get the EPID to work, but not DCAP.

## Steps to reproduce
Followed instructions to build and install from source:
https://gramine.readthedocs.io/en/stable/

[2022-09-29 01:30] mkow commented on #927
No, it's exactly the opposite. Enclave size is the size of `ELRANGE` in SGX terminology, which is the virtual address range reserved for a specific enclave.

[2022-09-29 01:43] mccoysc commented on #927
it seems that gramine-sgx need to have a way to unbindibg the 1 to 1 relation-ship between address space and physical memory,edmm for example.

and then,the enclave size would changed to be only "address range size limit".

[2022-09-29 03:58] weijiguo commented on #927
Has EDMM support been scheduled or planned?

[2022-09-29 06:50] dimakuv commented on #941
1. Are you using a local configuration of DCAP, where you install Intel PCCS on your machine?
2. Please verify that the official sample code for DCAP infrastructure works correctly: https://github.com/intel/SGXDataCenterAttestationPrimitives/tree/master/SampleCode
3. What is the output of `systemctl status aesmd`?
4. What is the output of `systemctl status pccs`?
5. Anything interesting in the PCC

[2022-09-29 07:18] dimakuv commented on #927
Yes, seems like this is what @mccoysc implied in his proposal. But I fully agree with Michal -- while technically possible, it requires a lot of discussions on the rationale and design of this. Plus a lot of time to actually implement it and fix all the bugs.

EDMM support will be available in Linux 6.0 -- this Linux version will be released in October 2022 (so, very soon).

Gramine will support E

[2022-09-29 07:21] mccoysc commented on #927
edmm support depends on the sgx driver…so if oot driver used,no need to wait for linux 6.0

[2022-09-29 07:25] asmprogrammer5 commented on #941
Thanks! Please find my answers below:

PCCS_URL=https://localhost:8081/sgx/certification/v3/

Yes, the QuoteGeneration and Verification Samples seem to work:
Generation:
[code]

Verification:
[code]

[code]

[code]

No errors here. The CPUSVN, PCESVN, PCEID look ok to me

Not using a proxy. Does anything stand out from the above to you? Thanks!
If not, will look at that list.

[2022-09-29 07:50] dimakuv commented on #927
That's also true. However, I am not aware of anyone (I mean, in production) using the OOT SGX driver these days.

[2022-09-29 07:54] mccoysc commented on #927
that's for the building procedure of sgx oot driver makes people heart broken🤣

[2022-09-29 07:55] dimakuv commented on #941
[code]

Hehe, this is the problem. Sorry I didn't notice this before.

The `ra-tls-mbedtls` example's server works in such a way that:
1. It runs a normal benign attestation **when no command-line arguments are given**.
2. It runs a *malicious* attestation **when any command-line argument is given**.

You gave the `dcap` argument, which is not needed (you already specified that the server needs to

[2022-09-29 07:57] dimakuv commented on #941
This is the code in the server that forces this logic:
https://github.com/gramineproject/gramine/blob/bf9d2758b6dbe3b973d707df157ec54caec1bc05/CI-Examples/ra-tls-mbedtls/src/server.c#L180-L182

Maybe it was not smart to rely on "any command-line argument". Maybe I should have hard-coded some specific argument like `force-malicious`.

[2022-09-29 08:44] dimakuv commented on #941
I cooked a PR that disallows such bloopers in the future: https://github.com/gramineproject/gramine/pull/943

[2022-09-29 09:59] lead4good commented on #58
We've run into this problem graminizing `geth`. As this issue has seen some activity recently, I am wondering if a patch is already being developed now or in the near future?

[2022-09-29 11:18] mkow commented on #927
It implements a different API than the driver in Linux 6.0, and it's deprecated, so we don't plan to implement it. We'll probably be slowly dropping support for OOT driver over time.

[2022-09-29 11:26] mccoysc commented on #927
usually,if linux 6.0 released at the end of 2022,it needs 2 years or more to be used as the first choice.
if as you said,only supported in linux 6.0,dropping support for oot,would you make gramine-sgx to be a minority ？

[2022-09-29 12:20] mkow commented on #927
No, 6.0 is only about EDMM support. Older kernels already have SGX drivers integrated and Gramine works and will work there. For even older ones, people use DCAP drivers if they have CPUs with FLC. OOT is the option only for very old CPUs without FLC.

[2022-09-29 13:16] dimakuv commented on #927
@mkow I think the point of @mccoysc was that many people will have this:
1. Linux version less than 6.0
2. Desire to use EDMM

To satisfy the above, the only option is to install the OOT SGX driver. I agree that deprecating the OOT driver is too early -- many people will have the above (conflicting) requirements.

[2022-09-29 13:34] mkow commented on #927
The support for OOT and the support for EDMM-on-OOT are two completely different things, and you seems to be mixing both of them. AFAIK we don't plan to ever support EDMM-on-OOT.

[2022-09-29 16:44] asmprogrammer5 commented on #941
Aha! That worked, without "dcap" argument.

[2022-09-29 16:45] asmprogrammer5 commented on #941
Yes, it's not the right thing to inject malicious quote for no argument. Thanks for fixing it with the new argument, that's more intuitive :)

[2022-09-30 00:10] mccoysc commented on #927
even,we mainly run linux with version<5.0.
too many things need to be handled but not so much benifits.

[2022-09-30 00:20] lejunzhu commented on #927
AFAIK, OOT driver doesn't support DCAP, so that probably won't be useful.

[2022-09-30 01:46] mccoysc commented on #927
really,implemention of mmap flag MAP_NORESERVE is more important for many data analyzing service

[2022-09-30 01:53] mkow commented on #927
Well, then update it. You'll need to do it someday anyways ;)

Again, sorry, but it seems that you don't understand how SGX works. We can't just map memory as `MAP_NORESERVE` and be done, enclave memory is managed through special CPU instructions and is completely different than normal, OS-managed RAM.

[2022-09-30 07:34] mccoysc commented on #927
not "can not",but "no enough power"

[2022-09-30 07:45] #941 closed

[2022-09-30 07:51] dimakuv commented on #58
@lead4good We'll discuss whether we have the manpower to work on `flock()`. We just finished v1.3, so maybe we can include it in v1.4... No promises though.

[2022-09-30 07:57] Simon-aikuier opened #948 "AI models base pytorch run failed"
## Description of the problem

I have a model for machine translation system，it will use torch.distributed.init_process_group to fork some processes. It will report error when i run it on gramine v1.3

## Debug info

The 2nd enclave start failed. The trace infos as follow:

[P1:T1:python3] debug: allocating checkpoint store (size = 67108864, reserve = 33554432)
[P1:T1:python3] error: Internal memo

[2022-09-30 09:08] dimakuv commented on #948
Based on this, looks like you have a huge checkpoint (that is prepared by the parent enclave and then sent to the child enclave). Have you tried increasing `sgx.enclave_size` even more, to `32G`?

[2022-09-30 11:28] mkow commented on #927
?

[2022-09-30 18:10] boryspoplawski commented on #927
@mccoysc It's impossible. If you think otherwise, feel free to prove me wrong and submit a PR implementing it, you're more than welcome to do so.

[2022-09-30 18:13] boryspoplawski commented on #927
@Glenrun for the original issue we cannot do anything, until we have SGX2 support.
For "Case 2" it's hard to say, doesn't seem like Gramine issue. You can add `log_level = "all"` and check all `mmap` accesses, maybe node already allocated memory which filled whole enclave... Hard to say without more details.

[2022-09-30 18:24] boryspoplawski commented on #948
@dimakuv no, these are normal numbers. Try running `fork_and_exec` from `libos/test/regression` you will get the same.

[2022-09-30 18:27] boryspoplawski commented on #948
@Simon-aikuier we will need more details on how to reproduce the problem. Alternatively you can try debugging it or at least bisect at which commit you start to see the issue (since I see you build from source anyway).

[2022-10-01 01:07] Simon-aikuier commented on #948
32G also have the same problem.

[2022-10-01 01:16] Simon-aikuier commented on #948
commit:00e91a07ad5dd258cfbabdfdfe7e9b0c7bf2602c
I try to open trace, but find that only the parent enclave can print trace info, the child enclave can not(only little debug info)。
I try gramine v1.1， it can pass on this point, but will happen another problem that program hung on futex.

[2022-10-01 02:26] boryspoplawski commented on #948
@Simon-aikuier the 2nd log is definitely neither from 00e91a07ad5dd258cfbabdfdfe7e9b0c7bf2602c nor v1.3.

[2022-10-01 05:12] Simon-aikuier commented on #948
the 2nd log is from gramine v1.1

[2022-10-02 13:08] mkow opened #949 "Protected files anti-swap should rely on in-Gramine paths"
## Description of the problem

Currently protected files anti-swap protection uses host paths as "resource identifiers" when verifying the app file request against the host-supplied encrypted file. This is problematic and inflexible, because the host has to use exactly the same paths as the enclave creator hardcoded in encrypted files.

Proposed alternative: Store in-Gramine path in protected file

[2022-10-04 08:10] dimakuv commented on #949
By this you mean that **both** Gramine runtime and the `gramine-sgx-pf-crypt` use *absolute paths* for checking during opening Encrypted Files, right?

[2022-10-04 08:39] lead4good commented on #58
@dimakuv Great news! Please let us know once there is a final decision on whether a flock implementation will be included in v1.4 or not.

[2022-10-04 08:51] lead4good opened #950 "[LibOS] Add support for shrinking encrypted files via truncate(2) to arbitrary size"
Graminizing the ethereum [geth client](https://github.com/ethereum/go-ethereum), we are running into another issue regarding encrypted files. To protect the state of geth's persistent data from host access and manipulation, files are stored in a encrypted mount point.

Syncing `goerli` testnet with geth into encrypted mount point on Gramine 1.3.1, we run into this error:
[code]
At times, geth need

[2022-10-04 09:06] dimakuv commented on #950
Indeed, shrinking to arbitrary size is not implemented yet: https://github.com/gramineproject/gramine/blob/b822d29c971dc7e277c7f2d3f4b8dd219ccf29bd/common/src/protected_files/protected_files.c#L1219-L1220

I can imagine a naive way to implement it:
1. Read the encrypted file completely into a temporary buffer
2. Shrink the encrypted file to zero
3. Write the temporary buffer completely into the en

[2022-10-04 09:34] lead4good commented on #950
@dimakuv
Currently we haven't set any performance goals for this project. If there is a trivial implementation for shrinking, we can see how much this will affect the performance in a later stage and possibly supply a performance increasing patch.
Out of curiosity, how would you implement this to be performant?

[2022-10-04 11:36] dimakuv commented on #950
Well, just truncate the file using the host means to the required size. The problem with this approach is that it requires a new security analysis because it will rely on the new functionality from the host (truncation). In other words, my proposal for the "trivial implementation" builds on already-existing and known-secure primitives (read encrypted file, truncate to zero encrypted file, save enc

[2022-10-04 18:43] dimakuv commented on #950
My proposal doesn't create a new file. All the operations are done on the same file.

[2022-10-04 22:44] mkow commented on #949
I think they should, but it's a bit unrelated. I.e. they should compare absolute paths regardless of whether we go with this proposal or not? Comparing relative paths seems more risky to me.

[2022-10-04 23:20] mkow commented on #950
A bit unrelated to this issue, but please keep in mind that it's possible to do a replay attack with an older version of the file. So, you need to ensure that this won't compromise your app.

[2022-10-04 23:52] boryspoplawski commented on #949
I don't think absolute vs relative path matter much, since the latter is relative to manifest.

But there's also another thing (kind of unrelated to above): we should warn users that they should not encrypt files at the same path (now host, after this change in-Gramine) for two different enclaves with the same key. Example:
- user has one wrap key for multiple enclaves,
- they encrypt file for enc

[2022-10-05 12:02] gcecchi commented on #492
I have the same problem after building on Ubuntu 22 and kernel 5.18.

$ meson setup build/ --buildtype=release -Ddirect=enabled -Dsgx=enabled -Ddcap=enabled
$ ninja -C build/
$ sudo ninja -C build/ install
$ gramine-sgx-gen-private-key
$ make SGX=1
cc -Wall -Wextra -O3   -c -o helloworld.o helloworld.c
cc   helloworld.o   -o helloworld
gramine-manifest \
        -Dlog_level=error \
        hellowo

[2022-10-05 13:46] dimakuv commented on #492
@woju Do we have any plan what we want to do with this?

[2022-10-06 02:34] eli-schwartz commented on #492
It's now possible to use `-Dpython.install_env=system` and have python modules installed into /usr/lib/python3.X even when configured with --prefix=/usr/local.

[2022-10-06 03:37] Zebartin opened #955 "ioctl ECREATE error -5 when running on virtual machine"
## Description of the problem

I tried running Gramine on a virtual machine but failed to run the helloworld example.

## Steps to reproduce

Steps 1 to 3 are based on [this article](https://www.intel.com/content/www/us/en/developer/articles/technical/virtualizing-intel-software-guard-extensions-with-kvm-and-qemu.html), part of which is somewhat deprecated though.

1. Build QEMU with SGX support.

[2022-10-06 07:34] Zebartin commented on #955
Actually I have tried two different distributions, CentOS 8 and Ubuntu 20.04. In the CentOS one, I built and reinstalled Linux kernel of version 5.18.15, turning SGX feature on, and the kernel version of the Ubuntu one is 5.15.0.

Both of them have `/dev/sgx`, `/dev/sgx_enclave` and `/dev/sgx_provision`, while the Ubuntu one has `/dev/sgx_vepc` and the CentOS one does not. Both of them have produc

[2022-10-06 09:11] Zebartin commented on #955
Thanks for your reply.

I try running some examples there and it seems all right to me. For [SampleEnclave](https://github.com/intel/linux-sgx/tree/master/SampleCode/SampleEnclave), `make` with hardware mode, debug or pre-release build and no mitigation, as well as with simulation mode and whatever build, work well. They produced similar results, one of which is as follows:

[code]

When it comes

[2022-10-06 12:38] dimakuv commented on #955
Interesting.

Error `-5` is `EIO`. This error happens when the ECREATE instruction results in an error, [see here](https://github.com/intel/SGXDataCenterAttestationPrimitives/blob/dcap_1.14_reproducible/driver/linux/ioctl.c#L102-L107).

This seems to only happen on [exceptions during ECREATE instruction](https://www.felixcloutier.com/x86/ecreate#64-bit-mode-exceptions).

Out of all the possible re

[2022-10-06 14:41] Zebartin commented on #955
The output about CPU in th VM is as follows:
[code]

The CPU info of the host machine is almost the same, but with more cores. However, Gramine runs perfectly well on the host.

[2022-10-06 15:00] mkow commented on #492
Should we recommend this in our docs? Or maybe disable default `--prefix` as Borys proposes? What are the pros/cons of both?

[2022-10-06 23:19] raoufro opened #956 "Problem in Running Threshold Signature Scheme on Gramine"
## Description of the problem
As I mentioned in the mailing list of Gramine under the same title of this issue,  when I run [multi-party ECDSA](https://github.com/ZenGo-X/multi-party-ecdsa) on Gramine v1.3 and v1.2, I see unstable execution results in which in some cases, the execution completes without any problem, and in some cases, the execution halts and freezes that I have to cancel it.

To s

[2022-10-06 23:31] boryspoplawski commented on #956
You should change the log_level to `all` or `trace` to get all the syscalls your app does and see what's happening there, maybe something's failing.
Also are you sure it freezes, not just takes an enormous amount of time to complete? Try adding `loader.env.MALLOC_ARENA_MAX = "1"` to your manifest (more details: https://gramine.readthedocs.io/en/stable/performance.html#glibc-malloc-tuning)

[2022-10-07 06:29] dimakuv commented on #955
@Zebartin Could you also show the output of `is-sgx-available` **on the host**?

[2022-10-07 06:30] dimakuv commented on #955
I wonder if @mythi can provide any insights on running a VM that supports Intel SGX. I currently don't understand what is going wrong with EENTER.

[2022-10-07 06:44] dimakuv commented on #492
I think @woju should have the final word here.

[2022-10-07 07:31] Zebartin commented on #955
The output of `is-sgx-available` on the host is almost the same as that on the guest VM, except for EPC size.
[code]

[2022-10-07 09:01] mythi commented on #955
I haven't seen any problems with it. @Zebartin what version tag of qemu you used from that Intel repository? I guess it's worth pointing out that upstream Qemu has supported SGX since 6.2. I've only used Qemu 6.2+ from the Distro (e.g., Ubuntu 22.04 has it). Do you see anything strange in the guest's `dmesg` after this error?

[2022-10-07 15:37] ScottR-Intel commented on #955
I'm in agreement with Mikko...  I haven't seen any issues using SGX in a QEMU 6.2+ guest VM.  Not sure what's going on here.

[2022-10-07 16:06] Zebartin commented on #955
I am aware of that. I am using Qemu built from the [official gitlab repository](https://gitlab.com/qemu-project/qemu), with options `--with-git-submodules=ignore --enable-kvm --enable-vnc --enable-curses --enable-spice --enable-gtk --target-list=x86_64-softmmu --disable-werror --enable-usb-redir`,  as indicated in the intel article mentioned above.

I can not figure out anything strange in `dmesg`

[2022-10-07 16:18] Zebartin commented on #955
The host OS distro is CentOS 8. The kernel version is 5.18 and was built with SGX and SGX virtualization enabled, so there is `/dev/sgx_vepc`.

Maybe I should try reinstalling my Qemu... I did see others like you using Qemu with SGX normally, I am confused now.

And it strikes me that I had to modify some codes of Qemu in order to make it run, according to [this](https://lore.kernel.org/qemu-devel

[2022-10-07 16:22] ScottR-Intel commented on #955
If you want to use libvirt with qemu, yes there are some changes that have to be made like this.  That part is still being worked.  But, if you use qemu 6.2+ only and directly (no libvirt), I have personally verified this works.

[2022-10-07 16:22] boryspoplawski commented on #955
I've also used Qemu build manually and everything worked as expected. I did not have to modify anything sgx related to make it work.
Btw you can try what I've used from here: https://github.com/gramineproject/device-testing-tools/tree/master/qemu

[2022-10-07 18:05] mythi commented on #955
AFAIK, it was libvirt that was failing. My setup is using vanilla Ubuntu 22.04 but with libvirt 0.8.6 installed from Kinetic repo.

[2022-10-08 02:42] Simon-aikuier commented on #948
@boryspoplawski
I try my program on gramine v1.3.1, it seems that the error "Internal memory fault at 0x00000000 (0x3fa02ae44, VMID = 1, TID = 1)" can work ok. And a new error happens:

Error Info:
[P1:T1:python3] debug: glibc register library /usr/local/lib/python3.8/dist-packages/google/protobuf/pyext/_message.cpython-38-x86_64-linux-gnu.so loaded at 0x1177e6000
[P1:T1:python3] debug: glibc regi

[2022-10-08 03:41] Simon-aikuier commented on #948
@boryspoplawski
I try it on gramine v1.3.1. It seems that the internal memory error can work ok. And a new error happens:

New Error:
[P1:T1:python3] debug: glibc register library /usr/local/lib/python3.8/dist-packages/google/protobuf/pyext/_message.cpython-38-x86_64-linux-gnu.so loaded at 0x12ff30000
[P1:T1:python3] debug: glibc register library /usr/lib/python3.8/lib-dynload/termios.cpython-38-x

[2022-10-08 05:18] lejunzhu commented on #955
Maybe a silly question, but have you tried "make clean" then "make SGX=1" in the VM? If the .token file has some flag mismatch, it will also cause error -5.

[2022-10-08 10:13] Zebartin commented on #955
It turns out that **Qemu 7.1.0** is the problem.

I tried 6.2.0 as @boryspoplawski suggested, and tried 7.0.0 also, they all works well with Gramine. I also tried integrating Qemu 7.0.0 with libvirt, and it works fine. The ioctl error -5 comes up only when I use Qemu 7.1.0 from the [official download page](https://www.qemu.org/download/) or the latest version of [git repo](https://gitlab.com/qemu-

[2022-10-08 11:34] Glenrun commented on #927
OOT driver has two types:
[1.  Driver supports for CPU without FLC](https://github.com/intel/linux-sgx-driver)
[2. Driver supports DCAP](https://github.com/intel/SGXDataCenterAttestationPrimitives/tree/master/driver/linux)
and Since Linux kernel 5.11, the later DCAP driver is up-streamed.
So available options:
1) Keep current Linux kernel version < 5.11, any of those two OOT drivers can be install

[2022-10-08 21:59] raoufro commented on #956
Thank you! `loader.env.MALLOC_ARENA_MAX = "1"` works. It seems it was related to the large number of threads that the application runs. I asked about this problem in the mailing list, but it's the first time I hear about `loader.env.MALLOC_ARENA_MAX = "1"`. I run my scripts multiple times, and I haven't experienced any sort of freezing yet. Without this option, the execution completes in some case

[2022-10-09 14:27] boryspoplawski commented on #956
Running networking in enclave rarely makes sense. Why would you want to do it?

In Gramine? Most likely impossible. We do not support raw sockets to begin with. If the networking run on top of UDP then maybe something would work.

[2022-10-09 20:13] raoufro commented on #956
In fact, I developed DTLS tunnel on top of UDP for mutual authentication in Go (pion/dtls package). In my first design, I tried to use TUN/TAP device to redirect traffic from the app to trusted tunnel in which both of them run on Gramine enclave, but I found Gramine does not support netlink, so managing and communicating with TUN/TAP was not possible inside enclave. I excluded the tunnel from the

[2022-10-09 20:48] boryspoplawski commented on #956
If you put the key out of enclave it's of course completely insecure.

Can't your app just communicate via some TLS encrypted channel? Why do you insist of putting whole networking stack inside enclave?

[2022-10-10 02:02] llly commented on #948
I'll trying to fix this issue in #936

[2022-10-10 03:45] Simon-aikuier commented on #948
@llly thanks.
I am not sure if they are the same problem. i just see some abnormal information, such as:
[P1:T1:python3] warning: Non-private futexes are not supported, assuming implicit FUTEX_PRIVATE_FLAG

[2022-10-10 06:16] lejunzhu commented on #955
Indeed. With Qemu 7.1 on an ICX, Gramine works only when I remove this line:
https://github.com/gramineproject/gramine/blob/d5599d52d2076006d31493da00f096099298aaf0/python/graminelibos/sgx_get_token.py#L40
If either avx or avx512 bit is set in the token, gramine will fail with error -5. But with Qemu 6.2 and the same HW + image, it works fine.
I'm not familiar with Qemu and don't know how to fix i

[2022-10-10 06:57] dimakuv commented on #927
I believed we answered the original issue (which was out of memory due to inssuficient `sgx.enclave_size`). The issue can be solved only with EDMM, which is not yet supported in Gramine, but the support will be added soon-ish.

The discussion of three different SGX drivers (OOT non-dcap, OOT dcap, and in-Linux-kernel) is off-topic. I'm closing this issue.

[2022-10-10 06:57] #927 closed

[2022-10-10 07:03] dimakuv commented on #956
Gramine currently doesn't have any support for user-space networking (which would require raw network sockets). We've done some research on this ~5 years ago (with the Snort application), see:
- https://arxiv.org/abs/1802.00508 -- paper
- https://github.com/cloud-security-research/sgx-ids -- corresponding repo

Please note that the implementation is **very old** and **very hacky**. This was just t

[2022-10-10 07:03] #956 closed

[2022-10-10 07:08] dimakuv commented on #955
Looks like the issue is solved on the Gramine side (solution: do not use the latest QEMU v7.1).

It would be interesting to debug why QEMU started failing, and how is this related to AVX/AVX512 `XFRM` bits. @lejunzhu Do we know anyone who is working on SGX + QEMU/KVM development? It would be good to attract their attention to this bug.

[2022-10-10 08:29] mythi commented on #955
would this also be an additional argument for not forcing `.token` creation on DCAP platforms?

But I agree it'd make sense to understand what's going on. We could submit an issue to https://github.com/intel/qemu-sgx

[2022-10-10 10:50] mkow commented on #955
I think that the fact that a change in `sgx_get_token.py` makes something work implies they are using EPID? On DCAP we just ignore these tokens?

[2022-10-10 10:54] dimakuv commented on #955
No. We *do* create a dummy token: https://github.com/gramineproject/gramine/blob/d5599d52d2076006d31493da00f096099298aaf0/python/graminelibos/sgx_get_token.py#L148-L149

But the attributes (SECS.ATTRIBUTES.XFRM) are unconditionally taken from the host system's available CPU features: https://github.com/gramineproject/gramine/blob/d5599d52d2076006d31493da00f096099298aaf0/python/graminelibos/sgx_get

[2022-10-10 13:57] raoufro commented on #956
I know, and that is why I need to find a solution to put my tunnel inside enclave beside my app.

As I said, I try to implement a mechanism for mutual authentication based on their SGX identity to harden a system, so I need to establish the trusted tunnel without considering the application that I need to run inside enclave; therefore, it may/may not use TLS channel, but I wrap its traffic inside

[2022-10-10 15:14] boryspoplawski commented on #956
You can just run attestation in some global constructor (e.g. `init_array` or hijack some pre-main libc function) and simply do attestation there https://gramine.readthedocs.io/en/stable/attestation.html#high-level-secret-provisioning-interface. But I'm not sure if that fits your needs, you vaguely described how and when you connect different parties.

Anyway, @dimakuv described the current state,

[2022-10-10 15:23] boryspoplawski commented on #948
Gramine does not support netlink sockets, so if it's hard requirement by your app, then it won't work. But I don't see why pytorch would need those.

These error is weird, but it might be the original issue here. Unfortunately it's hard to say anything more without any details. You can try debugging it yourself (gdb would be handy), for that I would recommend a `debug` build and trying `gramine-di

[2022-10-10 19:16] mkow commented on #955
I know we create it, but I thought that "dummy" means that we don't use it later (except to just preserve the interface).

I don't see how we use it on DCAP, maybe only to initialize starting attributes of an enclave? Even if, why do they differ from the ones we'd choose when taking them from the host?

[2022-10-11 00:21] lejunzhu commented on #955
Yes, I will try to contact them.

[2022-10-11 04:27] mythi commented on #955
This was also my question and I was referring to #363.

[2022-10-11 06:45] dimakuv opened #967 "Add `/proc/[pid]/stat` pseudo-file"
### Description of the feature

Currently Gramine is missing `/proc/[pid]/stat` pseudo-file. Here is the list of the per-thread (per-process) pseudo-files Gramine emulates: https://github.com/gramineproject/gramine/blob/b491bb9c007b0b0a8e1d360c4cd08a3aa6980ff2/libos/src/fs/proc/fs.c#L26-L33

The `/proc/[pid]/stat` file is required by the `psutil` module of Python. At a minimum, only `[pid] == curr

[2022-10-11 09:06] llly commented on #948
Pytorch use netlink to get local IP address. It's not hard requirement.

It's caused by `sendto(MSG_MORE)`, I have investigated this failure.

[2022-10-11 09:18] woju commented on #532
This option was added after v1.1, so it's not a surprise that it doesn't work.
Please checkout v1.1 tag and then try again.

[2022-10-11 09:21] dimakuv commented on #948
@llly So your https://github.com/gramineproject/gramine/pull/966 fixes this issue as well? If yes, can you add `Fixes #948` to the PR description?

[2022-10-11 11:18] mkow commented on #955
So, isn't this @Zebartin's bug here, not qemu's/gramine's? The token should be generated on the machine where you _run_ the enclave, not where you build it. And I think he's generating it on the host, and then uses inside a VM (which is a different machine, technically).

I agree that moving this logic to startup code could make this case easier, but this may be complicated, we'd need separate log

[2022-10-11 11:33] dimakuv commented on #955
Oh, is this how @Zebartin does it? This wasn't clear to me from the issue description. I thought that all the files are generated inside the VM, i.e. the whole Gramine testing/building/tweaking happens inside a VM at all times.

But if it's indeed that @Zebartin generates the `.token` file on the host (not in a VM) and then tries to use this file in a VM, then yes -- it will probably break.

[2022-10-11 11:46] Zebartin commented on #955
Well, the only things I did were all from [Quick start](https://gramine.readthedocs.io/en/latest/quickstart.html) part of the docs. I dont know either what the `.token` file exactly means, or how to generate it.

It seems that @lejunzhu reproduced the same result, and I believe that @lejunzhu would not make the same mistakes as mine, if there is any.

[2022-10-11 12:01] lejunzhu commented on #955
Not really. Even when I generate the token file on the same VM, the issue still happens. There are two different findings here:

1. According to SDM, XFRM value should match XCR0. But Gramine sets the flags from /proc/cpuinfo. The SDK apps, however, use XCR0, so that's why SDK apps can run.

2. When using QEMU 7.1, the XCR0 value somehow does not contain AVX, although /proc/cpuinfo says the CPU is

[2022-10-11 12:55] dimakuv commented on #955
Wow, this is clearly a bug. Isn't it affecting not only SGX, but **any VM on any machine**?

[2022-10-11 13:41] lejunzhu commented on #955
In this QEMU 7.1 situation, it is most likely a bug.

But there is also this kernel command line "noxsave". In such (rarely used) case, I think XCR0 won't match /proc/cpuinfo, although I haven't tried it.

[2022-10-11 15:06] dimakuv opened #968 "Move from `toml` Python module to `tomli`"
### Description of the feature

Gramine and GSC use the `toml` Python package to parse and save TOML files.

This package is unfortunately buggy. One particularly nasty bug that GSC hit: https://github.com/gramineproject/gsc/pull/101. This corresponds to this bug in the TOML repo: https://github.com/uiri/toml/issues/404.

So Gramine **and** GSC should move to the `tomli` package (https://pypi.org/

[2022-10-11 15:25] boryspoplawski commented on #948
Could you elaborate more? `[P1:T1:python3] trace: ---- sendto(6, 0x8480e3f8, 0x8, 32768, 0, 0) = -95` is caused by that, but I don't see how's that related to `poll` on a different fd.

[2022-10-11 16:56] #907 closed

[2022-10-11 17:33] lead4good commented on #950
@mkow Thanks for pointing this out. We agree it is a possible attack vector, but with low priority at this point.

@dimakuv We'd be happy to test a trivial implementation of encrypted file shrinking by syncing a graminized geth node and sharing our results.

[2022-10-12 00:34] stefanberger opened #969 "Thread not using 'expected' stack"
I am trying to hunt down an execve/robust_list-related crash on PPC64 and I am wondering whether it is intentional or a coincidence that the stack used by threads on x86_64 running into `execve` is nowhere near the one that cur_thread->stack is pointing to?

 I have instrumented a part of execve with this patch:
[code]

When running this command

[code]

I get this output:

[code]

The stack point

[2022-10-12 00:54] boryspoplawski commented on #969
LibOS has a dedicated stack. `current_thread->stack` is userspace stack, `sp` in your example is LibOS stack - these are different.
If you're familiar with x64 asm you can check this function: https://github.com/gramineproject/gramine/blob/b7feab9d19f30c2a925cedd5377c8b27da53b304/libos/src/arch/x86_64/syscallas.S#L30 it does the stack switching at the very begining.
Stack is allocated here: https:

[2022-10-12 02:32] stefanberger commented on #969
That helped a lot. Thanks.

[2022-10-12 09:04] Simon-aikuier commented on #948
@llly @boryspoplawski
I just try #966, the sendto error be solved. The AF_NETLINK error is still exist. Gramine can call my app main function, but a new error about socket family happend.
<img width="1467" alt="image" src="https://user-images.githubusercontent.com/20675480/195297316-c1534273-a967-4c48-98d6-954d161bfb98.png">

This python error is also errno 97, and the pytorch code as follow:
<img

[2022-10-12 10:00] dimakuv commented on #950
@lead4good Please try https://github.com/gramineproject/gramine/pull/972

[2022-10-12 10:47] anjalirai-intel opened #973 "Python example fails with Gramine-Direct with recent hardening changes on CentOS/RHEL."
### Description of the problem

**Python example fails with Gramine-Direct with recent hardening changes on CentOS/RHEL.**

To make python work for Gramine in CentOS/RHEL, we initially removed distlib and apport from manifest files and changed the enclave size to 4GB
https://github.com/gramineproject/graphene/issues/2599

**_But with recent hardening changes, it fails, because of fs.mounts_**
Prev

[2022-10-12 12:18] anjalirai-intel commented on #973
@dimakuv Recently when we were testing Pytorch worload for CentOS & RHEL, we faced similar issue. So, we decided to just mount the respective library path instead of mounting stdlib & distlib path

https://github.com/gramineproject/examples/blob/master/pytorch/Makefile#L6

I have tested on CentOS after removing stdlib & distlib and replacing them with numpy, scipy & six libraries path. It worked

[2022-10-12 15:58] stefanberger commented on #969
I have changed now the stack to the libos stack. I think this resolve one issue but now I have another one related to ordering/scheduling of threads it seems. I see frequent crashes in the exec_same test on PPC64 but know it's running stable on x86_64. The headache is primarily caused due to the recent changes to exec_same where now two threads are trying to call execv(). The issue that I am seein

[2022-10-12 16:00] boryspoplawski commented on #948
Also, please don't past screenshots, use proper markdown (like you did below).

[2022-10-12 16:24] stefanberger commented on #969
I am using this command line here:

[code]

It may also be significant that if `execv` has been called 2 times it will finish to the end. In other words I see these command line runs with only '1' or '1 and 2' being printed out and then it ends or it will print all (1 2 3 4 5 ... i j) of them, basically nothing in between. It seems to have something to do with the timing of the Async worker thread

[2022-10-12 17:04] boryspoplawski commented on #969
Ok, we definitely have an issue here, as you noted one thread releases whole userspace memory and another tries to handle robust futexes. Why does it not fail on x86 as well? No idea.

[2022-10-12 17:08] boryspoplawski commented on #969
I'll think about this later, but my initial thought is that we should move this robust futexes cleanups to the point where thread is still alive, should be easy.

[2022-10-12 21:22] #823 closed

[2022-10-13 01:34] Simon-aikuier commented on #948
@boryspoplawski
Thanks. So will gramine support this socket option or will #966 solve this problem?
For pytorch  i think that the distribute process is a important and common feature. 'gloo' is the backend for Pytorch on cpu mode which is a collective communications library, use pytorch distribute feature and gloo as backend that will call  `getifaddrs` function during initialization, it shoud be

[2022-10-13 01:44] boryspoplawski commented on #948
This is not an socket option, it's entirely different socket type (no, #966 is unrelated to this).

Please note that using TCP on localhost is insecure in SGX threat model (because malicious host can modify these packets) without any additional encryption, so using `gloo` might not be a good idea, though I'm not familiar with it and have no idea what exactly it does with that TCP, but consider you

[2022-10-13 06:50] dimakuv commented on #948
@Simon-aikuier I agree with everything @boryspoplawski said. Gramine still has higher-priority TODOs than analyzing the support for `AF_NETLINK` (even if we'll look into this, maybe we'll consider this out of scope for Gramine for security reasons! no promises here).

However, it feels like you can set up `gloo` to use TLS -- please check the envvar `GLOO_DEVICE_TRANSPORT` and these links that I g

[2022-10-13 08:18] dimakuv commented on #969
Cool data race bug! No idea why it is not triggered on x86-64; it should happen.

@boryspoplawski Isn't it better to ask the `execve`-ing thread to wait until Async thread (and possible IPC thread?) finishes with its critical sections (of executing all the pending callbacks) and allows to proceed?

Somewhere after this point: https://github.com/gramineproject/gramine/blob/63b62c4aff4ec0d59a1b715cd

[2022-10-13 09:23] Simon-aikuier commented on #948
@dimakuv @boryspoplawski @llly
Thanks all for helping. For the netlink problem i have solved by modify the model framework code. And use single node instead of distribute node, it can work in gramine now. I think this issue can be closed. Thanks.

[2022-10-13 10:06] #948 closed

[2022-10-13 12:32] ChristopherLenz opened #974 "lots of `poll` with final `SIGABRT` and PalProcessExit: Returning exit code 134 (C# net6.0 Web-API)"
### Description of the problem

Hello everyone,

I've slowly reached the end of my knowledge and my nerves. I'm trying to get a simple example .net web api up and running. In total I've been stuck with 5 or 6 smaller problems and in the end I've always made progress a little bit. Now, unfortunately, I have no more ideas and I have the feeling that Gramine does not harmonize with the .net applicati

[2022-10-13 12:50] ssarda-intel opened #975 "Unable to use PF encryption with gramine-direct"
### Description of the problem

Intent : Trying to build a PoC such that if we have a file in the enclave, we can use PF encryption in gramine to encrypt and decrypt.

Issue : When trying to run the script, it throws a permission denied error trying to create a new file (or writing to an existing one).
The issue is only seen when using the gramine-direct command, the same script works fine in pyth

[2022-10-13 14:37] boryspoplawski commented on #969
No the problem is with using userspace memory in `put_thread`, which should only destroy Gramine internal object. All handling of userspace features (like robust futexes) should be done by the exiting thread itself, not any other threads.

How? IPC is Gramine internal thing, it does not handle userspace stuff (async thread shouldn't do that also, and that was the bug).

[2022-10-13 15:06] dimakuv commented on #969
Got it, thanks for the clarification about userspace vs kernel (Gramine internal) space. I didn't realize this.

[2022-10-13 16:36] boryspoplawski commented on #969
@stefanberger Could you check if https://github.com/gramineproject/gramine/pull/980 fixes the issue for you?

[2022-10-13 20:32] stefanberger commented on #969
Here's the plot for the remaining SEGFAULT (with the patches in #980 applied):

It again enters cleanup_thread but and dies after the assert(thread); likely in  `atomic_load_n()`.

I instrumented cleanup_thread like this (and also added other log_debug()s):

[code]

A healthy run looks like this where the libos_async_worker() does its ob before the freeing of the thread's memory:

[code]

A trace

[2022-10-13 20:34] stefanberger commented on #969
oh and now you know something else as well...

[2022-10-13 21:59] stefanberger commented on #969
The trouble seem to start with this: Upon thread_exit install_async_event() is called which calls set_pollable_event() in the end which in turn wants to write a byte to a pipe. For some reason it gets stuck writing this single byte to the pipe occasionally and then things go bad. It looks like nothing is ever reading from this pipe, at least not though the pipe_read function (pal/src/host/linux/pa

[2022-10-13 23:32] boryspoplawski commented on #969
Huh, weird. Can you run this under GDB/strace and see the crash location and faulting address?

[2022-10-14 07:23] dimakuv commented on #794
Unfortunately, the current quirk in Gramine with respect to `envp` prevents us from performing `envp = {NULL}` conversion. See this code: https://github.com/gramineproject/gramine/blob/546c598b694d091121babc215bf6b9f9f52bbb4d/libos/src/sys/libos_exec.c#L150-L152

Also see a previous attempt at fixing a related problem (and failing): https://github.com/gramineproject/gramine/pull/781

So this issue

[2022-10-14 09:10] dimakuv commented on #974
The problem is somewhere here:
[code]

`SIGABRT` almost always indicates that the application found some inconsistent state itself and decided to abort itself. Typically, applications also print some stack trace or some meaningful error message. However, here I don't see that the app writes anything useful (other than "Stream closed EOF").

So the problem is somewhere inside your .NET application

[2022-10-14 09:46] ChristopherLenz commented on #974
Thanks for the answer. At the same time, I'm working on the problem of missing logs on the part of dotnet. But somehow I can't get any more logs out and was hoping that something very obvious would be noticed by gramine.

Regarding the manifest. That's already the manifest, which was generated by gsc. Actually, my plan was to keep gsc out of the problem and to define it more clearly. But apparentl

[2022-10-14 09:56] dimakuv commented on #974
Ok, now I get it about the manifest.

The manifest looks reasonable, but what is this:
[code]

Only the first item (`/tmp`) is reasonable, though not required (well, probably required for security reasons, to not keep temporary files in the Docker container in plaintext).

The items `/etc`, `/usr` and `/lib64` seem totally useless, GSC already includes the files under these dirs. Feel free to remo

[2022-10-14 10:41] ChristopherLenz commented on #974
Reason for the dotnet-mount was another problem during the start:

[code]

Do you think that could be a consequential error of my (possibly wrong fix via mount)?

[2022-10-14 10:58] dimakuv commented on #974
Yes, it could be the root cause.

But without knowing what these directories/files are and the context of this execution, I can't give any advice. I have zero clue what `dotnet` is (an executable? a directory with some helper libraries?), and what `fxr/` directory is.

[2022-10-14 11:05] ChristopherLenz commented on #974
It is a directory with some runtime libraries

<img width="544" alt="image" src="https://user-images.githubusercontent.com/11405586/195831952-c4640b42-4fb8-4c2f-99a2-949b9490331d.png">

this is the gramine folder, where the executable is linked
<img width="506" alt="image" src="https://user-images.githubusercontent.com/11405586/195832259-258267cf-f76b-4422-ac48-2f499bb68498.png">

[2022-10-14 12:24] dimakuv commented on #974
Ok, this seems to make sense.

Now we're back to the original issue of `SIGABRT`. Unfortunately, we need more information. As I said previously, this should be a result of `abort()` or `assert()` triggerring in the .NET framework (or .NET application itself). Typically .NET should print some error message. Please try to figure out how to print it.

[2022-10-14 16:20] stefanberger commented on #969
I think I found it. It looks like it's not an issue for x86_64 but nevertheless ...

To repeat, the problem: The problem is in the exec_same test program where one thread looses the competition for running `execve()`. The loosing thread has to reset its pointer to the thread local storage (TLS) area from the one that glibc may have set to the the default one (set_default_tls() ) because the winnin

[2022-10-14 18:21] stefanberger commented on #969
It feels like in the `execve` case (or any other case where a thread frees all memory) the winning thread has to send an inter-thread-interrupt to tell its siblings to terminate... otherwise it may end up even freeing code or data pages that its siblings are currently touching.

[2022-10-14 18:56] boryspoplawski commented on #969
Oh, that's tough. In x64 we have custom Gramine TLS, which is fully managed by Gramine and completely separate end unrelated to glibc TLS. Generally whole Gramine operates on the assumption that this TLS/TCB is private to Gramine and not shared with "userspace".

[2022-10-14 19:36] stefanberger commented on #969
I remembered that at some point and it didn't matter so far. Now it does ...

Do you think the robust list fix in #980 is correct and also needed on x86_64 modulo the current ltp test case error? I am trying to figure out whether I can assume that this fix is correct or I have to somehow figure out what's wrong assuming it will not be merged ...

[2022-10-14 22:47] boryspoplawski commented on #969
Yes, it will definitely be merged and is needed on x64 too (I just need to fix that one error, already debugged, just need to create a proper solution, probably on monday)

[2022-10-14 22:54] boryspoplawski commented on #969
BTW

It's already the case. This function is called before any memory is freed: https://github.com/gramineproject/gramine/blob/master/libos/src/sys/libos_exit.c#L132 and it ensures that thread is already past this point: https://github.com/gramineproject/gramine/blob/master/libos/src/sys/libos_exit.c#L67
On x64 that's enough, because we know that thread can never return to userspace and only uses

[2022-10-15 00:49] stefanberger commented on #969
So this here seems to resolve the issue -- exec_same test case has been running rock-solid for hours now:

[code]

[2022-10-15 01:19] boryspoplawski commented on #969
How is `get_cur_thread` implemented on ppc64? Doesn't it need valid TLS?

[2022-10-15 02:10] stefanberger commented on #969
I do some trickery with pointers here. At the beginning the PAL_TCB is installed and when glibc comes along and wants to install its TLS I let it do that but also install a pointer from the TLS to the previous PAL_TCB. When set_default_tls() is called I look for that original PAL_TCB pointer and have that again as the TLS and can then discard the glibc TLS.

[2022-10-17 01:43] lejunzhu commented on #975
Before starting gramine-direct for the first time, you need to ensure /home/gramine/CI-Examples/python/something.txt does NOT exists. If this file exists but cannot be decrypted by your key, e.g., it is in plaintext, Gramine will report Errno 13 and refuse to use it.

[2022-10-17 02:18] Glenrun commented on #927
@dimakuv Hi, Dmitrii, Linux 6.0 was released, any plan for edmm support?

[2022-10-17 06:49] ssarda-intel commented on #975
something.txt was created at /home/ssarda/subham/something.txt. Not sure of this location, /home/gramine/CI-Examples/python/something.txt
Anyways, I also tried deleting that file and trying but it didn't help.

[2022-10-17 06:59] lejunzhu commented on #975
You said "opy the manifest file to /home/gramine/CI-Examples/python", and in the manifest there is uri = "file:something.txt", so the encrypted file should be at /home/gramine/CI-Examples/python/something.txt on your host.

SInce it is the direct mode, maybe you can use Linux "strace" tool to find out in which location Gramine tries to open "something.txt". It must pre-encrypted or non-existing, o

[2022-10-17 07:31] dimakuv commented on #927
Yes, we have a plan for EDMM support, and we already have a draft of the EDMM implementation. The hope is to get this merged into Gramine in the next couple months (could be sooner, like in 1 month, could be a bit later). But surely EDMM support is one of our highest priorities currently.

[2022-10-17 11:50] lejunzhu commented on #975
To rule out the environment issue, you can put this Dockerfile along with the files in Files.zip, and run this command: `docker build -t test . && docker run -it --rm --privileged test`, it will show that the python script runs correctly.

Dockerfile:
[code]

[2022-10-17 14:59] dimakuv opened #984 "Pathnames for named UNIX Domain Sockets"
### Description of the feature

We currently do not implement pathnames for named UDSes (see `man 7 unix`): https://github.com/gramineproject/gramine/blob/546c598b694d091121babc215bf6b9f9f52bbb4d/libos/src/net/unix.c#L11-L15

Actually, we need two features:
1. Pathnames for named UDSes.
2. Ability to find the UDS created in another, sibling Gramine process.

### Pathnames for named UDSes

This sho

[2022-10-17 23:21] boryspoplawski commented on #984
If I have entry in `fs.mounts` in manifest: `{ path = "/data", "file:/usr/var/data" }` and create a socket at path `/data/socket`, where should the socket be on the host and how would other Gramine processes know about it?

[2022-10-18 07:02] dimakuv commented on #984
- The host socket will be created as `file:/usr/var/data/socket`.
- Other Gramine processes will use the same manifest, so they will do something like `connect("/data/socket")` which will translate into connecting to `file:/usr/var/data/socket`.
    - Recall that in the currently discussed problem, we are in the same Gramine instance (two children want to talk to each other via UDS), so the manife

[2022-10-18 10:23] dimakuv commented on #984
I started implementing this, and came up with the following proposal:
1. `libos/src/net/unix.c` changes:
    - use a new `URI_PREFIX_UDS_SRV` instead of `URI_PREFIX_PIPE_SRV`;
    - do **not** modify the UDS name (do not perform SHA256 hash).
2. PAL changes:
    - still use `g_pipe_ops` for this new `URI_PREFIX_UDS_SRV` (so UDSes are still considered pipes)
    - in `pipe_listen()`, `pipe_connect(

[2022-10-18 12:54] boryspoplawski commented on #984
Should have given a better example without matching parts. like `{ path = "/data", "file:/usr/var/B" }`, but I guess you just want to concatenate the paths?
But how would you then run two Gramine instances at the same time? You want to disallow such cases?

[2022-10-18 13:02] dimakuv commented on #984
I'm not currently talking about this scenario (from Ying). In fact, I decided it is orthogonal to my problem.

[2022-10-18 13:05] boryspoplawski commented on #984
Why? I meant just running them, not making them able to communicate.

[2022-10-18 13:49] dimakuv commented on #984
Ok, now I understand your questions. I guess the best answer is to check my PR: https://github.com/gramineproject/gramine/pull/986

Yes, this will be disallowed. Two Gramine instances creating the same named UDS will conflict.

[2022-10-18 19:49] jtdaugherty opened #987 "Gramine 1.3.1-1 seems to require python3-protobuf >= 3.12.0 but installs with python3-protobuf == 3.6.1"
### Description of the problem

When running `gramine-manifest` I encounter a Python traceback related to `protobuf`:
[code]

### Steps to reproduce

* Install Ubuntu 20.04.
* Install `gramine-oot` version `1.3.1-1`.
  * This results in `python3-protobuf` version `3.6.1.3-2ubuntu5` being installed as well as C libraries with the same version (3.6.1).
* Run `gramine-manifest`.

### Expected results

[2022-10-19 10:53] woju commented on #987
The bug is real, there should be a versioned dependency. It would cause install to fail if you picked the wrong suite. Yes, you should have used `focal` suite, not `stable` as described in documentation, but it should have failed at `apt-get install`, not tracebacked in python.

I'll release `1.3.1-2` with corrected dependencies.

[2022-10-19 11:13] #794 closed

[2022-10-19 12:11] #969 closed

[2022-10-19 15:59] dimakuv opened #990 "`toml` Python package v0.10.0 is buggy; need v0.10.2"
### Description of the problem

While testing #671, I encountered this bug.

#671 introduces a rather complex format for IOCTL data structures. Example from `device_ioctl.manifest.template` from #671:
[code]

Gramine uses the `toml` Python package, including for manifest.template rendering:
- https://github.com/gramineproject/gramine/blob/db86ad2eab2ab449508b85263818f4d6d6e10a50/python/gramine-man

[2022-10-19 16:27] jtdaugherty commented on #987
@woju thank you!

[2022-10-19 16:33] bigdata-memory opened #991 "Syscall "clone3" Support"
### Description of the feature

We have a service workload running in Gramine-SGX v1.3 which is failing when trying to create new threads to handle the increasing request traffic. the log info is

`
warning: Unsupported system call clone3
...
error: There are no available TCS pages left for a new thread!
...
17 segment fault (core dump)
`

According to the results of our investigation. the syscall

[2022-10-19 16:38] boryspoplawski commented on #991
`clone3` is quite new syscall and everything known to me has a fallback to other syscalls (e.g, glibc). The warning you are seeing is benign and can be ignored. `clone3` is not executed so the part about mapping cannot be true.

Idk about this error, but it's definitely unrelated to `clone3` - it will never even reach PAL.

[2022-10-19 16:56] bigdata-memory commented on #991
@boryspoplawski Thank you for your insights.
If it falls back through glibc to other system calls, it doesn't seem to work, because it ends up with segmentation faults.

[2022-10-19 17:10] #991 closed

[2022-10-19 17:12] bigdata-memory commented on #991
I think the workload leveraged extra parameter of `clone3` to create a new thread, and that cannot be correctly covered/emulated by fallbacks, thanks.

[2022-10-19 17:17] boryspoplawski commented on #991
Which parameter and in what way and why do you think it cannot be covered by `clone`/`clone2`?
What workload? Does it use glibc?
More details please.

[2022-10-19 17:52] bigdata-memory opened #992 "No available TCS pages left for a new thread & segment fault (core dump)"
### Description of the problem

We have a service workload running in Gramine-SGX v1.3 which is failing when trying to create new threads to handle the increasing request traffic. the trace log info is

[code]
Please also refer to the discussion of fallback path in https://github.com/gramineproject/gramine/issues/991

### Steps to reproduce

We utilized the GSC (24430f8d) tool to build Gramine fro

[2022-10-19 18:05] mssun opened #993 "Alpine Linux support"
### Description of the feature

Install/Run Gramine in container with Alpine Linux as base image.

### Why Gramine should implement it?

Many people use Alpine Linux as their container base image. Currently, Gramine only support Ubuntu, Debian and RHEL8-like distros. Therefore, they cannot containerize their workload and still keep the Apline Linux as their base image.

[2022-10-19 18:12] lead4good commented on #688
I'm trying to fit a huge amount of data into `tmpfs` (+512GB). Will it suffice to increase `sgx.enclave_size` approprietly or do I also have to increase the size of `loader.pal_internal_mem_size`?

[2022-10-19 18:19] lead4good commented on #950
@dimakuv Sorry for the delay. I've encountered severe performance issues (+100x overhead) while running `geth` from an encrypted mount point (this was tested with upstream gramine, so not related to this patch). I'm prioritising this before I can properly test #972.

[2022-10-19 18:25] boryspoplawski commented on #992
How many threads does your workload spawn? Maybe you just go over the limit. Try increasing `sgx.thread_num` even more.

This is unrelated.

Isn't this message from your app, not Gramine?

What?

[2022-10-19 18:28] boryspoplawski commented on #688
@lead4good `enclave_size` is enough (but `512GB` enclave is prooooobably not something you want to do).
Btw `pal_internal_mem_size` is deprecated as of current master (but it's still there in Gramine v1.3.x, i.e. latest release)

[2022-10-19 19:53] lead4good commented on #688
If my understanding is correct, files written to tmpfs will be located in EPC memory. Via paging they might get encrypted and move to non EPC memory. And from there they might move to swap. Is this correct, also for SGX2? If so, can we configure gramine to only use EPC memory?

[2022-10-19 19:56] lead4good commented on #688
Could you elaborate? Will I run into any hard coded limits?

[2022-10-19 20:15] boryspoplawski commented on #688
I didn't work with such big enclaves so, but I would expect it to be super slow. On my testing machine (it's rather old, so maybe these numbers are much better for modern CPUs) it takes 3s for the enclave to start, for each 1G of enclave memory, which would make it ~25min of just startup time for 512G. And if your EPC is smaller that this (and I guess it is :) ) you would have to add swapping to n

[2022-10-19 22:08] mkow commented on #990
Let's just move to tomli instead of adding another hacks. The current toml library seems to be of really bad quality (see https://github.com/gramineproject/gsc/pull/101).

[2022-10-20 07:29] dimakuv commented on #990
Ok, I will create a PR to move to `tomli`.

[2022-10-20 07:43] dimakuv commented on #688
What @boryspoplawski said is correct.

There are no issues (to the best of my knowledge) with running Gramine with `sgx.enclave_size = "512G"`. On the other hand, I've only seen people running 128GB workloads at a maximum -- on Icelake servers the performance and startup times are decent.

The performance in the end really depends on:
- whether you can tolerate slow startup times, because all 512G

[2022-10-20 07:46] dimakuv commented on #993
This feels like a feature request for GSC, not for Gramine. I don't want to have duplicate issues, so let's close this one and leave [gsc#105](https://github.com/gramineproject/gsc/issues/105) open.

[2022-10-20 07:57] dimakuv commented on #991
I have the same questions as @boryspoplawski. We need to see at least a snippet from the Gramine trace log where `clone3()` is called, and what happens ~50 syscalls before and ~50 syscalls after that.

Until I see evidence to the contrary, I agree with Borys that all real-world programs fall back to e.g. `clone()` when they notice that `clone3()` is unavailable. I haven't seen any counter-example.

[2022-10-20 07:59] dimakuv commented on #992
First, how is this issue different from https://github.com/gramineproject/gramine/issues/991 ?

Second, how can we reproduce any of this?

This issue is literally saying "We have some workload, it fails in different ways, please do something". This is not a helpful description.

[2022-10-20 08:40] lead4good commented on #688
I've done a test run with a 256GB enclave on a server with 256GB EPC, filling tmpfs with 125GB of files, this has worked without issues. Startup time is noticable, but less than a minute, so not an issue. On this same machine I have now started a 1TB enclave that will fill tmpfs with ~700GB of data. It will page both to non EPC memory as well as swap, lets see if that still works. My guess is that

[2022-10-20 08:50] dimakuv commented on #688
Yes, paging EPC -> RAM is typically faster than swapping RAM -> disk.

[2022-10-20 08:54] lead4good commented on #688
Going back to the main topic of this issue. I think it would make sense to require a size definition for each tmpfs mount. [Linux does so as well](https://www.kernel.org/doc/Documentation/filesystems/tmpfs.txt) :

Also, with my first try I did run out of memory. I knew that it was likely due to tmpfs - however, the `Out-of-memory in library OS` error might be confusing for others. Here a tmpfs lim

[2022-10-20 09:17] dimakuv commented on #968
Another bug in `toml` package: https://github.com/gramineproject/gramine/issues/990

[2022-10-20 09:18] dimakuv commented on #968
I will work on moving to `tomli` Python package. As soon as this migration is done, I should:
1. Revert https://github.com/gramineproject/gsc/pull/101 and check it still works.
2. Check that bug https://github.com/gramineproject/gramine/issues/990 disappears and #671 works.

[2022-10-20 13:32] dimakuv commented on #993
It was pointed out to me that "Alpine support for Gramine" and "Alpine support for GSC" are two separate and legit tasks, so I'm reopening this issue.

[2022-10-20 17:38] jtdaugherty opened #998 "Help needed diagnosing 100% CPU usage during enclave startup"
### Description of the problem

When starting my enclave, the loader seems to reach a point where it gets to 100% CPU usage (for 16 hours in one test before I killed it). I can't tell whether the loader itself is getting stuck, or whether it's actually running the enclave program itself and getting stuck there.

### Steps to reproduce

I can't say how to reproduce this; I don't know what condition

[2022-10-20 17:45] jtdaugherty commented on #998
A related question: if the program in my process table is still listed as `loader`, does that mean the enclave program has not yet started? I ask since my manifest specifies `loader.argv0_override` and I don't know at what point in the process that override takes effect, but I'm wondering if that's one way to tell what stage the loader is at.

[2022-10-20 17:59] boryspoplawski commented on #998
Hard to say, but that might be some Gramine bug. Could you share some logs from before these looping lines? (you can log to file using `loader.log_file = "filename"` if needed)

That's normal, this override is internal to Gramine, i.e. processes running inside Gramine will see it.

[2022-10-20 18:03] jtdaugherty commented on #998
Here you go.
[shortlog.txt](https://github.com/gramineproject/gramine/files/9832767/shortlog.txt)

[2022-10-20 18:17] boryspoplawski commented on #998
So, it looks like Gramine `pselect6` is bugged and returns immediately even though timeout is specified as NULL. But other than 100% usage (effectively a busy loop happening) the program should work, it seems to wait for input on some fds (stdin most likely).

[2022-10-20 18:20] jtdaugherty commented on #998
Are you thinking that the `pselect6` bug is the cause of the busy loop?

Can you point me to the `shortlog.txt` line that gives you this clue?

[2022-10-20 18:23] boryspoplawski commented on #998
That's for sure - your app requests it to sleep until some fd is ready, but it returns immediately returning `0` - no fds ready. So app repeats that, ad infinitum.

It's just that the app did nothing important, more precisely, it did not open any fds before issuing `pselect6, which means only available fds are `0`, `1` and `2`.
The log is essentially trace of all syscalls issued by the app (plus s

[2022-10-20 18:32] boryspoplawski commented on #998
Quite possibly the next release, but it will be a couple (~3) of months.

[2022-10-20 18:33] jtdaugherty commented on #998
Do you have any hints as to what to look for in fixing this? If so, I could attempt a local fix just to be able to make progress on the project that I'm working on.

[2022-10-20 18:38] jtdaugherty commented on #998
This is probably enough for me to investigate, in any case.

[2022-10-20 18:48] jtdaugherty commented on #998
For what it's worth, Gramine's `libos_syscall_pselect6` just passes `NULL` as the timeout to `select()` if no timeout is given to `pselect6`. That, in turn, gets passed on to `_libos_syscall_poll`, then `PalStreamsWaitEvents`, and eventually `ocall_poll`.
[code]

[2022-10-20 19:16] boryspoplawski commented on #998
We have plans for rewriting `poll` and `select` (`epoll` was already rewritten). Where the bug lies exactly I cannot tell without looking more at the code (but there are many many bugs there)

[2022-10-20 23:16] mssun opened #1000 "Failed to run ASP.NET Core Runtime 6 application with Gramine"
### Description of the problem

I cannot run ASP.NET Core Runtime 6 "hello world" [sample application](https://github.com/Azure-Samples/dotnetcore-docs-hello-world) with Gramine.

### Steps to reproduce

### Create `Dockerfile` with the following content
[code]

### Create `Makefile`

[code]

### `manifest` for dotnet

[code]
### Clone the "hello world" sample code

[code]

### Build the docker im

[2022-10-21 02:47] yzz127 opened #1001 "Unsupported syscall getrusage and prctl"
### Description of the problem

When we ran a network related workload, we saw "Unsupported syscall" for both getrusage and prctl. We want to raise it to the community to see if they can be supported. As the workload is IP protected, we can not share the details to reproduce the issue, but attached a trace log that clearly shows the issues.

Please review, and thank you very much for any feedbacks

[2022-10-21 07:57] dimakuv commented on #998
Yes, I agree with @boryspoplawski. A quick look at the code leads me to `_libos_syscall_poll()` which definitely has some bugs inside. Since we have only `0`, `1` and `2` FDs in this example (stdin, stdout, stderr), and in Gramine they are marked as `TYPE_DEV` handles, I think the problem lies somewhere around these lines: https://github.com/gramineproject/gramine/blob/db86ad2eab2ab449508b85263818

[2022-10-21 08:05] dimakuv commented on #1001
Thanks for the report @yzz127. But does it break your application? It looks like the app just continues running fine.

All the mentioned system calls can **not** be implemented properly in Gramine:
- `getrusage` -- returns resource usage statistics, such as CPU time used and page faults. This stats is stored in the untrusted host Linux kernel, so Gramine cannot rely on Linux (it may return malicio

[2022-10-22 09:17] Camelliavin opened #1004 "[error] cannot open 'files/wrap-key'"
I refer to the [document](https://gramine.readthedocs.io/en/latest/tutorials/pytorch/index.html) to operate 'End-To-End Confidential PyTorch Workflow'.

After I run `make app dcap RA_TYPE=dcap`. This is what is in 'gramine/CI-Examples/ra-tls-secret-prov'
![1666429618739](https://user-images.githubusercontent.com/87418508/197331058-e067db51-96cc-4932-aa7f-25ca45414517.png)
so I guess secret_prov_se

[2022-10-22 19:59] boryspoplawski commented on #1004
You should read the document carefully - https://gramine.readthedocs.io/en/latest/tutorials/pytorch/index.html#preparing-input-files

[2022-10-22 19:59] #1004 closed

[2022-10-24 07:46] dimakuv commented on #1004
Yes, @boryspoplawski is right, you seem to have forgotten the step:
[code]

By the way, we'll need to fix the PyTorch tutorial, since now we have Gramine v1.3.1.

[2022-10-24 08:40] dimakuv commented on #967
@llly will take this task. @llly Can you add a comment with `I will take this task`? Otherwise GitHub doesn't allow to assign you to the task.

[2022-10-24 08:41] dimakuv commented on #902
@kailun-qin will take this task. @kailun-qin Can you add a comment with I will take this task? Otherwise GitHub doesn't allow to assign you to the task.

[2022-10-24 08:41] llly commented on #967
Sure. I will take this task.

[2022-10-24 11:08] kailun-qin commented on #1000
`gramine-direct` can run it w/o a problem.

Looks like the `iretq` in the dotnet runtime https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/coreclr/pal/src/arch/amd64/context2.S#L182 caused this.

[2022-10-24 14:11] dimakuv commented on #984
I found one more problem with the current code (https://github.com/gramineproject/gramine/blob/094c4e6ad586467ec1e918e1734a41861b6e989b/libos/src/net/unix.c)

Imagine we have two subprocesses, one server and one client:
[code]

This works correctly on Linux, but fails in Gramine. This is because Gramine rewires the name of the UNIX socket to a new name by hashing the contents of `sa.sub_path`, irr

[2022-10-24 14:14] dimakuv commented on #984
I'll keep my local git diff for reproducing the problem form the previous comment:
[code]

This should be applied on top of https://github.com/gramineproject/gramine/pull/996

[2022-10-24 17:44] lead4good commented on #688
So running a 1TB memory SGX enclave on a server with 256GB EPC works very well. I did however run into `pal/src/slab.c:69:        log_error("*** Out-of-memory in PAL (try increasing 'loader.pal_internal_mem_size') ***");` and had to increase it. @boryspoplawski If `pal_internal_mem_size` is going to be deprecated, will it then be dynamically allocated? Otherwise, if it will stay static gramine mig

[2022-10-24 21:44] boryspoplawski commented on #688
It already is (on the current master)

What will be dynamically allocated?

[2022-10-25 07:27] dimakuv commented on #688
I guess what @lead4good is asking is:

If this is the question, then it's the former: PAL internal memory is automatically allocated as requested by Gramine/application needs. So you don't need to worry about it. There is no limit on PAL internal memory now (on the latest master, and thus on the upcoming Gramine v1.4).

The only limit on memory allocations (**any** memory allocations) in Gramine v

[2022-10-25 17:00] #156 closed

[2022-10-25 21:40] boryspoplawski commented on #902
I've just checked `libpq` sources and non of this options is required. Yes they print an error messages, but then the error is ignored (and program proceeds with the default values).

`could not create socket: Address family not supported by protocol`
This is the real error here and it seems that it tries to create an unsupported socket `conn->sock = socket(addr_cur->ai_family, SOCK_STREAM, 0);`,

[2022-10-26 01:38] lejunzhu opened #1009 "Gramine always use ocall_gettime() instead of rdtsc in QEMU VMs"
### Description of the problem

When trying performance tuning in a QEMU VM, I found that Gramine always goes to the slow path to get current time. But in the host environment on the same physical machine, Gramine uses RDTSC.

The root cause is QEMU does not expose CPUID 0x15 and 0x16 to the guest:
[code]

According to [this patch](https://patchwork.kernel.org/project/qemu-devel/patch/1484749457-8

[2022-10-26 07:02] dimakuv commented on #902
This is surprising. I will check with people who reported this issue.

The surprising part to me is that I was told the app worked before (with Gramine v1.2, before the Sockets Rewrite). And after the Sockets Rewrite, it stopped working, which was a strong indicator that it's about unsupported TCP flags.

[2022-10-26 07:14] dimakuv commented on #902
Nope, based on the information and logs that these people shared with me, I'm sure the problem is in non-supported TCP flags. There are two indicators for this:

1. Gramine log:
[code]

We can clearly see that after `setsockopt(TCP_KEEPIDLE)`, the code refuses to continue working with the socket and just `close`s it.

2. The problem was bisected to the commit with Big Sockets Rewrite.

It may be t

[2022-10-26 07:38] dimakuv commented on #1009
@lejunzhu For some orthogonal work on Gramine, I also encountered this issue. For your reference, my fix was like this:
[code]

In my case, I ran QEMU with these flags: `cpu host,+tsc-deadline,+invtsc`.

[2022-10-26 07:41] dimakuv commented on #1009
@lejunzhu Are you going to fix this in Gramine? We'll need to introduce a fallback path in `tsc_init()` function (the fallback should be something like I showed above). And we'll probably need to whitelist required CPUID "hypervisor" leaves, see https://github.com/gramineproject/gramine/blob/8b4ebdfe02b1a8334d2dbc7eaf7cdb3e3586f3a8/pal/src/host/linux-sgx/pal_misc.c#L394-L396

[2022-10-26 08:32] lejunzhu commented on #1009
@dimakuv Thank you. Your fix is exactly what I'm looking for. If you are going to add this fix along with other work you have, I can wait for it. It is not urgent.

[2022-10-26 08:36] dimakuv commented on #1009
@lejunzhu No, the other work is not happenning any time soon.

If you want to, I can create a PR with this hypervisor stuff. Or, you can create a PR. I don't mind either way.

[2022-10-26 08:40] lejunzhu commented on #1009
Yes, please create a PR. I haven't written any code for this issue right now.

[2022-10-26 11:03] #876 closed

[2022-10-26 14:36] dimakuv commented on #1009
@lejunzhu Could you test https://github.com/gramineproject/gramine/pull/1012 ?

[2022-10-27 00:09] lejunzhu commented on #1009
Just tried it. The stat now shows < 300 EEXIT, which means the patch is working.

[2022-10-27 05:57] billionairiam commented on #992
Maybe `taskset `can solve your problem.
`taskset -c 0-3 gramine-sgx [your-application]`

[2022-10-27 14:01] clauverjat opened #1014 "Sanitize CPUID flags used by cryptography libraries"
### Description of the issue

In issue #8 Known security issues, you mention that Gramine applies some limited sanitization on CPUID results. You've closed the issue but the linked issue to the Graphene repository https://github.com/gramineproject/graphene/issues/966 is still open. I looked at https://github.com/gramineproject/gramine/blob/master/pal/src/host/linux-sgx/pal_misc.c, there is indeed

[2022-10-28 01:30] mkow commented on #992
A week passed without any clarification. I'm closing it until we get any useful info about the problem.

[2022-10-28 01:30] #992 closed

[2022-10-28 01:49] mkow commented on #1014
Yes, because the old repo was archived and is read-only, we can't close/edit issues there (without some hacks). So, it doesn't mean that it's still valid.

How exactly? Any concrete example? AFAIR crypto libraries should be secure against side channels of all kinds, they don't have naive, textbook implementations.

Anyways, if someone from Intel (@ScottR-Intel maybe?) confirms that all SGX-capable

[2022-10-28 07:43] dimakuv commented on #1014
I asked some SGX experts internally. Let's see what they reply.

[2022-10-28 08:46] llly opened #1017 "[LibOS] `g_allocated_pages` integer overflow"
### Description of the problem

During `clone` and `execve` flow, `g_allocated_pages` which traces allocated enclave memory get integer overflow. So there is a penitential bug in new VMA Bookkeep, though it doesn't break cases.
I also checked the commit just before VMA Bookkeep rework, this issue doesn't exist.

### Steps to reproduce

Add a log ` log_error("g_allocated_pages = %#lx, size = %#lx",

[2022-10-28 16:00] boryspoplawski commented on #1017
It works correctly for me...
More information please: host OS, compile flags etc.
Btw, `g_allocated_pages` should be accessed using atomic ops, but that's probably not a problem (on x86 plain load will be atomic anyway).

[2022-10-29 14:28] mccoysc opened #1019 "dns error"
### Description of the problem

my gramine-sgx version is 1.2.

making http request by domain name instead of ip would get an error: getaddrinfo EAI_AGAIN.
![Uploading A9DEEE56-4E72-4221-B502-B5290EF8CBE4.png…]()

### Steps to reproduce

in nodejs:
http.request("http://www.baidu.com/",function(){})

### Expected results

work well

### Actual results

![55B9B49C-B6DB-44CF-8618-16EA643BA4BA](https:

[2022-10-29 14:31] mccoysc commented on #1019
and i already add all files in /etc/ to be "allowed"
![Uploading A7FC4578-2D7F-46BB-870F-5631F54585C4.png…]()

[2022-10-29 18:45] boryspoplawski commented on #1019
1. Update to the newest version (v1.3.x) and try again
2. Don't post screenshot of logs.

[2022-10-29 23:22] #1019 closed

[2022-10-31 01:33] llly commented on #1017
I'm using Ubuntu 18.04.6 LTS. Not `gramine-sgx bash -c ls`, but `gramine-sgx bash` then `ls` can reproduce.

By using a debug version Gramine without modification build by `meson setup build-debug/ -Dtests=enabled -Ddirect=enabled --buildtype=debug -Dsgx=enabled` , run with command `gramine-sgx bash` then `cat /sys/devices/system/node/node0/meminfo`, I can trigger an assert
[code]
because they are

[2022-10-31 07:34] dimakuv commented on #689
@oshogbo completed all the required tasks, closing this meta-issue.

[2022-10-31 07:34] #689 closed

[2022-10-31 08:30] dimakuv commented on #1017
Strange, I also cannot reproduce this problem. Even after doing the exact steps as @llly provided, I can't trigger the assert.

Even decreasing SGX enclave size to `"256M"`, everything still works.

I tried on the latest master.

[2022-10-31 15:34] #902 closed

[2022-10-31 16:11] dimakuv commented on #1014
Intel SGX experts told me that this feature is not implemented in Intel SGX SDK, instead SGX SDK relies on feature bits provided by untrusted runtime. If SGX SDK or Gramine would implement this enforcing of AES-NI and RDSEED/RDRAND, it would be problematic on platforms where these features are disabled (in particular, AES-NI).

Therefore, Gramine will **not** implement this feature.

[2022-10-31 17:14] boryspoplawski commented on #1017
Same, tried a docker with ubuntu18.04 (oot driver on host), no repro

[2022-11-01 07:03] llly commented on #1017
Close it now. I need to investigate what causes my result.

[2022-11-02 08:54] mkow commented on #1014
So, there are some CPU which have SGX but not AES-NI? Any example?

Waiit, not so fast. The fact that SGX SDK doesn't do something doesn't mean that it / we shouldn't. Let's finish the discussion first.

@clauverjat: ping about my question from the previous comment.

[2022-11-02 08:57] mkow commented on #1017
@llly: Please debug the issue yourself, as you're the only one who can reproduce it, and we don't see where the bug could be.

[2022-11-02 14:18] dimakuv commented on #1014
This can be disabled in the BIOS (if I read Intel SDM correctly). See Intel SDM, Volume 4, Table 2-6. There is an MSR `MSR_FEATURE_CONFIG` whose bits 1:0 may be set to `11b`, meaning that AES-NI is disabled until next RESET.

[2022-11-02 16:21] clauverjat commented on #1014
Sorry for my late reply (it was public holiday).

Indeed you are right silently enabling this bit would be a bad idea. I was suggesting a quick dirty fix. For a real implementation, one should follow @boryspoplawski idea of adding a manifest flag or something similar.

Of course (good) crypto libraries do not implement the naive textbook algorithm, but side-channel resistance against an active adv

[2022-11-02 16:51] clauverjat commented on #1014
And here's more examples A. Moghimi and al. showed that OpenSSL 1.1.0f, WolfCrypt 3.11.0, Mozilla NSS 3.30.2, Libtomcrypt 1.17, Libgcrypt 1.7.7, MbedTLS 2.4.2 [1]

[1] A. Moghimi, G. Irazoqui, and T. Eisenbarth, “CacheZoom: How SGX Amplifies the Power of Cache Attacks,” in Cryptographic Hardware and Embedded Systems – CHES 2017, vol. 10529, W. Fischer and N. Homma, Eds. Cham: Springer Internationa

[2022-11-03 05:57] sphadnix commented on #973
Its working, verified on gramine.

[intel@localhost python]$ gramine-sgx  ./python scripts/test-numpy.py
Gramine is starting. Parsing TOML manifest file, this may take some time...
-----------------------------------------------------------------------------------------------------------------------
Gramine detected the following insecure configurations:

  - sgx.debug = true

[2022-11-03 07:19] lianghouxu commented on #910
I met the similar issue today.

The latest version gramine on CentOS 8.5, ran MySQL with gramine-sgx (binded on one node with numactl), used sybench oltp_read_write as workload, found that gramine-sgx mysqld only have about 30-40% performance compare to baremetal.

Here is the flame graph, can see the hot spots are the mutexes of malloc and free.

![image](https://user-images.githubusercontent.com

[2022-11-03 07:43] #973 closed

[2022-11-03 09:32] dimakuv commented on #910
Thanks @lianghouxu for the flame graph!

We are aware that `libos_syscall_ppoll()` (the Gramine emulation for `poll` family of syscalls) is sub-par. It needs a re-write. But also, it is clear that `malloc()` and `free()` in Gramine require a global slab-allocator lock, and this is where the overhead stems from.

[2022-11-04 06:42] lead4good commented on #58
For our use case, implementing flock for tmpfs would be sufficient for now. As tmpfs is per process only my understanding would be we could always return success?

[2022-11-07 09:30] lead4good commented on #58
@dimakuv @boryspoplawski Would you accept a PR that implements flock for tmpfs only by always returning success?

[2022-11-07 13:02] boryspoplawski commented on #58
@lead4good No, as it was already discussed above.

[2022-11-07 15:02] lead4good commented on #58
@boryspoplawski

From my understanding reading the flock manpage, file locking happens at the process level. So multiple threads of the same process should be able to successfully flock at the same time. Returning success for tmpfs files which exist per process should be the same behaviour then, right?

[2022-11-07 18:22] boryspoplawski commented on #58
How about guessing you check the actual behavior?

[2022-11-09 13:38] lejunzhu commented on #910
I met the same problem in MySQL. I wonder if we can use C99 variable length array to allocate these short-lived buffers on the stack instead? E.g.
https://github.com/gramineproject/gramine/blob/72f65247af61c55c54033c3c6934ed21b607987b/libos/src/sys/libos_poll.c#L51
can be rewritten as:
[code]

[2022-11-09 15:41] dimakuv commented on #910
But also, if @lejunzhu wants to implement this, could you just re-structure that whole `_libos_syscall_poll()` function? It looks pretty ugly and complicated, it can surely be refactored without changing the logic.

This will be at least one step in the right direction for Gramine's `poll` emulation.

[2022-11-09 17:07] dimakuv commented on #910
@mkow I'd be happy but isn't Borys super-tied already with other tasks?

[2022-11-09 20:20] boryspoplawski commented on #1017
I've hit a similar issue, albeit on a modified Gramine (which actually fixed a another bug related to `g_allocated_pages`). Investigating it atm.

[2022-11-10 01:17] lejunzhu commented on #910
You are right, I forgot this.

These structures are very small, so I would say the number is way larger than 10.
sizeof(PAL_HANDLE): 8
sizeof(struct fds_mapping_t): 16
sizeof(pal_wait_flags_t): 4
sizeof(struct pollfd)): 8

So, I think even using 1K stack space for each malloc will help.

This issue is not very urgent. If a poll() rewrite is already underway, I can wait for that. Otherwise, I can t

[2022-11-10 07:48] llly opened #1034 "[LibOS] `poll` syscall doesn't distinguish `POLLERR` and `POLLHUP` in `revents`"
### Description of the problem

In `libos_syscall_poll` flow, Pal translates `revents` with any flag in `POLLHUP`, `POLLERR`, `POLLNVAL` to a single flag `PAL_WAIT_ERROR`.
https://github.com/gramineproject/gramine/blob/72f65247af61c55c54033c3c6934ed21b607987b/pal/src/host/linux-sgx/pal_object.c#L77-L80
LibOS translates `PAL_WAIT_ERROR` back to `POLLERR | POLLHUP`, it can be different from origin f

[2022-11-10 09:39] dimakuv commented on #1034
Yes, this is a known problem. Originally Gramine tried to reduce the number of possible "erroneous" conditions reported from PAL to LibOS, that's why this multiplexing of 3 different Linux error conditions into a single `PAL_WAIT_ERROR`.

But this was bound to reach its limits. I'm actually surprised this multiplexing worked so well for so much time, and we found a real-world scenario where it fai

[2022-11-10 09:41] dimakuv commented on #910
Yes, this will be good! From my experience, typically non-network-bound applications use about 5-10-20 FDs in `poll`, no more than that.

No, the `poll()` rewrite was not yet started. In fact, this task has a very low priority currently. I don't know if @boryspoplawski has anything else to say here.

[2022-11-10 12:59] boryspoplawski commented on #910
1K sounds way to much for a stack buffer

[2022-11-10 13:36] #967 closed

[2022-11-10 23:26] boryspoplawski commented on #1017
@llly Could you check if https://github.com/gramineproject/gramine/pull/1036 fixed the issue for you? Note `g_allocated_pages` was removed, so you would have to check original issue (like proc/sys entries with wrong data)

[2022-11-11 00:36] lejunzhu commented on #910
Do you mean a lower threshold, e.g. 320 bytes for each buffer is acceptable, or this problem should better be addressed with a poll rewrite?

For 20 FDs, we'll need 4 * 160 bytes and 1 * 320 bytes buffers on the stack.

[2022-11-11 07:51] llly commented on #1017
@boryspoplawski Yes. It fixes this issue. I can get reasonable values now.
[code]

[2022-11-14 13:58] anjalirai-intel opened #1043 "Gramine Failures for Ubuntu 22.04"
### Description of the problem

**List of failures for Ubuntu 22.04**

1. Python Fix [#938](https://github.com/gramineproject/gramine/pull/938) (SGX)
2. Nginx (Native, SGX)
3. R (4.1.2) (SGX)

**Nginx:**
[code]

**We upgraded the nginx version to 1.22 for both Ubuntu 18.04 & 22.04 and it worked.**

**Ubuntu 18.04**
[code]

**Ubuntu 22.04**
[code]

**R:** R version has been updated in Ubuntu 22.04

[2022-11-15 07:56] dimakuv commented on #1043
1. We can update the version of Nginx, no problems. Feel free to submit a PR.
2. Python's PR is pending on original author's actions (see my and Borys's comments there).
3. I didn't get the problem for R -- is it just a small number of enclave threads? What if you increment this number, or (better) restrict R to use a subset of threads via some environment variable?

[2022-11-15 08:00] anjalirai-intel commented on #1043
@dimakuv If we increment the number of max_threads to 8, it passes. But in the past we have already restricted the number of threads
https://github.com/gramineproject/examples/blob/master/r/R.manifest.template#L15

[2022-11-15 08:03] dimakuv commented on #1043
Looks like newer versions of R create some "helper threads" in addition to the "worker threads" (which you restrict to 4 via the environment variable).

So please submit a PR that increases max_threads to 8, and add a comment that R on Ubuntu 22.04 requires more threads than specified in `OMP_NUM_THREADS` because it spawns some additional helper threads.

[2022-11-15 09:32] chuan-xu opened #1045 "failed to run rust example"
![image](https://user-images.githubusercontent.com/92707056/201883462-ce248d75-5820-4478-a041-1317a80d7771.png)

Changing the number of threads does not work!

[2022-11-15 09:44] dimakuv commented on #1045
@chuan-xu So what happens when you increase the number of threads? To for example `sgx.thread_num = 64`?

[2022-11-15 09:50] chuan-xu commented on #1045
think you, 64 is ok.
I saw "max_threads = 8" , assumed thread_nums was no more than 8

[2022-11-15 09:55] dimakuv commented on #1045
The maximum number of threads can be more or less arbitrary. It depends on the machine on which you're running Gramine (apparently, you have a large machine, with many CPU cores).

Since you resolved your issue, I'll close it.

[2022-11-15 09:55] #1045 closed

[2022-11-15 13:42] tanishq-akula opened #1046 "Error running the ra-tls-mbedtls example"
### Description of the problem

While running the command 'ARCH_LIBDIR=/lib64 make app' in RHEL 8.6 server, the following error was observed :-

[code]
Thanks

### Steps to reproduce

_No response_

### Expected results

_No response_

### Actual results

_No response_

### Gramine commit hash

e18bc05b17fd704b259cb0401f928dc4ec5199a6

[2022-11-15 13:44] tanishq080795 commented on #1046
Please refer the below link to resolve this issue:-

https://github.com/gramineproject/gramine/discussions/1042

[2022-11-16 11:17] tanishq-akula opened #1050 "Client side error while running the ra-tls-secret-prov example"
### Description of the problem

Hi,

While running the command `gramine-sgx ./client`, the following error was encountered:-

[code]
System Specs:- RHEL 8.6, Kernel:- 4.18.0-348.20.1.el8_5.x86_64

Thanks

### Steps to reproduce

_No response_

### Expected results

_No response_

### Actual results

_No response_

### Gramine commit hash

e18bc05b17fd704b259cb0401f928dc4ec5199a6

[2022-11-16 12:48] tanishq-akula commented on #1050
Contents of **client.manifest.template**

[code]

[2022-11-16 13:46] dimakuv commented on #1050
Hm, can you set `loader.log_level = "all"` and show the complete Gramine log?

[2022-11-16 14:00] tanishq-akula commented on #1050
Attached client gramine log
[Client_log.txt](https://github.com/gramineproject/gramine/files/10022338/Client_log.txt)

[2022-11-16 14:28] dimakuv commented on #1050
Ok, something is totally broken:
[code]

So we see that `libc.so` is correctly taken from Gramine-specific `/lib` directory. But `libpthread.so` is taken from system-wide `/usr/lib64` directory.

Why this happens in the same process, I don't know.

@tanishq-akula How exactly did you install Gramine? Did you modify anything in Gramine or in the `ra-tls-secret-prov` example?

[2022-11-16 16:49] #1017 closed

[2022-11-16 23:28] oshogbo commented on #897
I tested this with the debug and release mode, and I'm unable to reproduce this.
I have tried with the small file system (150MB) and a larger one (2G):
[code]

My manifest:
[code]

Is there something else that I should try?
Can you provide a trace log (`loader.log_level = "trace"`) from the execution of your application?
Could you share the application or application that reproduces that?

I have

[2022-11-17 06:26] tanishq-akula commented on #1050
Hey Dmitrii,

We directly installed Gramine with dnf command on RHEL 8.6 host as specified in the documentation.

https://gramine.readthedocs.io/en/stable/quickstart.html

To get other DCAP libraries we have built Gramine with the meson command as per building instructions you have specified above.

We didn't modify anything in gramine or in any of the examples.

[2022-11-17 06:53] boryspoplawski commented on #1050
@tanishq-akula Did you `git checkout` to appropriate tag when cloning the repo and building stuff? I don't see any instruction given by @dimakuv above, so not sure what you are talking about.

[2022-11-17 07:12] tanishq-akula commented on #1050
I used below link for building Gramine with DCAP,
https://gramine.readthedocs.io/en/stable/devel/building.html

I used below command to clone gramine repo as per quick start guide
`git clone --depth 1 --branch v1.3.1 https://github.com/gramineproject/gramine.git`
[code]

[2022-11-17 08:54] dimakuv commented on #1050
@tanishq-akula Could you show the output of `ls -la /usr/lib64/gramine/runtime/glibc`?

Also, how did you build the `ra-tls-secret-prov` example? Can you show the exact commands that you used?

[2022-11-17 09:19] tanishq-akula commented on #1050
[code]

Command to build `ra-tls-secret-prov`:- `ARCH_LIBDIR=/lib64 make app dcap RA_TYPE=dcap`
After this we executed below commands to run the application:-
[code]

[2022-11-17 09:19] lejunzhu commented on #910
I've created a PR #1051 to reduce the lock contention in poll. @dimakuv and @boryspoplawski would you please take a look at it?

@lianghouxu would you please to test this PR as well, to see if it improves MySQL performance in your environment?

[2022-11-17 10:21] dimakuv commented on #1050
Everything looks perfect... I just don't see why the app tries to open `/usr/lib64/libpthread.so.0` instead of `/usr/lib64/gramine/runtime/glibc/libpthread.so.0`...

Do other programs (other than `ra-tls-secret-prov`) run fine under Gramine on your system? What about e.g. Python examples?

[2022-11-17 14:19] lianghouxu commented on #910
@lejunzhu I test the PR #1051 , the performance looks good.
Before applying the patch, with 120 connections, mysql in gramine-sgx can achieve about 30% of bare metal.
After applying the patch, with 120 connections, mysql in gramine-sgx can achieve about 50% of bare metal.

Here is the Flame Graph, the hotspots of malloc and free have gone.
![image](https://user-images.githubusercontent.com/9995966

[2022-11-17 15:13] boryspoplawski commented on #1050
From the log looks like after `libc.so` is loaded, `LD_LIBRARY_PATH` starts to be ignored?

[2022-11-17 15:37] boryspoplawski commented on #1050
@tanishq-akula Please add `loader.env.LD_DEBUG = "libs"` to your manifest, rebuild, rerun and provide us with Gramine logs + output.
This generally looks weird, I have no idea what's wrong

[2022-11-18 00:12] lejunzhu commented on #910
From the flame graph, the new bottleneck seems to be get_fd_handle(). It is also reported in #853.

[2022-11-18 05:31] tanishq-akula commented on #1050
@boryspoplawski I added `loader.env.LD_DEBUG = "libs"` to the `client.manifest.template` file, rebuilt and reran as suggested.
Please refer attached file for Gramine logs and output.
[Client_Log.txt](https://github.com/gramineproject/gramine/files/10038391/Client_Log.txt)

[2022-11-18 06:05] tanishq-akula commented on #1050
@dimakuv Other programs in `ra-tls-secret-prov` are throwing the same error. The Redis and Nginx examples ran successfully but I encountered following error while building the Python program

[code]

[2022-11-18 07:51] dimakuv commented on #1050
Ok, another person reported the same problem on CentOS 8 Stream (which is basically the same as RHEL 8).

The most interesting part is that it worked before -- there were no changes to GSC and Gramine (because the versions are pinned in that other person's case).

So the only root cause is that there was a breaking update in CentOS/RHEL. This needs debugging...

[2022-11-18 17:40] boryspoplawski commented on #1050
@tanishq-akula What's the content of `LD_LIBRARY_PATH` in final manifest (i.e. after rendering)? The file is probably named `client.manifest.sgx`

[2022-11-18 17:42] boryspoplawski commented on #1050
Wait: `RUNPATH from file /client`, how did you compile the program and why it has `RUNPATH`?
This is not Gramine issue.

[2022-11-18 17:44] boryspoplawski commented on #1050
Ah, this is `secret_prof_pf` example.
I'm pretty sure `$(shell pkg-config --libs sgx_util)` is at fault. Why it affect how paths are resolved and why is `LD_LIBRARY_PATH` ignored after loading libc, that I do not know.

[2022-11-21 07:31] chuan-xu opened #1056 "how to use dns name?"
rust demo will panic in gramine!
[code]
error:
[code]

[2022-11-21 07:52] dimakuv commented on #1056
Could you please provide more information?
- What is the OS distro.
- What is the Gramine version.
- What is your Gramine manifest for this demo.
- What is the Gramine log (with `loader.log_level = "trace"`), so that we can see the root cause of this problem?

In general, looks like you should add `sys.enable_extra_runtime_domain_names_conf = true` manifest option.

[2022-11-21 08:16] chuan-xu commented on #1056
@dimakuv
+ ubuntu20.04
+
![image](https://user-images.githubusercontent.com/92707056/202998179-e56d401d-a27f-41de-ade3-57ba1bc16fc6.png)

+
[code]
+
![image](https://user-images.githubusercontent.com/92707056/202998726-fe6670c2-a6c2-437e-949d-7ae68a541bb6.png)

[2022-11-21 08:43] dimakuv commented on #1056
You haven't showed the Gramine log itself.

[2022-11-21 08:52] chuan-xu commented on #1056
@dimakuv

![image](https://user-images.githubusercontent.com/92707056/203006569-a9d0aa63-e3f3-4a2e-a4f4-b5c6ad2e7b7b.png)

[2022-11-21 10:09] dimakuv commented on #1056
Please do not post screenshots. Copy-paste text or attach text files.

Anyway, looking at the screenshot, I don't see anything bad happenning in Gramine. Maybe the error happened before what you showed in this screenshot. Maybe there is no error, and your Rust demo is incorrect or something?

[2022-11-21 14:32] dimakuv commented on #1050
Just for your information: I was also considering that maybe the problem is in this quarantine feature: https://modules.readthedocs.io/en/v4.1.0/MIGRATING.html#quarantine-mechanism-to-protect-module-execution

That's because I observed `MODULES_RUN_QUARANTINE=LD_LIBRARY_PATH LD_PRELOAD` environment variable set in that other CentOS8-based Docker image. So I thought maybe this envvar destroyed `LD_

[2022-11-21 17:34] boryspoplawski commented on #1056
You have `sgx.enable_extra_runtime_domain_names_conf`, instead of `sys.enable_extra_runtime_domain_names_conf`

[2022-11-21 18:02] #1046 closed

[2022-11-22 05:34] tanishq-akula commented on #1050
**@dimakuv**  `strings /usr/lib64/libcurl.so.4 | grep lib64` &`strings /usr/lib64/libcjson.so.1 | grep lib64` are not producing any output.

[2022-11-22 06:02] ying2liu opened #1058 "Add new system calls to gramine"
### Description of the feature

One of the cloud use cases is to pull docker image and unpack the image. During the unpacking process, directory timestamps need to be updated after all files are extracted using utimenstat system call, but this system call is not available in gramine. Both symlink and hardlink are used to keep the link files during unpacking, but symlink and linkat system calls are

[2022-11-22 07:36] dimakuv commented on #1050
@tanishq-akula Thanks for checking. The situation is worse than I thought :)

Ok, so two more things:
1. First, you can just stop using Gramine-specific Glibc files. For this, remove these lines in the `manifest.template`:
    - `{ path = "/lib", uri = "file:{{ gramine.runtimedir() }}" },` (an entry in `fs.mounts`)
    - `"file:{{ gramine.runtimedir() }}/",` (an entry in `sgx.trusted_files`)
    -

[2022-11-22 10:17] boryspoplawski commented on #1058
We need more clarification on the links case. Do you want them (e.g. symlinks) shared with host OS or is purely in-Gramine implementation enough?

[2022-11-22 12:02] tanishq-akula commented on #1050
@dimakuv
1.With your workaround the application worked. Here is the output,
[code]
2. We have bare-metal servers with RHEL installed on them. One way to emulate this issue is to install RHEL on a VM. RedHat provides free license for RHEL OS under it's 'No-cost RHEL for developers subscription' program. But we haven't tried it yet.

[2022-11-22 14:03] dimakuv commented on #1050
Oof. That sounds complicated, I don't want to register for such a program just to test RHEL.

@anjalirai-intel @aneessahib Do we maybe have RHEL 8? Did we encounter similar problems?

[2022-11-22 14:48] anjalirai-intel commented on #1050
@dimakuv We have RHEL 8 available with us. But we have not run mbedtls example there. We can check

[2022-11-22 19:27] mkow commented on #1058
1. Please fix the issue topic, right now it's like "improve gramine", conveys almost no information about the contents of the issue.
2. Are you trying to run Docker inside Gramine? Or what exactly? This description sounds weird and unclear.

[2022-11-23 06:58] tanishq-akula commented on #1050
**@anjalirai-intel** We are getting below error with new manifest in python use case.
[code]
I just had a look at github repo and looks like we are missing changes to library files (e.g., gen_jinja_env.py) as we have cloned v1.3.1 branch. Could you please share the build and install procedure with the repo instead of dnf install commands on RHEL ? We will re-install gramine and try out all use cas

[2022-11-23 07:47] dimakuv commented on #1050
@tanishq-akula If you want to build the latest Gramine from sources, then smth like this:

1. Uninstall the current Gramine installation!

2. Build and install Gramine:
[code]

[2022-11-23 07:49] anjalirai-intel commented on #1050
It should be
meson setup build/ --buildtype=release -Ddirect=enabled -Dsgx=enabled -Ddcap=enabled -Dtests=enabled
ninja -C build
sudo ninja -C build/ install

[2022-11-23 07:53] dimakuv commented on #1050
@tanishq-akula I came up with another workaround to your original problem of `libpthread.so.0` error.

Instead of the things that I recommended in an above comment (where you need to remove Gramine-specific Glibc libraries completely), you can also do this:
- Add a new entry to `fs.mounts` like this: `{ path = "/usr/lib64/libpthread.so.0", uri = "file:{{ gramine.runtimedir() }}/libpthread.so.0" },

[2022-11-23 11:02] anjalirai-intel commented on #1050
Our Current RHEL infrastructure does not DCAP Attestation

[2022-11-25 06:04] #1056 closed

[2022-11-25 07:25] qijiax commented on #58
Same issue in running TDengine an open-source time series database.

[2022-11-26 06:11] mccoysc opened #1063 "need create process out of enclave from enclave"
### Description of the feature

some time i need execute some cmds out of enclave instead of in enclave.
and i know,maybe you would say that for security reasons i should not do this.
but , "safe" or "un-safe" is a choice for business.

### Why Gramine should implement it?

implement some rules in manifest that allow run some process in "normal" host os.
for example,the rule can like the following

[2022-11-26 21:07] #990 closed

[2022-11-26 21:07] #968 closed

[2022-11-27 00:30] mkow commented on #1063
I don't think we'll ever support this, as it breaks the overall Gramine design. Gramine is supposed to run a single Linux application inside a "virtualized" environment. If you want to run something outside it, then you should wrap Gramine in some orchestrator tool which will spawn Gramine and whatever other helper processes you need.
Doing it the other way is like asking Docker to allow the conta

[2022-11-27 00:30] #1063 closed

[2022-11-27 06:46] mccoysc commented on #1063
or,maybe,an "in enclave process"?
now the process model is based in new enclave,it's so expensive for creation and memory.

[2022-11-27 16:33] mkow commented on #238
Closing because of no reply from the reporter + we merged https://github.com/gramineproject/gramine/pull/1031, which probably solves this issue.

[2022-11-27 16:33] #238 closed

[2022-11-27 16:35] mkow commented on #763
Should be fixed by https://github.com/gramineproject/gramine/pull/1031, which was just merged. If not, feel free to reopen.

[2022-11-27 16:35] #763 closed

[2022-11-28 11:01] weitianyuan opened #1064 "Low-level /dev/attestation interface"
### Description of the problem

read   file /dev/attestation/my_target_info failed . I donot  gnow why
 There is no exception when running hellowrld in the grain environment, but an error is reported when calling the low level interface

### Steps to reproduce

    sgx_target_info_t target_info;
    bytes = file_read_f("/dev/attestation/my_target_info", (char*)&target_info,

[2022-11-29 10:34] tanishq-akula commented on #1050
We cloned a new gramine repo, followed the quoted steps and ran `ra-tls-secret-prov` example. The following error was encountered while running client.
[Error.txt](https://github.com/gramineproject/gramine/files/10112184/Error.txt)

[2022-11-29 10:40] anjalirai-intel commented on #1050
@tanishq-akula Have you configured your no_proxy correctly if you are under proxy settings

[2022-11-29 11:03] tanishq-akula commented on #1050
@anjalirai-intel We haven't configured no_proxy.
[code]

[2022-11-29 12:43] anjalirai-intel commented on #1050
@tanishq-akula Just to check your pccs server is installed in same localhost or is it in different machine. If it is present in same machine, then add no_proxy=localhost

[2022-11-29 17:11] monavij commented on #822
We discussed this in Gramine meeting today and discussion is captured in notes - https://github.com/gramineproject/gramine/discussions/1059. But the general consensus was that the task of re-fetching the token can be done in a worker thread in LD-PRELOADED library, as that library is fully aware of when the token expires and when it needs to be re-fetched. The attestation interfaced exposed by Gra

[2022-11-30 01:48] boryspoplawski commented on #998
The problem is that `poll` is not implemented for fds `0`, `1` and `2` (they are all `/dev/tty` opened in Gramine). https://github.com/gramineproject/gramine/pull/1067 fixes some bugs around it, but there are more fixes needed around these "devices" in Gramine

[2022-11-30 08:54] tanishq-akula commented on #1050
@anjalirai-intel `ra-tls-mbedtls` example ran successfully with DCAP and we are able to see logs in pccs for attestation, so the issue doesn't seem to be with our current setup. We are only facing problem while executing `ra-tls-secret-prov` example.

[2022-11-30 09:52] anjalirai-intel commented on #1050
@boryspoplawski @mkow Can you please look at the issue

[2022-11-30 17:28] liorbond opened #1070 "ECREATE failed in enclave creation ioctl (errno = -5) when running on Azure VM"
### Description of the problem

When I'm running one of the exmaples (GCC) in this repo I'm getting the following error:
[code]
Was trying to take a refernce from #955 but nothing there helped.
The output of
```cpuid | grep "SAVE area"```
is
[code]

### Steps to reproduce

_No response_

### Expected results

_No response_

### Actual results

_No response_

### Gramine commit hash

e18bc05b17fd70