[2022-05-16 12:32] boryspoplawski commented on #238
`SO_REUSEPORT` is used mainly (only, at least on Linux?) for load balancing. The problem is that it's not really standard, e.g. Windows doesn't have it (and semantics differ slightly between different OSes). As far as we probably could implement something that works correctly on every PAL, I'm not sure we want - if we cannot achieve even load balancing, then there is no much point in having it...

[2022-05-16 13:35] black197 commented on #556
It works. Thank you very much.

[2022-05-16 15:53] boryspoplawski commented on #238
As we talked on todays call: no plans to implement `SO_REUSEPORT`. Nginx will probably fallback to some workaround if it detects this flag is not supported. If it does not, then we might rethink this.

[2022-05-17 02:38] shenyuchenx commented on #238
Thank you for your reply. I will check #579 .

I do respect your decision on support plan. However, this option (reuseport for nginx, accordingly SO_REUSEPORT for socket layer) is broadly used by nginx community. Almost all our users rely on this option.

[2022-05-17 04:33] aniket-intelx commented on #458
Could you please send the patch file along with the pass log so that we can try on our machine?

[2022-05-17 07:43] boryspoplawski commented on #556
@black197  That PR is still not merged, this issue will be close automatically on merge.

[2022-05-17 07:48] boryspoplawski commented on #458
Note that this works only in this specific case, where we can just ignore this shared mapping (only used for tests results).
[code]

[2022-05-17 13:44] chigarovae opened #589 "Missing certificate chain when starting and attesting an enclave"
Hi! Some time ago i tested Gramine runtimes with Edgeless Marble Run premain and attestation coordinator, and everything worked fine. But recently, when i built a new image on a newely configured host, i got this error when tried to launch and attest an enclave:

[code]

It's coming from the Edgeless premain, and i looked into the attestation coordinator log. There was this error:

[code]

I conta

[2022-05-17 14:55] dimakuv commented on #589
Hm, let's look at the OpenEnclave source code:

- https://github.com/openenclave/openenclave/blob/master/common/sgx/quote.c#L72-L76 -- here we see that OpenEnclave expects `OE_SGX_PCK_ID_PCK_CERT_CHAIN`.

https://github.com/openenclave/openenclave/blob/e79d334c7f3b9fb2ab3efddbacf215d1713c2413/include/openenclave/bits/sgx/sgxtypes.h#L832-L840 -- here we see that `type == 3` corresponds to `OE_SGX_P

[2022-05-18 06:09] ColossusChang opened #590 "OpenJDK example gets stuck and does not finish"
## Description of the problem

When I tried to run the [OpenJDK example](https://github.com/gramineproject/examples/tree/master/openjdk) using `gramine-sgx` with `GRAMINE_LOG_LEVEL = trace`, the process would get stuck and would not finish. I waited a long time before ending it with Ctrl-C. Here is the log:
[sgx.log](https://github.com/gramineproject/examples/files/8706677/sgx.log)

## Steps to re

[2022-05-18 06:30] dimakuv commented on #590
@ColossusChang Let's not create duplicate issues for the same bug. You already created this one: https://github.com/gramineproject/examples/issues/26. Let's keep the discussions there. I'm closing this issue.

(I am currently looking at it.)

[2022-05-18 06:30] #590 closed

[2022-05-18 07:24] dimakuv commented on #589
@chigarovae I got interested in this error, and googled a bit.

I found a hint of what is going on in the official DCAP library documentation from Intel: https://download.01.org/intel-sgx/dcap-1.0.1/docs/Intel_SGX_ECDSA_QuoteGenReference_DCAP_API_Linux_1.0.1.pdf

The relevant text is found under Section 3.3.1.1. Here is the relevant snippet:

Pay attention to the text in bold. Basically, the Quote

[2022-05-18 10:00] svenkata9 opened #591 "MariaDB requires O_PATH flag support"
## Description
MariaDB fails to run it requires support for `O_PATH` flag. MariaDB opens the `/var/lib/mysql/` directory with flags including `O_PATH`.

## Steps to reproduce

Install MariaDB in the system, use the attached manifest to graminize it, and use the following steps to run it.
[mysqld.manifest.template.txt](https://github.com/gramineproject/gramine/files/8715241/mysqld.manifest.template

[2022-05-18 10:22] aep commented on #468
yeah i don't think nginx will ever work in gramine.
i think we should close this?

[2022-05-18 11:42] boryspoplawski commented on #468
but it does work, at least in most configurations (and this seems to be the only one that used `SCM_RIGHTS`)

which issue? I thought we fixed all problems with epoll

[2022-05-18 13:14] dimakuv opened #592 "[LibOS] `/proc/cpuinfo` doesn't have the `flags` line"
## Description of the problem

Some workloads parse the `flags` line in the pseudo-file `/proc/cpuinfo`. Case in point: https://github.com/intel/intel-extension-for-pytorch/blob/306aa1ea0baf51ed700c3abfead5e46c4e076427/intel_extension_for_pytorch/utils/_cpu_isa.py

This PyTorch extension from Intel looks for the `AVX2` word (upper-cased) in the `flags` line of `/proc/cpuinfo`.

However, currently

[2022-05-19 07:35] black197 commented on #556
Got it. Besides, I noticed that in #579 there's no entry for UNIX socket in FS. So how am I able to connect to the socket outside gramine, like in another program? I appreciate any help.

[2022-05-19 08:28] dimakuv commented on #556
You cannot do this with UNIX domain sockets (`AF_UNIX` sockets). This is a deliberate security decision in Gramine.

The reason behind this is that UNIX domain sockets are automatically encrypted by Gramine (similarly to classic pipes). So when two Gramine threads/processes communicate with each other via UNIX domain sockets, then share an encryption key and know how to transparently encrypt/decry

[2022-05-20 01:49] black197 commented on #556
@dimakuv Oh I see. Thank you very much. Then I have to try other ways.

[2022-05-22 13:56] xanderdunn opened #595 "Question on Paper "Practical Implications of Graphene-SGX""
The ease of use of using unmodified programs on SGX via Gramine is very alluring given how difficult it is to port libraries and applications into SGX with the Intel SGX SDK / OpenEnclave paradigm of ocall/ecall EDL porting. However, we have some concerns about the size of the trusted computing base and we encountered this paper from 2019: The paper [Practical Implications of Graphene-SGX](https:/

[2022-05-22 17:29] boryspoplawski commented on #595
Please don't use GitHub issues for general support (see the information in the issue template), we use issues to keep track of bugs in Gramine.
If you need support then write an email to [users@gramineproject.io](mailto:users@gramineproject.io) or join our Gitter (https://gitter.im/gramineproject/community).

[2022-05-22 17:29] #595 closed

[2022-05-23 04:21] xanderdunn commented on #595
The library making silent use of the system clock or silently reading environment variables the developer isn’t aware of counts as a set of security bugs. It should be publicly documented how Gramine handles this. I will forward it to the email address you listed and post the response I get here.

[2022-05-23 06:39] dimakuv commented on #595
[ I will post my answer here since other users can stumble upon this issue. Since this is a legit question asked by many users, it is better to duplicate our answer here. ]

This issue is *partially* addressed. Gramine checks that the clock never goes backwards during the lifetime of the SGX enclave. However, the malicious OS can "slow down" the time, or the malicious OS can pick a starting dateti

[2022-05-23 08:34] bronzeMe opened #596 "Does gramine support golang application?"
## Description of the problem

- As we know, golang has its own syscall wrapper implementation, it does not use glibc to invoke system call
- So, when a golang application invokes a system call (e.g., open/write a file), the gramine libos cannot catch this invocation , then this golang application will directly issue a system  call to the host kernel inside the enclave.
- The question is:
- Q1: Ha

[2022-05-23 08:57] dimakuv commented on #596
Yes, this problem was solved.

1. For `gramine-sgx` (in SGX mode), every raw `syscall` instruction ("direct invocation of system call") is trapped by the Intel SGX hardware and forwarded back to Gramine. Gramine emulates this `syscall` instruction by calling Gramine's syscall wrapper implementation.
2. For `gramine-direct` (non-SGX mode), Gramine setups the seccomp filter that catches all `syscall

[2022-05-23 08:57] #596 closed

[2022-05-23 09:17] bronzeMe commented on #596
@dimakuv ,Thank you so much ! This detail reply is so helpful!
Actually, patching each version of Go compiler is not easy.
But I guess the method (patching go compiler)  maybe more fast  than gramine's current strategy (through  handling exception) ?
Thanks a lot.

[2022-05-23 10:04] dimakuv commented on #596
Yes, this is exactly the problem with the current approach of Gramine (trap-and-emulate, or as you call it "handling exceptions"). This current approach is slow, because trap-and-emulate is slow by definition.

So the Gramine team is looking at other options how to make Go applications run faster. Patching the Go compiler is one option...

[2022-05-23 10:35] bronzeMe commented on #596
Hi @dimakuv, There is a project [GrapheneSGX-Golang-Support-and-Enhancement](https://github.com/intel/GrapheneSGX-Golang-Support-and-Enhancement/tree/20190715-golang/LibOS/libs/golang) which provides scripts to  automatically redirect a go executable file's raw syscall to graphene's syscall wrapper, but it is not compatible with gramine.

[2022-05-23 13:02] adnanjam opened #600 "Can't create child processes with node.js inside gramine"
## Description of the problem
I am trying to run a simple node.js program inside gramine, based on the [nodejs.manifest.template](https://github.com/gramineproject/examples/blob/master/nodejs/nodejs.manifest.template).

The enclave crashes whenever I start any child process through node (which uses fork) and I am not sure what the cause is for this. Would really appreciate if someone has more know

[2022-05-24 06:37] dimakuv commented on #600
So it looks like `gramine-direct` (non-SGX) version works, but `gramine-sgx` fails.

I suspect that your machine is running out of physical memory (RAM + swap file). Some references to better understand this issue:
- https://gramine.readthedocs.io/en/latest/manifest-syntax.html#enclave-size
- https://gramine.readthedocs.io/en/latest/devel/performance.html#multi-process-workloads
- https://gramine.

[2022-05-24 17:36] gus6202 opened #604 "Hello world example doesn't run with or without SGX (Quick Start)"
## Description of the problem

I was following the quick start guide, after installed gramine and prepared a signing key (without issues) i couldn't run hello world example.

When I build it without SGX:
[code]
After that when i run it occurs this error:
[code]
When i build and run with SGX, same error occurs when i run it:
[code]

[2022-05-24 17:57] dimakuv commented on #604
Why do you do `sudo make`? This creates files with root user permissions, so normal (non-sudo) users cannot access these files.

That's why Gramine cannot find the `helloworld` file -- it is not accessible.

[2022-05-24 18:33] gus6202 commented on #604
Thanks for the comment. I changed the permissions but still got same error:
Build:
[code]
Run:
[code]

The same goes to the example with SGX when i run it:
[code]

[2022-05-24 20:03] dimakuv commented on #604
Can you show your files in this directory, by doing `ls -lh`?

[2022-05-24 20:36] gus6202 commented on #604
Here after make:
[code]
I thought the error was when I do make, the generated files didn't have full permissions. Still when i gave them full permissions, the error persists.

After chmod:
[code]
PS: Thanks for the help!

[2022-05-24 21:26] boryspoplawski commented on #604
You are using Gramine v1.1, so after cloning the repo to try the example you need to issue `git checkout v1.1`. This command is missing from the quck start - this is a known issue, unfortunately we cannot fix it before next release (v1.2, which will happen very soon).

[2022-05-25 09:46] gus6202 commented on #604
Hello, I think that I wasn't using v1.1, the project was built from mater.
[code]

[2022-05-25 11:07] gus6202 commented on #604
Hello, thank you very much, I could fix the error!
Best regards!

[2022-05-25 11:08] dimakuv commented on #604
Yes, @boryspoplawski's reply is the correct answer here. I was misguided by the `sudo make` command, and didn't pay attention that you are using two incompatible things: the installation of Gramine (currently v1.1) and then the example from the GitHub repo (with latest changes, far past v1.1 and thus incompatible).

[2022-05-25 11:08] #604 closed

[2022-05-26 09:50] adnanjam commented on #600
Thanks for the quick response @dimakuv. Indeed it was an issue with resource limitation, which I already suspected since the virtual machine was also terminating the Vscode SSH server when I started the gramine container. I have added a swapfile to the VM to extend the memory available although as you predicted, it is performing really slow. The ideal solution would be to increase the memory avail

[2022-05-26 09:50] #600 closed

[2022-05-27 04:25] ScottLiao920 opened #613 "load.uid & loader.gid config not working"
## Description of the problem
`gramine-sgx postgres -d` failed bacause of wrong ownership of the data directory.
The data directory is ownby user with uid=gid=1000, so I provided `loader.uid=1000` and `loader.gid=1000` in my manifest file.

## Steps to reproduce
* install postgresql & gramine (build from master branch)
* `initdb /pathtodatadirectory`  in my case, `/usr/local/pgsql/data`, issued by

[2022-05-27 05:17] kvinwang opened #614 "[Feature request] Interface to get peak memory usage"
The memory is precious for a program running in SGX. We used to build our App with intel `sgx-sdk`, and use the `g_peak_heap_used` from the SDK to track and see if our app would be about to run out of memory.

It would be great if Gramine provide the equivalent functionality via adding an item in the `/proc/meminfo`:
[code]

[2022-05-27 11:41] nabi1020-dev commented on #604
Hi, gus6202.
How did you fix the bug?
I have the same error.

[2022-05-27 11:44] boryspoplawski commented on #614
There is no such entry in `/proc/meminfo` (talking about normal Linux system)

[2022-05-27 11:45] boryspoplawski commented on #604
@nabi1020-dev please read the whole thread

[2022-05-27 12:05] nabi1020-dev commented on #604
Thanks @boryspoplawski.

[2022-05-27 12:23] kvinwang commented on #614
It can be put somewhere else which doesn't matter to me. Hmm, I am looking forward to the feature itself.

[2022-05-27 12:51] nabi1020-dev commented on #604
Hi, @boryspoplawski.
I need your help. I am a newbie in Linux and Gramine.
Still Errors. Do you mind if I send message to your email?

[2022-05-27 13:03] gus6202 commented on #604
Hello, run this command ```git remote update``` and then ```git checkout v1.1```

[2022-05-27 13:08] nabi1020-dev commented on #604
Thank you @gus6202.

But still errors. How can I fix this?

[2022-05-27 13:19] gus6202 commented on #604
I didn't have this kind of error and I'm newbie in linux too. You should check this error on stackoverflow, you can find the solution there.

[2022-05-27 13:21] nabi1020-dev commented on #604
Thanks. @gus6202

[2022-05-27 13:43] nabi1020-dev commented on #604
@gus6202, how did you fix the bug?

[2022-05-29 02:49] mccoysc opened #618 "write exists encrypted file error"
## Step to re-produce
1，make empty directory to be encrypted mounts with key_name="_sgx_mrenclave"
2,make and run the result app.
3,the result app do the following:
    a,create a file in the encrypted directory and write "hello" to the file,close and exit the app.
    b,re-do the above,the app crashed.

## Expected results
file created and encrypted and the "re-do" also work well.

## Actual resu

[2022-05-29 03:00] mccoysc commented on #618
this is the templete to make app:

# Node.js manifest file example

[loader]
entrypoint = "file:{{ gramine.libos }}"
log_level = "{{ log_level }}"
insecure__use_cmdline_argv = true
insecure__use_host_env = true

[loader.env]
LD_LIBRARY_PATH = "/lib:{{ arch_libdir }}:/usr/{{ arch_libdir }}"

[libos]
entrypoint="{{ nodejs_dir }}/node"

# Node.js requires eventfd2() emulation otherwise fails on `(uv_

[2022-05-29 03:05] mccoysc commented on #618
the first run is ok but the later would crash always.
if i delete the encrypted file "hello.txt",it will work well but repeat the crash after that.
this is the helloword.js:

console.log("Hello World");
const sqlite3=require("better-sqlite3")
var db=new sqlite3(":memory:");
console.log("db:",db);
const { exec } = require('node:child_process');
var fs=require("fs")
var data=fs.readFileSync("/dev/at

[2022-05-29 03:07] mccoysc commented on #618
@stefanberger

[2022-05-30 05:40] lejunzhu commented on #618
I tried to run the helloworld code on nodejs 14 and latest Gramine. It doesn't crash, and the log is:

[code]

The error happens when the application tries to truncate the encrypted file. This is not implemented now.

https://github.com/gramineproject/gramine/blob/01e01513e08b0d8ec70f074dda6de8f539e4611f/common/src/protected_files/protected_files.c#L1254

As a workaround, if you can modify the app

[2022-05-30 06:28] dimakuv commented on #613
@ScottLiao920 Could you try the latest Gramine (you can just git-clone and build, as you did previously)? We just released v1.2, so I wonder if this problem got fixed by itself (we had many bug fixes in the FS subsystem recently).

Also, can you show us `ls -lh /usr/local/pgsql/data`? Just to be sure that the ownership of this file is as expected.

[2022-05-30 06:46] dimakuv commented on #614
@kvinwang I like this idea.

We have `Committed_AS` line in `/proc/meminfo` -- this line shows the *current* enclave-memory usage. Some references from the code, if you want to look into this deeper:
- https://github.com/gramineproject/gramine/blob/f17ca4525c38b880530597fae28fc43a0840b8a0/LibOS/shim/src/fs/proc/info.c#L49?plain=1
- https://github.com/gramineproject/gramine/blob/0affeefe376143614dd

[2022-05-30 09:57] mkow commented on #614
I don't like the idea of adding custom (i.e. not present on Linux) stuff to `/proc/meminfo`. Also, in this version the app itself would need to read it and reply to the developer? Why not just print this in the debug logs when Gramine exits?

[2022-05-30 11:52] dimakuv commented on #614
That's how I understood @kvinwang's request -- every time the app reads `/proc/meminfo` (well, more specifically, when the app opens it), the `MemPeak` value is updated to reflect the last seen peak enclave memory. So the app must be "Gramine-aware".

Because the app wants to adjust itself based on this `MemPeak` value, e.g., perform some garbage collection or flush its caches. Something like this

[2022-05-30 14:05] boryspoplawski commented on #614
Yeah, sounds like a bad idea to me too.

+1

All these app should do based on the current usage, not peek, otherwise it doesnt make any sense.
For now I cannot think of any usage of peek memory for the app (but for the developer there sure is).

[2022-05-30 17:19] boryspoplawski commented on #431
@woju What's the state of this? v1.2 was released :)

[2022-05-30 17:31] boryspoplawski commented on #13
This is already done. For the `--version` we have #507

[2022-05-30 17:31] #13 closed

[2022-05-30 17:34] boryspoplawski commented on #22
@dimakuv is this still relevant after v1.2?

[2022-05-30 17:49] boryspoplawski opened #620 "Consider making `struct shim_handle::pal_handle` type specific"
Currently `struct shim_handle` contains a field `pal_handle` which has a reference to the underlying `PAL_HANDLE` or is `NULL`. See: https://github.com/gramineproject/gramine/blob/3f2478bfaf8e02194dc088964d1ed3f7d3f282dc/LibOS/shim/include/shim_handle.h#L205
Different types of LibOS handles have different semantics w.r.t. this field - some never have it (`NULL`), for some it's present and constant

[2022-05-30 21:09] #532 closed

[2022-05-31 01:01] mccoysc opened #621 "wrong "protected files" mode action"
## Description of the problem
current file position in a file opened with mode "a" or 'a+' should be set to the end of file for "append",but it's not in protected files.
## Steps to reproduce
in node js:
`fs.appendFileSync("/enc/encrypted_file.dat","data");//this function open file with mode "a" and append data to the end of file when run in normal os like linux or windows.`

## Expected results
i

[2022-05-31 01:06] mccoysc commented on #621
@oshogbo @mkow

[2022-05-31 01:09] mccoysc commented on #621
@pwmarcz

[2022-05-31 01:25] kvinwang commented on #614
Feel free to change the position.

We are building a blockchain-driven computing network. The tasks are dispatched to TEEs by each block at about 6s intervals.

The memory requirement grows along with the blockchain growth. The TEE program would do much allocation/deallocation when processing each block. And the memory requirement depends on the peak memory usage rather than the current because th

[2022-05-31 06:16] mccoysc opened #622 "file api work wrong on encrypted mount path"
## Description of the problem
in nodejs:
fs.existsSync work wrong,it seems that file api have some bugs when work on encrypted mount path(mount params: type="encrypted",uri="file:encrypted",path="/encrypted/",key_name="_sgx_mrenclave").
## Steps to reproduce

fs.existsSync("/enc/encrypted_file.dat");//this function return true if file exists or return false if file not exists when run in normal os

[2022-05-31 06:17] mccoysc commented on #622
@pwmarcz @oshogbo @mkow

[2022-05-31 06:28] dimakuv commented on #22
The deprecation of IAS API v3 was done in this PR: https://github.com/gramineproject/gramine/pull/453

The request to rewrite our IAS tools from C to Python were **not** done. I don't think this has any high priority. The tools work fine. By the way, the tools were renamed at some point, and their current names are `gramine-sgx-ias-request`, `gramine-sgx-ias-verify-report`.

Since the main part of

[2022-05-31 06:28] #22 closed

[2022-05-31 09:45] mkow commented on #621
@mccoysc: Please stop spamming random people with pings, we see the issues you post. If you want us to help you, then:
- Reword your whole issue, it's full of typos and chaotic, it's hard to get what's exactly the problem. If you want us to spend time helping you, then you also need to give some time from yourself to state the problem clearly.
- Post a full reproduction steps, so we can confirm th

[2022-05-31 09:45] #621 closed

[2022-05-31 09:46] mkow commented on #622
Same as https://github.com/gramineproject/gramine/issues/621#issuecomment-1141913872.

[2022-05-31 09:46] #622 closed

[2022-05-31 10:02] mccoysc commented on #618
really,`fs.appendFileSync` equals to `fopen('file','a);fwrite(,some_data);`
so data append to the file is expected.

[2022-05-31 10:16] mccoysc commented on #618
anothet another bug:
fs.existsSync always get returned value "false".
this function is used to be sure "the file/path exists?"

[2022-05-31 11:28] dimakuv commented on #618
@lejunzhu No, that's not like this. Gramine's *PAL component* doesn't support `O_APPEND`. But Gramine's *LibOS component* supports `O_APPEND` (at least from what I remember). So, LibOS emulates `O_APPEND` on top of PAL, without the PAL actually knowing that the file is opened in "append" mode (this happens by the LibOS layer updating the offset value and sending this offset value ot PAL, so that P

[2022-05-31 11:39] lejunzhu commented on #618
I tested it again, and in latest Gramine, allowed files have the same behavior (ignoring O_APPEND) as well.

[2022-06-02 12:06] mccoysc commented on #618
3rd another :
if an encrypted file is created by enclave "a", the code "fs.existsSync" in enclave "b" would always return false and fs.writeFileSync in enclave "b" always get crashed.

[2022-06-02 13:16] dimakuv opened #626 "[Pal/Linux-SGX] RFC: Support for Microsoft Azure Attestation"
## Microsoft Azure Attestation (MAA)

Microsoft Azure cloud provides its own service to attest enclaves, called Microsoft Azure Attestation (MAA), or simply Azure Attestation. MAA is a generic service that works on different TEEs, but we concentrate only on Intel SGX enclaves here.

### Concepts and definitions

MAA contains several concepts. For purposes of integration with Gramine, we need to un

[2022-06-03 01:08] monavij commented on #626
I like this proposal as it keeps attestation library preloaded in Gramine very simple where its sole job is to send the attestation evidence (quote) offer an RA-TLS channel to trusted Relying party. For full solution we will likely need to integrate with AKV as I can see that the next step after verification is to extract the secret from AKV using the token and sending to Gramine over RA-TLS chann

[2022-06-03 03:40] mccoysc opened #629 "remote attestation error"
## Description of the problem
in gramine/CI-Examples/ra-tls-secret-prov/:
`make app dcap files/input.txt`
and then run :
[code]
would get error:
![image](https://user-images.githubusercontent.com/18025276/171781267-cfd2a49f-0ef6-44d6-8e35-4230907415ef.png)
 and run `service aesmd status` would get the following information:

![image](https://user-images.githubusercontent.com/18025276/171781353-27e

[2022-06-03 03:41] mccoysc commented on #629
it seems it can't find local cert chain,but how i can resolve it?

[2022-06-03 08:22] thomasten commented on #626
For the RA-TLS use case, it makes perfect sense to me to have both the Client and the Relying Party role in the verify lib. All assumptions taken here seem correct to me.

If you ever want Gramine to directly provide the JWT attestation token (e.g., developers should be able to write Relying Parties without requiring your libs), you can probably move the Client code to the enclave host, so that yo

[2022-06-03 09:47] dimakuv commented on #626
### Some updates

- I added a section to the main issue on `Testing on MS Azure`. Testing was successful, I didn't encounter any particular issues.

### Reply to @monavij

Yes, this is exactly my plan. It actually fits nicely with the current Gramine libs:
- RA-TLS library will incorporate MS Azure Attestation (MAA)
- Secret Prov library will incorporate MS Azure Key Vault (AKV)

There is this sam

[2022-06-04 01:07] skris14 opened #633 "Request for AF_PACKET along with raw socket(SOCK_RAW) support."
## Description of the problem
Currently Gramine does not support AF_PACKET socket type.
For one of the application that we are running in Gramine, it
needs AF_PACKET socket along with SOCK_RAW (socket_type).
Currently, it looks like Gramine does not seem to support
raw socket(SOCK_RAW).

## Steps to reproduce
Any C application code, that invokes below:

int fd = socket(AF_PACKET, SOCK_RAW, htons(E

[2022-06-04 01:09] skris14 commented on #633
## Steps to reproduce
Any C application code, that invokes below:
'''int fd = socket(AF_PACKET, SOCK_RAW, htons(ETH_P_ALL));
if (fd == -1) {
    perror("socket");
    return -1;
}'''

[2022-06-04 01:42] skris14 opened #634 "Request for support for unix sockets(AF_UNIX), that use socket type-> SOCK_SEQPACKET"
## Description of the problem
Currently, Gramine does not support socket type  SOCK_SEQPACKET

## Steps to reproduce
Any C code that does below:
/* Create local socket. */
           connection_socket = socket(AF_UNIX, SOCK_SEQPACKET, 0);
           if (connection_socket == -1) {
               perror("socket");
               exit(EXIT_FAILURE);
           }

## Expected results

## Actual result

[2022-06-04 03:12] boryspoplawski commented on #633
@skris14 Could you elaborate more on what the workload does? From a quick look it seems to be a generic framework for managing network packets. It that's the case why would you want to run that inside an enclave?

[2022-06-06 18:54] skris14 commented on #633
@boryspoplawski , UPF(user-plane function, (https://github.com/omec-project/upf )) can get deployed in public cloud enviornment. So, by running the workload in SGX, we are protecting integrity of the code(by running it within SGX), in an untrusted public cloud deployment.

[2022-06-06 19:12] mythi opened #636 "packaging: dangling symlinks"
## Description of the problem

package `gramine` v1.2 has some dangling symlinks.

## Steps to reproduce

[code]

## Expected results

no dangling symlinks

## Actual results

see steps to reproduce

## Gramine commit hash

[code]

[2022-06-06 19:24] skris14 commented on #633
@boryspoplawski , like I have tried to explain, we are NOT trying to protect the pay-load, that is the outside scope. We are ONLY trying to run the code within SGX for the following reason-> UPF(user-plane function, (https://github.com/omec-project/upf )) can get deployed in public cloud enviornment. So, by running the workload in SGX, we are protecting integrity of the code(by running it within S

[2022-06-06 19:29] boryspoplawski commented on #633
Let me rephrase my question: what is stopping the "public cloud environment" from modifying the output from the enclave (network packets)?

[2022-06-06 19:31] skris14 commented on #633
@boryspoplawski , that is outside the scope, and we rely on end-to-end security like TLS between the 2 end-points. This UPF module is just like a router, that sits in-between two end-points.

[2022-06-06 19:37] boryspoplawski commented on #633
Nice! Then there is no reason in putting that "router" inside an enclave. If the malicious OS can modify the runtime behavior of that router, then it also can modify the packets as they leave. Putting the code inside the enclave protects from nothing in this scenario.

[2022-06-06 19:42] skris14 commented on #633
Hi Borys, I have tried to explain, that we are NOT protecting the payload, couple of times already. We are only protecting integrity of code by running in UPF in SGX, and with the requirement that end-to-end security be provided thro mechansims like TLS. We also protect security sensitive data managed by UPF, by using hash-maps in UPF, and these hash-maps get allocated in SGX memory. Hope it is cl

[2022-06-06 19:46] skris14 commented on #633
@boryspoplawski , are you available in slack, I can discuss via slack, if that helps to explain. Also Mona is familiar with the security requirements for this UPF work, so you can also check with her, if you have any further questions.

[2022-06-06 19:56] skris14 commented on #633
Just to clarify, this support (AF_PACKET) is missing  in Gramine. It shouldnt matter which application needs it.

[2022-06-06 19:57] boryspoplawski commented on #633
Yes, I know, I got it the first time.

And there is no point in protecting the code if you have no way of verifying the output was not modified.
If this "router" sits in-between two end-points, as you stated, then it's no difference if it's code runs inside an enclave - nothing it does needs protection, since all of it can be changed by malicious host OS anyway.

hash-maps as in https://en.wikiped

[2022-06-06 19:58] boryspoplawski commented on #633
It very much does matter, we are not going to spend time implementing a feature (a very complicated one as well) if it doesn't make sense to have it.

[2022-06-06 20:00] mkow commented on #633
@skris14: I'm sorry, but your description is really confusing and also doesn't make much sense to me.

Ok, so the code inside the enclave doesn't look inside the packets, it's only routing them? Then as Borys said, why is it running inside the enclave? You gain exactly nothing by using an enclave for this, because the routing may be altered by the host anyways, and the code running inside the encl

[2022-06-06 20:01] skris14 commented on #633
@boryspoplawski Sorry, if it is still not clear, the only way forward is to have a meeting and discuss. I can try to have a meeting with you.

[2022-06-06 20:03] skris14 commented on #633
@mkow This is a valid use-case, in our opinion. You can also talk to Mona, since she is aware of the security requirements for this use-case.

[2022-06-06 20:08] mkow commented on #633
@skris14: Instead of doing a meeting (which would consume a lot of our time) please just clearly describe what are you doing and your security model. I'm closing this until we get a clearer design from you (but this really seems like a by-design insecure use of SGX).

[2022-06-06 20:08] #633 closed

[2022-06-06 23:30] monavij commented on #633
@mkow  @boryspoplawski   The use case involves protecting UPF (User plane Function) VNF that receives user subscriber data and routes packets based on certain subscriber policies. So while we are not trying to protect the packet data we are trying to protect the private subscriber information and want to make sure no one can tamper with that process, so protecting the integrity of execution.

[2022-06-06 23:51] mkow commented on #633
But the host will always be able to tamper with it, the destinations of packets leaving the enclave can't be protected - they are both in clear text and modifiable, because the host and network devices need to know what to do with them.

[2022-06-07 01:49] monavij commented on #633
Yes so it depends on the threat model. DOS attacks can't be prevented as host is in control and they cna choose to not send packets etc and there are other ways to mitgate or detect such attacks. But the use case is to protect the privacy and confidentiality of sensitive subscriber info which can be leaked if UPF is not running in a TEE

[2022-06-07 13:24] boryspoplawski commented on #633
We are not talking about DOS attacks.

And what that sensitive info would be? Like routing tables? Ignoring the question why such info is sensitive, they could be inferred with the workload running in a TEE (e.g. log and match input to output packets and then you can deduce routing).

[2022-06-08 06:45] mHassan11 opened #640 "apt-get update and install gramine not working"
Hey, I am trying to [quick install](https://gramine.readthedocs.io/en/stable/quickstart.html#install-gramine) Gramine OS on a machine with following specifications.

When I run `sudo apt-get update` I get following output (I have highlighted what seemed to be error/issue).

`Ign:1 http://mirrors.byted.org/debian stretch InRelease`
`Hit:2 http://apt.byted.org/private stretch-private InRelease`
`Hit

[2022-06-08 10:02] sivashax opened #641 "Issue in creating Protected file"
## Description of the problem
With Gramine 1.2 TAG seeing issue with Protected file creation. When the protected file / plain txt file is already available, opening the file again in *write* mode is failing. FYI, this was working in previous version of Gramine.

## Steps to reproduce
Use attached sample program. Place it in gramine source directory and compile. Create "prot_dir" in /tmp for creati

[2022-06-08 10:03] sivashax commented on #641
[protect_file.tar.gz](https://github.com/gramineproject/gramine/files/8860542/protect_file.tar.gz)

[2022-06-08 10:50] woju commented on #640
On Tue, Jun 07, 2022 at 11:45:19PM -0700, Muhammad Hassan wrote:

[snip]

Debian stretch is very old (EOL'd two years ago, LTS ending this month).
I suspect too old ca-certificates package. Can you update this package before
adding our repo? If it won't, you'll have to update whole Debian (which you
should do anyway before end of June 2022).

Our certificate itself is fine, you can check by openin

[2022-06-08 13:44] dimakuv commented on #626
This is wrong. We don't need to add `maa` here. MAA is a higher-level flow that doesn't need to be known by the core Gramine. Only RA-TLS (which executes on top of Gramine) needs to be aware of the MAA flows.

**TODO: edit the root comment here.**

[2022-06-08 14:18] mHassan11 commented on #640
@woju Which version for Debian would you recommend (any particular version that Gramine OS was developed/tested on for Debian)?

[2022-06-09 06:56] dimakuv commented on #641
@mkow Could we assign someone to it?

[2022-06-09 07:49] dimakuv commented on #578
Just a note before I forget it again: after this redesign is done, and the documentation https://gramine.readthedocs.io/en/latest/manifest-syntax.html is updated, we must **move the syntax descriptions** from under SGX syntax to common syntax.

For example, currently Encrypted Files (https://gramine.readthedocs.io/en/latest/manifest-syntax.html#encrypted-files) are kept under "SGX syntax" section.

[2022-06-09 08:19] dimakuv commented on #592
**UPDATE**: The file to fix was changed in the meantime.

Now the workaround should be applied here: `LibOS/shim/src/arch/x86_64/fs_proc/info.c`.

See https://github.com/gramineproject/gramine/blob/3f2478bfaf8e02194dc088964d1ed3f7d3f282dc/LibOS/shim/src/arch/x86_64/fs_proc/info.c#L43?plain=1

[2022-06-09 10:12] oshogbo commented on #641
I can take a look.

[2022-06-09 10:28] woju commented on #640
Gramine is built on Debian 11 (bullseye/current stable), and tested mostly on
Ubuntu 20.04 (focal).

[2022-06-09 14:51] oshogbo commented on #641
It seems that the issue is the file truncation functionality in protected files.
[code]
The `fopen(..., "w")` from GLIBC uses `openat(2)` with `O_TRUNC` flag. This ends up calling the `pf_set_size` function with size equals to 0.
[code]

I will add at least 0 size truncation ASAP.

[2022-06-09 15:38] oshogbo commented on #641
[sivashax](https://github.com/sivashax) Could I ask you for a code that was working for you on 1.1? Probably you have a different manifest file. The example you sent works on 1.2 (and I was able to reproduce the bug) but doesn't work on 1.1 at all.

[2022-06-10 00:59] skris14 commented on #633
Had an internal conversation with colleague (Michael), and one thing, that I missed to mention in this discussion, is that as per 3GPP specification, the traffic flowing thro UPF will have protection through IPSec ESP(confidentiality, integrity and more), which should help mitigate the security concerns.

[2022-06-10 03:23] boryspoplawski commented on #633
Like a tunnel between two endpoints and UPF just acting as a middleman or multiple tunnels terminated in UPF?

[2022-06-10 09:05] sivashax commented on #641
Yes, since there is change in manifest syntax w.r.t Protected files, the earlier attached manifest file doesnt work with Gramine 1.1 TAG. Attached the manifest file for Gramine 1.1 TAG.
[protect_file.manifest.template_gramine1.1.zip](https://github.com/gramineproject/gramine/files/8877480/protect_file.manifest.template_gramine1.1.zip)

[2022-06-10 09:13] woju commented on #633
You're welcome to write at our mailinglist (users-at-gramineproject.io), or we have a gitter channel, https://gitter.im/gramineproject/community, which you can also access from matrix as https://matrix.to/#/#gramineproject_community:gitter.im, but the final design of this RFC/feature request and (if accepted) subsequent review of the implementation will necessarily happen here on github.

[2022-06-11 16:37] mkow commented on #614
It's not about its position in the file, but about having something in that file which isn't there on Linux.

This case seems super-specific to your app, we'd rather not introduce a public interface for this (consider that if we introduce it, then we'll need to support it for ever - so, if we'd do this for every app-specific request, they we'd end up with unmaintainable codebase).
What we could do

[2022-06-12 01:24] kvinwang commented on #614
I meant we can put it somewhere else rather than in that file. Linux put it in `/proc/[pid]/status` for example.
[code]

I don't think `peak memory usage` is specific to our app. Both Linux and Intel sgx-sdk support it. It's just a fundamental and generic feature.
`Peak usage` is more important than `current usage` for a sgx applications because every app would have to configure the max available

[2022-06-13 05:20] h4x3rotab commented on #614
I agree with @kvinwang. On Linux you have basically two ways to get the peak memory usage. Either by reading VmPeak in `/proc/$PID/status`, or sampling the process periodically. However in the context of SGX, it's not really practical to attach some profiler to the process. So I'd love the earlier approach.

[2022-06-13 06:43] dimakuv commented on #614
I think we can add `/proc/[pid]/status` without problems.

Our misunderstanding was that the first proposal was about `/proc/meminfo`. But introducing `/proc/[pid]/status` and having `VmPeak` there is surely reasonable.

[2022-06-13 14:19] mHassan11 commented on #640
Thank you for response. Is there a docker image as well which I can use as well?

[2022-06-13 15:40] dimakuv commented on #626
TODO: I was wrong about the `certs/` API endpoint. Edit the root comment to reflect how and why it should be used.

[2022-06-13 22:15] mkow commented on #614
Ok, that's a completely different case, here it's actually an interface which a real Linux exposes. Your original proposal was different and I was commenting on that version.

Yes, but what you asked for was peak usage _in runtime_, _available only to the app inside Gramine_ (thus harder to retrieve for the developer tweaking manifest config manually). And what I proposed was actually more useful

[2022-06-14 01:29] kvinwang commented on #614
Can't agree.
- Most serious apps would report runtime metrics to their monitor platform. As an SGX application, `peak memory usage` of cause should be added to the metrics list. And in many cases, the manifest config should be tuned according to the real-world metrics analysis instead of the original tweaking in the laboratory.
- We shouldn't only consider `the most common case`. If Linux consider

[2022-06-14 06:59] dimakuv commented on #614
Hehe, I love this statement and fully agree :)

Anyway, looks like we have a consensus: we should add `VmPeak` stats into the pseudo-file `/proc/<pid>/status`. Can we assign someone to this @mkow ?

[2022-06-14 07:22] aneessahib commented on #626
@dimakuv
So the client side would perform the regular RA-TLS flow, correct? And will the client side ever know  (or need to know) what the attesting backend is? (MAA or DCAP) .

[2022-06-14 07:49] aneessahib commented on #626
Apologies- i mixed up the terminology. I meant to say - the host enclave - performs a regular RA-TLS flow unaware of what flow the verifier is going to take (MAA or directly use DCAP libs).

[2022-06-14 08:11] dimakuv commented on #626
Yes, this is exactly correct.

[2022-06-14 11:43] mkow commented on #614
I'm not that sure, your app is the only case doing this in SGX we heard of so far. And the latter part of the argument - this is equally possibly with the logs solutions. Maybe in non-SGX world this is more popular, but here you can't easily react to whatever you read as peak memory usage from the app perspective, it's only the orchestrator which can react to it, and it can do this equally well fr

[2022-06-14 16:04] boryspoplawski commented on #591
@svenkata9 Could you check if https://github.com/gramineproject/gramine/pull/650 works for you?

[2022-06-15 02:44] Simon-aikuier opened #653 "Golang netpoll panic for gramine sgx"
I have a complex application about golang. Its main function is to read data from the database, process by service and send results via kafa. when i test the process service in gramine sgx, it will happen some panics. This process service can work well on normal linux system. So i report this problem and want to know whether gramine can run complex golang applications and whether there are restric

[2022-06-15 06:34] dimakuv opened #654 "SGX attestation leftovers"
## Description of the problem

During my work on SGX attestation, RA-TLS, Secret Provisioning and MAA, there were several issues raised. I'll need to create PRs to fix each of them:

- [ ] Update the `attestation` readthedocs page with more specifics:
    - A clear distinction between "attestation evidence" (= SGX quotes), "attestation results" (aka "attestation report", "attestation claims"), and

[2022-06-15 11:25] dimakuv commented on #653
@Simon-aikuier Looks like some problems in network polling. I'm not aware of this issue/bug, but generally Go applications typically work fine in Gramine.

Could I ask you to try this PR: https://github.com/gramineproject/gramine/pull/579 ? It imrpoves the networking subsystem in Gramine, and hopefully your app will be more stable. We will merge this PR some time soon.

[2022-06-15 13:11] boryspoplawski commented on #653
b) is duplicate of https://github.com/gramineproject/gramine/issues/261 and will be fixed by #579. For the rest I have no idea, there is no meaningful information there.

[2022-06-15 14:03] mkow commented on #641
@sivashax: Could you check if  https://github.com/gramineproject/gramine/pull/651 fixes your problem?

[2022-06-15 14:56] XNinety9 opened #655 "Packaging a complete Node app with Gramine"
Hi.

I've been fiddling with Gramine for a few day, and I have a question.

I want to run a complete NodeJs app with gramine. To be precise: Node-Red. I use the [nodejs](https://github.com/gramineproject/examples/tree/master/nodejs) from the [example](https://github.com/gramineproject/examples) repo as a starter.

My naive approach to pack NodeRed is to git-clone it inside the nodejs example's fol

[2022-06-15 14:57] svenkata9 commented on #591
@boryspoplawski Yes, we tested it today and #650 fixes it.

[2022-06-15 15:13] dimakuv commented on #655
So your problem is adding all the relevant files to `sgx.trusted_files`? There are two simple solutions I can see:

1. You can add whole directories as trusted files: `sgx.trusted_files = [ "file:dir1/", "file:dir2/", ...]`. This is much easier and faster than adding each required file.
2. *For testing and development purposes only*, you can put `sgx.file_check_policy = "allow_all_but_log"`. This

[2022-06-15 18:47] skris14 commented on #633
there is ipsec tunnel between the radio-tower and UPF.

[2022-06-15 20:08] dzygann opened #656 "Unknown Handle Exception"
Hi,

I did some tests with an enclaved nginx (See [Repo](https://github.com/enclaive/enclaive-docker-nginx-sgx)).
I left the nginx in the idle mode and after a while (approx. 5 min) the nginx was down.

Here are the information from the terminal output:

[code]

Do you have an idea what the issue is?

Thanks in advance!

Denis

[2022-06-15 20:20] boryspoplawski commented on #656
The old networking code is buggy and was rewritten: https://github.com/gramineproject/gramine/pull/579. Should be merged ~soon.

[2022-06-15 23:46] woju commented on #640
Please check GSC project (https://github.com/gramineproject/gsc), which is our
docker integration. We're thinking about "plain" docker with just gramine
installed, but it's not available yet.

[2022-06-15 23:49] woju commented on #640
I'm closing this issue. I'm assuming you've solved the problem with too old ca-certificates, since the discussion moved away -- if not, please comment and I'll reopen. If you have any further questions about usage, please ask them on users@gramineproject.io.

[2022-06-15 23:49] #640 closed

[2022-06-16 00:16] Simon-aikuier commented on #653
Thanks, i will try it as soon and feedback more information.

[2022-06-16 06:17] llly commented on #500
Yes. It fixes issue.

[2022-06-16 15:45] Villain88 commented on #513
Hello. Is this feature not implemented yet? I couldn't find something similar in documentation and commits.

[2022-06-17 09:40] boryspoplawski commented on #468
Maybe you did not add all necessary files to protected, trusted or allowed files in manifest file?

[2022-06-17 09:57] boryspoplawski opened #657 "Sockets rewrite follow-ups and leftoevers"
After https://github.com/gramineproject/gramine/pull/579 there are still some less important TODOs and cleanup ideas:
- Clean unused stuff from `struct handle_ops` in `Pal/include/pal_internal.h` (e.g. `readbyaddr`).
- Clean up socket/listen/bind/connect ocalls. Currently there are two versions of them (one doing a single syscall, other batching a few) - we need to at least change the names to som

[2022-06-17 12:03] sivashax commented on #641
@ mkow, yes this fixes our problem. Thanks for support. Please let me know, when this PR would be integrated into Master branch.

[2022-06-17 21:25] #87 closed

[2022-06-17 21:25] #164 closed

[2022-06-17 21:25] #261 closed

[2022-06-17 21:25] #262 closed

[2022-06-17 21:25] #322 closed

[2022-06-17 21:25] #326 closed

[2022-06-17 21:25] #458 closed

[2022-06-17 21:25] #500 closed

[2022-06-17 21:25] #538 closed

[2022-06-17 21:25] #556 closed

[2022-06-17 21:30] boryspoplawski commented on #656
@dzygann #579 was merged, please try the current master

[2022-06-17 21:42] boryspoplawski commented on #468
Closing this as: https://github.com/gramineproject/gramine/pull/579 was merged, so all issues should be fixed (except for missing support `SCM_RIGHTS`, but we don't have plans for implementing it in the near future and workarounds exist).

[2022-06-17 21:42] #468 closed

[2022-06-17 21:46] boryspoplawski commented on #238
@shenyuchenx DId you check #579? It was just merged, so you can just check the newest master. Let me know if nginx works for you now

[2022-06-17 21:47] boryspoplawski commented on #653
@Simon-aikuier  #579 was just merged, so you can try the newest master.

[2022-06-17 23:30] mkow commented on #513
@Villain88: Nope, it's not implemented yet (you can see that this issue is still open ;) ).

[2022-06-18 11:39] yanzhichao commented on #468
It will not be,  beacase I run the app in container, so I sance all the file, and add to manifest as trusted.

Maybe have some other problem,  the trace log when I requested  is as fellow:

trace log

[code]

[2022-06-18 11:44] aep commented on #468
EAGAIN is possibly due to epoll. TLS has different timing than naked http. just disable it.

https://github.com/gramineproject/gramine/issues/468#issuecomment-1088483451

[2022-06-18 13:22] yanzhichao commented on #468
I swich to select, but still not worker

nginx.conf
[code]

error log
[code]

[2022-06-18 13:43] dzygann commented on #656
Hi @boryspoplawski,

I  just tested it and I can't reproduce the issue.
Seems to work 👍

Thanks for your help!

[2022-06-18 13:43] #656 closed

[2022-06-18 21:28] boryspoplawski commented on #468
@yanzhichao The first log seems to be ok, I don't see anything failing in there... Actually, there is `getsockopt(x, SOL_SOCKET, SO_ERROR)`, but no way to know what it returned. Hm, maybe it returned `-EAGAIN` that was reported. Are you sure you are running the sockets PR (#579) or the current master as I asked before? This shouldn't be an issue now.

@aep That was fixed over two months ago, why w

[2022-06-19 12:49] boryspoplawski opened #660 "RFC: Remove "shim" prefix from LibOS code"
After https://github.com/gramineproject/gramine/pull/659 is merged it'll be time to finally get rid of "shim" prefix completely. To do that, we need to decide on how to do the rename exactly. My proposal - consists of a few cases:
A) Files - `shim_async.c` -> `libos_async.c`
B) Strucutres, types, defines etc. - `struct shim_handle` -> `struct libos_handle`.
C) Syscall wrappers - `shim_do_read` ->

[2022-06-19 12:52] yanzhichao commented on #468
I have try the last commit which [Completely rewrite networking code](https://github.com/gramineproject/gramine/commit/c1283b797a688bcd63fc7f42d8b0a0a511dda8b3)

the error is same, still not work @boryspoplawski

[2022-06-19 13:14] boryspoplawski commented on #468
@yanzhichao  Could you provide log trace of the failing run?

[2022-06-19 13:38] yanzhichao commented on #468
sorry, I rebuild the gramine use latest master again, it work now. I may have just confused the version.

ok, summary:
 + v1.1 , when do Reverse proxy,  it will timeout.
+ v1.2 , when do Reverse Proxy which to https,  it will  occure `[alert] 7#0: *1 connect() failed (11: Resource temporarily unavailable) while connecting to upstream, client: 127.0.0.1, server: , request: "GET /jxbapi/jxbs/api/v1/

[2022-06-19 13:41] boryspoplawski commented on #468
Good to hear

[2022-06-20 01:21] shenyuchenx commented on #238
I did not have time to check it yet. I will let you known as soon as it is checked.

[2022-06-20 02:59] Simon-aikuier commented on #653
ok, thanks. I will try the newest master this week.

[2022-06-20 07:21] dimakuv commented on #24
@pwmarcz Is this meta-issue completely done? Can it be closed?

[2022-06-20 07:58] dimakuv commented on #660
For C, why not `libos_syscall_read`? This will make it clear that the LibOS component is handling the `read` syscall.

[2022-06-20 08:00] boryspoplawski commented on #660
`libos_syscall_read` is nice!

We also strip `do_`

[2022-06-20 08:41] aniket-intelx commented on #458
The testcase continues to fail with latest master. Please find the attached logs.
[bind01_fail_log.txt](https://github.com/gramineproject/gramine/files/8938989/bind01_fail_log.txt)
[bind01.manifest_sgx.txt](https://github.com/gramineproject/gramine/files/8938991/bind01.manifest_sgx.txt)

[2022-06-20 09:01] #591 closed

[2022-06-20 10:01] boryspoplawski commented on #458
@aniket-intelx it works for me.
Are you sure you are using the latest master? From the log I see you are not building from git but some local copy, so cannot confirm, please make sure it's up to date.
Also does this test pass for you without Gramine? Maybe it's an issue with your machine configuration? The tests has some assumptions, quoting the source: `assumes 10.255.254.253 is not a local inter

[2022-06-20 10:23] oshogbo opened #663 "mmap(2) tests fail on SGX"
## Description of the problem

As pointed out by @dimakuv, the `test_204_copy_dir_mmap_whole` test from the `test_fs.py` is marked as failing with the SGX. We would like to debug why this is happening.

[2022-06-20 10:23] oshogbo commented on #663
I can look into this.

[2022-06-20 12:01] gus6202 opened #664 "Issue in running python example with SGX (version 1.2)"
## Description of the problem
Hello,
I was trying to run helloworld.py with sgx, however, it got stuck when was parsing TOML manifest file.

## Steps to reproduce
After make SGX=1
[code]

## Expected results

## Actual results
After gramine-sgx python scripts/helloworld.py :
[code]
And don't progress. In last version (1.1) was working fine.

## Gramine commit hash

[2022-06-20 12:08] dimakuv commented on #664
No idea. Works for me. Could you provide some more details? Test some more?

[2022-06-20 12:44] bronzeMe opened #665 "Does gramine support EDMM feature?"
## Description of the problem

* Gramine usually take a long time to load an application into enclave, which provably due to the high overhead of creating or adding EPC page.
* So, EDMM feature of SGX 2.0 may be a solution to reduce the overhead of loading a gramine-sgx application.
* The questions are:
* Q1: Does gramine support EDMM feature? and how do we enable it?
* Q2: Is there other nice opt

[2022-06-20 12:52] mkow commented on #665
No, but we're working on this actively (mostly @vijaydhanraj). The biggest blocker right now is that EDMM support was not upstreamed to Linux yet.

[2022-06-20 13:11] mkow commented on #665
Umm, this is a _driver_. You can't "invoke" it without having it already inside the kernel.
And also, the driver you linked to was deprecated long time ago.

[2022-06-20 16:38] the729 opened #668 "Cannot render with blender example on J4105 NUC"
## Description of the problem

Blender example not working on NUC running with J4105 CPU.
Helloworld example runs without problem.

## Steps to reproduce

Ubuntu 18.04 with 5.15 kernel.
Run blender in CI-Example.

## Expected results

Renders the frame.

## Actual results

Got error:
[code]

## Gramine commit hash

Installed using repo in https://gramine.readthedocs.io/en/latest/quickstart.html
ve

[2022-06-20 16:44] gus6202 commented on #664
Hello, thanks for replying.
I can't run any python examples (got stuck in ```Gramine is starting. Parsing TOML manifest file, this may take some time...```).
 The example from Quick start (helloworld application) i could build and run with SGX.
[code]
 I don't know if the last version (v1.1) installation is interfering somehow.
PS: I already reinstalled gramine (v1.2) in case if I was missing some

[2022-06-21 03:38] bronzeMe commented on #665
Thanks, your comments are helpful.

[2022-06-21 10:02] dimakuv commented on #592
**UPDATE:** The file to fix was changed again (the path to it changed).

Now the workaround should be applied here: `LibOS/src/arch/x86_64/fs_proc/info.c`. (`shim/` intermediate dir was removed.)

[2022-06-21 10:07] p-vernaeckt commented on #655
I'm exploring the GSC path. I had to make a custom version of NodeRed's image (to be based on ubuntu), make use of [non-root PR](https://github.com/gramineproject/gsc/pull/60), I finally got the GSC process to complete.

Now to the `docker run` phase. When running the GSC-ed image with
[code]
 I get a huge error trace:

[code]

Is there something wrong with my image?

[2022-06-21 10:16] aniket-intelx commented on #458
With latest master, it is working for me now. Thanks for the help.

[2022-06-21 11:13] dimakuv commented on #664
Hm, no idea what's going on with your environment.

Could you try to build Gramine manually (not install from a package)? You can follow https://gramine.readthedocs.io/en/latest/devel/building.html.

[2022-06-21 11:55] dimakuv commented on #668
Yes, it is a real bug in Gramine (too restrictive sanitization of CPUID leaf `0x7`).

Could you try https://github.com/gramineproject/gramine/pull/670 ? It should fix it.

[2022-06-21 19:00] gus6202 commented on #664
Ok, I did what you said but I couldn't fix it. I forgot to show you what happens if i debug.
So after ``` make SGX=1 DEBUG=1```
[code]
And when I run: SGX=1 ./run-tests.sh:
[code]

[2022-06-22 06:48] dimakuv commented on #664
Sorry, honestly no idea what's going wrong. I suggest you to try to start with a completely clean state (ideally, if you're using a cloud VM, delete this VM and create a new one).

[2022-06-22 06:55] p-vernaeckt commented on #655
Ok, added the `sys.insecure__allow_eventfd = true` command to the manifest, it works a bit better. Still not completely though, [here is the log](https://gist.github.com/p-vernaeckt/8267e2a98e6b0b39148ebacc1739aad1) (it's a bit too big to fit inline).

[2022-06-22 11:10] gus6202 commented on #664
Hey, I don't know why, but it's working after I restart the system. Well, sorry for disturbing and thank you.

[2022-06-22 11:14] Villain88 opened #673 "Domain name resolution stopped working"
## Description of the problem
Domain name resolution stopped working on the latest version (5a39aee217955701b412d4ff807c32da8e53ab94).
Previos version (57b2cb30e7def6e1f34f8875496952b9c1d310ae) didn't have that problem.

## Steps to reproduce
Some of my applications stopped recognizing domain names. I reproduced the problem by writing simple code:
[code]
The required files are allowed in the manif

[2022-06-22 11:16] #664 closed

[2022-06-22 11:25] gus6202 opened #674 "Include GRPC package (python) in sgx.trusted_files"
## Description of the problem
Hello,
I was trying to compile a python script with SGX, but I can't because I'm importing packages that are not included in sgx.trusted_files. Can anyone say where I can add the packages?

## Actual results
After I run gramine-sgx python ...
[code]

[2022-06-22 12:21] #674 closed

[2022-06-22 12:28] boryspoplawski commented on #673
I'll take a look.
@dimakuv you cannot change blockingness (`O_NONBLOCK`) with `setsockopt`. This one seems to be just a random IP socket option we do not support

[2022-06-22 12:49] boryspoplawski commented on #673
This is `setsockopt(SOL_IP, IP_RECVERR)` which is not supported in Gramine. It allows for receiving errors from socket fd as `struct sock_extended_err` using `recvmsg` and `MSG_ERRQUEUE` flag. None of this is supported and adding it is non-trivial.

[2022-06-22 13:05] boryspoplawski commented on #673
Since there were no errors happening in runtime, the code did not try to retrieve them, so the only unsupported syscall made was this `setsockopt`, which completely ignored the option and returned `0`.

[2022-06-22 14:39] boryspoplawski commented on #673
@dimakuv because everything happens under the hood. `gethostbyname` sounds innocent, but it has to query a DNS server which requires parsing all configuration and what not. Among others, it creates a UDP socket and tries to set that option on it.

[2022-06-22 14:42] Cosmin2106 opened #675 "Cannot resolve host names from within Gramine"
## Description of the problem

I have built a test prototype of a Java application compiled with Graal VM 22.1.0 that simply makes a GET request to https://www.google.com/ and prints the output to the console. The code is attached below:

[code]
The class file is  compiled as follows: `native-image --enable-url-protocols=https SocketFactTest` (since the java file is called `SocketFactTest.java`).

[2022-06-22 14:44] boryspoplawski commented on #675
Most likely duplicate of https://github.com/gramineproject/gramine/issues/673

[2022-06-22 14:51] dimakuv commented on #673
Yes, I understand it. What I meant is that `gethostbyname()` standard lib function is widely used, and we need to support it.

Anyway, we discussed it offline, Borys will create a PR to fix this (in a "lazy fail" fashion).

[2022-06-22 15:16] mHassan11 opened #676 "Gramine-SGX Docker Image: SGX signer private key was not found, please specify SGX_SIGNER_KEY!"
Hello, I created a docker image and tried helloworld example in `gramine/CI-Example/helloworld` folder inside the docker container but I am facing an error regarding SGX Private Key.

[code]

Following is the error that I face when I run `make SGX=1` in `/gramine/CI-Examples/helloworld`
[code]

Can anyone help me how can I resolve this Private key error? Or if I am missing anything else? Thank you

[2022-06-22 16:39] boryspoplawski commented on #673
@Villain88 Please verify if https://github.com/gramineproject/gramine/pull/678 fixes the issue (it does for the repro code)

[2022-06-22 16:39] boryspoplawski commented on #675
@Cosmin2106 Please verify if https://github.com/gramineproject/gramine/pull/678 fixes the issue

[2022-06-22 17:08] mkow commented on #676
By using up-to-date Gramine ;)

[2022-06-22 17:08] #676 closed

[2022-06-23 07:59] Simon-aikuier commented on #653
I have test on master, commit: 63d8dca. But my service start failed because of network problems when it pull config from config service via http. It seems like the problem c) i reported before on gramine v1.1, but i didn't open sgx.rpc_thread_num.

some trace info:
[P1:T7:xxx-service] trace: ---- shim_nanosleep([0,20000], 0) ...
[P1:T17:xxx-service] trace: ---- shim_clock_gettime(1, 0x101ff6cb0) =

[2022-06-23 08:14] dimakuv commented on #653
I guess we collected all the Pokemons with these unsupported `setsockopt()` :)

@Simon-aikuier I guess you will also need the PR https://github.com/gramineproject/gramine/pull/678.

[2022-06-23 09:11] Simon-aikuier commented on #653
Thanks for your prompt reply. I lookup the trace log, and find the error info as follow:
[P1:T17:xxx-service] trace: ---- shim_setsockopt(3, 1, 6, 0x10884e3d8, 4) = -92

It looks same with #673. Can it prove to be the same problem?

[2022-06-23 11:15] Simon-aikuier commented on #653
I have test #678, sorry to say that but it can not solve my service problem. The trace infos on #678 as follow:

1. some trace infos before and after the error:
[::] debug: Gramine was built from commit: 2542b4a0f490e46752013b96bd3622ecba2dbd13
[P1:T1:xxx-service] trace: ---- shim_socket(INET, SOCK_NONBLOCK|SOCK_CLOEXEC|DGRAM, 0) = 0x3
[P1:T1:xxx-service] trace: ---- shim_setsockopt(3, 1, 6, 0x1a8

[2022-06-23 11:15] p-vernaeckt commented on #655
Same result, no Js error this time though:

[code]

I'm starting to think that shoving NodeRed+NodeJs into an enclave might be way too much, even with the help of Gramine.

[2022-06-23 11:19] dimakuv commented on #655
Well, but you're making progress :)

Any error from NodeRed? The Gramine logs look fine. Where is the error?

[2022-06-23 11:20] dimakuv commented on #653
So the unsupported options are `1, 9`, `6, 1`, `6, 5`. @boryspoplawski Could you check what these are?

[2022-06-23 14:09] mkow commented on #641
@sivashax: We just merged https://github.com/gramineproject/gramine/pull/651, I'm closing this issue.

[2022-06-23 14:09] #641 closed

[2022-06-23 15:05] p-vernaeckt commented on #655
I activated the most verbose logging mode in node red, launched the docker image as-is, NodeRed indeed logs a lot of info to the console and launches fine.

Gamine build/sign the image, launch it, I only get Gramine's logs, same as above. From what I see NodeRed doesn't even start.

Here is my manifest, if it can help...

[code]

[2022-06-23 15:08] mkow commented on #655
Aren't you missing the entrypoint from it? How can Gramine know what binary to start?
I assume you just copied the manifest incorrectly?

[2022-06-24 08:10] dimakuv commented on #655
@p-vernaeckt Your manifest has a couple problems, which *may* be the cause of your NodeRed not running properly.

- `sgx.debug = true` -- this is wrong. In GSC, you're supposed to give a [`-d` option to `gsc build`](https://gramine.readthedocs.io/projects/gsc/en/latest/#cmdoption-gsc-build-d). GSC always **ignores** the `sgx.debug` option specified in the manifest. It shouldn't harm in your tests,

[2022-06-24 08:53] Villain88 commented on #673
Sorry for the long wait.
Thank you, a simple example in the issue header now works.

But when using boost, the problem is not solved:

[code]
I get an error:  Host not found (non-authoritative), try again later.
Previos version (https://github.com/gramineproject/gramine/commit/57b2cb30e7def6e1f34f8875496952b9c1d310ae) didn't have that problem.

I am confused about the boost templates to find the i

[2022-06-24 09:36] p-vernaeckt commented on #655
I removed a few lines from my manifest, which looks like this now:

[code]

However, I already use the CLI args you mention:

[code]

[2022-06-24 09:45] dimakuv commented on #655
Yes, this looks good now.

Well, your workload will need more debugging and analysis then...

[2022-06-24 15:19] Simon-aikuier commented on #653
@boryspoplawski @dimakuv
Thanks for your checking. So how to solve this problem? it seems to be common options, and the service can be started normally on gramine v1.1.

[2022-06-24 18:09] vijaydhanraj opened #683 "RFC: SGX2 support in Gramine (Phase 1)"
SGX1 instruction set requires all enclave memory to be committed at enclave build time.  It also requires the developer to predict and use maximum heap and stack sizes in the enclave build.  Likewise, additional code modules cannot be dynamically loaded into the enclave environment after enclave build.  This increases enclave build time and limits the enclave’s ability to adapt to changing workloa

[2022-06-24 23:50] boryspoplawski commented on #673
@Villain88 Please check https://github.com/gramineproject/gramine/pull/684. It adds `FIONREAD` support for sockets. The example you posted works for me now.

[2022-06-25 16:56] the729 commented on #668
#670 fixes my issue.

[2022-06-26 15:48] Villain88 commented on #673
Unfortunately, I was not able to build the version from the branch #684 . I get the error "api_fortified.h:37:25: error: expected declaration specifiers or '...' before '__builtin_object_size'". I tried gсс9, gcc10 and gcc11 compilers

[2022-06-27 10:24] mkow commented on #653
It's exactly the opposite - because it's set on UDP, it _has_ effect. It's a no-op on TCP.

[2022-06-27 10:44] boryspoplawski commented on #653
We should probably add support for `SO_BROADCAST` (I guess a simple passthrough would be fine here).
Not sure what to do with `TCP_KEEPINTVL`. Actually we can ignore it for now - as seen in log from v1.1 this app starts fine even with this `setsockopt` failing.

[2022-06-27 10:56] dimakuv commented on #653
That's what I wrote. But my sentence had too many "not"s, I guess :)

I agree with @boryspoplawski's assessment.

[2022-06-27 12:15] boryspoplawski commented on #673
@Villain88 Please clone the repo again - the recent rename we did caused some issues with Meson. I got the same error when I tried to build it in my old setup (even removing meson internal files and build dir didn't help, no idea why) but it works well on a fresh repo.

[2022-06-27 17:55] boryspoplawski commented on #653
@Simon-aikuier please try https://github.com/gramineproject/gramine/pull/686

[2022-06-28 07:45] dimakuv opened #688 "[LibOS] tmpfs: no limit on file size"
## Description of the problem

Gramine implements `tmpfs` FS type, see https://github.com/gramineproject/gramine/blob/master/libos/src/fs/tmpfs/fs.c.

However, there is no limit on the file size or on the size of the whole `tmpfs` filesystem. The only limits are the natural ones: file size is limited by `int64_t` max representable value, and the size of the whole FS is limited by the size of the S

[2022-06-28 08:14] dimakuv opened #689 "RFC: Sanitization of `/etc/` files"
## Description of the problem

Currently we put files like `/etc/resolv.conf` in the `sgx.allowed_files` list for simplicity. Example: https://github.com/gramineproject/gramine/blob/f7eae7eafab97b74023aadf279fb024cff9b8c78/CI-Examples/redis/redis-server.manifest.template#L130-L142

Having these files under `sgx.allowed_files` is not secure. They are read by e.g. Glibc which doesn't expect them to

[2022-06-28 08:50] Villain88 commented on #673
Thanks, after cleaning the repository and rebuilding everything worked

[2022-06-28 09:21] dimakuv commented on #683
Thanks for the great write-up! Very easy to follow.

Please add a *separate* LibOS test (maybe several, but I would prefer just one test). This way we can just mark this particular test as "requires-EDMM" and skip it in our normal CI, and only run it in the EDMM-enlightened CI.

[2022-06-28 20:44] vijaydhanraj commented on #683
Sure will do, it makes sense to do it this way.

[2022-06-29 05:16] kailun-qin commented on #511
Agree, IMO a stub should be fine for now. BTW, I don't see any of the other SGX LibOSes (Occlum, mystikos, sgx-lkl) have actual support for `fadvise64()` neither.

[2022-06-29 05:24] kailun-qin commented on #592
Some questions below:
1. I see there are ["whitelisted" flags](https://github.com/gramineproject/gramine/blob/ecca6b5567981626f5874a99594634754b691823/pal/src/arch/x86_64/pal_cpuid.c#L23) stored in `pal_cpu_info->cpu_flags` but seems like they are not actually used anywhere. May I know the intention for them?
2. Do we intend to support all CPU cap flags via `DkCpuIdRetrieve()` or just a subset of

[2022-06-29 06:12] kailun-qin opened #694 "`handle.file.map_start` is unused"
## Description of the problem
`handle.file.map_start` initially introduced for fork emulation in https://github.com/gramineproject/graphene/commit/b8031c4224021f3943a87093f40c91ce4e431f34 was removed by https://github.com/gramineproject/gramine/commit/a95c063436053b218904d9da7e3e4dcaf4177397. It's not used any more so that we can remove it.

## Gramine commit hash
ecca6b5567981626f5874a99594634754

[2022-06-29 07:12] kailun-qin opened #696 "`file_stat_type`, `file_attrcopy`, `is_dot_or_dotdot` can be moved to Linux-common header"
## Description of the problem
`file_stat_type`, `file_attrcopy` and `is_dot_or_dotdot` are shared between pal/linux and pal/linux-sgx, hence can be moved to Linux-common header.

## Gramine commit hash
ecca6b5567981626f5874a99594634754b691823

[2022-06-29 07:31] Simon-aikuier commented on #653
@boryspoplawski
Thanks for fix. I test my service on #686. 1) it can start normally. 2) it sees the c) problem also solved after i open sgx.rpc_thread_num.

For the b) stable problem, i need some time to test it. I will feedback the result as soon. Thanks.

[2022-06-29 08:14] boryspoplawski commented on #511
There are multiple options to `fadvise`, but we can definitely implement some of them (or even all, someone would need to analyze) as no-op, as this would be not distinguishable for the user app.

[2022-06-29 08:21] Cosmin2106 commented on #675
@boryspoplawski unfortunately the problem still persists. The output is the same as the one from above.

[2022-06-29 08:29] boryspoplawski commented on #694
Please do not create issues if you submit a PR fixing them at the very same time, the PR is enough :)

[2022-06-29 08:57] kailun-qin commented on #694
Gotcha, thanks borys! (it was just from my team's ask ;))

[2022-06-29 09:29] boryspoplawski commented on #675
Could you provide a log with `log_level = "all"`? We could see what syscalls are failing

[2022-06-29 10:17] billionairiam opened #698 "Enable 2-step signing in gramine sign tool"
## Description of the problem
**The 2-step signing process protects the signing key in a separate facility. **

1. First step: At the end of the enclave build process, the signing tool generates the enclave signing material. The ISV takes the enclave signing material file to an external signing platform/facility where the private key is stored, signs the signing material file, and takes the result

[2022-06-29 11:13] boryspoplawski commented on #698
Duplicate of https://github.com/gramineproject/gramine/issues/11

[2022-06-29 11:13] #698 closed

[2022-06-29 15:04] Cosmin2106 commented on #675
Sure, dumping with `all`, I get the following output:
[code]

[2022-06-29 17:35] NieDzejkob opened #702 "Issues preventing running Go applications in Gramine"
Go (also known as Golang) is one of the languages currently popular for writing applications in. Ideally it would be possible to run those within Gramine. However, some issues within the Go runtime make that unreliable and slow.

# Syscall interface

Gramine needs to be in charge of handling all syscalls made by the application. The recommended way to achieve this is to use a specific `call` instr

[2022-06-30 00:42] mkow commented on #689
This is a wrong/misleading term, as Gramine is not overriding anything. It's a separate operating system, and the plan is to _emulate_ these files based on whatever we gathered on the host (which may not even be Linux in theory).

It would be easier if these were from a special kernel fs, like sysfs, but since this isn't the case we can either:
- Just silently emulate them without the user asking.

[2022-06-30 00:44] mkow commented on #688
I don't see why we should cap them, the reasoning about them is simple - these files are stored in memory, so by definition their size has to fit into `size_t`...

[2022-06-30 06:12] billionairiam opened #705 "Simplify file_getname, same for dir_getname in PALs"
## Description of the problem
The function [static int file_getname(PAL_HANDLE handle, char* buffer, size_t count)](https://github.com/gramineproject/gramine/blob/bb7769a1c48cd6c39c009abc695f3db2f6985aba/pal/src/host/linux/db_files.c#L271)

1. The function first copy [URI_PREFIX_FILE](https://github.com/gramineproject/gramine/blob/bb7769a1c48cd6c39c009abc695f3db2f6985aba/common/include/api.h#L403)

[2022-06-30 06:15] billionairiam opened #706 "Allocating stack log error"
## Description of the problem
At the start, Gramine often outputs allocating stack at 0x0
## Steps to reproduce

## Expected results

## Actual results

## Gramine commit hash

[2022-06-30 06:30] dimakuv commented on #706
There is no need to create one-line GitHub issues.

If you're describing some issue/bug/missing functionality, please provide a better, more detailed description and some initial analysis. If you're describing it just for the sake of accountability, please don't do it. Just submit a PR that fixes it immediately. (Or submit a GitHub issue later, when you did some analysis on it and ready to share s

[2022-06-30 06:30] #706 closed

[2022-06-30 06:33] dimakuv commented on #705
This is a very obscure description of the issue.

What is this numbered list at the very beginning? Which lines of code it describes? It would be better to give a link to the code snippet to which this description belongs.

Also, please use proper Markdown formatting. In particular, put variable names, function names, code quotes in backticks.

Finally, do not keep `Steps to reproduce`, `Expected

[2022-06-30 08:11] dimakuv commented on #694
Yes, please don't create issues if you already have a PR ready.

By the way, in this issue you have useful information: links to the actual commits. This kind of useful information should also go into PR descriptions. I copied this info there (in #695), but please do it in the future. The more information the PR contains, the better -- nobody wants to traverse a list of PRs and issues to get the f

[2022-06-30 08:25] kailun-qin commented on #694
Well noted, thanks!

[2022-06-30 08:41] dimakuv commented on #689
Ok, fixed the wording.

I don't like this at all. This sets a bad precedence of creating random FSes for a couple files (and diverging from how Linux does it).

Yeah, probably just this.

[2022-06-30 09:42] dimakuv commented on #705
@boryspoplawski I think this is just a misunderstanding. I guess @billionairiam is used to another style of development, where all tasks are first created as issues and then resolved with patches/PRs (looking at Jira...).

In our core Gramine development, we don't spend time on creating small issues if we want to fix them right away. We simply submit a PR, with all descriptions in the PR text body

[2022-06-30 09:58] boryspoplawski commented on #689
Maybe `passthrough_sanitized_resolv_conf` manifest option? And write a `log_always` message saying we have such option if we detect user having `/etc/resolv.conf` in `allowed_files`?

[2022-06-30 10:00] Cosmin2106 commented on #675
I added to the manifest template the following lines:
[code]

However, the result seems to be similar:
[code]

[2022-06-30 10:35] boryspoplawski commented on #675
You need to also map these files in `fs.mounts`. I would recommend looking at some examples in our repo (e.g. `redis` has some nice comments https://github.com/gramineproject/gramine/blob/master/CI-Examples/redis/redis-server.manifest.template) and our documentation https://gramine.readthedocs.io/en/stable/

[2022-06-30 10:59] aniket-intelx opened #708 "PAL testcase `send_handle` failing on docker"
## Description of the problem
The PAL testcase `test_pal.TC_23_SendHandle.test_000_send_handle` is failing on docker for both `gramine-direct` and `gramine-sgx` with the commit `[LibOS,Pal] Completely rewrite networking code`. However, it works fine when tried on baremetal.
We checked with a commit prior to this and it executes successfully.
## Steps to reproduce

Run either of the below command
`

[2022-06-30 11:05] dimakuv commented on #689
Could you expand what exactly this option is supposed to do? Is it a boolean? Does it only pertain to the `resolv.conf` file, what about others?

[2022-06-30 11:10] boryspoplawski commented on #689
Yes

What others? Is anything needed beside this file? I think everything works with just this one

[2022-06-30 11:11] boryspoplawski commented on #708
What you need to do is enabled ipv6 in your docker configuration.

[2022-06-30 11:11] #708 closed

[2022-06-30 12:04] aneessahib commented on #689
`etc/hosts` and `etc/host.conf` too in certain cases. For ex if a container is run with `--net=host` to use the host's network.

[2022-06-30 12:19] boryspoplawski commented on #689
What these files have to do with dockers `--net=host` option? It only causes the network namespace not to be unshared, this explanation doesn't make sense to me...

[2022-06-30 12:36] #705 closed

[2022-06-30 12:38] aneessahib commented on #689
Yes, and this updates the IP mapping info in the `/etc/hosts` file (resulting in a measurement failure in Gramine)

[2022-06-30 12:41] woju commented on #689
1. `/etc/nsswitch.conf` (https://manpages.debian.org/nsswitch.conf(5)) should be sanitized, and we should think about all references inside:

   - aliases (no?)
   - ethers (yes?)
   - group (no?)
   - hosts (yes?)
   - initgroups (no?)
   - netgroup (no?)
   - networks (no?)
   - passwd (no?)
   - protocols (no?)
   - publickey (no?)
   - rpc (no?)
   - services (no?)
   - shadow (no?)

2) [featu

[2022-06-30 12:46] boryspoplawski commented on #689
Apparently docker mount binds them from host then. Anyway, my point was not to use them at all, so there would be no measurement errors.

[2022-06-30 13:08] mkow commented on #689
Hmm, I think I like the (a bit unrelated) idea of supporting inlining of small files into manifests, but we should probably discuss it more, there may be reasons against it.

[2022-06-30 15:31] #668 closed

[2022-06-30 17:11] #694 closed

[2022-07-05 02:21] llly opened #725 "[libos] `getsockname` of `accept` returned socket gets wrong local address when listening on `INADDR_ANY`"
## Description of the problem

In the socket `accept` function, bind address of listening socket is copied to client socket as its local address.
https://github.com/gramineproject/gramine/blob/839ba4eef309350c41005e670562193a5f6d0767/libos/src/net/ip.c#L171

However when listening on `INADDR_ANY` i.e. "0.0.0.0" to receive connect from all interfaces, address of client socket is not "0.0.0.0", but

[2022-07-05 07:57] dimakuv commented on #689
[Discussion notes in the core meeting](https://github.com/gramineproject/gramine/discussions/716):

Woju's proposal of hard-coded `sgx.trusted_files.content` is **rejected**:
- Because this would be basically the same as just using `sgx.trusted_files`.
- Also, the file (e.g., `/etc/resolv.conf`) can legitimitaly change from one machine to the other.
    - Think of an SGX enclave that should be abl

[2022-07-05 08:16] dimakuv commented on #725
Legit issue.

@boryspoplawski What do you think about the proposal?

@llly Do you want/have time to implement the proposal (after Borys acks that this design is good)?

[2022-07-05 09:06] llly commented on #725
Yes. I can implement it.

[2022-07-05 09:38] dimakuv commented on #725
Great! But first let's wait for @boryspoplawski's opinion on the proposed solution.

[2022-07-05 12:09] mkow commented on #511
#699 was just merged, so I assume this can be closed now.

[2022-07-05 12:09] #511 closed

[2022-07-05 13:09] mkow commented on #689
Wait, it wasn't rejected overall, it's just completely unrelated to this specific issue, and it was rejected *as a solution for it*. But we may want to implement it someday for other purposes.

Not sure about this, the option is already super explicit and it seems that this warning will spam too many users (which want to mount the whole OS image from Docker, but override these three files).

[2022-07-05 13:30] boryspoplawski commented on #725
Yes, the proposal looks good (bar some comments below). Out of curiosity, did you hit this on some actual software?

1. I would augment `ocall_accept` instead of calling `getsockname` not to issue more ocalls. Or did you meant that? Wasn't entirely sure, anyway this I would do.
2. It would be good to use this local address obtained from accept only if the socket was bound to `0.0.0.0`. The only pl

[2022-07-05 13:57] llly commented on #725
Thanks Borys. I didn't hit it on actual software. I found it by some Java netty tests.
1. That's what I want, no new ocall.
2. It make sense. Addresses can be inconsistent because that are from out of enclave.
3. Got it.

[2022-07-05 16:06] #673 closed

[2022-07-06 00:13] lejunzhu commented on #702
Just my two cents, for the syscall interface, there is another possibility: to patch the ELF file after the Go toolchain produces it. And this could be more convenient if the user only has the binary.
For example, a tool could scan the whole ELF and find the pattern "mov ...; syscall", and rewrite it as a long jump to a new piece of code, to call Gramine then jump back.

[2022-07-06 00:55] mkow commented on #702
@lejunzhu: This method is super unreliable and hard to maintain, we don't plan to go in this direction.

[2022-07-06 06:39] #696 closed

[2022-07-06 07:41] calmdownandcarryon000 opened #731 "reason=No 'loader.entrypoint' is specified in the manifest"
![image](https://user-images.githubusercontent.com/37107376/177496122-b3a2a814-6712-4ebb-a1e4-ca9925be43af.png)
I failed to initialize enclave-server, but  the /Pal/ SRC /db_main.c file is not in gramine.

[2022-07-06 11:17] dimakuv commented on #731
You seem to have a mismatching version of Gramine and the manifest file. What are you trying to run? Can you show the manifest file?

Also, please do not attach photos of your screen. And do not attach screenshots of your screen. You can just copy-paste the output from the terminal and attach it as text.

[2022-07-06 15:14] #155 closed

[2022-07-06 23:57] calmdownandcarryon000 commented on #731
enclave-server.manifest.sgx

[enclave-server.docx](https://github.com/gramineproject/gramine/files/9059266/enclave-server.docx)

[2022-07-07 00:14] mkow commented on #731
@calmdownandcarryon000: We aren't going to open random .docx files from the internet. What's inside?

Also, please learn to use proper Markdown to format your comments.

[2022-07-07 00:29] calmdownandcarryon000 commented on #731
The docx file I posted above is “enclave-server.manifest.sgx”，and it is too big to copy and paste easily. The followlling is"enclave-server.manifest.template", “enclave-server.manifest.sgx” is generated from the template:

# enclave-server manifest example

loader.preload = "file:{{ gramine.libos }}"
libos.entrypoint = "{{ entrypoint }}"
loader.log_level = "{{ log_level }}"

loader.env.LD_LIBRARY_

[2022-07-07 00:35] mkow commented on #731
Sorry, but this whole issue is a huge mess.
Gramine is a rather complex software intended for programmers/power users, if you have troubles with such a basic things like attaching files and using Markdown formatting then we won't be able to help much.

[2022-07-07 00:35] #731 closed

[2022-07-07 00:43] calmdownandcarryon000 commented on #731
## Description of the problem
An error occurs when i run the gramine- SGX./enclave-server command to initialize the enclave-server, I feel there is a problem with the libos path because I don't know how to set the correct path in the manifest configuration file

## Steps to reproduce

## Expected results
After the initialization of the first deployment, the enclave-server generates a CSR file.
Use

[2022-07-07 00:55] calmdownandcarryon000 opened #733 "An error occurred while initializing the enclave-server"
## Description of the problem
An error occurs when i run the gramine- SGX./enclave-server command to initialize the enclave-server, I feel there is a problem with the libos path because I don't know how to set the correct path in the manifest configuration file

## Steps to reproduce

## Expected results
After the initialization of the first deployment, the enclave-server generates a CSR file.
Use

[2022-07-07 01:04] mkow commented on #733
This is a duplicate of https://github.com/gramineproject/gramine/issues/731. Please don't open multiple issues about the same problem.

[2022-07-07 01:04] #733 closed

[2022-07-07 01:08] calmdownandcarryon000 commented on #733
Ok, SORRY, I have redescribed my question according to the format, please help me check it, thank you.

[2022-07-07 08:41] dimakuv commented on #731
@calmdownandcarryon000 I'm sorry but you should really learn Markdown and especially backticks (embedding code). The more you ignore our recommendations, the less goodwill we have to help you.

[2022-07-07 15:49] mkow commented on #683
Please rebase to V5 before submitting. I don't understand what's the point of reviewing code based on outdated upstream, just to later have to review the rebase diff...

What about the heap pool resizing? (as we discussed on the call - resizing it like `std::vector` from C++, but possibly with different ratios)
It should generalize/supersede the hybrid/lazy approaches.

[2022-07-07 21:52] mkow commented on #683
No, the idea is to also grow it in bigger chunks. Ofc. this assumes that user allocations are usually either next to each other or not `MAP_FIXED`, but I think that's the case for almost all apps.

[2022-07-08 10:05] oshogbo commented on #689
I can look into this.

[2022-07-08 15:49] boryspoplawski commented on #683
There are two issues here:
1) `std::vector` has linear memory, where one part is completely allocated and the other is completely free and these two parts do not overlap. This is not the case here: we have and arbitrary layout of free and allocated ranges of memory. When you free an element in `std::vector` it shifts the memory - we cannot do this and need to leave a hole.
Given the above this opt

[2022-07-08 23:38] mkow commented on #683
@boryspoplawski: My assumption is that in practice most LibOS allocation requests are just trying to expand heap via mmap to handle a small allocation from app's `malloc()`.

Oh, I forgot about this, it may actually be a huge obstacle for this idea :/

[2022-07-11 10:37] anjalirai-intel opened #739 "Testing Numpy returns memory fault with Gramine when numpy installed using pip3 for ubuntu 18.04"
## Description of the problem
When numpy is installed using pip for ubuntu 18.04, it fails with memory fault error

**The installation location of numpy gets changed when it is installed using apt or pip. After updating the new installation path of numpy in manifest.template, it failed with error "No module named 'numpy'".**

From the previous issue analysis, [559](https://github.com/gramineprojec

[2022-07-11 11:47] dimakuv commented on #739
Interesting memory-fault bug. Any volunteers to look into it?

[2022-07-11 12:02] boryspoplawski commented on #739
It's fault inside user app (python), not Gramine (just making sure it's clear)

[2022-07-11 12:05] anjalirai-intel commented on #739
No, the fault is inside Gramine not inside app, app works fine

[2022-07-11 12:09] boryspoplawski commented on #739
No, the NULL pointer dereference happens in app.

[2022-07-11 12:11] anjalirai-intel commented on #739
But, if i run this test without Gramine, it works fine

[2022-07-11 13:36] boryspoplawski opened #741 "[RFC] PAL memory bookkeeping"
## Description

For description of the issue and current workaround please check: https://github.com/gramineproject/gramine/issues/50

## Solution

The idea is to use an "upcall" mechanism (similar to what we have for exceptions handling). We would have a function pointer in PAL, that would be used to request a memory range (e.g. `request_memory(size_t size)`), this pointer would be set by LibOS.

[2022-07-11 13:59] mkow commented on #741
Another small issue: Any idea how to make a test which tests this logic? I.e. uses huge amounts of PAL internal memory.

[2022-07-12 08:00] dimakuv commented on #739
@anjalirai-intel Your bug report is correct. There is surely something going fishy in Gramine.

What @boryspoplawski mentioned is simply a fact that the segfault happens during app execution, not during internal Gramine execution (that may be important to keep in mind for a person who will debug this issue).

[2022-07-13 01:23] Simon-aikuier commented on #653
@dimakuv @boryspoplawski
I have test #579, the problem b) seems ok. Thanks for your help.

For now it will happen golang runtime timer panic with probability, but i have no more useful trace information. So do i need to close this issue first and open a new issue after i get more information? Do you have any better suggestion?

golang runtime timer panic as follow:

fatal error: timer when must be

[2022-07-13 07:24] dimakuv commented on #653
Yes, let's close this issue. It was about network-related problems. Now your new Golang issue seems to be about timer-related problems.

I would recommend to debug/analyze this new timer-related issue a bit more, come up with a quick reproducer code, and create a new GitHub issue.

[2022-07-13 07:24] #653 closed

[2022-07-13 08:23] Villain88 commented on #490
Hello, is there a draft of the document?

[2022-07-13 09:50] mkow commented on #490
@Villain88: I have a draft, but didn't make a PR from it yet (hopefully will get to it for the next release).

I haven't read this paper, just skimmed through the abstract, but: overall, you should assume that it will always be possible to leak control flow to some extent via side channels (the most obvious way: via unmapping code pages and monitoring page faults). So, we try to make at least Gram

[2022-07-13 11:07] #614 closed

[2022-07-13 16:40] akumar2709 opened #752 "Error running the ra-tls-mbedtls example"
I was trying to run the ra-tls-mbedtls example, intially it did not allow me to use the current update where the the value of sx.remote_attestation was changed to attestation type, it gave the following error -

**error: Cannot parse 'sgx.remote_attestation' (the value must be `true` or `false`)**

So I changed the value to true on the manifest template.
After which it is currently giving me this

[2022-07-13 18:29] akumar2709 commented on #752
@boryspoplawski I am using the latest version of Gramine installed from apt. Still I am facing this issue

[2022-07-13 18:31] boryspoplawski commented on #752
Did you check out repository when cloning to the version matching the one you have installed?

[2022-07-13 18:38] akumar2709 commented on #752
yes, my repository cloned matches the version installed

[2022-07-13 22:25] boryspoplawski commented on #752
If it did then you wouldn't get `error: Cannot parse 'sgx.remote_attestation' (the value must be true or false)` error...

[2022-07-13 22:27] boryspoplawski commented on #752
You need to do `git checkout v1.2`

[2022-07-14 08:48] llly opened #757 "RFC: Add POSIX shared untrusted memory support"
## Summary

As a sub-project of Communication with devices(#353), this RFC proposes a generic way to enable shared memory with host devices or processes from within the SGX (Gramine) enclave through POSIX shared memory.

Add new item to Manifest syntax:
[code]
- none: default value, which means that shared untrusted memory is disabled, the same as current behavior in Gramine.
- passthrough: mount

[2022-07-14 09:35] yao-ji opened #758 "[Pal] `handle->dir.realpath` use after free and double free if calling `dir_delete` after `dir_rename`"
## Description of the problem
In `pal_files.c`, `dir_delete` will call `dir_close` first ([here](https://github.com/gramineproject/gramine/blob/3a6c838a5cfe41c94bd716b98581080fad217e23/pal/src/host/linux/pal_files.c#L429)), and then delete the directory using `handle->dir.realpath`. But this pointer is freed inside `dir_close` ([here](https://github.com/gramineproject/gramine/blob/3a6c838a5cfe41c9

[2022-07-14 09:59] dimakuv commented on #758
Thanks @yao-ji for finding the bug and this great summary! Waiting for your PR :)

[2022-07-14 15:21] gus6202 commented on #571
Hello,
I got the same error with real values and mrenclave = 0 mrsigner = 0:
With mrenclave = 0 mrsigner = 0:
[code]
With real values:
[code]
Make DCAP
[code]
In my meson-log:
[code]
Is there another way to fix this error?
PS: I set sgx.debug = false like @alexander-lindner did, but no difference in the result.

[2022-07-14 23:11] mkow commented on #757
One more issue: I don't like that this makes _all_ app's attempts to mmap shared memory go into untrusted memory, this makes it almost impossible to use securely (because you'll expose some other, random mmaps to the host). Can we somehow whitelist which mmaps are going outside the enclave?

[2022-07-14 23:29] boryspoplawski commented on #757
For host devices we could have a list of them and only mmaps of devices from this list would be mapped in untrusted memory. Well, we probably need such list anyway, since we need to somehow tell Gramine which FS path map to which host device.

[2022-07-15 02:28] kvinwang opened #759 "Registers used in sgx_report are not protected?"
In the [original implementation](https://github.com/gramineproject/gramine/commit/83840d6c47150920230f6d727fc3eeb13f2b7c5f) of sgx_report/sgx_getkey, we protected the registers with `push` instructions:
[code]

However in the [latest code](https://github.com/gramineproject/gramine/blob/master/pal/src/host/linux-sgx/enclave_api.S#L9-L24), the `pushq %rbx` and `pushq %rcx` gone, is this on purpose o

[2022-07-15 02:44] llly commented on #757
@boryspoplawski
In this issue I focus on POSIX shared memory API, instead of general shared memory.
I'm trying to enable a scheme that

It's how the device I want works. So `mmap` usage here is not `mmap(...,  <general-device-fd>, ...)`, but `mmap(..., shared-memory-device-fd>, ...)`
'standalone' vs 'passthrough' means POSIX shared memory invisible vs visible for other application. No difference f

[2022-07-15 03:57] kailun-qin commented on #683
Thanks for the proposal and summary!

Lazy free optimization introduces a manifest syntax that specifies the percentage of the total heap that can be freed in a lazy manner. Until this threshold is met, Gramine doesn't release any dynamically allocated memory. This optimization helps reduce the expensive enclave entries/exits associated with the dynamic freeing of EPC pages.

Quick Q:
As the main

[2022-07-15 04:48] kailun-qin commented on #759
IMO, in the latest code, RBX is saved on entry and restored afterwards while RCX is callee-owned/considered volatile (thus no need to be preserved) according to the x86-64 calling convention. Though other arch may specify it a bit differently, Gramine is primarily focus on x86-64 at this moment so it looks fine.

I'll let the Gramine team to elaborate further.

[2022-07-15 05:19] vijaydhanraj commented on #683
It is actually the number of memory ranges that are freed. How it works is that the percentage is converted to a threshold (in bytes) and whenever a memory range is freed by the application, the freed size is accumulated. When the accumulated free size grows above the threshold, the memory ranges are removed from the enclave.

The reason I chose percentage is that it is easier for the end-user to

[2022-07-15 06:01] kvinwang commented on #759
I am not familiar with the calling convention. However, I searched and find it from [Wikipedia](https://en.wikipedia.org/wiki/X86_calling_conventions). It seems the `R10` and `RCX` is considered volatile only in `ms_abi`. Does it also apply to `sysv_abi`? Or does gramine always compiled with `ms_abi`?

[2022-07-15 06:39] dimakuv commented on #571
Can you show how you run `gramine-sgx server`? What is its output?

[2022-07-15 06:50] kailun-qin commented on #759
Yes, it should also apply to `sysv_abi`.

Just from the Wiki page that you pointed to, there is one line in the `System V AMD64 ABI` section:

It's also stated in the pg.23 of [SysV ABI spec](https://github.com/hjl-tools/x86-psABI/wiki/x86-64-psABI-1.0.pdf).

[2022-07-15 07:12] dimakuv commented on #759
@kvinwang Kailun said everything correctly. Let me also explain, just for someone from "the Gramine team to elaborate further".

1. The source code for `sgx_report()` is the file `pal/src/host/linux-sgx/enclave_api.S`. So, we are in the component that uses Linux and works on Intel SGX. This limits us to the Intel implementation of the x86-64 architecture and to the Linux calling conventions (aka S

[2022-07-15 07:59] dimakuv commented on #757
I feel like there is a bit of confusion. Let me summarize what flows we want to enable:

1. **Anonymous mmap** -- `mmap(MAP_ANONYMOUS, /*fd=*/-1)` and `mmap(MAP_ANONYMOUS | MAP_SHARED, /*fd=*/-1)`. Classic mmap, always allocates enclave memory (yes, even with `MAP_SHARED` -- or maybe in this case Gramine should just return error, doesn't matter for our discussion).
2. **Host-device-backed mmap** -

[2022-07-15 08:32] dimakuv commented on #571
Wait, what is this?!

[2022-07-15 08:40] gus6202 commented on #571
Run normally (gramine-sgx ./server &):
[code]
The two ways in the end gave me the same result

[2022-07-15 09:00] kvinwang commented on #759
Great explaination. Thanks @dimakuv and @kailun-qin  so much!

[2022-07-15 09:00] #759 closed

[2022-07-15 10:53] dimakuv commented on #757
But why? I and Borys actually argued against "hiding" those regions of untrusted memory from other Gramine processes (e.g., children) -- Gramine should keep these regions in children as well.

Yes, you can just edit the original text.

[2022-07-15 12:56] mkow commented on #490
Yes, exactly. In general, you shouldn't really base your security on control flow secrecy, only on data secrecy (e.g. use proper crypto libraries for key handling, etc.).
You can try to make such attacks harder, but it's rather hard/impossible to stop them entirely, and also "hardness" is relative - an obfuscation technique you devise may actually be super trivial to circumvent, as it's often the

[2022-07-15 15:55] boryspoplawski commented on #757
@dimakuv Thanks for the detailed description, was super helpful!!

@llly Why exactly do you want to unshare this memory from other processes? Is it just for "sanity"/"because they don't need it" (more or less like @dimakuv described)?

[2022-07-15 21:44] akumar2709 opened #760 "SSL/TLS handshake failed for ra-tls-mbedtls example"
While trying to run the ra-tls-mbedtls example, I get the following message when I run ./client dcap(I have provided MRENCLAVE, MRSIGNER etc).

[ using default SGX-measurement verification callback (via RA_TLS_* environment variables) ]

  . Seeding the random number generator... ok
  . Connecting to tcp/localhost/4433... ok
  . Setting up the SSL/TLS structure... ok
  . Loading the CA root certif

[2022-07-16 07:23] llly commented on #757
Got it . Only one passthrough mode that emulate POSIX shared memory of native app.

[2022-07-16 20:11] mkow opened #761 "Support for hardcoding argv in the manifest"
## Description of the problem

We currently have `loader.argv_src_file` for reading hardcoded args from a file, but would be nice to have a way to specify them directly in the manifest in case they are short and simple. I originally couldn't add this when implementing `loader.argv_src_file`, because back then we didn't use TOML and the old syntax was too primitive to be able to support such featur

[2022-07-17 06:12] Rlyown opened #762 "Loading ELF file failed"
## Description of the problem
I'm trying to run *apache httpd* with gramine-sgx, which is compiled from source. The compiled components include *apr, apr-util, httpd, php*. But *apachectl* doesn't execute successfully, and the debug info shows `debug: loading ELF file failed: ELF file with invalid header`.

## Steps to reproduce
1. change *configure prefix* to same subdirectory, and compile apr, a

[2022-07-17 10:41] mkow commented on #762
Quoting our issue template: `@@@ PLEASE ENSURE THAT THE ISSUE REPRODUCES ON THE CURRENT MASTER BRANCH @@@`. The commit you tested is quite old.
You may also want to try https://github.com/gramineproject/gramine/pull/722.

[2022-07-17 18:35] boryspoplawski commented on #762
`apachectl` seems to be a shell script. #722 add support for running these directly as entrypoint. For now as a workaround you can change your entrypoint to be `/bin/sh` and pass the script as an argument.

[2022-07-18 00:22] gus6202 commented on #571
I did it both ways.

I followed the steps in the READ ME file.

I did that, but I could not fix the error. Instead I notice that it fixed one bug (running sgx-quote.py from python examples where the enclave is set up for remote attestation). My objective from the beginning was to do some experiences with remote attestation using DCAP in my python program, so the ra-tls-mbedtls example was only to

[2022-07-18 00:48] gus6202 opened #763 "server script gives me an error SO_REUSEPORT using GRPC"
## Description of the problem
Hello,
I'm trying to run my server program (GRPC) using gramine-sgx but it gives me this error:
[code]
Still, the server goes up and can communicate with client sending messages to the client and vice versa. The only problem here is that it doesn't show what the client is sending to the server (doesn't print any messages sent from the client).
PS: Using gramine-direct

[2022-07-18 04:16] kailun-qin commented on #763
`SO_REUSEPORT` is not supported by Gramine at this moment (and no plan to implement it based on a previous discussion as far as I recall). We would expect the workload to fallback to other alternatives when it finds out the flag is not supported.

BTW, would you pls kindly also:
1) provide the commit hash of Gramine that you're working on?
2) clarify/elaborate on whether the C<->S communication (s

[2022-07-18 04:50] kailun-qin commented on #760
Would you please kindly:
1) provide the commit hash of Gramine that you're working on?
2) verify your SGX PSW + DCAP SW stack is installed correctly (e.g., by following [DACP install guide]( https://www.intel.com/content/www/us/en/developer/articles/guide/intel-software-guard-extensions-data-center-attestation-primitives-quick-install-guide.html)) and can work properly in your env?
3) double check

[2022-07-18 06:27] dimakuv commented on #763
@gus6202 Could you check this discussion: https://github.com/gramineproject/gramine/issues/361 ? It provides some explanations on what could be done with gRPC. Hopefully it helps.

[2022-07-18 06:32] dimakuv commented on #571
It seems to me that you first needs to make sure your DCAP infrastructure is installed correctly. Gramine relies on the Intel SGX SDK/PSW/DCAP packages to perform SGX DCAP remote attestation, so you should install and verify them first. See https://download.01.org/intel-sgx/sgx-dcap/1.14/linux/docs/Intel_SGX_SW_Installation_Guide_for_Linux.pdf for installation instructions.

[2022-07-18 09:27] Yang-yyf opened #765 "I can not run any python-example."
### Question
I used this command to run python.
[code]
And I got this.
[code]
I checked the "python.manifest.sgx".I found that "sgx.remote_attestation" is "none".I trust there is some errors.
What is more? I overwrited the "sgx.remote_attestation" to be false.
And I got:
[code]
Can anyone help me ?
I can run helloworld.c,It is good.

[2022-07-18 09:54] dimakuv commented on #765
You seem to have installed Gramine v1.2 package (via `apt install`).

But you seem to use the incompatible version of the Python example. Please use the `v1.2` branch of the git-cloned repository.

Reason: the latest Gramine switched from `sgx.remote_attestation = true|false` to `sgx.remote_attestation = "none"|"epid"|"dcap"`. So please switch to `v1.2` in the example and check the README carefull

[2022-07-18 12:55] Rlyown commented on #762
Thanks, I didn't realize that `apachectl` is a shell script, not a binary program. After setting `/bin/sh` as the entrypoint *httpd* successfully executed.

[2022-07-18 12:55] #762 closed

[2022-07-18 17:25] gus6202 commented on #763
Hey, I only managed to hide the error message (I added ```loader.env.GRPC_VERBOSITY="NONE"``` in my python.manifest.template file), but the main problem (print something in server.py or print messages received from the client) I couldn't do it.

[2022-07-19 02:19] Yang-yyf commented on #765
II checked the code in the sample and found that it was indeed version 1.2. Then I used apt-show-versions to check the gramine software in the system and it was indeed version 1.2-1.

But after reading your reply, I think there is one place where the gramine used is a low version, which leads to the example not running successfully. But what else is possible besides the powercode and gramine syste

[2022-07-19 03:20] llly commented on #765
You can use `git clone --depth 1 https://github.com/gramineproject/gramine.git -b v1.2` to clone version 1.2.

[2022-07-19 03:27] Yang-yyf commented on #765
Thanks for your reply. I have cloned this project.
But I checked the file "python.manifest.sgx",the keyword"ra_ramote_attestation" should be "true|flase" or "none|dcap|epid".

[2022-07-19 03:29] Yang-yyf commented on #765
Finally, with the sample code for the Clone1.2 version, the original error disappeared. But there were new mistakes, and I was confused and lost.
[code]

[2022-07-19 03:47] Yang-yyf commented on #765
I cloned it,and I run make SGX=1,I checked the file "python.manifest.sgx", the keyword "ra_ramote_attestation" is true. It should be "none",right?

[2022-07-19 04:02] Yang-yyf commented on #765
New Question!

It seems that the asem service met some problem.
[code]

[2022-07-19 05:51] Yang-yyf commented on #765
aya,here is the result!
[code]

[2022-07-19 06:02] llly commented on #765
It's FLC(Flexible Launch Control) platform. You can enable SGX DCAP attestation following
https://www.intel.com/content/www/us/en/developer/articles/guide/intel-software-guard-extensions-data-center-attestation-primitives-quick-install-guide.html

[2022-07-19 06:10] Yang-yyf commented on #765
Thank u，I am trying to ignore the attestation,so I changed it.
[code]
But It seems not work.And I got error.
[code]
What should I do to the other two keywords?

[2022-07-19 06:54] llly commented on #765
Remove the two lines `ra_client_spid = ""` and `ra_client_linkable = false`.

[2022-07-19 07:01] Yang-yyf commented on #765
I tried to remove it.But I got this.
[code]
I'm so sad.

[2022-07-19 07:28] llly commented on #765
If helloworld example can work, this python example should work too. Try make clean and make again.

[2022-07-19 07:35] Yang-yyf commented on #765
In helloworld example, here is my steps.
[code]
And with the python-helloworld example.
[code]

Puzzle.

[2022-07-19 07:37] dimakuv commented on #765
@Yang-yyf You're not supposed to touch `*.manifest.sgx` files. You should always modify the `*.manifest.template` files.

So please try again:
1. Modify the `python.manifest.template` file.
2. Run `make clean`.
3. Run `make SGX=1`.
4. Try `gramine-sgx ./python ...` now.

[2022-07-19 07:37] Yang-yyf commented on #765
Thanks for your help!
I think I found the problems.
I should edit the python.manifest.templet instead of the python.manifest.sgx!

[2022-07-19 07:39] Yang-yyf commented on #765
Yes, I made a mistake!
Now I am going to install the DCAP, I still need the remote_attestation to be true.
Thanks for you all!

[2022-07-19 07:43] #765 closed

[2022-07-19 09:31] Yang-yyf commented on #765
Can dcap be installed into kernel 5.11.10-051110-generic (x86_64)?

[2022-07-19 09:34] aep opened #772 "eventfd Function not implemented"
trying to start a java springboot hello world,

[code]

looks like the offending call is simply eventfd with no options

https://github.com/openjdk/jdk/blob/739769c8fc4b496f08a92225a12d07414537b6c0/src/java.base/linux/native/libnio/ch/EventFD.c#L38

[code]

[2022-07-19 09:47] dimakuv commented on #772
https://gramine.readthedocs.io/en/latest/manifest-syntax.html#allowing-eventfd

[2022-07-19 09:59] #772 closed, assigned to nobody

[2022-07-19 10:43] boryspoplawski commented on #772
But it's not a config error. This function might be insecure and cannot be used in production setups, unless you know exactly what you are doing.

[2022-07-19 10:49] dimakuv commented on #772
@aep If you're using the latest Gramine (not the stable release v1.2), then Gramine prints a warning-level message: https://github.com/gramineproject/gramine/blob/cf8095d83b634f37d2c5f33a4d9a7881a11432bc/libos/src/sys/libos_eventfd.c#L37

This should give a hint to a user of Gramine that maybe eventfd should be marked as enabled in the manifest file. (Of course, this message appears with smth like

[2022-07-19 10:49] dimakuv commented on #765
Yes, it can.

[2022-07-19 16:41] boryspoplawski commented on #490
ROP is a technique of exploitation, not a vulnerability (orthogonal thing).

Yes. Virtually everything can be used - even the randomized addresses have low entropy.
ASLR is not a strong mitigation and most of the time it can be easily broken (and I'm talking in general, not in Gramine case). This is especially true in SGX (1 and 2) case - untrusted host knows which virtual addresses have +x privil

[2022-07-20 00:58] lejunzhu commented on #763
The server.py script actually works correctly, but its output is buffered by Gramine. Add 'flush=True' to the print() calls in server.py, and you will see all the output.

[2022-07-20 02:40] lejunzhu commented on #739
From the log: return from shim_mmap(...) = -12, 12 means ENOMEM. Maybe you can try increase sgx.enclave_size in the manifest to some larger value, e.g. "8G". Also you may set sgx.thread_num = 256 if you are using a Xeon server.
If that works, maybe you can look at how many threads numpy tries to start, and how to limit the number.

[2022-07-20 15:28] anjalirai-intel commented on #739
I tried with enclave size as 2GB and thread count as 64. it worked. I am closing the issue. Thank you @lejunzhu @dimakuv @boryspoplawski for your time

[2022-07-20 15:28] #739 closed

[2022-07-21 07:42] svenkata9 commented on #468
This is the problem that we recently rootcaused to untrusted unix domain sockets. Hence TCP/IP works well.

[2022-07-22 01:40] llly commented on #757
Updated design, added Pal interface change and pseudo code.

[2022-07-22 08:51] dimakuv opened #780 "`ra-tls-mbedtls` and `ra-tls-secret-prov` should use host's mbedTLS"
## Description of the problem

`ra-tls-mbedtls` and `ra-tls-secret-prov` examples should use the mbedTLS package installed on the platform, not `mbedtls_gramine`.

For the context, see #740 and #773.

This task should be done after #740 and #773 are merged.

[2022-07-22 08:59] kailun-qin commented on #780
@dimakuv Yes, I can take it, please assign this to me. Thanks!

[2022-07-23 09:45] anjalirai-intel opened #783 "bind01 & select01 fails with updated ltp commit"
## Description of the problem
Gramine is on older LTP commit which makes this test passes, but with LTP commit 433b6cf7ade3d5e3bd4b85ac89b164c53312e65a bind01 and select01 are failing

https://github.com/linux-test-project/ltp/tree/433b6cf7ade3d5e3bd4b85ac89b164c53312e65a on Oct 15, 2021
**bind01:** 5th testcase fails, return EACCES error instead of EADDRNOTAVAIL
**select01:** select() with regula

[2022-07-23 18:20] mkow commented on #783
Which commit is "latest master"? You are aware that next week this will be a completely different one? ;)

[2022-07-25 05:32] anjalirai-intel commented on #783
Updated the commit info.

[2022-07-25 07:16] dimakuv commented on #783
I confirm that the newer LTP fails in these tests.

Is it time for Gramine to move to a newer LTP, and fix such problems along the way? @mkow @boryspoplawski @woju ?

[2022-07-25 08:32] billionairiam commented on #629
I think you should configure a proxy server under **/etc/aesmd.conf**. below is my configuration.

`#Line with comments only
#empty line with comment
#proxy type    = direct #direct type means no proxy used
#proxy type    = default #system default proxy
proxy type    = manual #aesm proxy should be specified for manual proxy type
aesm proxy    = http://child-prc.intel.com:913
#whitelist url = http:

[2022-07-25 10:49] boryspoplawski commented on #783
We could do that

[2022-07-25 12:16] bacox opened #785 "Apt-get update fails due to expired certificate"
## Description of the problem
I am trying to quick install Gramine OS on a machine with following specifications.

`apt-update` gives to following error:
[code]
Also the url `https://packages.gramineproject.io/` gives an expired certificate warning in my browser.
Certificate expiration data:

For me, the workaround for now is to disable gramine from apt until the certificate is updated (I only nee

[2022-07-25 12:28] boryspoplawski commented on #785
Actually, should be resolved now, @bacox  please verify

[2022-07-25 12:44] bacox commented on #785
Wonderful! It is working now

[2022-07-25 13:08] mkow commented on #629
I'm closing this as unrelated to Gramine - the problem seems to be in your setup of SGX PSW, which is a different project.

[2022-07-25 13:08] #629 closed

[2022-07-25 13:09] #785 closed

[2022-07-25 13:15] mkow commented on #783
We could, although it has a pretty low priority.

[2022-07-25 21:05] dimakuv opened #786 "Missing `link()` system call"
## Description of the problem

Some workloads seem to require the `link()` syscall to work properly. In particular, the `specperl` script got stuck in an inifinite loop like this:
[code]

If I understand correctly, the script tries to create a hard link on the temporary file (`lock.CPU2017.tmp.6764.3.6419`), remove the temporary file and then work on the other hard-linked copy of this file (with a

[2022-07-26 00:38] lejunzhu commented on #196
Fixed with PR #550

[2022-07-26 00:38] #196 closed

[2022-07-26 02:56] yao-ji opened #788 "Failed to run TPM 2.0 Reference Implementation Simulator by Miscrosoft"
## Description of the problem
Build and run the simulator from [TPM 2.0 Reference Implementation](https://github.com/microsoft/ms-tpm-20-ref) in Gramine gives the warning `Unsupported system call clone3` and hang, both on `gramine-direct` and `gramine-sgx`.

## Steps to reproduce

## Expected results
The same as native running:
[code]

## Actual results
`gramine-direct` prints the following log an

[2022-07-26 06:13] lejunzhu commented on #788
I think it is actually running, but the output is held in Gramine buffer. If you add some fflush(stdout) to the simulator source code, you will see the output.

[code]

[2022-07-26 06:16] dimakuv commented on #786
I wonder if @pwmarcz can comment on this.

[2022-07-26 06:19] dimakuv commented on #788
The easiest in such cases is to do this at the beginning of program:
[code]

See also https://stackoverflow.com/a/1716621/6325371

[2022-07-26 07:12] lejunzhu commented on #788
Here's another way without patching the program. Add these in the manifest:

[code]

[2022-07-26 08:05] Lorby04 opened #790 "cannot find libstdc++.so.6 when running application with gramine, but it runs well w/o gramine"
## Description of the problem

## Steps to reproduce

## Expected results

## Actual results

## Gramine commit hash

[2022-07-26 09:14] dimakuv commented on #790
Sorry, but we won't reply to a GitHub issue with empty body.

[2022-07-26 09:14] #790 closed

[2022-07-26 13:38] dimakuv opened #794 "[LibOS] `execve` syscall must treat `argv == NULL` as `argv = {NULL}`"
## Description of the problem

The [man page for `execve`](https://man7.org/linux/man-pages/man2/execve.2.html) says:

Currently Gramine doesn't implement this special case. See code here: https://github.com/gramineproject/gramine/blob/64b004bb59a237ea2486ef791fd970519888c638/libos/src/sys/libos_exec.c#L144

This should be easy to implement. We just need:
- `argv == NULL` -> `argv = {NULL}`
- `env

[2022-07-26 13:44] dimakuv opened #795 "[LibOS] Remove `loader.argv0_override` and use instead `argv = [libos.entrypoint]`"
## Description of the problem

We have a redundant `loader.argv0_override` manifest option.

We should remove it and replace the LibOS-initialization logic to use `argv = [ libos.entrypoint ]` if there are no explicit args provided. In other words, LibOS should start the process with `argv` that contains a single argument, and it is a string taken from `libos.entrypoint` manifest option.

See #722

[2022-07-26 16:53] #758 closed

[2022-07-27 09:13] #320 closed

[2022-07-27 09:50] dimakuv commented on #757
@llly My feedback on the new design. Overall looks good to me.

Now I think that we don't need this additional manifest option, since the user will have to mount the FS point `type="shm"` anyway explicitly. So it's just unnecessary duplication. The only usefulness of this feature is that it is easier to "notice" for manifest readers... @mkow @boryspoplawski @kailun-qin @guzongmin What do you think

[2022-07-27 10:04] kailun-qin commented on #757
IMO, it's not worth adding an unnecessary/duplicated manifest just for easier "notice"...

[2022-07-27 10:21] DL8 opened #800 "Add support for KSS (key separation and sharing)"
KSS (key separation and sharing) provides additional fields to SECS and EGETKEY, which allows more fine-grained control over remote attestation and key derivation. Some examples where it might be useful:
1. The same enclave binary may be executed in the context of two different processes (they might even belong to different users). They will have the same MRSIGNER and MRENCLAVE, so without they wi

[2022-07-27 11:32] dimakuv commented on #660
@boryspoplawski This can be closed, right? I'll close it, and if anything, please reopen.

[2022-07-27 11:32] #660 closed

[2022-07-27 11:54] llly commented on #757
@dimakuv Thanks for the comments. It's clear enough for implementation now. I'll update this RFC while implement it in case I miss something.

[2022-07-27 17:47] boryspoplawski commented on #757
Why do we need a new in-manifest mount? From what I understand in Gramine path is kind of frozen - it must be `/dev/shm/`. As for host path (`uri`) it's 1) host dependent 2) probably constant for any given PAL. Also I would expect only one such mount to be present (at most). Maybe it's pointless to have it and just have it always if `sys.insecure__shared_memory` is used?

Why is this needed? This

[2022-07-28 06:06] llly commented on #757
Can integrate shared memory into current filesystem flow without an amount of hackings, so does `sgx.allowed_files`, which is checked in Pal. I understand your concern @boryspoplawski. Normal users don't need this `shared memory`. the specific case needs this `shared memory` , but don't need to configure it. Currently user can only map read-only file to private memory. Here I want it to be a gener

[2022-07-28 08:07] dimakuv commented on #757
Replying to @boryspoplawski. Also, @llly please see if my replies make sense.

Well, I agree that it will always have `/dev/shm/`. Then I propose to have a simpler variant:
[code]

Yep, I think we can skip this if we open `/dev/shm/` files using the `PAL_OPTION_PASSTHROUGH` flag. See:
- https://github.com/gramineproject/gramine/blob/90ea5a52609a872c992135f9311a47aeacd5f2b1/pal/include/pal/pal.h#L2

[2022-07-28 10:58] boryspoplawski commented on #757
Exactly. This sounds like it's not needed (at least judging from this RFC), but I'm not sure what are next steps (after this is implemented).

No idea, maybe, but I don't remember (nothing in this issue about it either). I would stick to two for now just for the sake of simplicity - we can extend them if needed. Just need to make the code flexible enough so it will be possible to extend them. @lll

[2022-07-28 14:09] mkow commented on #800
I don't think this is the case in Gramine model:
- The entrypoint path and contents are measured in almost all cases (the only exception is when it's provided via encrypted files, but then see below).
- The true "identity" of the enclave will always be its MRENCLAVE in Gramine model. If we change the identity on `execve()` from "Gramine ver XYZ+binary QWER" to "Gramine ver XYZ+binary ASDF" then it

[2022-07-29 06:25] kailun-qin commented on #800
A well-written enclave (app) shall not disclose any confidential data. Well, how to guarantee an enclave (app) is correct (w/o violating any security/safety gurantees) is an orthogonal and hard problem. So for this case, even they're the very same enclaves, they should be able to unseal but cannot lead to data disclosure as long as they're well-written/correct.

 Yes, but shouldn't the identity be

[2022-07-29 09:05] yao-ji commented on #788
Thank you both. Tried with your solutions and run successfully.

Close this issue.

[2022-07-29 09:05] #788 closed

[2022-07-29 12:26] #592 closed

[2022-07-29 12:47] PoojaPrasd opened #803 ""/home/usr/.config/gramine/enclave-key.pem" does not exist while Executing PyTorch with Gramine in SGX Enclave"
## Description of the problem

I am following the steps in PyTorch PPML Framework Tutorial.
In section 'Executing PyTorch with Gramine in SGX Enclave', while executing make SGX=1, I am getting the following error

Invalid value for "--key" / "-k": File "/home/usr/.config/gramine/enclave-key.pem" does not exist.

## Steps to reproduce
git clone https://github.com/gramineproject/examples.git
cd exam

[2022-07-29 12:53] boryspoplawski commented on #803
https://gramine.readthedocs.io/en/stable/quickstart.html#prepare-a-signing-key

[2022-07-29 12:53] #803 closed

[2022-07-29 13:16] PoojaPrasd commented on #803
After resolving the above error, now getting runtime memory error when executing
gramine-sgx ./pytorch pytorchexample.py

RuntimeError: [enforce fail at alloc_cpu.cpp:73] . DefaultCPUAllocator: can't allocate memory: you tried to allocate 150994944 bytes. Error code 12 (Cannot allocate memory)

[2022-07-29 14:51] rafariossaa opened #804 "More flexible she bang in python scripts"
## Description of the problem

The she bang in the python scripts is pointing to the python installation at system level and makes it difficult to try to run the scripts in different python environments, or if you have a version at system level but wants to run it with other python in your system, other case could be with venvs.

A solution for this could be the following.
[code]
This will allow t

[2022-07-29 15:08] boryspoplawski commented on #804
https://github.com/gramineproject/gramine/pull/429

[2022-07-29 15:08] #804 closed

[2022-08-01 02:44] Yang-yyf opened #806 "Some file cannot be loaded into Gramine,but I have added it's path to "sgx.mounts" and "sgx.trusted_files"."
As you see, my manifest.template is:
[code]
When I run this progrem without gramine, It looks well. But with gramine.
[code]

[2022-08-01 03:17] Yang-yyf commented on #806
I removed the code:
[code]
And It seems ok,but I need this "include".

[2022-08-01 06:26] dimakuv commented on #803
Please try to increase the enclave size (and maybe you'll need to increase the number of enclave threads as well).

See this for an example: https://github.com/gramineproject/examples/pull/38/files

[2022-08-01 06:29] dimakuv commented on #804
I'd say the most relevant and concise explanation is here: https://gramine.readthedocs.io/en/latest/devel/coding-style.html#python

I believe there is a real problem here (with "virtual environments" of Python, e.g., `venv` and `conda`), but @rafariossaa could you explain a particular scenario where you hit this issue? Gramine probably *should* have some modifications to work with virtual environm

[2022-08-01 07:00] dimakuv commented on #806
I think that's because you don't have the directory `/usr/lib/x86_64-linux-gnu/` in `LD_LIBRARY_PATH`. See this example: https://github.com/gramineproject/gramine/blob/5b6f6db983a9ec23cf94408f5941eaaaea9a4d41/libos/test/regression/bootstrap_cpp.manifest.template#L5

Basically, replace your current `LD_LIBRARY_PATH` line with this:
[code]

[2022-08-01 07:27] Yang-yyf commented on #806
I made a similar attempt before, and apparently my grammar was wrong. Now that the problem is solved, I take the initiative to close the issues.
Thank you!

[2022-08-01 07:27] #806 closed

[2022-08-01 10:21] anjalirai-intel opened #807 "LibOS Regression Test: shebang test script verification fails on CentOS/RHEL"
## Description of the problem
LibOS Regression test: test_212_shebang_test_script works in CentOS/RHEL, but the message verification gets failed because of a string comparison

## Steps to reproduce
1. export ARCH_LIBDIR=/lib64
2. Add **file:{{ arch_libdir }}/libtinfo.so.6** in shebang_test_script.manifest.template
3. gramine-test --sgx build -v
4. Run gramine-test --sgx pytest -v -k "test_212_she

[2022-08-01 10:37] boryspoplawski commented on #807
Could you run `shebang_test_script.sh` on the same host machine (without Graimne) and paste output?

[2022-08-01 10:39] anjalirai-intel commented on #807
Pure Native:
TEST OK Printing Args: scripts/baz.sh ECHO FOXTROT GOLF scripts/bar.sh ALPHA BRAVO CHARLIE DELTA /home/intel/anjali/gramine/libos/test/regression/scripts/foo.sh

[2022-08-01 10:48] boryspoplawski commented on #807
Ok, I was able to reproduce the issue even on Ubuntu - just substitute `sh` with `bash` (I just mounted `bash` as `/bin/sh` in manifest). Seems that `bash` first resolves the path to be absolute and then passes it as `pathname` (contrary to `dash`, which is default `/bin/sh` and does not do it).

[2022-08-01 11:00] dimakuv commented on #807
@boryspoplawski What would be the correct fix for this? Just using a Regex expression in the Python test script?

[2022-08-01 11:03] oshogbo commented on #689
The proposal:

The important note is that we will follow a guideline from RFC2181 that the entire domain name is limited to 255 octets (including separators).
Source: https://www.rfc-editor.org/rfc/rfc2181
Quote:

### `PalGetHostname` -> `/etc/hostanme`

The API should be similar to `gethostname()`:
[code]
The difference between `gethostname` and the `PalGetHostname` will be that we guarantee a nu

[2022-08-01 11:15] boryspoplawski commented on #807
There is no "correct" fix here, I think. What comes to my mind:
1) Mount `bash` over `sh` - we no more depend on whatever symlink `/bin/sh` is and `bash` always uses absolute path in the pathname.
2) Use regex to mach only last part of the path.
3) ~Before running the test in Gramine, run it also on the host and compare outputs.~ This would also require regex and makes little sense, point 2 would

[2022-08-01 11:43] boryspoplawski commented on #689
Why do we need a new function for this? Why cannot it be static information set at the startup?

Please no. Configuring networking from withing Gramine is not supported and I would prefer to leave it this way.

I would make all the arrays allocated separately and keep pointers to them (instead of inlining them in the struct). Is there any disadvantage of this?

Do you think it's worth implementing

[2022-08-01 11:55] mkow commented on #689
Also, on the security of this:

- Just saying out loud what's obvious: we should implement only the part of the configs which are really used by common apps and required (to minimize the attack surface).
- Network is already assumed to be untrusted (even by normal, non-TEE apps), so it shouldn't be a problem that the app gets DNS config from untrusted host - the host/something on the network can s

[2022-08-01 12:04] oshogbo commented on #689
The reason was that the name can be changed from Gramine.

We actually have a sethostname already in Gramine. This is why I put it here.
Or I miss read something:
https://github.com/gramineproject/gramine/blob/74e74a87a1127124cf89bd487a021dc1ceb8fa75/libos/src/sys/libos_uname.c#L43

I have chosen the ones that make the most sens for me - but I'm open for discussion.
For example it is important to

[2022-08-01 12:24] boryspoplawski commented on #689
But it's a dummy implementation, which does not propagate the change neither to other in-Gramine processes, nor to the host OS.

Going this way everything is important - if something uses it, then it might be requires for correct operation. We just want to make sure that it's a common option that will be actually used.

[2022-08-01 13:48] aep opened #808 "flock LOCK_UN"
flock  doesnt appear to be implemented

[code]

relevant code:

[code]

for our use case it would be ok to just return 0 and do nothing, since concurrent access doesn't really happen anyway with each process being inside its own enclave

[2022-08-01 13:53] boryspoplawski commented on #808
Duplicate of #58
@aep please comment there

[2022-08-01 13:53] #808 closed

[2022-08-01 14:04] dimakuv commented on #58
Looking at this from August 2022, some things are irrelevant/were done already:

The FS rewrite was done.

Protected FS (renamed to a more logical Encrypted FS) was lifted from the PAL layer to the LibOS level.

Tmpfs was implemented.

[2022-08-01 14:30] dimakuv commented on #807
@anjalirai-intel Could you try https://github.com/gramineproject/gramine/pull/809 ?

[2022-08-01 14:31] anjalirai-intel commented on #807
@dimakuv sure.

[2022-08-01 14:56] dimakuv commented on #807
@anjalirai-intel Make sure to try the latest (updated) version. I had a bug in the first version.

[2022-08-01 14:58] anjalirai-intel commented on #807
It works

[code]

[2022-08-01 14:59] anjalirai-intel commented on #807
I will try with updated

[2022-08-01 15:05] anjalirai-intel commented on #807
Updated code also works

[code]

[code]

[code]

[2022-08-01 16:04] dimakuv commented on #807
Thanks, we will merge the PR soon-ish

[2022-08-02 06:39] #795 closed

[2022-08-02 08:45] rafariossaa commented on #804
Hi,
  Sorry for the delay.
  In this case, I have a python installation at system level but for the user that runs gramine I have a newer version of python. I am not using venv.

[2022-08-02 09:01] dimakuv commented on #804
Why do you need a newer version of Python for the user? What I'm looking for is a specific scenario where this is necessary, and our current reliance on `/usr/bin/python3` breaks Gramine workflows.

[2022-08-02 11:25] aep commented on #58
would everyone be ok with just ignoring the syscall and returning 0 ?

i don't think there's value in actually implementing it inside tmpfs for example because there's no second process that contests it  anyway.

could be made a config option, i guess.

[2022-08-02 13:03] boryspoplawski commented on #58
Definitely not, if something depends on it, it would break horribly.

There could be multiple threads (which share virtual memory and hence tmpfs)

[2022-08-02 23:44] vijaydhanraj opened #814 "RFC: Support for Local Attestation (LA-TLS) between Enclaves"
## Description of the problem

One of the cloud use cases is to modularize secure applications running in a system into different enclaves. This is to minimize the TCB and thereby reduce loss if some parts of the code are compromised. For example, one enclave may receive some personal user data and may interact with another enclave to service the user request.  Due to the confidentiality nature of

[2022-08-03 07:34] kailun-qin opened #817 "Move to or add ECDHE-based key exchange support for secure channel establishment"
Currently Gramine is using the DHE-based key exchange (fixed to 3072 bit prime order multiplicative groups) plus the combination w/ SGX local attestation (for authentication) to establish secure channels between the parent and child enclaves.

Since DHE is considerably slower than ECDHE (and the performance penalty for DHE increases a lot more when increasing the number of bits), it may be better

[2022-08-03 09:05] lejunzhu commented on #800
I can think of a few:
- When the user gets a pre-built docker image, instead of building his own app.
- The user may want to keep MRENCLAVE to a well known value, in order to collaborate with other Gramine apps via remote attestation.
- Another case is the config will include MRENCLAVE values of more than one apps, therefore it can only be generated after building the app.

[2022-08-03 12:24] dimakuv commented on #817
This is an interesting proposal, but I would say this has very low priority for now.

First of all, we got an approval from an internal audit on Gramine that our DHE-based scheme was ok from the security perspective. I guess we'll need to get a new approval if we switch to ECDHE.

Second of all, the handshake between the parent and the child enclaves is a rare event. So I see no point in optimizin

[2022-08-03 13:02] dimakuv commented on #58
+1 to @boryspoplawski, we should implement `flock()` properly.

[2022-08-03 13:29] llly opened #819 "[LibOS] `ioctl(FIONCLEX)` with file/socket/pipe opened with `O_CLOEXEC` flag doesn't work as expected"
## Description of the problem
Current `ioctl(FIONCLEX)` only modifies internal flags and doesn't not touch the actual handle in Pal.
https://github.com/gramineproject/gramine/blob/f91a2c18370858701a33c00620b0c7954f6779bf/libos/src/sys/libos_ioctl.c#L60-L61

When `open`, `socket` and `pipe2` syscalls with `O_CLOEXEC` or `SOCK_CLOEXEC` flag  create a host file descriptor with  `FD_CLOEXEC` flag, it

[2022-08-03 13:36] dimakuv commented on #689
+1 to @boryspoplawski. This is not needed, let's just have a static info. The fact that we implement `libos_syscall_sethostname()` is not an argument here -- we probably actually want to remove this syscall alltogether (I don't remember who and why added it, it doesn't make sense anyway).

I cannot parse this paragraph... Why shouldn't we propagate `/etc/hosts`? How else will the application map t

[2022-08-03 14:16] boryspoplawski commented on #800
How would would we decide which apps are ok/safe to run, if they are not reflected in manifest (hence MRENCLAVE)?

But in Gramine `MRENCLAVE` reflects not only the app, but also Gramine itself and manifest (and hence initial filesystem state).

[2022-08-03 14:24] oshogbo commented on #689
My understanding was that with Gramine we target running a trusted process on untrusted server. So if you want to have your own `myhost` definition should this be a part of the application itself, instead of trusting server configuration. For example the server might override some DNS entry which should be override and we will blandly propagate them. That said I'm not sure if this is even a valid

[2022-08-03 14:36] boryspoplawski commented on #689
All of this doesn't really matter, host OS can e.g. change dest and src IP addresses as it wishes.

[2022-08-03 14:39] dimakuv commented on #689
What does it mean exactly, "be a part of the application itself"? Why can't the application rely on `/etc/hosts` to get a mapping from the hostname to the IP address?

Yes, of course, but this can be said about any file that we want to sanitize here... The point is not to make `/etc/hosts` file trustworthy, but to *verify* that this file adheres to a certain structure that a normal non-security-ha

[2022-08-03 14:43] boryspoplawski commented on #689
Yes, I know. I was responding to @oshogbo that we trust the server in this regard anyway.

[2022-08-03 14:57] dimakuv commented on #800
I guess the logic will be something like this:
1. In Gramine manifest, we specify a list of binaries/scripts that can be run using `fs.mounts`. This restricts which apps can run.
2. With the added KSS support, Gramine sets `CONFIGID` and `CONFIGSVN` (and maybe other new SGX fields) to some kind of secure hash of the loaded binary. This reflects the "currently running binary" in Gramine; it is refl

[2022-08-03 14:58] boryspoplawski commented on #819
This is correct and intended.

Host `CLOEXEC` does not matter, we always set that anyway.

The real problem is that `FD_CLOEXEC` is set in handles map only on fd creation and is never updated. We should always consult `handle->flags` (and remove this info from handles map) or update it flags in the map correctly.
Also this `ioctl` is missing locking completely.

No, please see above.

[2022-08-03 15:02] boryspoplawski commented on #800
What's the point? You can read `/proc/pid/cmdline` or something inside Gramine to get the current running app. Also you probably know already which app is currently running, so I really don't see a point.

But what's the point? This cannot ever be a security feature - all the code (apps) running must trust each other anyway.

[2022-08-03 15:04] dimakuv commented on #819
Yes, agreed with @boryspoplawski

[2022-08-03 15:05] dimakuv commented on #800
I'm not talking about the Gramine enclave itself. But rather about the remote parties.

[2022-08-03 15:24] llly commented on #819
I see. `libos_fd_handle` and `libos_handle` are different handles. Need to sync the flag in them.

[2022-08-03 15:27] boryspoplawski commented on #819
Or rather not keep the flags duplicated. This needs some investigation

[2022-08-03 15:29] boryspoplawski commented on #800
But the code handling remove attestation could just handle this - it knows when / in what app it runs

[2022-08-03 15:51] dimakuv commented on #800
What are we talking about? Sorry, I am confused by "could just handle this" -- handle what exactly? The SGX Report is an Intel SGX Hardware defined struct, it's not a software construct. You cannot just add some fields to it as you wish.

[2022-08-03 16:09] boryspoplawski commented on #800
You said the purpose of this feature is to know the "currently running binary" in Gramine.
My point is that this is not a security feature (as explained before) and if you know all inputs that make the final MRENCLAVE (which you probably have to, if you trust it), then you already know what program is running inside Gramine.

You can have any data appended (possibly encrypted) and embed hash of it

[2022-08-03 16:11] dimakuv commented on #800
But how are you gonna check it? We currently use `sgx_report.user_data` for the hash of the public key of the ephemeral keypair generated inside of the SGX enclave (for RA-TLS purposes). If we put a hash of the "currently running binary" in this mix, the remote party will have a really hard time figuring out with which binary (out of a set of e.g. 100 possible binaries) it talks -- it will need to

[2022-08-03 16:13] dimakuv commented on #800
I guess I agree with this. It doesn't really add more security. It just makes attestation (more specifically, verification by the remote user) easier and more friendly, as it gives you a couple more fields -- in addition to `sgx_report.user_data` -- that can be updated and put inside the SGX report.

[2022-08-03 18:05] boryspoplawski commented on #800
As I said, you can append any data and send it together with the report. The data can be anything, including the binary name - you just verify that the hash matches.

But how does it make anything better? I just fail to see any value in this feature (as described in this thread, maybe there are other usecases).

[2022-08-03 19:17] dimakuv commented on #800
But this would require some software-defined convention/standard. E.g., Microsoft OpenEnclave and Gramine won't be able to recognize each other's "appended data" unless they adhere to this standard. Surely this can be done, but having a special hardware-defined field like `CONFIGID` seems like an easier route.

One other thing that we forgot in this discussion is that `CONFIGID` is also important

[2022-08-03 23:35] lejunzhu commented on #800
Here's an example of what I mean. Let's say a researcher wrote an application to do machine learning using multiple independent data source. The app is distributed as a docker image.
- Each contributor of the data will run an instance of the app.
- The app will listen on a port. When it gets the partially trained parameter from another instance, it will run the algorithm using its locally stored d

[2022-08-04 08:11] DL8 commented on #800
Following the whole discussion above, my conclusion so far is that CONFIGID value cannot be part of the manifest, because we would expect the same binary to support different CONFIGIDs without affecting MRENCLAVE. I would expect some "is KSS required" field in the manifest though. Other fields may be applicable if we want to reserve part of the CONFIGID for Gramine use. I don't see a valid use cas

[2022-08-04 10:13] gus6202 commented on #571
Hey, sorry for replying late but I have a question, my kernel version is +5.11, and in docs says that version already support ``FSGSBASE functionality as well as the Intel SGX driver built-in. If you have Linux 5.11+, skip steps 2 and 3.`` so what am I missing?

[2022-08-04 10:28] gus6202 commented on #571
Hey, sorry for replying late but I have a question, my kernel version is +5.11, and in docs says that version already support ``FSGSBASE functionality as well as the Intel SGX driver built-in. If you have Linux 5.11+, skip steps 2 and 3.`` so what am I missing?

[2022-08-04 11:03] dimakuv commented on #571
Yes, but the FSGSBASE functionality has nothing to do with installing Intel SGX SDK/PSW/DCAP packages.

Please follow the guide (PDF) that I attached.

I mean, yes, you can skip steps 2 and 3, but you still need to do steps 4 and 5: https://gramine.readthedocs.io/en/latest/devel/building.html#install-intel-sgx-sdk-psw

[2022-08-04 15:06] boryspoplawski commented on #800
Ok, this is the real "added value" of this feature, I see now.

[2022-08-04 15:16] #807 closed

[2022-08-04 15:49] aep opened #821 "/proc/meminfo returns host size"
libos/src/fs/proc/info.c  proc_meminfo_load
[code]

this seems off. the enclave does not have access to this amount of memory.
shouldnt this be the value set in the manifest instead?

[2022-08-04 16:59] boryspoplawski commented on #821
What makes you think so? This is literally enclave size (minus some internal stuff).

[2022-08-04 17:08] aep commented on #821
its 16GB for @klassiker , with a 16GB host, and enclave size 1GB.

https://github.com/gramineproject/gramine/blob/efdecf179fca5d9e99b0e19b0a9748ce1de1f0e4/pal/src/pal_main.c#L541

https://github.com/gramineproject/gramine/blob/efdecf179fca5d9e99b0e19b0a9748ce1de1f0e4/pal/src/host/linux/pal_memory.c#L148

[2022-08-04 17:11] boryspoplawski commented on #821
This makes no sense.

You linked Linux PAL, not SGX. This is the correct file:
https://github.com/gramineproject/gramine/blob/efdecf179fca5d9e99b0e19b0a9748ce1de1f0e4/pal/src/host/linux-sgx/pal_memory.c#L89

I've also verified, it works correctly.

[2022-08-04 17:12] aep commented on #821
hmm. i'll debug it further. maybe its a specific misinterpretation of proc meminfo inside gamine by that software

[2022-08-04 17:30] aep commented on #821
the offending code is actually reading /proc/self/mem

https://github.com/mongodb/mongo/blob/0b7b26390896197c0cb4f31affcda7dc19dda85f/src/mongo/util/processinfo_linux.cpp#L77

[2022-08-04 18:24] boryspoplawski commented on #821
1. You've linked `/proc/[pid]/stat`, not `mem`.
2. Neither `stat` nor `mem` are emulated in Gramine

[2022-08-04 18:25] aep commented on #821
yeah, i have no idea how mongo comes up with these totally off numbers,
but i have confirmed they scale with enclave size so i dont think this is a gramine issue. closing.

[2022-08-04 18:25] #821 closed

[2022-08-04 19:26] bigdata-memory opened #822 "[SGX] RFC: Support for Intel Project Amber Attestation"
**Intel Project Amber Attestation Service**
-----
Project Amber creates the industry’s first independent Trust Authority. The program is a SaaS (Software as a Service) implementation of a Trust Authority that provides remote verification of the trustworthiness of a compute asset based on attestation, policy, and reputation/risk data. Initially, Project Amber will verify the trustworthiness of trus

[2022-08-04 23:07] boryspoplawski commented on #822
Why cannot this be a simple library preloaded into the application (and somehow run, depending on the app runtime, e.g. in C it could juts define a global constructor to be run by libc runtime) that would use our `/dev/attestation/*` interfaces?

[2022-08-05 00:13] bigdata-memory commented on #822
It could be that way, however, it might make things complicated for users to deal with. Furthermore, as 3 usage scenarios above presented. Regarding the case 1, the way you described could be suitable for it but extra efforts needed for configuration and maintain. For case 2, the application would need a Project Amber client library to satisfy it (probably written in different programming language

[2022-08-05 01:26] boryspoplawski commented on #822
How exactly?

No, this is exactly the same - you have something you called "premain", which could handle all of this, instead of embedding the code into Gramine.

Since the application would already have to be "Project Amber" aware and would use the new "/dev/something" Gramine API, it could very well use a different API, i.e. either our `/dev/attestation/*` directly, or use a library that would w

[2022-08-05 03:51] kailun-qin commented on #822
+1, I haven't gotten the point why this needs to be all embedded into Gramine. Any specific item for Amber (different from other attestation frameworks) from integration perspective?

[2022-08-05 07:02] dimakuv commented on #800
Thanks @DL8 for the great overview!

Let me summarize the important hardware-enforced properties of the new CONFIGID field:
1. CONFIGID is a new measurement field that can contain arbitrary data (total 64 bytes). The main purpose of this field is to signal "which specific configuration is used".
2. CONFIGID is included in the SGX Report, thus it can be analyzed by the remote party during SGX local

[2022-08-05 07:19] dimakuv commented on #822
Thanks @bigdata-memory for the detailed description and the links! I'll need to go through these links to understand the Amber design and APIs specifically (which I wanted to do anyway).

At a first glance, Project Amber's integration with Gramine looks very similar to the integrations that we've done in RA-TLS:
- with EPID (also a REST-based web service, Intel IAS)
- with DCAP (this one is differ

[2022-08-05 08:22] kailun-qin commented on #817
OK, as it's very low priority, I'll close it for now.

[2022-08-05 08:22] #817 closed

[2022-08-05 11:08] boryspoplawski commented on #822
Exactly.

I disagree. There could be language-specific libraries with different APIs,  just like there would have been language specific libraries handling `/dev` files. No difference, if you want to have runtime/language specific stuff.

But why are you imposing this limitation that this needs to have the very same API as RA-TLS? It could have 100 functions, however complex you want. All of these

[2022-08-05 12:44] gagandeep987123 opened #823 "Error "std::system_error" when running parameter server in gramine"
I am attempting to run PyTorch’s [parameter server](https://github.com/pytorch/examples/blob/main/distributed/rpc/parameter_server/rpc_parameter_server.py) in gramine.

The program uses PyTorch's multiprocessing which doesn't work.

As another attempt, I tried another approach  where instead of calling a separate thread call, I am directly calling the function run_parameter_server(0,world_size) at

[2022-08-05 12:48] boryspoplawski commented on #823
Could you provide us with a trace log of Gramine execution? (add `loader.log_level = "all"` to the manifest)

Why it does not work?

[2022-08-05 13:16] gagandeep987123 commented on #823
The output is like 4.2 MB file with 55k lines. I am pasting last few lines of it as Github comment doesn't allow pasting the full output.
[code]

[2022-08-05 13:27] boryspoplawski commented on #823
You can attach the file, you don't have to paste the log inline.

There is no error message in this log, not like the one you pasted before.
But I've noticed that `execve("/pytorch", ...` fails. Are you sure your manifest is correct with everything mounted properly? You can read more here: https://gramine.readthedocs.io/en/stable/manifest-syntax.html

[2022-08-05 13:40] gagandeep987123 commented on #823
The earlier output was from the original code. I thought you wanted to see that. Attaching following the one with the reported error.
[output_approach.zip](https://github.com/gramineproject/gramine/files/9269101/output_approach.zip)

[2022-08-05 13:56] boryspoplawski commented on #823
Please first check your manifest file.
As for the error in `poll` - hard to say, there is not much happening there, although there are some socket flag warning - for this I would recommend building Gramine manually and trying the code from current master - networking code was rewritten recently.

`.rtf`? This was supposed to be a simple text file.

Sure, but I would expect some error, otherwise wh

[2022-08-05 14:03] gagandeep987123 commented on #823
Can you please share any resource for that "I would recommend building Gramine manually and trying the code from the current master"
I installed gramine using "https://gramine.readthedocs.io/en/latest/quickstart.html#install-gramine"

[2022-08-05 14:06] boryspoplawski commented on #823
There's a building section on the same site you've linked: https://gramine.readthedocs.io/en/latest/devel/building.html

[2022-08-05 16:31] klassiker opened #824 "Encrypted files do not get closed"
## Description of the problem

When a file is opened inside an encrypted mount and the file descriptor is not closed by the application no data is ever written to the host. Since the encrypted file header is also missing (file size is zero), the application is broken on restart.

## Steps to reproduce

Application:

[code]

Manifest:

[code]

## Expected results

File is closed by gramine when the

[2022-08-05 20:45] gagandeep987123 commented on #823
I am still getting the error. Attaching the log file.
[output_approach.zip](https://github.com/gramineproject/gramine/files/9271566/output_approach.zip)

[2022-08-07 02:32] bigdata-memory commented on #822
The `amber` in the pathname could be replaced with a generic name if desired, and an additional setting item should be added to `manifest.template` for indicating which backend trust authority to talk.

[2022-08-07 10:03] DL8 commented on #800
`CONFIGSVN` has the same semantics as `ISVSVN`. If the enclave requests a key that includes `CONFIGID`:
1. A different key is derived per `CONFIGSVN`
2. The requested `CONFIGSVN` is checked. If it's greater than the value with which the enclave was launched, `EGETKEY` fails

Is `ISVPRODID` exposed to the enclave? If it is, perhaps putting `CONFIGID` next to it is more appropriate. In addition to t

[2022-08-07 13:58] boryspoplawski commented on #822
I don't think we need any new pathnames at all. @bigdata-memory could you respond to my previous comments?

[2022-08-07 19:26] gus6202 opened #825 "Error Input invalid in ra-tls-mbedtls example (EPID)"
## Description of the problem
Hello,
I want to run ra-tls-mbedtls example using EPID, however it doen't work, I dont know if it's gramine issue or my SPID key is not working...
![Screenshot from 2022-08-07 20-04-31](https://user-images.githubusercontent.com/83662471/183307352-cc6b58b6-f000-4797-b75f-8dfe0ffe8c4b.png)

## Steps to reproduce
Build:
[code]
Run server:
[code]
And client gives this err

[2022-08-08 17:20] bigdata-memory commented on #822
As the way to pre-load a custom library is not frequently used in native running or development environment for most end users and developers. In addition, there might be some limitations imposed by user environments in which don't allow preload taking effect.

In majority cases, the attack surface was introduced by user applications. if we can reduce the code size of them, then the attack surface

[2022-08-08 23:04] mkow commented on #814
This whole paragraph seems to be based on incorrect assumptions - in Gramine all processes trust each other, if you compromise one of them then all of them are compromised, and this assumption is rather impossible in practice to remove (Gramine is +/- a distributed OS, making everything distrusting each other would make the design super hard, if not impossible).

Knowing parts of the original requ

[2022-08-09 06:14] monavij commented on #822
I also need to catch up fully on this thread, but I would say until we can achieve some level of standardization for attestation APIs in the industry, we will stick to preloaded libraries. That way the burden to maintain those will be on the attestation backends and not Gramine.

[2022-08-09 11:37] DL8 commented on #814
You don't have to hard code MRENCLAVE in both enclaves: you could, for example, use MRSIGNER, ISVPRODID, ISVEXTPRODID and ISVFAMILYID (or a subset) to identify the other enclave (the first is derived from the signing public key, the others are signed in SIGSTRUCT). This will require some preliminary work to figure out the other enclave's MRENCLAVE, but at least the circular dependency is eliminate

[2022-08-09 12:12] vijaydhanraj commented on #814
Yes, agree and in addition, maybe can also generate and verify report data over K_e | tag where K_e is the `Diffie-Hellman` session key. (Note: This is done currently in Gramine as part of LA when a child is forked from a parent).

The reason for having a TLS channel is to securely share a master key between the enclaves used for pipes' encryption as well as passing any other secrets/encryption ke

[2022-08-09 13:19] DL8 commented on #814
I don't know the details of the protocol in case of fork, but it may be reusable.

We do want to establish a secure channel, but TLS is an overkill in this specific case, because by using EREPORT we have identity and integrity guarantees.

[2022-08-09 22:53] mkow commented on #825
@dimakuv: Could you take a look at this when you're back?

[2022-08-09 23:47] mkow commented on #814
I agree, and it's similar with other places where we use TLS in Gramine, but AFAIR we picked TLS because we couldn't find a good library implementing encrypted + integrity-checked byte streams with preshared keys and we didn't want to write a custom one.

@DL8: But how you then actually differentiate between one of your enclaves? You need to know who you're talking to, to verify whether the untrus

[2022-08-10 01:42] vijaydhanraj commented on #814
I wanted to add a unique per enclave element in the report (report data) that could be cross verified by the other party. With just `MRSigner` we don't have this uniqueness between the enclaves signed by the same author.

[2022-08-10 05:42] DL8 commented on #814
As enclave developer, you should define a different ISVPRODID (and possibly additional KSS fields) per enclave. In the example you provided, developer can define the following values for ISVPRODID:
* 0 - nginx server
* 1 - database
* 2 - PHP process

Since ISVPRODID is signed in SIGSTRUCT, it reflects the type of the enclave that was launched, except that it doesn't change across builds/versions.

[2022-08-10 10:06] kailun-qin commented on #825
@gus6202 Would you pls give a quick try on the SGX SDK remote attestation sample first to sort this out: https://github.com/intel/linux-sgx/tree/master/SampleCode/RemoteAttestation? Thanks.

[2022-08-10 10:57] mkow commented on #814
Hmm, but you need to also check the version and refuse to communicate with old ones (with security bugs). But I guess you wanted to say "builds", not "builds/versions"?

[2022-08-10 11:06] gus6202 commented on #825
Ok, something is weird I think, in this path that you mention I couldn't build:
[code]
But in the path when I installed sdk, I could build and run RemoteAttestation:
[code]
And then I could run app successfully:
[code]
Is there a problem in my sdk installation environment?

[2022-08-10 14:29] DL8 commented on #814
For that purpose the ISVSVN and CONFIGSVN fields are in the report. It is the enclaves' responsibility to decide whether or not to accept the communication. Once accepted, I would expect enclave developer to add version information/handshake

As for functional versions:

I meant "builds/versions". Once both enclaves attested each other including their security versions, they should negotiate the a

[2022-08-10 14:52] boryspoplawski commented on #814
a bit of an abuse of the mechanism and is harder to maintain

Wait, if you require enclaves to negotiate stuff as part of the protocol, it's enough to use MRSIGNER. Rest of the information can be exchanges via some secure channel established once attestation was successful, there is no need for supporting HW features for that.

[2022-08-10 15:54] vijaydhanraj commented on #814
So, for two enclaves to mutually attest each other signed by the same author, we need
1. `MRsigner` to establish evidence.
2. `ISVPRODID` to establish identity (to ensure we are not interacting with other enclaves signed by the same author). And to further check versions, enclaves can use `ISVSVN` and `CONFIGSVN`.

Would this be fair to say?

[2022-08-10 16:51] vijaydhanraj commented on #814
Thanks @DL8 but the point is to avoid trusted third parties (TTPs) and get attested locally. If we were to have any such TTPs, then one can simply use remote attestation, right?

[2022-08-10 21:24] riturajsingh487 opened #835 "Function not implemented (/home/conan/w/BuildSingleReference/.conan/data/zeromq/4.3.4/_/_/build/16af9af26a452448a2cd2c63dacfde86f7fbfb27/source_subfolder/src/ip.cpp:563)"
### I am trying to create a secure client-server architecture using Zero-mq and Protocol buffers. While running the server linux binary with gramine I am getting below error.

**Function not implemented (/home/conan/w/BuildSingleReference/.conan/data/zeromq/4.3.4/_/_/build/16af9af26a452448a2cd2c63dacfde86f7fbfb27/source_subfolder/src/ip.cpp:563)**

Please find below the error logs while running th

[2022-08-10 21:40] boryspoplawski commented on #835
Please use proper markdown syntax, this is hardly readable.

[2022-08-10 22:42] BFuhry commented on #814
Note that my answer is based on the following assumptions:
1. Enclave _A_ with functionality _AF_ wants to attest enclave _B_ with functionality _BF_
2. Enclave _A_ fully trusts the developer of enclave _B_
3. Enclave _A_ knows MRSIGNER of enclave _B_

If the best design we can come up with anyhow requires some negotiation step between the enclaves, I fully agree with the statement of @boryspoplaw

[2022-08-11 00:29] vijaydhanraj commented on #814
Yes, true this `Enclave A fully trusts the developer of enclave B` this is critical for attestation using MRsigner.

@boryspoplawski @mkow @monavij But in cases where such trust cannot be expected, can we have an encrypted directory specified in the manifest between two enclaves that want to locally attest each other? Then both enclaves can share some randomly generated unique ID in this directory

[2022-08-11 01:39] kailun-qin commented on #835
Looks like your zeromq workload is trying to use eventfd, pls kindly have a try on adding `sys.insecure__allow_eventfd = true` into the manifest or disabling eventfd in the zeromq configure script w/ `--disable-eventfd` (default enabled).

[2022-08-11 02:34] kailun-qin commented on #825
It's not an issue, pls kindly try `LD_LIBRARY_PATH=<path to where your libsample_libcrypto.so locates> ./app` - it should be fine then.

Yes, it looks good to me.

Well, taking another closer look at your previous log, you were trying to run w/
[code]
but it looks like `RA_TLS_EPID_API_KEY=xxx` (client API key for EPID) is missing? Please kindly have a look at https://github.com/gramineproject/gra

[2022-08-11 05:59] DL8 commented on #814
If a another signer is trusted, I would expect it to be known at build time to have its `MRSIGNER` embedded it in the code. Therefore, a trusted third party (sort of a certificate authority) is not required.

While enclave may choose to use only `MRSIGNER` to verify the other enclave, I see several problems with it:
1. Not checking `ISVSVN` (possibly `CONFIGSVN`) is a security bug: if security bug

[2022-08-11 12:15] gus6202 commented on #825
Oh I'm so sorry, I used to run with DCAP and I forgot that.
Now I got a new error:
[code]
At least I know my spid and key are working, the thing is gramine. Is it because LD_LIBRARY_PATH is not on the right path?

[2022-08-11 12:34] kailun-qin commented on #825
Please kindly try to add “RA_TLS_ALLOW_DEBUG_ENCLAVE_INSECURE=1” as mentioned in the Readme. Additionally, note that there is another option (not related to this error, but potentially needed depending on your config) - “RA_TLS_ALLOW_OUTDATED_TCB_INSECURE”, pls kindly set if needed.

[2022-08-11 13:40] boryspoplawski opened #836 "[LibOS] Posix file locks are not released on fds with `CLOEXEC` flag on `execve`"
## Description of the problem
Posix file locks are not released on fds with `CLOEXEC` flag on `execve`.
Regular file closing: https://github.com/gramineproject/gramine/blob/90f8b9d7eacfa1c9bc07089d9d00ea774888435f/libos/src/bookkeep/libos_handle.c#L309
Closing on execve: https://github.com/gramineproject/gramine/blob/90f8b9d7eacfa1c9bc07089d9d00ea774888435f/libos/src/sys/libos_exec.c#L18

[2022-08-11 15:27] gus6202 commented on #825
Finally, now it's working!
[code]
I did change the manifests (instead of  ``debug= true`` I changed to ``debug=false``) like someone did and fix this kind of error  (#571). Now I reverted to ``debug=true`` and run with RA_TLS_ALLOW_DEBUG_ENCLAVE_INSECURE=1.
Sorry for disturbing and I'm really thankful for your help,

Best regards

[2022-08-11 16:59] #825 closed

[2022-08-11 17:17] gus6202 opened #838 "Error while verify quote (report: Quote is too small)"
## Description of the problem
Hello,
I want to verify a quote using IAS (EPID). However, I get an error (quote is too small)

## Steps to reproduce
First build for sgx:
[code]
And then run sgx-quote.py example with sgx enable:
[code]
SigRL retrieval:
[code]
And finally Quote verification:
[code]
My quote-dump:
[code]

Is it because my signature_size is not normal? Am I missing something?

[2022-08-11 20:18] boryspoplawski commented on #838
You passed a python script as a quote.

[2022-08-11 20:18] #838 closed

[2022-08-12 05:31] monavij commented on #814
We are mixing multiple things here. So let me try and clarify
1.	With remote attestation you can verify that you are running on a good up to date Intel system and running in an enclave
2.	With local attestation you can just verify that you are running in an enclave on the same machine (it might be out of date)
3.	In both cases we need a Trusted party that can verify your MRENCLAVE. That can be a t

[2022-08-12 11:39] DL8 commented on #814
I don't agree with statement 3. As I see it, there are two main steps in the attestation:
1. Integrity check: enclave verifies the integrity of the report (EGETKEY and MAC). If this succeeded, we know the report came from an enclave running on the same platform, and that its contents indeed reflect its identity
2. Content check: enclave decides whether or not to accept the report. A trusted third

[2022-08-12 14:46] boryspoplawski commented on #814
The very same thing can be said about KSS or any other ID(s) based system. You need a way to differentiate between configs, it doesn't really matter what you threat as an ID.

The list would have to come from a trusted third part, presumably as a part of remote attestation (or via some secure channel established with remote attestation). This doesn't have to be a list, it can be any format you wan

[2022-08-12 16:46] Villain88 opened #840 "Unexpected memory fault occurred inside PAL (strnlen at strlen.c)"
## Description of the problem
I found a very strange bug that is reproduced only by a set of certain steps and using the following gramineproject components:
gsc, encrypted_fs, tracing

## Steps to reproduce

1. Build a container with the following content
[code]
2. Graminize image using GSC with option **-d** (debug) and a manifest with the following content:
[code]

3. Take an example of pytorch

[2022-08-12 17:56] boryspoplawski commented on #840
Hmm, seems that opening a protected file does not set `handle->uri`? I guess that's a good entrypoint for anybody debugging this. https://github.com/gramineproject/gramine/blob/d8217c8ad08fc2be289384b90100e29c0506c097/libos/src/libos_rtld.c#L1037 here `hdl->uri == NULL` on encrypted file.

[2022-08-12 19:40] riturajsingh487 commented on #835
Thanks for the reply.
That error is not coming after adding **sys.insecure__allow_eventfd = true**  in the manifest file as you suggested .

I am running server linux binary with gramine.
Now, it is stuck at some point while calling **shim_epoll_wait()**, **call has not reached the main()** yet in which I am creating a socket using zeromq. (Server)

Still I tried connecting the server with my clie

[2022-08-13 02:14] monavij commented on #814
Ok what is the problem with what I proposed above? Where you have a trusted party that maintains the MRENCLAVEs? Having seamless encryption of unix domain sockets is an imp feature and  there is a secure way to do it.

[2022-08-13 10:00] DL8 commented on #814
Yes, but it's much easier to maintain and verify those fields, because they are not bound to change with each build. I would expect that for each enclave, developer defines a different constant for product ID in the manifest, and it will not change often (if at all). This can be set with `sgx.isvprodid` and other fields can be added for KSS support in the future. `sgx.isvsvn` will be used to defin

[2022-08-13 15:18] boryspoplawski commented on #814
@monavij The problem is that Gramine itself would need to do the attestation, nHow to establish a secure channel is an important topic that hasn't been discussed so far.ot only expose API/interfaces for the app to do that. `/dev/` files wouldn't be enough, you would need some configuration of which enclaves can connect to which enclave on which UNIX domain socket i.e. an extensive configuration th

[2022-08-13 20:42] monavij commented on #814
@boryspoplawski   - Agree with you that for unix domain socket the onus is on Gramine to do the establishment of secure channel. Also we would like to make that mechanism flexible and let application decide how they want to establish trust in the other local enclaves. Not sure if that will make Gramine more complex or just more flexible. KSS is just another tool in our toolbox.  We should add supp

[2022-08-14 09:21] DL8 commented on #814
Sounds like an existing mechanism can be reused for this purpose, which may be the right thing to do. However, "raw attestation" interface may be needed as well, in case the other enclave doesn't use Gramine and another protocol is required.
Regarding KSS, note that local attestation can be achieved without it, so it should not be a dependency. Also note that even if it is supported in the platfor

[2022-08-15 15:47] Villain88 commented on #840
of course, but a little later, I will write the result here

[2022-08-15 22:21] vijaydhanraj commented on #814
To summarize the scope:
1. For raw attestation:

    a. Gramine already exposes raw attestation interfaces via `/dev/attestation`.
    b. Local attestation between **parent and forked child** is already supported.
    c. For Local Attestation between 2 different enclaves running on the same host using **Gramine LibOS**:
    -  No changes are needed in core Gramine LibOS.
    - Gramine can provide

[2022-08-16 07:35] kailun-qin commented on #364
We met similar issues when enabling a workload using [libnuma](https://github.com/numactl/numactl). cc @RodgerZhu @xhuan28

This was planned for post-1.1, but as we've already been trending v1.3 release now, any blockers here to prevent this from being moved forward? And more generally, do we have any plan to enable libnuma? Thanks!

[2022-08-16 11:56] dimakuv commented on #364
@kailun-qin I don't think there are any blockers. We simply didn't have time to work on this. If you (or someone else) can pick it up and implement quickly -- maybe after some discussions if needed -- then please go ahead. I can reassign this task from Vijay to someone else.

[2022-08-16 12:15] dimakuv commented on #835
The size of your SGX enclave is only 256MB. I suggest you to increment it to smth like 1GB, using the `sgx.enclave_size = "1G"` manifest option.

[2022-08-16 15:03] #824 closed

[2022-08-16 15:10] kailun-qin opened #846 "Evaluate and mitigate stale data reads in Gramine SGX"
Intel disclosed the Stale Data Read vulnerability recently. In order to mitigate this issue completely, reading data from outside an SGX enclave's own linear memory range (ELRANGE) must be aligned and in 8-bytes chunks. We'd better evaluate if there is any impact to Gramine SGX and mitigate accordingly.

References:

https://www.intel.com/content/www/us/en/security-center/advisory/intel-sa-00657.h

[2022-08-16 15:19] kailun-qin commented on #364
Got it, thanks! Sure, if @vijaydhanraj is fine w/ it, please kindly assign this to me. Myself (or my team) can help look into this.

[2022-08-16 15:21] DL8 commented on #814
What do you mean by "raw attestation"? As I understand it, it's the use case where the app uses Gramine only to verify a given report's integrity. I would expect Gramine to provide higher level APIs for secure channel establishment, such that if both enclaves use Gramine, these can be used and Gramine will take care of the key exchange details.

Note that once MAC is verified, the application may

[2022-08-16 15:22] vijaydhanraj commented on #364
@dimakuv @kailun-qin , I am fine. Please go ahead.

[2022-08-16 15:50] riturajsingh487 commented on #835
I tried increasing the size of the SGX enclave to 1GB and 2GB. But still no luck. Same issue is coming.
Here is my manifest.template file

[ServerZP.manifest.template.txt](https://github.com/gramineproject/gramine/files/9352500/ServerZP.manifest.template.txt)

Your help on this is greatly appreciated.

[2022-08-16 16:11] dimakuv commented on #835
There is clearly not enough enclave memory, based on your logs. E.g. you have lines like this:
[code]

I don't see that you increased the size of the enclave? I still see this line in the log:
[code]

Did you forget to rebuild your stuff after you modified the `manifest.template` file?

[2022-08-16 16:31] riturajsingh487 commented on #835
I have not uploaded the updated logs in my previous post, my bad .
I am uploading it now.

[gramine_server_epoll_zeromq_logs_updated.txt](https://github.com/gramineproject/gramine/files/9352765/gramine_server_epoll_zeromq_logs_updated.txt)

[2022-08-16 17:03] dimakuv commented on #835
Thanks. I don't see anything special in the new log...

Could you try the latest `master` branch of Gramine? Maybe the bug was fixed in Gramine in the last couple months (since the release of Gramine v1.2).

[2022-08-16 21:15] vijaydhanraj commented on #814
Please see here the low-level interfaces exposed by Gramine. This is what I mean by `raw attestation`.  https://gramine.readthedocs.io/en/stable/attestation.html#low-level-dev-attestation-interface
And yes, the idea is to create a library that will verify the integrity of the report by checking the `mac` but whether to expose the entire `report`, or limit it to just a few fields, establish a secur

[2022-08-17 06:39] kailun-qin commented on #364
Drafted a PR to add trivial support (similar to `/proc/meminfo` as suggested) for these files - just not sure whether the vaules here are still reasonable: https://github.com/gramineproject/gramine/blob/6c24e6a0932edfe84908e186ded5e3b622c0ddeb/libos/src/fs/sys/node_info.c#L129-L132

Normally the stats in `/proc/meminfo` would be the sum of those in `/sys/devices/system/node/nodeX/meminfo`, but it

[2022-08-17 10:31] Villain88 commented on #840
sorry for the long wait
checked both pull requests: #841 and #845. The problem no longer reproduces. Thanks.

[2022-08-17 11:02] qijiax opened #849 "No “mysql.sock" generate when running Mariadbd in Gramine"
## Description of the problem
MariaDB failed to run in Gramine. For the log, mysqld is ready for connections, but "mysql.sock" can't be found in /var/lib/mysql.

An Error is also in the log:
[ERROR] Can't open and lock privilege tables: Got error 22 "Invalid argument" from storage engine Aria

Few warning from the log:
[Warning] WSREP: Guessing address for incoming client connections failed. Try s

[2022-08-17 13:06] dimakuv commented on #819
Just some references for history (when I was reviewing #842):

- The `libos_fd_handle::flags` is for file descriptors (FDs). Described in Gramine here: https://github.com/gramineproject/gramine/blob/cf43bbca4c48456378b34621a1a271c6b3bd8148/libos/include/libos_handle.h#L228
- The `libos_handle::flags` is for file descriptions (aka LibOS handles, there is only one file description per real object, b

[2022-08-17 13:16] dimakuv commented on #364
@kailun-qin Let's continue the discussion in your PR #847. Generally, I don't like your current approach, see my comments in that PR.

[2022-08-17 13:35] dimakuv commented on #800
@DL8 Did you make a typo here? Did you mean "...derived per `CONFIGID`"?

Also, what about SVN values (`CPUSVN` and `ISVSVN`)? Are they exposed to the enclave?

No, none of these fields are exposed to the enclave (more specifically, to the application that runs on top of Gramine that runs inside the enclave). Nobody yet asked us to add such features.

[2022-08-17 13:47] boryspoplawski commented on #849
You are trying to run one of (server, clinet) on the host and one inside Gramine - this is not supported as `/var/lib/mysql/mysql.sock` is a UNIX domain socket which in Gramine are seamlessly encrypted. You must run everything in one Gramine instance, i.e. running both with `grmaine-sgx server` and `gramine-sgx client` separately won't also work. You have to create some wrapper (e.g. shell script)

[2022-08-17 13:47] #849 closed

[2022-08-17 13:52] DL8 commented on #800
It's not a typo: this statement is about key derivation behavior for a given `CONFIGID`. The second statement is important: just like `ISVSVN` and `CPUSVN`s, an enclave can't ask for keys with newer security versions than what it runs with.

So I don't see a reason to add dedicated APIs for that. Technically, these fields are exposed via `/dev/attestation/report`, which I believe is good enough.

[2022-08-17 13:53] dimakuv commented on #800
Ok, so now we all agree that the main benefit of `CONFIGID` is for local file sealing -- so that only the instance of the enclave that was started with a specific `CONFIGID` may unseal the previously sealed file. (This security property relies on the correct implementation of the verification of `CONFIGID` by the SGX enclave itself, e.g., during the Gramine trusted-PAL initialization.)

@DL8 I sti

[2022-08-17 14:09] raoufro commented on #752
I was faced with the same issue. I installed the gramine-1.2-1 from the apt repository of Gramine
[code]
and I also checked out to tag v1.2
[code]
After making the source code, when I run the server, I get this error
[code]

[2022-08-17 14:22] boryspoplawski commented on #752
@raoufro Did you by any chance build Gramine (not the example) from the repo?

[2022-08-17 15:00] raoufro commented on #752
@dimakuv helloworld example works, but I didn't try redis.
[code]

[2022-08-17 15:10] DL8 commented on #800
It may be worth a separate discussion, because this scenario is not specific to KSS. In general, running the same enclave with the same configuration more than once simultaneously is not necessarily a bug, but it depends on the exact use case. It might be a concern if, for example, the enclave stores blobs out-of-enclave (in files or in memory). In that case, malicious OS may swap valid blobs that

[2022-08-17 15:10] raoufro commented on #752
@boryspoplawski sorry, I am not sure that I understand your point.
I set up "apt" repository and installed the "gramine" using "apt-get" command. Then I checked out to tag v1.2 as you mentioned, and tried to compile the ra-tls-mbedtls example to understand the remote attestation process and implement it in my code.
Maybe, the pre-packaged gramine is not exactly compatible with the v1.2. I would tr

[2022-08-17 15:17] boryspoplawski commented on #752
I just wanted to confirm that you did not also build Gramine from source (in addition to ra-tls-mbedtls example) as that could cause such errors to appear.

No, currently packaged version is exactly v1.2

[2022-08-17 16:09] dimakuv commented on #814
Let me add more chaos to this issue :)

1. The name "LA-TLS" is a bit misleading, and I regret coining it. The original thought was "This looks very much like RA-TLS", but now I see significant differences:
    - RA-TLS builds on top of TLS code of the native app. In other words, native app already encrypts its communication channels with TLS, and RA-TLS simply "augments" the TLS handshake with ad

[2022-08-17 16:11] raoufro commented on #752
@boryspoplawski As you notified, I got suspicious about my bare-metal machine, so I tried to run the example on a clean docker container. It works perfectly! Thank you.
But I'm just wondering how I can fix the issue on my machine. If I remove gramine package, is this incompatibility solved?

[2022-08-17 16:13] dimakuv commented on #752
@raoufro What is the OS distro on your bare-metal machine?

And what is the OS distro on the clean Docker image where things worked?

There seems to be some strange discrepancy between what Gramine expects from the host OS distro and what you have on your bare-metal machine...

[2022-08-17 16:20] raoufro commented on #752
@dimakuv Both of them are ubuntu-20.04, but their minor release is different.

docker container
[code]
bare-Metal
[code]

[2022-08-17 16:27] dimakuv commented on #752
I see nothing special here. What about the Linux versions? (`uname -a`)

[2022-08-17 16:52] raoufro commented on #752
@dimakuv
[code]
I think I installed the kernel image from "ppa:cappelikan/ppa" repository of ubuntu. The original one which was kernel 5.4, the upstream kernel did not support SGX driver and performance-related patches, so I upgraded the kernel to 5.13 which was aligned with this post https://www.intel.com/content/www/us/en/developer/articles/technical/virtualizing-intel-software-guard-extensions-

[2022-08-17 17:45] boryspoplawski commented on #752
It's most likely a problem with glibc discrepancy with ld.so, which can happen if you install two versions of Gramine at the same time. If that's not the case then I have no idea, but given it works in an clean docker, I would suspect that's it. It's definitely not a kernel/driver/sgx issue.
You can try removing Gramine and trying to install it again.

[2022-08-17 18:12] boryspoplawski commented on #814
I think we are mixing two different features here, which is confusing.
A) Local attestation of unrelated enclaves - this should be all on user app / library. Gramine only exports `/dev/` interfaces on top of which app can do the attestation (just like RA-TLS). I think it's non-controversial feature that we could have - after all we shift all attestation burden / deciding who to trust to the user a

[2022-08-18 07:40] DL8 commented on #814
I agree, and I believe it can already be achieved with existing low-level attestation API.

Thanks for the clarification. Is the UDS an actual socket file on the filesystem, or is it emulated in Gramine sandbox? If emulated, I understand why LA doesn't happen (because it's already happened on `fork()`). If the intention is to  add an option to create an actual socket file on the filesystem with se

[2022-08-18 07:56] qijiax commented on #849
Thanks for helping!
I tired create a wrapper and run service and client in one Gramine instance. It works, but it's not suitable for our use case.
Actually, the MariaDB service is running at that time. Our BKM is to run the client with specified port and host. (eg. `mysql -h 127.0.0.1 -P 3306`)

[2022-08-18 11:07] boryspoplawski commented on #849
But that would be completely insecure as host could freely manipulate the communication. Or it would require encryption of the communication, but we cannot do that for unrelated enclaves. There are some talks about supporting local attestation for such cases and then seamlessly encrypting UNIX domain sockets, but it not clear we ever do that (and even if we do it will take some time) https://githu

[2022-08-18 11:34] boryspoplawski commented on #814
@DL8

Gramine is not a sandbox.

It's emulated in Gramine. In PAL API (think of it as a backend) we have something called PAL pipes which we use to implement UNIX domain sockets and which on SGX Linux PAL are coincidentally implementes AS UNIX domain sockets, seamlessly encrypted. The encryption key is shared between all enclaves originating from the same source (attested via LA on fork). We do no

[2022-08-18 12:24] dimakuv commented on #814
Ok, I think me, @boryspoplawski and @DL8 are on the same page now.

Agree. Maybe we should start discussing these two features separately. I'll try to discuss them separately from now on.

Yes, I also think it is a non-controversial feature and can be easily implemented, very analogous to RA-TLS. Actually, this feature (feature A in Borys's classification) is what I would call **LA-TLS**. This fea

[2022-08-18 12:26] dimakuv commented on #814
I know wonder, maybe we should just go with Feature A only (**LA-TLS**), and expose it as @DL8 suggests:

This would enable developers to use `AF_UNIX` sockets with SGX Local Attestation, but the onus of wrapping these `AF_UNIX` connections in TLS sessions will be on the developers (not on Gramine).

[2022-08-18 12:34] dimakuv commented on #800
We're starting to go in circles... We still have a group of people (myself, @mkow, @boryspoplawski, @BFuhry) that doesn't see the necessity in KSS (other than convenience).

Sure, this is useful for convenience. But it is not strictly necessary -- the same guarantees can be achieved by a software-defined protocol, as outlined by @boryspoplawski above. So it's not a real "added value" of KSS.

I st

[2022-08-18 14:08] boryspoplawski commented on #814
Why do you mix some UNIX domain sockets here? This is completely not important how the two enclaves communicate and can only bring confusion.

I don't think anyone called this LA-TLS. It's just that it requires LA and hence the confusion.

No, please no user app/space callbacks.
What we could have is `/dev/gramine/unix_domain_sockets_keys` special file, which you can open and write a struct into:

[2022-08-18 15:48] DL8 commented on #800
Different sealing keys are derived for each user. Therefore, if there is a vulnerability in the enclave that leaks the sealing key:
* Without KSS, the same key is derived for all users. Therefore, all files are at risk
* With KSS, a different key is derived per `CONFIGID` (== user), and therefore only the same user's files are at risk. To leak all files, attacker would have to leak the sealing key

[2022-08-19 06:48] lejunzhu commented on #800
Here's a very simple example: let's say a CSP is hosting a file upload/download service backed by SGX. I can upload my own client certificate and create an instance of it.
- Every time the enclave starts, the enclave code checks hash(allowed client cert) == CONFIGID. The allowed cert is a plain text file anyone can change.
- Every time I use the service (e.g. with RA TLS), I check CONFIGID == hash

[2022-08-19 08:19] dimakuv commented on #814
By LA-TLS, I mean a very concrete implementation of the "SGX-aware TLS library" on top of Gramine-SGX. Just like the case with RA-TLS.

Yes, LA-TLS should not be mixed with UNIX domain sockets in general -- any TLS session (no matter which transport layer it uses) can be converted to an LA-TLS session. But for all practical reasons, UNIX domain sockets (UDSes) are the only candidates currently to

[2022-08-19 08:57] dimakuv commented on #800
@lejunzhu Thank you!

I finally understand the usefulness of KSS. The missing ingridient for me was Step 2 above -- the remote user verifies `CONFIGID` to be a known golden reference value, and refuses to talk with the remote enclave if the `CONFIGID` is not expected.

So KSS is useful to keep secrets sealed **per user** (by throwing `CONFIGID` into the EGETKEY derivation material), and the user m

[2022-08-19 10:25] boryspoplawski commented on #814
And the original post didn't mention seamless encryption of UNIX domain sockets at all. It was brought and mixed in later.

[2022-08-22 06:38] qijiax opened #853 "Poor Performance of MariaDB in Multi-thread Scenario"
## Description of the problem

We use sysbench to made a benchmark on comparing the performance of MariaDB on non-gramine, gramine-direct and gramine-sgx. We  use different thread in sysbench to modify different workload. The statistics of TPS shows a poor performance of MariaDB in Gramine :

Threads  | 1 | 2 | 4 | 8 | 16 | 32 | 64
-- | -- | -- | -- | -- | -- | -- | --
Non-Gramine | 1471.55 | 2893

[2022-08-22 07:00] svenkata9 commented on #853
I think this is due to the involvement of frequent file access related system calls that need to cross the trusted boundary and served by the untrusted. Also, as we discussed via email, the unavailability of unix domain sockets also adds additional overhead.

Can you please capture strace log to confirm?

@sahason

[2022-08-22 07:02] dimakuv commented on #853
Interesting performance numbers. Thanks for doing this effort @qijiax.

1. First, I would concentrate on the poor performance of `gramine-direct`. Already with 2 threads, its max achievable performance is `2395.46 / 2893.56 = 0.83`, or 83% of native performance. And it only gets worse with 4, 8, ... threads. So, I would analyze the performance of `gramine-direct` first, without the additional effe

[2022-08-22 09:16] qijiax commented on #853
I grab the perf record on sgx-direct. There is a spin lock there.

1 thread:
![direct 1thread](https://user-images.githubusercontent.com/88472767/185885520-8b5630be-3a8b-4d60-a73f-b83b8bedfcd7.png)
4 threads:
![direct 4thread](https://user-images.githubusercontent.com/88472767/185885527-095f83b5-4061-4973-a6a8-8b4bcd42d56b.png)
16 threads:
![direct 16thread](https://user-images.githubusercontent.c

[2022-08-22 09:30] DL8 opened #855 "sgx_get_seal_key() and protected filesystem are not backwards compatible"
## Description of the problem

SGX key derivation gets SVN fields in the request (ISVSVN, CPUSVN and CONFIGSVN). This mechanism provides backwards compatibility and anti-rollback protection as follows:
1. Each combination of SVNs generates a different key
2. If all SVNs are less or equal the values of the currently running enclave, a key is returned
3. If at least one SVN value is greater than the

[2022-08-22 11:03] boryspoplawski commented on #853
@qijiax What build are you using? Could you try current master with `--buildtype=debugoptimized` and then add `--call-graph dwarf` to `perf record`? Would be useful to have call graphs at the interesting points.

This is spinlock inside host kernel. It really doesn't matter (at least for now). Btw what kernel do you use exactly?

Judging from these traces it's most likely high contention on some l

[2022-08-22 11:14] qijiax commented on #853
I tied run the sysbench in the same enclave as the server by warping up the command into a script. The performance has about 10% improvement, but still far away from non-gramine.
As my reply to dimakuv, the performance gap between non-gramine and gramine-direct seems because of the spin lock.
From the hotspot of gramine-sgx, the performance per thread is highly related to the percentage of "do_syn

[2022-08-22 11:20] boryspoplawski commented on #853
What spinlock? Why do you keep talking about some spinlock?
Also these traces do not make sense, they only measure untrusted part. See @dimakuv comment

[2022-08-22 11:28] qijiax commented on #853
I'm now using the latest master branch. And I using 5.17.0-intel-next+ kernel.
Can these frame graphs help you?

![Snipaste_2022-08-22_19-20-04](https://user-images.githubusercontent.com/88472767/185909891-4b586e8f-e9ba-416c-b872-e001140ebfeb.png)
![Snipaste_2022-08-22_19-19-25](https://user-images.githubusercontent.com/88472767/185909882-c8b16933-1af7-4bf2-992f-75ecf0a2e0d9.png)
![Snipaste_2022-0

[2022-08-22 11:38] #840 closed

[2022-08-22 11:48] boryspoplawski commented on #853
No, they don't really help. All we can see is that there is a lot of host level futex calls, which we already knew before.

[2022-08-22 11:49] dimakuv commented on #853
@qijiax The flame graphs show that there is indeed some problem with futexes (it is clearly seen on the last graph with 16 threads).

However, these flame graphs do not show from where inside Gramine these futex usages originate. The graphs only show `[unknown]`, which is not helpful. (I don't know why flame graphs can't "grab" Gramine debug symbols, but this is irrelevant for now.)

I would kindl

[2022-08-22 20:57] riturajsingh487 commented on #835
Thanks for your reply.

I have tried with latest master branch of Gramine. But I am still getting the same issue.
Your help on this is greatly appreciated.

[2022-08-23 03:52] svenkata9 commented on #853
@qijiax MariaDB server can run with just 2G enclave size. Could you reduce the enclave size in the manifest. And also the threads to 128? I think that could be the cause for futexes.

[2022-08-23 06:15] dimakuv commented on #835
@riturajsingh487 Could you attach the new logs?

[2022-08-23 07:03] dimakuv commented on #855
For context, the `sgx_get_seal_key()` function looks like this currently: https://github.com/gramineproject/gramine/blob/90ea5a52609a872c992135f9311a47aeacd5f2b1/pal/src/host/linux-sgx/enclave_framework.c#L241-L270

Note the `memcpy()` operations -- this is what @DL8 means by "hardcoded manner". In other words, the seal key will be generated based on the current-enclave's CPU SVN, ISV SVN, CONFIG

[2022-08-23 07:46] JaewonHur commented on #552
@llly

Hi, I am recently trying to run Spark applications in Gramine-SGX, but it seems to need non-trivial efforts.
Did you manage to run the Spark?
Could you please share the write-up for running Spark?

[2022-08-23 09:19] DL8 commented on #855
As I see it, `sgx_getseal_key()` signature should be changed to get the entire key request or just relevant parameters. It may be reasonable to copy it locally to enforce alignment and to perform some sanity checks prior to actual `EGETKEY` invocation (my hunch is that only inputs that lead to an exception and obvious errors should be ruled out). This is the easier part.
The harder part is:
1. Sho

[2022-08-23 09:38] dimakuv commented on #855
Yeah, exactly. Changing `sgx_get_seal_key()` signature is a no-brainer. The real question is: how do it expose it to end users (in the manifest, in the format of Protected/Encrypted Files, in the pseudo-file interface `/dev/attestation/...`). And this is hard to design right, and requires a lot of discussions...

[2022-08-23 11:37] svenkata9 commented on #853
I could repro the perf issue - adding strace and vtune dat
[strace.txt](https://github.com/gramineproject/gramine/files/9402129/strace.txt)
[vtune_results_hotspots.txt](https://github.com/gramineproject/gramine/files/9402130/vtune_results_hotspots.txt)

[2022-08-23 12:04] mkow commented on #855
+1. This seems pretty hard to get right and easy to accidentally worsen security of the whole Gramine. We currently have a lot of pending design discussion and this one is only a quality-of-life improvement (not a security fix, and not really a new functionality), so IMO it should have low priority for now.
Currently, if user's enclave gets compromised somehow then they need to redeploy them in th

[2022-08-23 12:11] dimakuv commented on #814
One unsolved problem is: how does the Gramine enclave know to which other Gramine enclave to connect? In other words, for Local Attestation, each enclave needs some well-known listening socket, and each other enclave must know this well-known listening socket (to be able to connect to it).

Taking our examples of Nginx, PHP, and MySQL database. Each runs in its own Gramine enclave. Each needs to p

[2022-08-23 15:51] DL8 commented on #855
How do you expect migration to work? If I am not mistaken, sealing keys depend on platform-specific secrets, so copying the protected filesystem data won't help you so much. Do you mean to let the developer define some logic that will be invoked in case a file with older SVN was opened? I think this is too complicated, because there may be too many possible cases and it might become too complicate

[2022-08-23 16:49] riturajsingh487 commented on #835
Hi, Below are the new logs.

[gramine_server_epoll_logs.txt](https://github.com/gramineproject/gramine/files/9405050/gramine_server_epoll_logs.txt)

Thanks again

[2022-08-23 17:02] boryspoplawski commented on #835
This looks like a problem with our application, not Gramine.

[2022-08-23 17:59] dimakuv commented on #822
Looking at this again, I have some questions to @bigdata-memory:

1. It seems that the only difference between Case 1 ("Static Mode") and Case 3 ("Fix Mode") is: Case 1 runs the "premain" logic only once, before application startup, and there is no way to **periodically renew the token**. In Case 3, renewing the token is supposed to be done by Gramine periodically.
    1. What is the use case for

[2022-08-23 21:10] bigdata-memory commented on #822
Yes, you are right, and the Case 3 ("Fix mode") would be closer to TDX paradigm

Typically, token has an expiration to mitigate security risks. if the token get expired, it will be nullified and unacceptable for next transactions. if renewed, the refresh token will be valid one requesting permission to access confidential resources.

The Gramine/app should check the expiration of token every time

[2022-08-24 00:21] lejunzhu commented on #855
I think we should, by default, support opening existing files, when writing we should always use the latest SVN. Especially for CPU SVN, as there is probably no way to go back. If there is no such mechanism, the user data stored in encrypted files may be lost forever after CPU SVN changes.

Also in SGX SDK, the protected file format does record the cpu_svn, isv_svn and key_id in the plain part, an

[2022-08-24 05:36] DL8 commented on #855
@mkow - I think we have mixed two topics here:
1. More flexible key derivation APIs
2. Protected file system backwards compatibility/migration support

I think it will be better to create a separate issue for key derivation APIs

[2022-08-24 06:43] qijiax commented on #853
@boryspoplawski @dimakuv Here's the hotspot on `gramine-direct`, with Gramine built with `--buildtype=debugoptimized` and using `--call-graph dwarf` in perf record.
![direct perf call-graph](https://user-images.githubusercontent.com/88472767/186347653-ba6ffd5d-d9dc-4e77-8263-6a6bc511c90c.png)

There is an error when I set `sgx.debug = true`, `sgx.profile.enable = "main"` and `sgx.profile.with_stac

[2022-08-24 07:11] dimakuv commented on #853
Looks good now. Could you look deeper into the "16 threads" report? In particular, could you unwrap the first 2-3 items, so that we can see the stack traces (= the callers of these funcs `libos_syscall_entry`, `libos_emulate_syscall`, etc.)?

[2022-08-24 07:16] dimakuv commented on #855
This is new to me. @lejunzhu Was it added rather recently (less than 2 years ago)? Because I don't see anything like this in the current Gramine format, and it was taken directly from SGX SDK:

https://github.com/gramineproject/gramine/blob/f7995b60c7b49e075adefa18573767c6e24a4cc9/common/src/protected_files/protected_files_format.h#L31-L37

[2022-08-24 07:22] DL8 opened #857 "RFC: support flexible key derivation APIs"
Taking the discussion about key derivation APIs from #855

Current key derivation APIs use hard-coded values for the key request, most notably SVNs (ISV, and CPU) are taken directly from the currently running enclave (see in `sgx_get_seal_key()`). This has several consequences:
1. Backwards compatibility: keys are different per SVNs, so previously sealed blobs are no longer accessible after an enc

[2022-08-24 07:23] DL8 commented on #855
I created a separate issue for possible key derivation API changes: #857

[2022-08-24 07:31] lejunzhu commented on #855
I only read the code today and am not sure about the history. It looks like this now:

https://github.com/intel/linux-sgx/blob/70e1535caa96c315189760a3ad4663eded9e8a2c/sdk/protected_fs/sgx_tprotected_fs/protected_fs_nodes.h#L56-L71

And the usage of stored SVN:

https://github.com/intel/linux-sgx/blob/70e1535caa96c315189760a3ad4663eded9e8a2c/sdk/protected_fs/sgx_tprotected_fs/file_crypto.cpp#L273-

[2022-08-24 07:42] qijiax commented on #853
[gramine-direct perf call-graph 16thread.txt](https://github.com/gramineproject/gramine/files/9413938/gramine-direct.perf.call-graph.16thread.txt)

[2022-08-24 07:47] dimakuv commented on #855
Thanks @lejunzhu. This was introduced very long ago, 5 years ago. So we at Gramine just decided to remove these fields? Hm... I don't remember why these fields were removed.

This should be changed actually. @DL8 Is that what you expected to see in Gramine's Protected/Encrypted Files?

[2022-08-24 07:57] dimakuv commented on #853
Thanks @qijiax, now this gives us a lot of interesting info.

I am sure the problem is in our sub-optimal locking during send/recv on TCP/IP sockets. One exerpt from the perf-report:
[code]

So we have this malloc in `recv()` callback of TCP/IP: https://github.com/gramineproject/gramine/blob/f7995b60c7b49e075adefa18573767c6e24a4cc9/libos/src/net/ip.c#L687

Which calls the Slab allocator of LibOS,