[2018-11-08 16:35] chiache opened #83 "Rewrite signal handling in SGX"
The same design change is made for Linux (https://github.com/gramineproject/graphene/pull/281). The SGX PAL is left for future work but should be addressed in near future.

[2019-05-16 20:44] dimakuv opened #48 "[LibOS] Emulate mlock/mlock2/munlock/etc family of syscalls"
Implement mlock, mlock2, munlock, mlockall, munlockall (lock and unlock memory). These can be stubbed easily by always returning success (Graphene cannot guarantee that the host OS will perform lock/unlock anyway, and a malicious OS will swap pages anyway).

This will allow to re-enable more LTP tests such as mincore02.

[2019-06-10 21:26] dimakuv opened #49 "[LibOS] Add support for Musl libc"
Currently Graphene supports only Glibc as the standard C library. Add support for Musl libc.

This will be beneficial for IoT/embedded users.

[2019-08-05 14:53] boryspoplawski opened #14 "RFC: Reorganize the repository"
Currently this repository has a bit messy layout. Proposed changes:
1. Move .h files into "include" directories (now there are symlinks pointing to src/.h)
2. Move shared code (between Pal and LibOS) out of the Pal directory
   ...
Please suggest more

[2019-10-01 23:08] woju opened #13 "RFC: graphene invocation"
# Introduction

I'd like to propose a unified way of running files in graphene. This will certainly be a very visible, very incompatible change, so I'd like to write some explanation and seek review, so we can get this right. Also, I'm not that knowledgeable about the architecture, so I apologize in advance if i had some misconceptions.

### Requirements
- command line invocations (hard)
- invocat

[2019-10-08 17:22] boryspoplawski opened #50 "LibOS does not know about PAL allocating pages"
Currently when PAL allocates a page (for its internal purposes e.g. memory for event objects) LibOS has no idea about it. This sometimes leads to LibOS allocating a page on the same address and _lie​s of_ **Man ALL IS LOST ALL I​S L**OST the _pon̷y he comes_ he c̶̮om~~es he come~~**s the ich​**or permeates _all_ MY FACE _MY FACE ᵒh god n_**o NO NOO̼O​O N**Θ stop the an​*​gle̠̅s ͎a̧͈͖re n​**ot reaͨ

[2019-10-09 13:06] woju opened #51 "Most LTP testcases will not work under SGX"
Multiple test cases fail with this message:
stdout:
[code]
stderr:
[code]

The reason is because most test cases use standardised `main` function:

https://github.com/linux-test-project/ltp/blob/f2926be6514023bb94141792e4e2bfffd2aac0fc/include/tst_test.h#L279-L288

This function calls `do_setup()`:

https://github.com/linux-test-project/ltp/blob/f2926be6514023bb94141792e4e2bfffd2aac0fc/lib/tst_tes

[2020-04-10 18:16] dimakuv opened #53 "[Pal/Linux-SGX] Encrypted pipes: opening same end of pipe twice is possible in multiple processes"
## Description of the problem:

PR gramineproject/graphene#1400 introduces Encrypted IPC: all communication via pipes, UNIX domain sockets, and socketpairs is transparently wrapped in TLS sessions. This is implemented via mbedTLS API.

An interesting corner case is forks: typically, a parent process creates two ends of the pipe via `pipe()` and spawns a child process via `fork()`. After that the p

[2020-07-21 12:56] mkow opened #57 "[Pal/Linux-SGX] DkVirtualMemoryAlloc() crashes when called on a non-enclave page"
## Description of the problem

`DkVirtualMemoryAlloc()` crashes when called on a page which is inside the "user range" (aka. LibOS memory range) but which was not added to the enclave.

## Steps to reproduce

See gramineproject/graphene#1698 (this issue is the reason why the bug in gramineproject/graphene#1698 manifested in a crash instead of an error).

## Expected results

Should never crash.

#

[2020-09-09 10:50] trusty-fox opened #58 "[LibOS] Missing support for flock syscall"
Hello,
I don't know if there is a better place to track this, but would it be possible to add support for the `flock()` system call in Graphene LibOS?

At the moment, in [`shim_syscalls.c`](https://github.com/oscarlab/graphene/blob/master/LibOS/shim/src/shim_syscalls.c#L349) this is declared as unsupported.

[2020-09-24 13:01] boryspoplawski opened #59 "[LibOS] Double free of epoll_item"
## Description of the problem
Under some racy conditions (see the attached code) it is possible to free an `epoll_item` twice.
The main issue is that `epoll_item` is always on two lists: each epoll instance has a list of watched handles and a handle has a list of epoll instances it's being watched by. When closing an epoll, we need to walk the former list, removing and freeing all epoll_items and

[2020-09-25 01:46] llly opened #88 "[LibOS] dentry cache for filesystem can cause conflict between stat() result and host file status"
## Description of the problem
`shim_do_stat()`, `shim_do_lstat()` etc. check dentry cache for filesystem first. If the file is already looked up and exists in dentry cache, these function return the cached data. However the cache will be out of sync after other programs modify it. Then program in Graphene can get conflict result when calling `open()` to access real file.

## Steps to reproduce
A s

[2020-09-28 13:49] boryspoplawski opened #80 "[LibOS] Epoll events reported only for the first fd in case of duplicates"
## Description of the problem
If an epoll instance monitors two fds that have the very same `pal_handle` (e.g. duplicated via `dup`) events will be reported only for the first one.
Code at fault: https://github.com/oscarlab/graphene/blob/5dd0c5a64b9ae4705825da5d7c4bc2c8ad3311ec/LibOS/shim/src/sys/shim_epoll.c#L347-L364
The inner loop (`epoll->fds` list) looks for the first matching `pal_handl`, wh

[2020-10-27 14:44] iqbaleric opened #329 "Gramine doesn't emulate `/proc/stat` file"
I am seeing this error while running PyTorch. The application is not spawning over multiple threads as the CPUs stat are not accessible.

shim_openat(AT_FDCWD,"/proc/stat",O_RDONLY|2000000,0000) = -2
FileNotFoundError: [Errno 2] No such file or directory: '/proc/stat'

[2020-11-24 19:42] AI-Memory opened #181 "Netlink socket family support"
# Description of the problem
It is a Linux kernel interface used for inter-process communication (IPC) between both the kernel and userspace processes, and between different userspace processes, in a way similar to the Unix domain sockets. There are bunch of applications leverage ZeroMQ protocol that relies on netlink for high-performance asynchronous messaging. GSGX doesn't support it yet but It

[2021-01-21 00:40] mkow opened #19 "Integration with sanitizers"
## Description of the problem

It would be good to enable some sanitizers in CI (e.g. AddressSanitizer from Clang) to allow for better and more reliable detection of low-level bugs.

Current plan:
- [x] Clang support (https://github.com/gramineproject/graphene/issues/1794; done, but not tested in CI yet).
- [x] Enable Clang's UBSan in CI (https://github.com/gramineproject/graphene/pull/2657, grami

[2021-01-21 02:32] mkow opened #8 "Known security issues"
This issue lists known security problems with Graphene. Everything we're aware of but didn't have time to fix yet should be listed here. We'll also need to resolve all of them before we can say we're ready for production.

I'll try to keep this list up-to-date.

Critical: (checked means "already fixed on master")
- [x] Security audit of the old code - we do security reviews of newly created code,

[2021-02-26 23:21] boryspoplawski opened #15 "[RFC] New interface for calling host-level syscalls"
## Description
For reasons why we would want this, please look at pros&cons.

The new version would change the way blocking host-level syscalls are done, the non-blocking, or rather "fast" syscalls would be called directly (same way as now). We would consider `futex` with `FUTEX_WAKE` to be a "fast" syscall and `read`to be a "slow" syscall. The "slow" syscalls wouldn't be called directly, but usin

[2021-03-08 00:21] mkow opened #23 "Mountpoint order is not preserved in current manifest syntax"
## Description of the problem

Currently we don't use proper TOML syntax for declaring mountpoints, instead, we use a syntax which resembles the pre-TOML one used in Graphene. As a result, the entries are not ordered, but Graphene actually relies on the specific mounting order (e.g. you can't mount /lib/asdf first and then /lib, but the other way around works). The problem is, that TOML structure

[2021-03-22 20:55] woju opened #22 "Deprecate IAS API v3 and `ias_request` tool"
IAS API v3 (which is currently used by attestation utilities in `/Pal/**/Linux-SGX/tools/*`) is undocumented as of this writing. The documentation describes only v4 API: https://api.trustedservices.intel.com/documents/sgx-attestation-api-spec.pdf.

The `ias_request` tool needs not to be written in C, I wrote `graphene-ias-query` in Python as a wrapper of a simple library (`graphenelibos.ias`). Whe

[2021-03-23 21:48] prakashngit opened #156 "Enable configurable signing algorithm in RA-TLS (currently forced to use RSA)"
This is a feature request to support ECDSA in addition to RSA as the choice of signing algorithm used by RA-TLS. From https://github.com/oscarlab/graphene/blob/master/Pal/src/host/Linux-SGX/tools/ra-tls/ra_tls.h, it appears that currently the certs are forced to be RSA based certs. It would be great if ECDSA based RA-TLS certs can be supported.

I would further request to permit the ECDSA curve ch

[2021-03-31 18:05] woju opened #9 "Packaging"
Development:
- [x] Jenkins split, stage 1 (gramineproject/graphene#1858)
- [x] Jenkins split, stage 2 (gramineproject/graphene#1859)
- [x] Initial meson implementation (gramineproject/graphene#1879)
- [x] Python packaging (gramineproject/graphene#1909)
- [x] Remove submodules (gramineproject/graphene#1997)
- [x] First meson options (gramineproject/graphene#2003)
- [x] Manifest preprocessor (gramin

[2021-04-15 15:25] woju opened #16 "[RFC] Standard installation paths"
# Statement of the problems

Those are problems that we need to be aware when solving

## Stable paths
After signing the manifest, paths are baked in, so Graphene needs a standardised set of installed paths. The immediate problem concerns `libsysdb.so` and libc. Paths need to be the same across distributions.

## Multiple libcs installed together
There is an ongoing proposal to make graphene work

[2021-06-05 12:32] dzygann opened #87 "[LibOS] `__process_pending_options()` is buggy in `shim_socket.c`"
Hi,

In want to run the mumble server (https://github.com/mumble-voip/mumble) called murmur in Graphene. My OS is Ubuntu 20.04.

I copied the memcached manifest template and the Makefile and customized it to my needs.
When I run graphene in direct mode I got the following error from murmur:

` Failed to set initial capabilities`

Could be the issue, that some system calls are missing? The log thro

[2021-07-05 12:30] mkow opened #54 "Security mitigations and hardening"
## Ideas for security mitigations and "bug prevention"

### Mitigations/sanitizations
- [x] We need better sanitization of OCALL arguments. Current version most likely is not dangerous, but there's a chance that some apps may be manipulated this way into doing something unexpected. See gramineproject/graphene#1236.

### Bug detection
- [x] Run tests with sanitizers in CI (see gramineproject/gramin

[2021-07-07 13:19] pwmarcz opened #12 "RFC: interruptible POSIX locks"
I'm trying to fix recently added POSIX locks (https://github.com/gramineproject/graphene/pull/2481) so that you can interrupt them, but I ran into a problem trying to do it with current IPC. I don't want to jump and change too much before I learn your opinion.

@boryspoplawski @mkow @dimakuv

## The problem

Graphene's current implementation of POSIX locks (`fcntl`) do not support interrupting the

[2021-07-07 17:59] dimakuv opened #60 "Output a Graphene configuration on startup (including insecure options!)"
Right now we print some ad-hoc messages. We need some nice always outputted multi-line configuration message which is printed at every Graphene startup. This configuration message should print out the most important manifest options and also (in red) the enabled insecure options.

[2021-07-12 22:15] boryspoplawski opened #85 "[Pal/SGX] Rework `enclave_entry.S`"
## Description of the problem
`enclave_entry.S` is a place holding code which manages, well, enclave entry. This includes all kinds of entries:
- ecalls,
- ocalls,
- ocall returns,
- exception handling entries,
- ocalls  from exceptions,
- ...

The code has a couple of problems:
- some already described in: gramineproject/graphene#2603 gramineproject/graphene#2532 gramineproject/gramine#83 gramine

[2021-08-07 16:03] dzygann opened #320 "GSC Failed to load entrypoint (missing shebang support in `execve()`)"
Hi,

as you can see in issue gramineproject/graphene#2632 we're trying to run Postgres in Graphene. OS is Ubuntu 20.04.

Contrary to issue gramineproject/graphene#2632 we didn't use our own dockerfile, but instead, we used one from Dockerhub `https://hub.docker.com/_/postgres`

Then again we build and signed it using gsc.
When trying to run this image however we encountered the following problem:

[2021-08-31 17:00] pwmarcz opened #25 "Rename external APIs"
(As discussed in gramineproject/graphene#2662)

Graphene's patched code currently uses an API that contains some internal names ("shim_*", "syscalldb"). I propose the following changes:

* `SYSCALLDB` macro -> `GRAPHENE_SYSCALL`
* `shim_register_library` and possibly other functions -> `graphene_register_library`
* `SHIM_*_OFFSET` -> `GRAPHENE_*_OFFSET`
* `shim_entry_api.h` -> `graphene_entry_api.

[2021-09-01 12:04] qiyuangong opened #46 "Progress bar for large enclave or app"
## Description of the problem
When launching a large enclave with graphene, e.g, 32-128GB,  we need to wait for a few minutes for enclave creation and app/lib copy etc. However, current command line output show nothing to end users. We don't know which stage we are and how much time we need to wait for. That's not user friendly. :(

Adding a progress bar can simply fix this problem.

## Steps to r

[2021-09-04 01:30] sudharkrish opened #261 "With Go program, when server program does a read, getting permission denied."
## Description of the problem
With Go program, when server program does a read, getting permission denied.

## Steps to reproduce
Able to reproduce on a recent graphene pull(Aug 30th, 2021), commit-id-> c321726229eaf0a1b52dc5e2507c9cfab423ea94
Also able to reproduce on [https://github.com/oscarlab/graphene/releases/tag/v1.2-rc1](url)

Providing Sample Go program and scripts to reproduce the issue.

[2021-09-09 10:56] mkow opened #7 "Known issues for production deployment"
This issue lists items that need to be kept in mind as you consider using Graphene in a production deployment scenario.

Issues: (checked means "already fixed on master")
- [ ] **Fix all known security issues**\
More information: gramineproject/graphene#2108.
- [ ] **Documenting possible misuses of Graphene and its limitations**\
Graphene has some limitations (some depends one the backends, e.g. t

[2021-09-09 11:04] woju opened #11 "RFC: Separate signing"
This is a proposal for split signing enclaves.

# Definitions

- **rendering**: processing jinja+toml to toml only
- **trusted file expansion**: recursive walk through directories to pick regular files inside them
- **trusted file measurement**: calculating sha256 over the regular file
- **TBSSIGSTRUCT**: SIGSTRUCT to be signed with RSA
- **SIGSTRUCT**: after signing

# Current status

There are t

[2021-09-09 23:06] mkow opened #20 "Move to C11 atomics"
## Description of the problem

We should migrate away from the mixture of GCC built-ins and some legacy custom atomics to C11 atomics.

For reasons why not to stay with GCC built-ins please see the discussion under gramineproject/graphene#1593.

[2021-09-10 00:36] boryspoplawski opened #21 "IPC leader does not wait for all processes to finish"
## Description of the problem
If the first process, which is the IPC leader, exits, all other processes cannot use IPC any more. We need to decide on a first process exit policy and implement it. I see two options:
- IPC leader kills all other processes before exiting
- IPC leader just cleans up app resources, but stays alive as long as other processes are still running.

We already have a TODO ab

[2021-09-10 08:11] dimakuv commented on #9
Since we changed the name, we should also use `gramineproject.io` instead of the old `grapheneproject.io`.

[2021-09-10 10:43] pwmarcz opened #24 "Filesystem refactoring"
This describes the current state of my filesystem refactoring project.

Legend:

:heavy_check_mark: Done (merged to master)
:construction: In progress (usually has a PR open)
:star: Next (usually will be unlocked by current "in progress")

## Bug fixes and new features
:heavy_check_mark: gramineproject/graphene#952 Listing a directory doesn't show mountpoints
:heavy_check_mark: `lseek` on director

[2021-09-10 17:14] mkow opened #27 "Move duplicated constants to common headers"
There are some constants which are duplicated between PALs and LibOS (e.g. `RED_ZONE_SIZE` is being introduced by both gramineproject/graphene#625 and gramineproject/graphene#561).

We should move such constants and macros to common headers.

[2021-09-13 03:52] jinengandhi-intel opened #28 "Stress-ng open syscall test failing with assert fd < handle_map->fd_size on RHEL and CentOS"
## Description of the problem

On RHEL and CentOS, stress-ng open syscall test is failing with the following errors:

`[P1:shim] error: Child process (vmid: 0x84) got disconnected
[P124:T124:stress-ng] assert failed ../LibOS/shim/src/bookkeep/shim_handle.c:419 fd < handle_map->fd_size`

Complete log file is attached below:
[stress-ng_open_rhel.txt](https://github.com/gramineproject/gramine/files/7

[2021-09-13 05:19] jinengandhi-intel opened #29 "Regression with Inode, chroot rewrite commit 74420be"
## Description of the problem

Internal CI flagged the following tests as failures with the Inode, chroot FS rewrite feature that was merged recently.
The following tests are regressions with the commit: `ftruncate03, ftruncate03_64, pwrite02, pwrite02_64, pwrite03, pwrite03_64, write02`

These tests are also run in the open source CI but were missed may be due to the parser not checking for TFAIL

[2021-09-13 16:11] pwmarcz commented on #29
Thanks, it's good to know LTP tests behave like this. Hopefully we'll be able to fix the runner soon.

[2021-09-13 23:23] mkow commented on #29
Could you upstream your fix to the parser? How does it look like, is it just a simple bugfix or something deeper? I remember this problem, but I forgot the details.

[2021-09-13 23:44] mkow commented on #29
Ah, I see that Paweł already did that in #33, nice :)

[2021-09-14 09:46] dimakuv commented on #28
I debugged it, and the reason is that this particular workload creates **a lot of** file descriptors (up to 100,000). This seems to be normal for `stress-ng` application.

However, in Gramine we have this: https://github.com/gramineproject/gramine/blob/40e942db6b02555cf2414f20bbd313b63f50e400/LibOS/shim/include/shim_types.h#L341

Because `FDTYPE` is 16-bit in size, it can only count 65536 FDs. Thi

[2021-09-14 10:07] jinengandhi-intel commented on #28
Dmitrii, any reason why this is triggered only on Cent and not on Ubuntu?

[2021-09-14 10:16] dimakuv commented on #28
Good question. My assumption is that CentOS requires more files to be opened (and thus more FDs to be used)? Something like this.

[2021-09-14 18:07] #28 closed

[2021-09-14 22:00] #29 closed

[2021-09-15 05:11] jinengandhi-intel opened #43 "Stress-ng sigsuspend test failing with IPC error -13 error on CentOS and Ubuntu"
## Description of the problem

Error message on RHEL:
[code]

Error message on Ubuntu:

[code]

The test was executed with PR 2595 as well as PR 2597 but the issue is not resolved.

The memory used after the test shoots up by 40GB and doesn't free automatically.

Log files attached:
[sigsuspend_rhel.txt](https://github.com/gramineproject/gramine/files/7166907/sigsuspend_rhel.txt)
[sigsuspend_ubunt

[2021-09-15 09:44] mkow commented on #43
What do you mean by this? That there's a leak in the kernel itself?

[2021-09-15 09:56] jinengandhi-intel commented on #43
What I mean is after the test is run with Graphene, since the test is exiting abruptly, it leaves a lot of spawned processes consuming so much memory. This is not seen with Linux native

[2021-09-15 10:24] mkow commented on #46
+1, this could be useful (despite it sounds a bit like bells and whistles). Any volunteer for implementing this?

[2021-09-15 10:32] HW42 opened #47 "Regression tests for malicious outside"
It would be great to be able to simulate a malicious host in regression tests. With this SGX fixes like gramineproject/graphene#511 or gramineproject/graphene#522 could be tested automatically.

Not sure what the best way for this is. The best idea I had so far was to commit patches and have a script which copies the source, applies the patch, compiles it and then run the test with the resulting (

[2021-09-15 11:02] dimakuv opened #52 "[Pal/Linux-SGX] Protected Files do not work with Protected argv/env"
This design issue was detected while working on gramineproject/graphene#1674.

We provision the secret (the master key to encrypt/decrypt protected files) on top of RA-TLS which runs on top of LibOS which is executed only after PAL bootstrap code. However, reading protected-argv and protected-envp file is implemented in the PAL bootstrap code.

This results in a situation when there is **no key**

[2021-09-15 11:12] HW42 opened #55 "Check for TOCTOU bugs through compiler optimization"
We sometimes have code which does roughly this:

[code]

The idea here to first copy the value to trusted memory and then check and use the checked value. If this is done in this order this is TOCTOU safe. But we need to prevent the compiler from messing with this (for example by using the untrusted memory directly).

Changing the copy to a `memcpy` is (AFAIK) not enough since the compiler is allo

[2021-09-15 14:22] dimakuv commented on #43
Debugged this issue.

Turned out it was Linux (mis)configuration. In particular, the soft limit on the number of open file descriptors per process was too low -- 1024. Please see more details e.g. here: https://muhammadtriwibowo.medium.com/set-permanently-ulimit-n-open-files-in-ubuntu-4d61064429a

On this machine it was:
[code]

I set the limit to some higher number: `ulimit -n 65535`

Now I see t

[2021-09-15 14:26] dimakuv commented on #43
TLDR: Gramine failed because of the Linux soft limit on the number of FDs per process (1024 by default). Increasing this limit to smth big makes Gramine work. See e.g. https://unix.stackexchange.com/questions/84227/limits-on-the-number-of-file-descriptors.

This is not a Gramine bug, but more of a "configure Linux limits to account for Gramine quirks".

The original `stress-ng sigsuspend` works be

[2021-09-16 08:26] #43 closed

[2021-09-16 15:20] jinengandhi-intel opened #67 "pwrite03, write02 LTP tests passing with graphene direct but failing with GSGX"
## Description of the problem

With the `Fix filesystem corner cases commit 0012183743c3a9b4ea4b85a97e7859da4836b1ca`, the tests are passing with Graphene native but fail with GSGX. Originally these tests had started failing with the inode PR and the above commit was the fix for the tests.

Graphene direct output:
[code]

GSGX output:
[code]

## Steps to reproduce

In order to run the LTP tests wi

[2021-09-17 06:55] dimakuv commented on #67
@pwmarcz Will you have time to look at this? Me and Michal quickly looked at this yesterday, looks like a legit bug that was introduced in your PR.

[2021-09-17 11:02] pwmarcz commented on #67
Sure. I'll submit a PR, but if there are any issues during review, I'm  not sure if I'll have time to address them. If this is needed before next Friday, feel free to take over.

[2021-09-17 13:43] #67 closed

[2021-09-21 01:01] sudharkrish opened #262 "UDP Client does not get the correct address using getsockname"
## Description of the problem
UDP Client does not get the correct address using getsockname.
When UDP client connects to a server address, kernel assigns the IP-address:port-number for
the client's end-point. After call to connect system call, the client IP address:port-number can be retrieved using
getsockname system call.
I am using a golang program, that calls a Go library api-> net.DialUDP(whi

[2021-09-22 12:05] Nirusu opened #77 "Requirements are missing in .deb release of v1.2-rc1"
## Description of the problem
When using the new .deb packages of v1.2-rc1 on a relatively clean system using the instructions listed [in the release](https://github.com/oscarlab/graphene/releases/tag/v1.2-rc1), Graphene cannot be used correctly due to missing Python, protobuf & maybe Intel AESM packages, depending on the environment.

## Steps to reproduce
- Have a fairly clean system with essent

[2021-09-22 12:06] mkow commented on #77
Done.

[2021-09-22 20:01] dimakuv opened #79 "Enhance `/proc/self/cmdline` emulation similarly to the Linux implementation"
Currently, we implement a naïve emulation of `/proc/self/cmdline` in Graphene, see gramineproject/graphene#2180.

In particular:
1. Graphene copies cmdline to a global variable on LibOS initialization, while in normal Linux it just stores pointers to argv
     - for example, if you modify `argv[4]`, the `/proc/self/cmdline` must show this modification
     - this is not just a quirk but documented

[2021-09-23 05:55] aniket-intelx opened #82 "LTP test gettimeofday02 failing intermittently with GSGX"
## Description of the problem

The testcase gettimeofday02 is failing intermittently on OOT (kernel : 5.0.0-23-generic) and DCAP (kernel : 5.9.0-intel-next+) with Ubuntu 18.04 machines with SGX.
Log files for both the instances, pass and fail are attached. For convenience purpose, removed duplicate lines `shim_gettimeofday(0x7adac80, 0x0) = 0x0`
[gettimeofday02_TFAIL.txt](https://github.com/gramin

[2021-09-23 09:11] dimakuv commented on #82
Why do you say "on OOT and DCAP"? Does it matter? Have you tested on other systems, and there this test never fails at all?

[2021-09-23 09:20] jinengandhi-intel commented on #82
Dmitrii, these machines were enabled recently in the CI and we see the issues only on them. On all other 5.12, 5.13 configurations we don't see any issues with this test. Also, to add the test consistently passes with Graphene native and Linux native and the intermittent failures are only seen with GSGX.

[2021-09-23 09:24] jinengandhi-intel commented on #82
Let us know if you need access to the machine for a quick check. We can walk through the issue and the workspace.

[2021-09-23 09:28] dimakuv commented on #82
@aneessahib You changed the "recalibrate" time PR recently, right?

I think what happens is that your PR triggers the "recalibration" (== don't calculate the time from RDTSC but instead read from the Linux host) more often now, every 50ms (or smth like this). And we **don't have** the logic to verify the read-from-Linux-host timestamp against the previous timestamp. So it is possible periodically

[2021-09-23 09:31] jinengandhi-intel commented on #82
We can run this test with the commit and one before that to confirm, if this is indeed the commit causing the issue.

[2021-09-23 11:01] dimakuv commented on #83
We should take a look at this after the release. In particular, we may want to test https://github.com/gramineproject/graphene/pull/2649 more and decide whether its simplicity and robustness outweighs its performance degradation.

[2021-09-23 11:06] aniket-intelx commented on #82
The test executes successfully when tried with one commit before, i.e. `39e117b719a052408b94afc0e9152793765eccd5` while it fails  intermittently with commit `487969c1dc1b0f27096f9d56312552e3ab6b754d` which is "Correct RDTSC instruction drift with system clock more often".
Please find the attached log.
[Verify_gettimeofday02_correct_RDTSC_commit.txt](https://github.com/gramineproject/gramine/files/

[2021-09-23 11:07] boryspoplawski opened #84 "Leftovers from signal rework"
## Description of the problem
To finish signal rework (#2090) following TOODs/issues need to be fixed:
- [ ] initial, Pal allocated stack can be reused as LibOS syscall emulation stack,
- [ ] revisit locking around each thread->field - since there is no nested syscall calling, some might be accessed lockless,
- [ ] support SA_AUTODISARM,
- [ ] revisit PAL-Linux-SGX signal handling, also tracked in

[2021-09-23 11:15] dimakuv opened #86 "[LibOS,Pal] Refactor RTLD code in both LibOS and PAL"
## Description of the problem

While working on a subtle bug in https://github.com/oscarlab/graphene/pull/1428, I came up with a quick-and-dirty fix: https://github.com/oscarlab/graphene/pull/1434.

In reality, there are two issues with Graphene's RTLD (loading of binaries) subsystem:

1. The code quality is bad. For example, in file `Pal/src/db_rtld.c`, `map_elf_object_by_handle()` and `add_elf_o

[2021-09-23 11:24] dimakuv commented on #87
We have a PR in the old repo: https://github.com/gramineproject/graphene/pull/2495

The changes in that PR are quite trivial, but we don't have the bandwidth to re-create the PR in the new Gramine repo. We also don't have the bandwidth to review this PR right now.

So someone will re-create that old PR in this new repo at some point later. Transferred only the issue right now.

[2021-09-24 09:53] aniket-intelx commented on #82
For today's nightly analysis, we saw this issue for Ubuntu 20.04 with 5.12 kernel and GSGX

[2021-09-24 09:56] aneessahib commented on #82
@dimakuv  - i think what you are saying is already being checked. see below.

[code]
we could return ```usec = start_usec;``` instead of overflow. But the logs doesnt seem to show it getting into this path. But let me know if this is what you are talking about.

[2021-09-24 10:23] dimakuv commented on #82
@aneessahib No, I am talking about this part (when we fallback to the OCALL): https://github.com/gramineproject/gramine/blob/487969c1dc1b0f27096f9d56312552e3ab6b754d/Pal/src/host/Linux-SGX/db_misc.c#L114

Here we just return the timestamp that was returned by `ocall_gettime()` (and slightly re-calculated afterwards).

What I would do is a sanity adjustment like this:
[code]

[2021-09-24 18:34] sebastiangajek opened #91 "CI-Examples/sqlite: "line 8: attempt to write a readonly database" error"
I tried to graminize my own application using sqlite. Obtained the error that writing to the db file is not permitted. Out of curiosity I executed the sqlite example. Obtained a similar issue.

What I did:
- non-graminized writing to test.db works
- permission change of test.db to 777 did not help

System:
Ubutuntu 21.04 (Linux 5.11.0-36-generic x86_64)
Freshly compiled gramime (today)

Log File:

[2021-09-27 07:18] dimakuv commented on #91
What does your application do? I see from the last lines in the log that the app requested `fstat` on your `scripts/test.db` file, Gramine returned some stats, and then the app decided to terminate with exit code 1 (error code).

I mean these lines:
[code]

Apparently the app didn't like some values returned in `struct stat *statbuf`. Do you know what the app expects?

Gramine currently doesn't re

[2021-09-27 11:43] sebastiangajek commented on #91
Hey Dimi,

thanks for the response and my apologies for misconception. The trace refers to an execution of sqlite following the instructions in [/CI-Examples/sqlite](https://github.com/gramineproject/gramine/tree/master/CI-Examples/sqlite). Just changed the database file folder to ```//scripts``` instead of ```//scripts/testdir```as in the example. (Both folders with different file permissions did

[2021-09-27 12:21] dimakuv commented on #91
The SQLite example in our repo should work, we test it in our CI: https://github.com/gramineproject/gramine/blob/master/.ci/lib/stage-test-sgx.jenkinsfile#L72-L75

From what I understand, you changed the example slightly, and it doesn't work anymore.

What are the exact changes in the files and in the way you start the SQLite example? How could one reproduce the error you see?

[2021-09-28 07:32] jinengandhi-intel opened #97 "Gramine build command fails when run without prefix option"
## Description of the problem
If you follow the steps mentioned in the wiki for building Gramine (which doesn't include any prefix for installation), it would result in a failure at the ninja build step where it's not able to install glibc under `/usr/local`

[code]

## Steps to reproduce

[code]

## Expected results
Gramine build and installation should PASS, as the commands are from the document

[2021-09-28 10:35] #97 closed

[2021-09-30 07:24] aniket-intelx opened #104 "Pal testcase "Memory" failing with gramine-direct"
## Description of the problem
The testcase "Memory" in Pal regression test suite is failing consistently with `gramine-direct`. We have observed this failure on 2/7 systems in CI (Ubuntu 20.04 (kernel: 5.12.0-051200-generic) and RHEL (kernel: 5.13.0) machines).
Failure is observed from commit `b4bfd028f85af83bbb1e27aa6037808e13965833` ([Pal/Linux] Disable host-level ASLR in PAL Linux) and it passe

[2021-09-30 08:18] dimakuv commented on #104
@aniket-intelx Are you using Docker for your CI? Please check this: https://github.com/gramineproject/graphene/pull/2597#pullrequestreview-718770270

If you're using Docker, try adding this option to your `docker run` command as a quick test: `--security-opt seccomp=unconfined`

[2021-09-30 08:31] aniket-intelx commented on #104
The failure is observed on host systems.

[2021-09-30 09:58] dimakuv commented on #104
Any more specifics? This problem cannot be reproduced on our Ubuntus. Is this failure specific to CentOS/RHEL?

[2021-09-30 10:46] boryspoplawski commented on #104
@dimakuv so I guess it also triggered for Ubuntu 20.04

[2021-09-30 10:52] aniket-intelx commented on #104
We have observed this failure on Ubuntu 20.04 with 5.12 kernel and RHEL with 5.13 kernel machines on baremetal. Both of these systems are client.
We tried increasing the pal_internal_memsize from default 128M to 512M but the test still fails.

The `ret = DkVirtualMemoryAlloc(&mem4, UNIT, 0, PAL_PROT_READ | PAL_PROT_WRITE);` value is printed below:
Memory Allocation OK
(int *) 0x7fffe3fce000 = 0
Me

[2021-09-30 11:31] dimakuv commented on #104
@aniket-intelx Could you run the failing test with `loader.log_level = "all"` and paste the output log?

[2021-09-30 12:39] aniket-intelx commented on #104
The output log remains the same after setting the `loader.log_level = "all"`.

[2021-10-01 18:00] boryspoplawski commented on #11
After merging #72 TODOs left:
- [ ] "Manifests will be renamed: app.toml.jinja (the template) and app.toml (after rendering and trusted files measurement)."
- [ ] "graphene-sgx-get-mrenclave new tool, will calculate MRENCLAVE based on manifest and libpal.so" - this needs rethinking, as mrenclave is not enough. Probably we will just add a tool to generate and print some subset of TBSSIGSTRUCT (let'

[2021-10-01 18:59] dimakuv opened #113 "[Pal/Linux-SGX] `sgx_quote_t` has more fields than actually returned from IAS"
## Description of the problem

`sgx_quote_t` is declared like this: https://github.com/gramineproject/gramine/blob/9a4fd153b489dbfcad1112a6aae47c35f3503c5a/Pal/src/host/Linux-SGX/sgx_attest.h#L47-L58

The last two fields (`signature_len` and `signature`) are "optional". Indeed, the official IAS specification `IAS-API-Spec-rev-5.0.pdf` tells us:

This is why we have a convinience macro like this (t

[2021-10-04 09:11] jinengandhi-intel opened #120 "[Docs] Quick Start guide is missing the documentation for the latest meson commands involving -Dsgx_driver and -Dsgx_driver_path"
## Description of the problem

Building page is updated with the new parameters but the same is missing in the Quick Start guide.

https://gramine.readthedocs.io/en/latest/building.html#id1

https://gramine.readthedocs.io/en/latest/quickstart.html#quick-start-with-sgx-support

## Steps to reproduce

## Expected results

## Actual results

[2021-10-04 11:36] jinengandhi-intel commented on #120
Pawel, there one more issue, in the Building guide the option mentioned is `-Dsgx_driver_path` whereas the right option defined in the `meson.build` is `-Dsgx_driver_include_path`. Can you also fix the Building guide?

[2021-10-04 15:33] #120 closed

[2021-10-05 11:25] woju commented on #77
This is fixed in unreleased `1.0~rc2` package. Will keep this open until release.

[2021-10-06 08:57] pwmarcz opened #132 "Move GCC (libgomp) build to Meson"
PR #129 moves the main build to Meson, but `LibOS/Makefile` still builds the optional patched `libgomp` library, built together with GCC.

`libgomp` needs to be built with Meson, probably under a feature flag such as `-Dlibgomp=enabled` because the build takes a very long time.

[2021-10-06 10:02] xzhangxa opened #133 "os.system in python script doesn't work in graphene-sgx"
## Description of the problem

The case that Python code calls `os.system()` to run a command, bash script or another python script doesn't work at version v1.2-rc1.

There were already some issues about this: [#1757](https://github.com/gramineproject/graphene/issues/1757) [#1736](https://github.com/gramineproject/graphene/issues/1736) [#1696](https://github.com/gramineproject/graphene/issues/1696

[2021-10-06 10:18] mkow commented on #133
Nope, both are not needed anymore, you can just delete them from your manifest and everything will still work :)

-2 is `ENOENT`, maybe you just don't have `/bin/sh` inside Gramine? Remember that Gramine works like a VM/Docker container, if you didn't mount something inside it then it's just not there ;)

[2021-10-06 10:19] mkow commented on #133
And please check the current master (as the issue template asks to before filing an issue), v1.2-rc1 is already 3 months old ;)

[2021-10-06 18:30] mkow commented on #133
Yes, exactly.

It's actually RAM + swap size which counts, so you may actually have more available :)

Unfortunately yes. But running Bash in SGX is not a good idea anyways, because it spawns a lot of processes (which is very slow).
This will get much better after the SGX dynamic memory management will get upstreamed to Linux kernel, then we'll be able to add pages on-demand. But for now you eithe

[2021-10-06 18:48] xzhangxa commented on #133
Thanks for the answers. I was making an existing workload into Gramine+SGX so my thought was not changing the way the workload runs: the python to bash to python/pytorch.

Indeed it's a bad idea to run bash in Gramine+SGX, meanwhile I tried to make it work but the bash script uses too many commands that have to be picked one by one to add to manifest, the memory usage is huge and it runs in vain f

[2021-10-06 18:48] #133 closed

[2021-10-07 05:56] jinengandhi-intel commented on #104
If you don't have a machine with such a configuration, then contact @aniket-intelx, we will try to get you a machine.

[2021-10-07 08:44] aniket-intelx commented on #104
I have shared the credentials of machine with @jkr0103

[2021-10-07 15:35] dzygann opened #136 "Postgres | Could not map anonymous shared memory"
Hi,

I'm trying to get Postgres running in Gramine. OS: ubuntu 20.04

I run into the issue that Gramine in SGX mode does not support shared memory. Unfortunately, I cannot disable it by a configuration. Postgres needs a minimum of 128kb ( https://postgresqlco.nf/doc/en/param/shared_buffers/ ).

Postgres shows the following message:

[code]

The log show that the method `shim_mmap`returns two error

[2021-10-07 20:14] boryspoplawski commented on #136
It's not Gramine that does not support shared memory, it's the SGX technology itself.

All you can do is map **untrusted** memory to be shared by applications (possibly encrypting all data stored in such memory), but to handle that securely is super hard. And there is no way at all (that I can imagine) of implementing that in Gramine.

[2021-10-07 22:53] SammyTbeile opened #138 "Cloud Deployment Instructions Out of Date"
## Description of the problem
When attempting to setup gramine on a clean install of an Azure DC2s_v2 VM following the instructions here: https://gramine.readthedocs.io/en/latest/cloud-deployment.html , the following error occurs during the `meson setup` step:
[code]

It looks like there's a step missing in acquiring the `asm/sgx.h` file (and presumably other headers).'
Please advise on how best t

[2021-10-08 15:29] #8 closed

[2021-10-08 15:40] woju commented on #9
Done.

[2021-10-09 05:45] RodgerZhu opened #142 "Pal/src/host/Linux-SGX/tools/ra-tls/meson.build failed"
## Description of the problem

Pal/src/host/Linux-SGX/tools/ra-tls/meson.build:86: WARNING: Passed invalid keyword argument "args".
WARNING: This will become a hard error in the future.
Program /bin/sh found: YES (/bin/sh)
Pal/src/host/Linux-SGX/tools/ra-tls/meson.build:106: WARNING: Passed invalid keyword argument "args".
WARNING: This will become a hard error in the future.
Program /bin/sh found

[2021-10-11 08:30] dimakuv commented on #138
@SammyTbeile Indeed there is a problem in our documentation. Our building steps for Gramine assume that the Azure DC2s_v2 VM has an in-kernel SGX driver (which is the default), but it is not true. Actually, this VM has an out-of-tree DCAP driver.

Can you try to add `-Dsgx_driver` and `-Dsgx_driver_include_path` parameters to Meson setup like this:
[code]

If this doesn't work, then maybe the DCAP

[2021-10-11 08:43] dimakuv commented on #142
@RodgerZhu Could you show the complete log from the `meson setup` command? The part of the log you pasted is not helpful.

I just tried building with `-Ddcap=enabled` myself on the latest Gramine, it works for me.

It is installed under `<prefix>/lib/x86_64-linux-gnu/libsecret_prov_verify_dcap.so`. If you didn't specify the prefix in your `meson setup` command, then by default this path is `/usr/l

[2021-10-11 13:15] dimakuv commented on #138
What about `sgx_oot.h`?

[2021-10-11 13:17] aneessahib commented on #138
is this a confidential compute VM? and was basic DCAP tested on this?

[2021-10-11 13:19] SammyTbeile commented on #138
It was setup using the docs for setting up a confidential compute VM https://docs.microsoft.com/en-us/azure/confidential-computing/quick-create-portal but I haven't tested dcap.

I'll try that workaround now

[2021-10-14 08:32] sammyne opened #147 "can we just make entrypoint always be one of trusted_files implictly"
## Problem
Currently, `entrypoint` needs always placing on `trusted_files` explicitly as follows.
https://github.com/gramineproject/gramine/blob/e3a1bccbc77dc59270b0efd595c3e730b9461b56/Pal/regression/manifest.template#L19-L21

This is tedious and error-prone. Can we just make `entrypoint` always be one of trusted_files implicitly?

## Proposal
During filling in manifest templates, `gramine-manife

[2021-10-15 12:56] mkow commented on #147
+1 to what @dimakuv said, and one more argument: It doesn't really need to be a trusted file, it can also be allowed (for debugging/testing) or protected.

[2021-10-18 03:05] jinengandhi-intel opened #151 "Building section in readme docs has a typo for specifying sgx_driver_path (-Dsgx_driver_path instead of -Dsgx_driver_include_path)"
## Description of the problem
Refer to the building section where the meson sample command mentions `-Dsgx_driver_path` which should be `-Dsgx_driver_include_path`

[code]
https://gramine.readthedocs.io/en/latest/building.html#id1

## Steps to reproduce

## Expected results

## Actual results

[2021-10-18 08:46] dimakuv commented on #151
@jinengandhi-intel  @aneessahib @sahason @jkr0103  Could anyone check and fix this?

[2021-10-18 09:13] fnerdman opened #153 "[Question] Reproducible builds"
One use case for gramine could be an open source application where - by knowing the MRENCLAVE and having all the enclaves source and configuration files - a third party would be able to rebuild the enclave and come to the same MRENCLAVE. Imagine e.g. a blockchain oracle running as an SGX enclave. Such an application could only be trusted by a 3rd party if it could reproducibly build the enclave.

[2021-10-18 11:31] mkow opened #155 "Compile protobuf from source"
## Description of the problem

Currently we have compiled AESMD protobuf committed into sources (see `python/graminelibos/_aesm_pb2.py`). We should generate it from sources during build instead.

[2021-10-18 11:50] #132 closed, assigned to nobody

[2021-10-18 12:06] woju commented on #77
Fixed in `v1.0`.

[2021-10-18 13:24] dimakuv commented on #60
This was fixed by https://github.com/gramineproject/gramine/pull/103. I forgot to close this issue then.

[2021-10-18 13:24] #60 closed

[2021-10-18 13:27] dimakuv commented on #86
At least for now, I abandoned the idea of merging PAL and LibOS components into one binary (for multiple reasons). But I submitted a PR that re-implements RTLD in PAL to only have minimal functionality.

[2021-10-19 06:50] #147 closed, assigned to nobody

[2021-10-19 08:33] dimakuv opened #158 "Remove preload support in PAL and remove `loader.preload` in manifest"
## Description of the problem

After #152, we should remove the "preload libraries" support in PAL and `loader.preload` in the manifest.

There is no reason to have PAL-level preloaded libraries. In reality, we only ever load one ELF binary: either the PAL regression test or the LibOS library.

So we can remove the following:
- Remove preload libraries in PAL regression tests
- Remove `loader.prel

[2021-10-19 08:40] dimakuv opened #159 "Remove `ElfW(type)` macros from PAL and LibOS RTLD code"
## Description of the problem

We have ugly Glibc-inspired macros in the form of `ElfW(type)`. For example, https://github.com/gramineproject/gramine/blob/ba4a5ffd6f2b63ad160f760b804d37e40c0f82c6/LibOS/shim/src/shim_rtld.c#L45

We should replace them with better macros (or typedefs?) like in Linux: https://elixir.bootlin.com/linux/latest/source/include/linux/elf.h

Probably we can also clean up `e

[2021-10-19 14:53] boryspoplawski commented on #158
Then we also need to add some other entry, as I think we need the full path to libsysdb (and we definitely need it's hash).

[2021-10-19 15:00] pwmarcz opened #161 "RFC: building tests in Meson"
## The problem

We would like to move compiling (and possibly running) tests from Makefile to Meson. This is the last part of old Makefiles remaining. However, the transition is difficult for the following reasons:

1. **Building the manifests depends on Gramine being installed** (not only built). That makes it hard to build the tests (binaries + manifests) together with Gramine.

  * Python tools

[2021-10-20 14:35] woju commented on #161
yes, of course those aren't mutually exclusive

[2021-10-21 06:42] lead4good commented on #153
@dimakuv @mkow @woju thanks for your detailed answers. I am 99% sure that the signed Gramine binaries are sufficient for our use case for now. However this is likely to change in the future, so do you mind keeping this issue open to keep track of reproducible builds for Gramine?

[2021-10-21 09:28] daniel-weisse opened #164 "Running redis in replication mode with `gramine-sgx`"
## Description of the problem

I tried running the redis CI-Example in replication mode. While I can do so successfully without Gramine, with `gramine-sgx` the redis replica crashes when trying to connect to redis master.

## Steps to reproduce

I am running this on Azure in a DC4s_v2 VM.
I am using the binary release of Gramine in Docker:
[code]

Dockerfile used to build redis-server:
[code]

Bui

[2021-10-25 07:20] dimakuv opened #170 "[LibOS] Add regression tests for each x86-64 CPU extension"
## Description of the problem

We may want to add LibOS regression tests for CPU extensions (XCR0/XFRM attributes). In particular, we want to run some workload for Intel AMX on the CPUs where AMX is enabled. This will test our XSAVE/sanitization logic in Linux-SGX PAL.

Ideally, this workload would perform an OCALL in the middle of computation, just to make sure XSAVE/XRSTOR work as expected, and

[2021-10-27 12:24] #142 closed, assigned to nobody

[2021-10-28 11:21] jinengandhi-intel opened #176 "Unexpected illegal instruction occurred inside VDSO error seen after emulate inline syscalls commit"
## Description of the problem

Issue is seen on one of the internal CI machines and for all test suites like LibOS, PAL, FS LTP etc.

The tests fail with the following error:

[code]

## Steps to reproduce

Machine details have been shared with Dmitrii/Michal/Borys via email.

## Expected results

## Actual results

[2021-10-29 05:21] jinengandhi-intel opened #179 "Incorrect or missing error conditions in Gramine leading to LTP test failures"
## Description of the problem

We are in the process of upgrading LTP to the latest version and that's where we are seeing failures with the new/modified LTP tests when run with Gramine. Collating multiple such tests which are failing due to incorrect/missing error conditions in Gramine.

- [ ] bind01
- [x] readv02  (UPDATE: failure is due to a bug in new LTP test code being added)
- [ ] sendfile0

[2021-10-29 05:27] jinengandhi-intel opened #180 "Dup2 syscall incorrectly reports EINVAL when oldfd and newfd are same"
## Description of the problem

As per Linux man pages, dup2 does nothing and should return newfd and not EINVAL.

https://man7.org/linux/man-pages/man2/dup.2.html

In the upgraded LTP test, a new test validating this functionality was added which is failing with Gramine.

Link to new LTP test: https://github.com/linux-test-project/ltp/blob/master/testcases/kernel/syscalls/dup2/dup206.c

[code]

##

[2021-10-29 19:40] #176 closed

[2021-11-01 05:48] Glenrun opened #186 "golang HTTP server freezes after handling some requests"
## Description of the problem
Is there any plan or roadmap to support golang? We are using golang for most of our product.
Thanks!

## Steps to reproduce

## Expected results

## Actual results

[2021-11-01 09:41] mkow commented on #186
Do you have any problem with Go binaries? They should work correctly under Gramine, although they are quite slow due to inlined syscalls.

[2021-11-02 06:18] aniket-intelx commented on #176
The issue is not seen after the recent commits.

[2021-11-02 12:58] mjkambex opened #190 "Internal memory fault at 0x00000000"
## Description of the problem
Internal memory fault at 0x00000000

## Steps to reproduce
Using gramine release tag 1.0

We are running the OpenVINO Model Server within GSC signed docker image. In our case, OVMS is running along with NGINX configured in reverse proxy mode.

## Expected results
OVMS should be running and should be able to load the model successfully and inference should be successfu

[2021-11-02 14:12] Glenrun commented on #186
Yes, I did have problem in running go, many errors and just couldn't run a simple hello world program, and I also found a golang issue opened for a long time: https://github.com/gramineproject/graphene/issues/396, so I would like to confirm if any golang application was tested by gramine expert?

[2021-11-02 16:08] boryspoplawski commented on #186
I've tested, at least a simple hello-world go binary works correctly. Note that you need to use either SGX version of Gramine or build it manually from the current master (if you want non-SGX version), because go runtime issues raw syscalls.

[2021-11-02 16:35] dzygann opened #193 "GSC | Run bash example on Azure"
Hi,

I try to run the GSC Bash example on an Azure machine. I followed the instructions in the README file.
I could build the container, but the last command `docker run ...` command runs into an error.

My first try was to run the command from the README file
[code]

On my Azure machine is no `/dev/sgx_enclave` directory. Should it be there?
There is an `/dev/sgx` directory, which contains two ch

[2021-11-03 09:19] dimakuv commented on #193
@dzygann All GSC-related issues should be created in the corresponding repo: https://github.com/gramineproject/gsc/issues. Please raise it there. I'm closing it here.

Which README are you talking about? Please post a link.

Also make sure that you're using the latest GSC documentation: https://gramine-gsc.readthedocs.io/

[2021-11-03 09:19] #193 closed

[2021-11-05 04:41] lejunzhu opened #196 "[Pal/SGX] Unable to map executables from protected fs"
When trying to execute a binary via execve() or loading .so via dlopen(), if the file is an protected file, a warning is printed from the following line and the mmap() call will fail:

https://github.com/gramineproject/gramine/blob/3db1e28e27622cbf1265650cc92a87281803d31d/Pal/src/host/Linux-SGX/db_files.c#L401

therefore, the binary is not able to run.

The mmap() call actually comes with PAL_PROT

[2021-11-08 19:43] mkbhanda opened #201 "Quick start instructions missing protoc-c install for non-SGX environment"
## Description of the problem
Quick start instructions missing protoc-c install  for non-SGX environment in Ubuntu 20 (focal) environment.
## Steps to reproduce
Fresh Ubuntu 20.04.2 LTS environment. Clone gramine.
while executing " meson setup build/ --buildtype=release -Ddirect=enabled -Dsgx=disabled"
ran into an error.

## Expected results
no errors
## Actual results
"meson.build:40:0: ERROR: Pr

[2021-11-09 01:53] lejunzhu commented on #196
To reproduce it:
1. Product an executable that prints "hello world".
2. Put it in an "allowed" directory. Use python script "import os; os.execv('hello_world', ['hello_world'])" to run it. It will print the hello world string.
3. Use pf-crypt tool to encrypt it and put in protected FS instead.
4. Run the same script, it will _not_ print the hello world string. Instead, error can be seen in debug l

[2021-11-09 03:37] mkbhanda opened #202 "In Gramine build instructions provide instruction to determine kernel version"
## Description of the problem
Help new users to more easily set up their Linux SGX environment.
Following build instructions on https://gramine.readthedocs.io/en/latest/building.html
Item 2 might be easier on the reader if titled
title: SGX minimal Linux kernel version"
 text: "SGX requires minimally Linux Kernel version 5.9. To determine your Linux kernel version run

The kernel requirement is be

[2021-11-09 04:14] mkbhanda opened #203 "Doc: provide actual output example from FSGSBASE test"
## Description of the problem
To help new comers use SGX, the easier the instructions are to follow the better.
On https://gramine.readthedocs.io/en/latest/building.html#fsgsbase the user is asked to verify that bit 2 is set. What is the corresponding output that they must expect? An example helps/
## Steps to reproduce
documentation issue

## Expected results
Please share how the output should lo

[2021-11-09 04:19] mkbhanda opened #204 "Doc: When will the command is_sgx_available become available?"
## Description of the problem
in the quick start guide at https://graphene.readthedocs.io/en/latest/quickstart.html
is_sgx_available is alluded to test if SGX is available. Thyat appears to be a command that will become available only after a successful build.
Perhaps it is an after-the-setup test to confirm SGX indeed is available. If so, wording needs to change.
## Steps to reproduce

## Expecte

[2021-11-09 06:48] jinengandhi-intel opened #205 "Meson command in Quick Start Guide is missing -Dtests=enabled parameter causing regressions tests to fail"
## Description of the problem

Recently changes were made to the way we build and run regression tests; all tests are now build and installed with meson using the -Dtests=enabled parameter. Current instructions in Quick Start Guide, does not have this option, without which someone trying to run the `make` command inside regression suites gets a `No rule to make target error`

https://gramine.readt

[2021-11-09 07:23] dimakuv commented on #204
You probably mean https://gramine.readthedocs.io/en/latest/quickstart.html#quick-start-with-sgx-support ? (Note that you pasted the link to the old "Graphene" documentation, we now renamed Graphene to Gramine and thus new documentation is under the new "Gramine" link.)

Indeed, we have `Ensure that Intel SGX is enabled on your platform using is_sgx_available` sentence there. The `is_sgx_available`

[2021-11-09 07:28] dimakuv commented on #204
Actually, the question raised by @mkbhanda is interesting. We indeed can use `is-sgx-available` utility only **after** we install Gramine. At the same time, in Step 1 of https://gramine.readthedocs.io/en/latest/quickstart.html#quick-start-with-sgx-support, we ask users to check whether this machine supports SGX at all, with the help of `is-sgx-available` (**before** installing Gramine).

How do we

[2021-11-09 07:33] dimakuv commented on #201
@woju @pwmarcz We are not supposed to require and use Protobuf packages for non-SGX Gramine installs. But I see that we require Protobuf unconditionally in our Meson files: https://github.com/gramineproject/gramine/search?q=protoc_c_prog

Could we fix it to only use Protobuf (and build `aesm.pb-c.[ch]`) only for SGX?

[2021-11-09 07:39] dimakuv commented on #202
Thanks @mkbhanda for the suggestions!

@vijaydhanraj Since you're working on various improvements to our documentation, could you also add the described changes in your PR #198 ? In particular, we want to modify this section: https://gramine.readthedocs.io/en/latest/building.html#upgrade-to-the-linux-kernel-patched-with-fsgsbase

Three things to modify, as requested by @mkbhanda:
- The title of th

[2021-11-09 07:42] Glenrun commented on #186
I just run hello world in gramine direct mode, it crashed, below errors reported:

panic: nil
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x0]

goroutine 1 [running]:
runtime: unexpected return pc for runtime.gopanic called from 0x0
stack: frame={sp:0x7ffff3f16378, fp:0x7ffff3f16408} stack=[0xc0001a2000,0xc0001a3000)

runtime: unexpected return pc for runtime.gopanic called from 0

[2021-11-09 07:44] dimakuv commented on #203
@vijaydhanraj Could you add this as well to your #198 ?

In step 6 of https://gramine.readthedocs.io/en/latest/building.html#advanced-installing-linux-kernel-with-fsgsbase-patches, I would change to this example:
[code]

I verified the above outputs on two machines: one with vanilla Linux 5.4 (no FSGSBASE) and one with Linux 5.14 (with FSGSBASE).

[2021-11-09 07:46] dimakuv commented on #186
@Glenrun What version of Gramine did you use? If you used a slightly old version, can you try the current master (https://github.com/gramineproject/gramine/commit/3db1e28e27622cbf1265650cc92a87281803d31d)?

[2021-11-09 08:02] Glenrun commented on #186
@dimakuv Yes, I used this version, you could see from the last line of my last message, thanks.

[2021-11-09 08:05] dimakuv commented on #186
@Glenrun Could you show the HelloWorld Golang code, the exact command line you used to run `gramine-direct` and the manifest file that you created for this file?

[2021-11-09 08:13] Glenrun commented on #186
@dimakuv also attached in my first message this afternoon, thanks

[2021-11-09 08:16] dimakuv commented on #186
@Glenrun Currently I don't see any attachments, forgot to add? Or maybe GitHub still uploads them.

[2021-11-09 08:22] pwmarcz commented on #204
I assume this is about users building Gramine from source, since we're talking about the quickstart guide.

The `is-sgx-available` command is single-file C++ with no dependencies on external libraries. So maybe we could replace step 1 with `g++ .../is_sgx_available.cpp -o is-sgx-available` and then running it.

Alternatively, we could make a shell script that compiles and runs it.

Another solutio

[2021-11-09 08:23] dimakuv commented on #204
I like the idea of just checking SGX using `cpuid | grep sgx`. Yes, maybe we should replace that particular description in Step 1 from `is-sgx-available` to `cpuid`.

[2021-11-09 08:37] Glenrun commented on #186
In my first message this afternoon, not in attachment. anyway, i attached all here:

(1) gramine is manually compiled and installed with prefix:

/work/dist/gramine

(2) command line:

env PYTHONPATH=/work/dist/gramine/lib/python3.8/site-packages /work/dist/gramine/bin/gramine-direct golang

(3) error message varies from time to time, a typical one looks like below:

runtime: newstack sp=0xc00016b

[2021-11-09 08:47] dimakuv commented on #186
Thanks. I don't see anything that special in these files.

1. Could you try `sys.stack.size = "8M"`? I don't think this should be relevant though because Golang creates its own stacks...

2. @boryspoplawski Any idea why this can happen?

[2021-11-09 09:53] jinengandhi-intel opened #208 "Test failures seen with ASAN enabled on Ubuntu 20.04 running 5.12, 5.13 upstream kernel"
## Description of the problem

Seeing multiple issues when enabling ASAN on local CI Ubuntu 20.04 machines running 5.12 and 5.13 kernel.

**Issue 1: Gramine SGX on Ubuntu 20.04 + 5.12 kernel**

Below error is seen for multiple PAL, PF, LibOS tests. Logfiles for a few of the tests are attached here. When run via pytest the test is hung and eventually times out.

[LIBOS_mprotect_filefork_SGX_ASAN.tx

[2021-11-09 12:36] vijaydhanraj commented on #202
Sure, I can do these changes. Also, noticed that we don't talk about kernel versions less than `5.4` where we can use SGX with `OOT` driver and `gsgx.ko` module. Should we add this as well?

If we don't support this configuration, then I suggest we remove this flag `oot for non-DCAP, out-of-tree version of the driver.` from https://gramine.readthedocs.io/en/latest/building.html#id2.

[2021-11-09 12:43] dimakuv commented on #202
@vijaydhanraj I definitely don't want to remove the flags. I still use the Linux version 4.15 :)

We could add some text on Linux 5.3 and lower versions. But just a few sentences, since this is deprecated.

[2021-11-09 12:45] vijaydhanraj commented on #202
yes agree, will add a few sentences, and a note saying this is deprecated.

[2021-11-09 14:04] vijaydhanraj commented on #202
I have done

I have done 1 and 3 but left 2 as it seems redundant. We have something along these lines (our recommendation) in the `note` of this section.

[2021-11-09 16:10] #201 closed

[2021-11-09 19:55] boryspoplawski commented on #186
Provided example works perfectly fine for me. Ubuntu20.04 `go version go1.13.8`. I've used the commit mentioned before.

[2021-11-09 19:56] boryspoplawski commented on #186
@dimakuv no idea, it works fine for me.

@Glenrun What OS did you use? Which go version?

[2021-11-10 02:48] Glenrun commented on #186
@dimakuv @boryspoplawski  Ubuntu 20.04.2 LTS, kernel version `5.13.0,` go version go1.13.8

[2021-11-10 02:55] Glenrun commented on #186
BTW, What is your kernel version?
AFA ubuntu 20.04 use kernel 5.4 and FSGSBASE is not in this version, so we upgrade kernel to 5.13, is this kernel supported golang in gramine? or do you have any BKM for running golang helloworld in gramine?

[2021-11-10 03:10] boryspoplawski commented on #186
I used 5.4 (with fsgs patches applied), but I don't think kernel version matters here. I've just also tried 5.11 (Ubuntu20.04 as well, same go version).
I'm out of ideas. Do you have any other system where you could try running this?

[2021-11-10 09:49] igor-davidyuk opened #210 "Wrong dist-packages folder in manifest"
Hello!
I have two pythons - 3.6 and 3.8
I use python 3.8 to run the gramine-manifest script in order to generate a manifest from the template.
And for some reason, this line still sets dist-packages to the 3.6's path

https://github.com/gramineproject/gramine/blob/f15293dd26af9d7287a77cbd8d952b99639ec994/python/graminelibos/gen_jinja_env.py#L40

[2021-11-10 10:00] dimakuv commented on #210
@woju may know better, but `sysconfig` in Python takes a system-wide installed Python directories.

So it looks like you have Python 3.6 installed on your system. And you're using Python 3.8 in a virtual environment (not system-wide) or something like this. Is my assumption correct?

If you want to use Python 3.8 directories and libraries, just replace `distlib` in your Gramine manifest file with

[2021-11-10 10:17] dimakuv commented on #186
Indeed, I connected to the machine of @Glenrun and rarely, the trivial HelloWorld Golang application fails like this:
[code]

[2021-11-10 10:38] dimakuv commented on #186
Ok, after some more test runs, here are the results:

- `gramine-direct` fails ~1 in 20 runs. The errors are as above.
- `gramine-sgx` never fails (tried 350 runs).

The machine is: Linux 5.13.0, Ubuntu 20.04.2 LTS, ICX server, go1.13.8, Gramine commit 3db1e28e27622cbf1265650cc92a87281803d31d ("[Docs] Add a workaround for Sphinx/docutils issue" from 2. November).

[2021-11-10 10:39] dimakuv commented on #186
@Glenrun So the SGX version of Golang applications works without any failures. We'll need to investigate that intermittent bug with non-SGX version... But for your purposes, looks like you can use `gramine-sgx` with Golang applications without problems.

[2021-11-10 11:07] mkow commented on #203
@dimakuv But this example is misleading, e.g. 3 or 6 are also valid values indicating that FSGSBASE is supported. Also, this problem is quickly becoming the past, because almost everything supports it right now.

[2021-11-10 11:14] dimakuv commented on #203
Why misleading? This is just an example. Right before this example, we say that "bit 2 must be set". We can't enumerate all possible values with bit 2 set...

[2021-11-10 13:16] pwmarcz commented on #208
I see there's no information about crash location in any of these logs. Is Gramine compiled in debug mode, or release mode? What is the full `meson` invocation?

[2021-11-10 13:22] jinengandhi-intel commented on #208
Meson command: `meson build --prefix=/home/intel/gramine_install/usr --buildtype=release -Dskeleton=enabled -Ddirect=enabled -Dtests=enabled -Dubsan=enabled -Dasan=enabled -Dsgx=enabled`

[2021-11-10 13:45] pwmarcz commented on #208
I see. Then at least `Issue 2` looks like a simple typo in the Python code (`has_debug` -> `has_debug()`). I'll submit a fix.

Do the same issues appear when compiling in debug mode (`--buildtype=debug` or `--buildtype=debugoptimized`)? If so, that could give us more information about the crashes.

[2021-11-10 14:44] igor-davidyuk commented on #210
Thanks for the quick response!
I do not use a virtual Python env. I just have both 3.6 and 3.8 installed on my machine.
As far as I understand, `gramine-manifest` is a python script and it runs with `python3` link:
https://github.com/gramineproject/gramine/blob/f15293dd26af9d7287a77cbd8d952b99639ec994/python/gramine-manifest#L1
That means jinja will fill variables in a template with correct addres

[2021-11-10 14:48] igor-davidyuk commented on #210
I mean, I found an intermediate solution, I run:
`
python3.8 gramine-manifest -args
`
and I made changes to `gen_jinja_env.py` so it returns a correct dist-packages location in my fork:
https://github.com/igor-davidyuk/gramine/commit/823b8aab4fdc9432208d0f1c372474e8e0f02dae

But I do not think it is a universal solution.

[2021-11-10 14:50] igor-davidyuk commented on #210
Ideally, it would be nice if manifest could be created even from a virtual env.
From another perspective, we create a manifest not on the same machine that will run the application.
But again, the current solution do not work well either, as the running machine may have another python installed

[2021-11-10 14:54] woju commented on #210
This seems wrong, because it will break default installation on Debian. Instead, we should do something like this: https://github.com/gramineproject/gramine/blob/1a42ee93f1ebe940a684c434cffb4c57ad4cb28d/Scripts/get-python-platlib.py#L63-L78 also in our manifest renderer. I'd be happy to review a PR to this effect.

[2021-11-10 14:57] igor-davidyuk commented on #210
Thanks, but this also does not work right away, because the first-mentioned line returns dist-packages address for python3

[2021-11-10 15:01] igor-davidyuk commented on #210
Looks like it should be a universal path postprocessor that modifies all the paths. As it is rather a pathlib problem than `site` package's

[2021-11-10 15:04] mkow commented on #203
But you don't say that this is only an example ;)

[2021-11-10 15:22] dimakuv commented on #203
Ok, now I understand. I added a blocking comment in #198.

[2021-11-11 04:09] Glenrun commented on #186
@dimakuv @boryspoplawski , we could run go program in SGX mode now, but the program run in Gramine hung after a while, attached the log snippet below:
[code]

[2021-11-11 07:06] aniket-intelx commented on #208
Checked out the latest master (which already has your fix) and as you mentioned issue 2 is no longer seen when run in release mode.
For issue 1, we build in debug mode and the memory fault is no longer seen. Is this logical?
For issue 3, which is tests hanging when run with gramine-direct, the issue is still seen even with debug mode. We tried with log_level as `trace`, but no message is seen on c

[2021-11-11 07:50] dimakuv commented on #186
There is nothing special we can see in your log snippet, unfortunately.

But we are aware of some bugs in the `epoll` subsystem. I assume that your application uses epoll quite heavily: `epoll_ctl`, `epoll_wait`. For example, see this issue: https://github.com/gramineproject/gramine/issues/59 and https://github.com/gramineproject/gramine/issues/80

Unfortunately, we currently have a lower priority

[2021-11-11 09:04] jinengandhi-intel opened #215 "LTP tests failing with receive_checkpoint_and_restore error after [Pal] Remove the 64MB static buffer commit"
## Description of the problem

After the above mentioned commit, seeing multiple LTP tests fail with the following error:

[code]

The issue is fixed by #214

## Steps to reproduce

## Expected results

## Actual results

[2021-11-11 11:55] mythi commented on #138
@SammyTbeile I checked this on Ubuntu 20.04 w/ both v2 and v3 instances and all seem OK. Can you confirm?

[2021-11-11 11:58] SammyTbeile commented on #138
@mythi
The workaround that @dimakuv suggested worked on our instances. I'm still not sure where Azure decided to hide that header file

[2021-11-11 12:02] mythi commented on #138
@SammyTbeile FYI #216

[2021-11-11 15:08] #158 closed

[2021-11-11 15:12] boryspoplawski commented on #186
@Glenrun the part of the log you've pasted is correct. You can attach files in GH, please give us the full log (tho that still might not be enough).

[2021-11-11 17:29] #205 closed

[2021-11-12 00:01] mkow commented on #215
@jinengandhi-intel Please don't retroactively create issues for which we already have open PRs, it just adds more noise to the repository.

[2021-11-12 12:14] #215 closed

[2021-11-15 21:54] teotro opened #224 "Cannot run helloworld with SGX support"
Hi,

I am using Ubuntu 18.04 and Linux kernel 5.11.0-051100-generic and I have installed sgx-1.36.2 in /usr/src path
I have succesfully completed all the steps of the Quick Start with SGX support

However, I can't run successfully a helloworld program with SGX support.
Specifically, when I give the command:

_**$ gramine-sgx helloworld**_

it gives me the following output:

**_Cannot open device /

[2021-11-15 22:33] monavij commented on #203
I am not sure we need an example. An example may cause more confusion, as Michal pointed out. The documenation is pretty clear as far as I see it.

[2021-11-15 23:03] boryspoplawski commented on #224
Please check `/dev/sgx_enclave` permissions, preferably paste output of `ls -al /dev/sgx_enclave` and `mount | grep devtmpfs`.

Also please don't attach screenshots - you can copy the output of you terminal and paste it here enclosed in triple backtics like this:
\`\`\`
$ ls
file1 file2
\`\`\`

[2021-11-15 23:14] teotro commented on #224
Hi,

here are the outputs.

**$ ls -al /dev/sgx_enclave**

. . .
crw------- 1 root root 10, 126 Nov 14 22:21 /dev/sgx_enclave
. . .

**$ mount | grep devtmpfs**

. . .
udev on /dev type devtmpfs (rw,nosuid,relatime,size=32756584k,nr_inodes=8189146,mode=755,inode64)
. . .

[2021-11-15 23:32] teotro commented on #224
*Follow up, this idea struck my mind and proved that worked finally.
If I give the command:

**$ sudo gramine-sgx helloworld**

that works!! And runs the helloworld succesfully

[2021-11-16 00:03] boryspoplawski commented on #224
Seems `/dev/sgx_enclave` is owned by `root` and noone else has permissions to access it.
I recommend creating a designated group, changing ownership of `/dev/sgx_enclave` to that group and adding `g+rw` perms to it (use udev have permanent changes). Then add your user to that group. This way you won't have to run everything from root, which is a security issue.

[2021-11-16 00:03] #224 closed

[2021-11-16 10:36] aniket-intelx opened #226 "Documentation error in CONTRIBUTING.rst after adding gramine-test"
## Description of the problem
The command to run a subset of tests mentioned in `CONTRIBUTING.rst` is missing `pytest`.

## Steps to reproduce

Run below command mentioned in the documentation (https://github.com/gramineproject/gramine/blob/master/CONTRIBUTING.rst#running-regression-tests-by-hand) :
`gramine-test -v -rs test_pal.py::TC_01_Bootstrap::test_100_basic_boostrapping`

Below mentioned co

[2021-11-16 11:08] dimakuv commented on #226
@pwmarcz You worked on this. Is this issue valid?

[2021-11-16 12:10] pwmarcz commented on #226
Yes. I'll prepare a fix.

[2021-11-16 19:06] #25 closed

[2021-11-17 03:07] jinengandhi-intel commented on #208
@aniket-intelx can you apply the following diff and re-run gramine-direct on 5.13 kernel.

[2021-11-17 07:48] aniket-intelx commented on #208
`gramine-direct`, tested with LibOS and PAL testcases is no longer hanging after applying the above mentioned fix.

[2021-11-17 14:41] pwmarcz opened #231 "Unmapping protected files does not work properly"
## Description of the problem

Gramine allows to map protected files, but unmapping the memory has no effect. As a result, closing the file can trigger saving garbage data to the file.

Found in #228 where `copy_mmap_*` tests trigger AddressSanitizer on file close.

## Steps to reproduce

1. Map a protected file using `mmap`
2. Create another (anonymous) mapping over the same memory.
3. Modify the

[2021-11-17 15:01] boryspoplawski commented on #231
I can quickly fix LibOS part, but from what you described we need to fix PAL part (especially PF part) first?

[2021-11-17 15:08] M-V-Manikandan opened #232 "Getting fatal error: failed to reserve page summary memory while running an application in gramine"
## Description of the problem
Facing issue while trying to run/invoke a security based application( actually a web service which verifies certificates) written in go inside gramine.
The application is called from a caller program via execvp command. The application uses systemctl internally to deploy itself as a webservice.
However, while executing the application inside gramine on sgx enabled mac

[2021-11-17 15:11] dimakuv commented on #231
I think the PAL part should be reasonably simple to fix for Protected Files. IIRC, PF contents are already maintained at page granularity, so unmapping a part of the file is a matter of flushing only that page range and splitting the "PF mmap" metadata object into two.

[2021-11-17 15:12] dimakuv commented on #232
@M-V-Manikandan Could you edit your logs as code snippets (use "Insert Code" button or just use triple backticks)?

[2021-11-17 15:13] dimakuv commented on #232
Please post the Gramine log with `loader.log_level = "all"`. This will print out much more information. Currently I don't see anything helpful in the Gramine log.

[2021-11-17 15:14] boryspoplawski commented on #232
Please paste terminal output and files between triple backticks (```, so it formats nicely).

Could you try increasing enclave size in your manifest? Seems you are using the default value, which might be not enough if you have a complex application. https://gramine.readthedocs.io/en/latest/manifest-syntax.html#enclave-size

Also I'm not sure if putting a application using `systemctl` in Gramine ma

[2021-11-17 15:18] #138 closed

[2021-11-18 05:43] Glenrun commented on #186
[gramine.log](https://github.com/gramineproject/gramine/files/7560189/gramine.log)
@boryspoplawski , Hi, Borys, thanks for your reply. In Gramine SGX mode, we startup a http server in Gramine SGX mode, enabling Gramine log, then use a curl to request the server, after a short time, curl hung waiting for the server's reply, sometimes even there is no any request in progress, gramine hung somewhere.

[2021-11-18 10:33] M-V-Manikandan commented on #232
Thanks @dimakuv  and @boryspoplawski
As suggested increased the enclave size and tried. Now getting below error.

'''
[P1:T1:sqvs] debug: execve: start execution
[P1:T1:sqvs] debug: glibc register library /lib/libpthread.so.0 loaded at 0x1203a000
[P1:T1:sqvs] debug: glibc register library /lib/libc.so.6 loaded at 0x11e47000
[P1:T1:sqvs] warning: Unsupported system call 435
[P1:T1:sqvs] warning: Un

[2021-11-18 14:19] boryspoplawski commented on #232
This looks like a problem with your application, not Gramine.

[2021-11-18 14:20] boryspoplawski commented on #186
@Glenrun Yeah, I'm already debugging this issue (got a local repro).

[2021-11-19 04:47] M-V-Manikandan commented on #232
@boryspoplawski Thanks for the response. As we could able to run the application outside gramine, wanted to understand/know the reason for failing in gramine. Could you provide some info on where/why it is failing to run in gramine.

Thanks for your time.

[2021-11-19 08:00] dimakuv commented on #232
@M-V-Manikandan In your attached log, I still see some failures of memory allocation:
[code]

What is the `sgx.enclave_size` you have now in your manifest file? Looks like it is still not enough.

Try to increase it to `16G` or `32G`. Note that Golang applications are famous for reserving **a lot** of memory. I've seen manifest files for Go apps with `sgx.enclave_size = "32G"`.

[2021-11-19 10:57] saruvig opened #233 "Error in Pytorch.manifest: toml.decoder.TomlDecodeError: Duplicate keys!"
Hi,

I am trying to run a new example in gramine running on Azure VM with PyTorch. I am using the following python.manifest.template. I followed the manifest template of pytorch in the graphene git (https://github.com/gramineproject/graphene/blob/master/Examples/pytorch/pytorch.manifest.template)

This is the manifest I am trying to run:

# PyTorch manifest template

loader.preload = "file:{{ gram

[2021-11-19 11:10] dimakuv commented on #233
I don't see anything special in your manifest.template file. Are you sure you copy-pasted the latest `python.manifest.template` contents?

Please don't use old Graphene repository. We have the latest PyTorch in the new repository: https://github.com/gramineproject/examples/blob/master/pytorch/pytorch.manifest.template

[2021-11-19 11:46] saruvig commented on #233
As suggested, I shifted to the new repository code of PyTorch under Gramine. I am able to successfully build SGX now with the pytorch example but when I try to run it gets Killed.

[2021-11-19 11:56] dimakuv commented on #233
`Killed` means that the Linux kernel noticed that RAM is dangereously close to fully used, and Linu invoked the OOM Killer (out of memory killer) to terminate the PyTorch Gramine process.

This is because your machine has too little RAM available.

Our PyTorch example has the enclave size of 16GB:
https://github.com/gramineproject/examples/blob/ebc051be9dad032da789a27387c36db3cbadbc95/pytorch/pyto

[2021-11-19 14:18] M-V-Manikandan commented on #232
@dimakuv  Thanks for the response. Was using 2G earlier, as suggested increased the size to 32G.
But still observing the below error.
[code]
complete logs with 'all' is attached.
Thanks & Regards,
[SQVS_Out_Of_Bounds_Size_32G_Logs_All.txt](https://github.com/gramineproject/gramine/files/7570787/SQVS_Out_Of_Bounds_Size_32G_Logs_All.txt)
s

[2021-11-19 15:52] boryspoplawski commented on #232
@dimakuv these seem like memory allocator probing, they are not real fatal failures.
@M-V-Manikandan No idea, it's just an error from your application. My guess would be that it's trying to use `systemctl` (since you mentioned that), but it's failing - you probably did not put systemd inside the enclave (which I'm fairly certain is completely pointless and also impossible).

[2021-11-20 08:30] lead4good opened #235 "[Request] Signed binary tarball as part of new releases"
I am currently working on creating a buildpack for gramine, for this work it would be nice to have a signed binary tarball provided via the github releases. Would that be possible?

[2021-11-20 15:38] mkow commented on #235
Yup, we have this in plans (together with reproducible builds), but we'll see if we manage to set everything up for the next release.

[2021-11-22 02:35] oubotong opened #236 "Mounting failed on helloworld example"
## Description of the problem

I tried to build the Gramine with -Ddirect=enabled only in the debug mode.  Then I build the examples in the `Pal/regression`  by get into the folders and run `make`.

Then I run the command `gramine-direct helloworld` for simple testing and an errorscome out.

## Steps to reproduce

Build the Gramine by `meson setup build/ --buildtype=debug -Ddirect=enabled -Dsgx=di

[2021-11-22 02:50] oubotong commented on #236
The name of the helloworld example is `HelloWorld`

[2021-11-22 03:42] oubotong opened #237 "HelloWorld example doesn't output the string"
## Description of the problem
Running HelloWorld example inside `CI-Example` folder doesn't output any string in the terminal.

## Steps to reproduce

Build the gramine by
[code]
Build the helloworld example by `make DEBUG=1`

## Expected results
Output the helloworld string

## Actual results
Nothing is output in the terminal

[2021-11-22 04:37] oubotong commented on #236
The HelloWorld example is for the latest branch, mine fork is the `borys/aex_ocalls`. I followed the build instructions in this version of building the helloworld example in `LibOS/shim/test/regression`. The same error happens.

[2021-11-22 05:54] shenyuchenx opened #238 "Nginx with multiple workers reports "Address already in use" and failed to start under gramine-direct"
## Description of the problem
Nginx with multiple workers reports "Address already in use" and failed to start under gramine-direct.

## Steps to reproduce

0. Set up host environment

# cat /etc/os-release
NAME="Ubuntu"
VERSION="20.04.3 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.3 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubunt

[2021-11-22 07:33] dimakuv commented on #236
@boryspoplawski Could you rebase your branch `borys/aex_ocalls` to the latest master, so @oubotong can use our build instructions?

@oubotong For the context: we had a bug in our build instructions. The bug was fixed recently, but the branch `borys/aex_ocalls` is still "old" and doesn't contain that bug fix. Borys will fix it soon-ish.

[2021-11-22 07:36] dimakuv commented on #237
@oubotong It works for me. What exactly happens when you try to run `gramine-direct helloworld`?

[2021-11-22 07:36] dimakuv commented on #237
Are you using the latest master branch?

[2021-11-22 07:47] dimakuv commented on #232
@M-V-Manikandan There is some more output from the Go application itself, based on your log:
[code]

If I understand correctly, there is something wrong on line 1010 of this Go file: https://golang.org/src/flag/flag.go

So looks like it fails at parsing the command-line arguments. Are you sure you have `loader.insecure__use_cmdline_argv = true` in your final manifest file?

Also, try to add `loade

[2021-11-22 15:48] oubotong commented on #236
Thanks for the information. I will wait for the bug fix then. I will also look into the latest branch.

[2021-11-22 15:49] oubotong commented on #237
No, I am using the `borys/o_calls` branch which as you mentioned that it contains a bug and hasn't been fixed yet. I will wait for th patch and look into the latest branch as well.

[2021-11-23 04:48] saruvig commented on #233
yes my Azure VM has only 8 GB RAM. I changed the enclave side in the manifest to 2GB and am trying to run my own script on basic cifar with it. I added the script in the sgx_allowed files as "file:basic_cifar.py". I am able to build with SGX =1 , but while running get this error: SSL certification failed
![image](https://user-images.githubusercontent.com/23428423/142972621-2ebc80dd-e013-4447-8a10-

[2021-11-23 05:34] boryspoplawski commented on #236
@oubotong Why are you using this branch instead of master? It contains a very specific, experimental code which only runs on SGX PAL, which you do not use (judging from your build commands).

FWIW: I did a rebase.

@dimakuv What bug? We don't have `helloworld` in Pal/regression on master, so not sure how a rebase is supposed to help.

[2021-11-23 07:12] dimakuv commented on #236
@boryspoplawski I think he is collecting perf numbers of your branch? That's what I thought. But maybe I am mistaken; @oubotong Why are you using exactly the `borys/aex_ocalls` branch instead of `master`? What are you trying to achieve?

@dimakuv I'm talking about that bug: https://github.com/gramineproject/gramine/pull/188. It is clear that @oubotong made a mistake/typo when he mentioned `Pal/reg

[2021-11-23 07:17] boryspoplawski commented on #236
@dimakuv so running that example from LibOS/regression should work before rebase, which is what @oubotong did, I believe.

[2021-11-23 07:21] dimakuv commented on #233
Why do you think the error is about the allowed files? The error happens during SSL/TLS handshake. Since we don't know what your application does, it's hard to judge what's missing.

Please enable full Gramine logs: add/modify `loader.log_level = "all"` line in your manifest file, rebuild and run again. The log will give you additional information: what files Gramine tries to access (and whether G

[2021-11-23 07:23] dimakuv commented on #236
@boryspoplawski There was a week or two when running `helloworld` from LibOS/regression was broken. (The user had to add `-Dtests=enabled` during meson setup, which we did *not* specify in the documentation.) So I just assumed that you created your `aex_ocalls` branch around that time, where we had that bug.

[2021-11-23 07:28] boryspoplawski commented on #236
@dimakuv Ah, you are right, that's possible

[2021-11-23 14:27] pwmarcz commented on #19
Bugs found by UBSan (including earlier efforts by @stefanberger):
- Alignment issues (c18469c196a0ce1789a9d6163869fcc8434bbd2f, ee41364db03267fd5826b244a4cd09f32101e6c6, c7ac847c2e80b3871b455cdc7d72492eb51009c8, dde7712b406f0a8d6f12e2ad86eace2437f6fcb3, eb3c58fc7c589e57d9e78591c677b41f6bb17dba, 11dbcafbeaa753e0c54a3c7f27c27c6f172d2cf9)
- Pointer overflow (d35f016151a78221a504f8b83b6deccd714a01f1),

[2021-11-23 15:22] M-V-Manikandan commented on #232
@dimakuv @boryspoplawski  Thanks for your responses.
We tried by including '/usr/local/go/src/' in manifest along with your suggestions.

We could able to bring-up the http server application in gramine (without systemctl), however we are facing issue when the application try to write (respond to the incoming requests).
[code]
could you comment on the errors?
[netpoll_Break-error.txt](https://gith

[2021-11-23 15:36] dimakuv commented on #232
@M-V-Manikandan Disable the Gramine log (set `loader.log_level = "error"`) and look at what Go app writes to you.

Go app actually gives you a lot of information about the error. For example, I noticed (from your attached log) that the issue happens somewhere in some Go library that performs SGX ECDSA quote verification or something like this -- which may indicate that your SGX environment is setu

[2021-11-23 16:32] #233 closed

[2021-11-24 06:30] boryspoplawski commented on #186
Forgot to mention it here: It seems that our epoll emulation is (heavily) bugged. Looks like it's time to rewrite it. cc @mkow @dimakuv  I'll start working on this ~soon-ish

[2021-11-24 06:57] Glenrun commented on #186
@boryspoplawski , Borys, thanks for your reply, expecting for the new version.

[2021-11-24 08:30] dimakuv opened #242 "[Python] Need a tool to extract/re-generate MRENCLAVE after Gramine enclave "build""
## Description of the problem

After the Gramine app is "built" -- i.e., the SGX artifacts are generated: `manifest.sgx` (final manifest file), `.sig` (SIGSTRUCT), `.token` (EINITTOKEN) -- there is no way to extract or regenerate MRENCLAVE. We need some tooling to help Gramine developers and users. In particular, we need two tools:

- For Gramine app developers, a tool to extract MRENCLAVE (and ot

[2021-11-24 08:31] dimakuv commented on #242
@mkow @woju @boryspoplawski We discussed this offline several times, but I couldn't find a corresponding GitHub issue. So created this one.

We have more and more asks like this from different people. I know we have our `Python API` (https://gramine.readthedocs.io/en/latest/python/api.html), which makes it relatively easy to create tools like I described. But don't we want to have such tools shipp

[2021-11-24 08:32] dimakuv commented on #242
(Please note that the proposed tools are **not** for enclave signing purposes. The proposed tools are only for post-signing actions like checking existing-enclaves' measurements.)

[2021-11-24 08:58] dimakuv commented on #20
@vijaydhanraj Please send a comment "Assign to me" here, so I can assign you in the GitHub interface (a person can be assigned to an issue only after he/she wrote a comment).

[2021-11-24 09:03] boryspoplawski commented on #242
Case 1:
[code]

Case 2a (requires exporting `get_mrenclave_and_manifest`):
[code]

Case 2b (works on current master):
[code]

[2021-11-24 09:06] dimakuv commented on #242
Thanks @boryspoplawski for the snippets. For the first tool, we probably want to have Click-style arguments and export different SIGSTRUCT fields, not only MRENCLAVE. Or we can simply dump the whole Sigstruct object to console.

The question is now about packaging: do we want to have such tools (with names like `gramine-get-measurements` and `gramine-regenerate-mrenclave`) in Gramine?

[2021-11-24 14:11] #226 closed

[2021-11-24 15:16] vijaydhanraj commented on #20
@dimakuv please assign this issue to me.

[2021-11-24 17:03] vijaydhanraj commented on #242
Tools like `gramine-regenerate-mrenclave` would be much helpful for end-users (not Gramine developers) as they can now compare the `mrenclave` from the quote with the golden `mrenclave` generated by this tool and can proceed further with trust.

[2021-11-25 06:29] M-V-Manikandan commented on #232
@dimakuv Thanks for the suggestions.
We tried as suggested on logs.
Got the go application error messages on console. Did not get any messages in 'gramine.log'.
[code]

Suggestions to narrowdown and understand on which part of the interaction with gramine fails would be helpful.

Thanks & Regards.

[2021-11-25 07:26] dimakuv commented on #238
We need someone to reproduce and check whether this is a real bug in Gramine. I will now set the labels to Bug and P2.

[2021-11-25 07:28] dimakuv commented on #237
@oubotong Let's consolidate your problems with running Gramine in another of your issues (https://github.com/gramineproject/gramine/issues/236). All discussions will continue there. I'm closing this issue now.

[2021-11-25 07:28] #237 closed

[2021-11-25 07:30] dimakuv commented on #236
@oubotong What is the status now? Have you tried the new version of the `borys/aex_ocalls` branch now? It should definitely work now. I'm currently closing this issue, but if you still have problems, feel free to re-open the issue.

[2021-11-25 07:30] #236 closed

[2021-11-25 07:34] dimakuv commented on #232
Thanks for the log! Golang prints very good backtraces.

Now we see that Golang has issues in the polling mechanism (epoll, see https://man7.org/linux/man-pages/man7/epoll.7.html):
[code]

Borys is currently working on select/poll/epoll implementations in Gramine codebase. @boryspoplawski Is this similar to what you've debugged? Will it be likely fixed by your Gramine modifications?

Anyway, looks

[2021-11-25 07:37] dimakuv commented on #210
I need to assign some label to this issue. From what I understand, this is not a bug per se but more of a feature request. Also, it doesn't seem too important, so assigning a low priority. If @woju has better ideas on how to handle this issue, please reply.

[2021-11-25 07:39] dimakuv commented on #208
@aniket-intelx @jinengandhi-intel Is this issue still relevant? Any of the sub-issues 1, 2, 3 not yet fixed?

[2021-11-25 07:42] dimakuv commented on #196
Thanks @lejunzhu! This is clearly a bug in our Protected Files implementation.

We have plans to re-write the whole PF implementation in Gramine, so this bug will also be fixed as part of that effort. Unfortunately, that effort hasn't started yet. But "improve PF implementation" will be the next item in our TODO list.

[2021-11-25 07:43] dimakuv commented on #190
Based on offline conversations with OVMS people, I assume this issue was fixed. I'm closing it. @mjkambex Please reopen the issue if it wasn't solved yet.

[2021-11-25 07:43] #190 closed

[2021-11-25 07:44] dimakuv commented on #186
I assigned the highest priority since Borys will be/is currently working on fixing the epoll implementation in Gramine. So it should be fixed very soon.

[2021-11-25 07:46] dimakuv commented on #180
This looks like a pretty trivial bug fix. Any volunteers to fix it? @vijaydhanraj @svenkata9 ?

[2021-11-25 07:47] dimakuv commented on #179
Any volunteers to take on this? @vijaydhanraj @svenkata9 ?

[2021-11-25 07:49] dimakuv commented on #164
Quick update: we still haven't found the time to work on the Big Sockets Rewrite. Hopefully in December we can take on this. For now, assigning a rather high priority.

[2021-11-25 07:50] dimakuv commented on #161
@pwmarcz Is this meta-issue still relevant? Or can we close it now?

[2021-11-25 07:52] dimakuv commented on #136
Let's close this issue for now. We are aware of this problem, and there is currently no specific actions on this (other than me describing my path forward with special-case shared mappings).

[2021-11-25 07:52] #136 closed

[2021-11-25 07:53] dimakuv commented on #104
@aniket-intelx @jkr0103 Any update on this issue? For now, I'll add the labels Bug and P1.

[2021-11-25 07:54] dimakuv commented on #91
Closing this issue because of no new comments for two months.

[2021-11-25 07:54] #91 closed

[2021-11-25 07:55] dimakuv commented on #82
@jinengandhi-intel @aniket-intelx @aneessahib Is this still relevant?

[2021-11-25 07:57] dimakuv commented on #11
@boryspoplawski I think at least "Document new Python API" todo item is done? Please mark which items are done (and which items should not be implemented).

[2021-11-25 07:58] dimakuv commented on #16
@woju Is this meta-issue still relevant? What are the unfinished items? Can we close this issue?

[2021-11-25 07:59] dimakuv commented on #9
@woju Could you update the TODO list? What's left to be done? Or maybe this issue can be closed now?

[2021-11-25 08:00] dimakuv commented on #15
@boryspoplawski Was there anything new on this issue since March? Looks like not really, we haven't worked on this problem.

[2021-11-25 08:02] dimakuv commented on #7
@mkow Do we still want to keep this meta-issue open? There is one item left ("Documenting possible misuses of Graphene and its limitations"), and we don't have immediate plans to write a document like this.

@pwmarcz Could you mark your todo item ("rewrite db_rtld in PAL") as solved, after I submitted my PRs on this?

[2021-11-25 08:09] aneessahib commented on #82
I actually could not work on this any further after the linked issue was sorted out.
@jinengandhi-intel - are we continuing to see this problem?

[2021-11-25 08:12] shenyuchenx opened #246 "MySQL failed to start in Gramine"
## Description of the problem
MySQL failed to start in Gramine via both direct and sgx modes. The MySQL error message looks like the following,
[code]
The full MySQL log will be attached in the following section.

This MySQL instance was initialized and started w/o Gramine. Everything seemed fine. Then I tried to bring up the instance in gramine-direct and gramine-sgx. Both direct and sgx modes sh

[2021-11-25 08:16] jinengandhi-intel commented on #208
Issue 2 and 3 are fixed but Issue 1 is still relevant, which we see memory fault error when run in release mode. Pawel, asked us to run in debug mode and that seemed to have fixed the issue but doesn't sound like a solution.

[2021-11-25 08:17] jinengandhi-intel commented on #104
We haven't heard back from Jitender, I guess he was on leave so.

[2021-11-25 08:23] svenkata9 commented on #180
I'll take it up

[2021-11-25 08:26] aniket-intelx commented on #82
This testcase is still failing intermittently across various configurations. Some of them are listed below.
1. DCAP with kernel 5.9.0-intel-next+
2. RHEL with kernel 5.13.0
3. CentOS 8 with kernel 5.14.17
4. Ubuntu 20.04 with kernel 5.12.0-051200-generic

[2021-11-25 08:41] shenyuchenx commented on #238
I am from intel. My test environment is ready and accessible from the office network, as long as it is convenient for you.

[2021-11-25 08:52] boryspoplawski commented on #232
It doesn't look similar at all, the issues we've seen were either deadlocks or crashes (but these didn't happen in real-life workloads).

Doesn't seem related to epoll. I would recommend doing a test run with `sgx.file_check_policy = "allow_all_but_log"` in manifest

[2021-11-25 09:12] dimakuv commented on #246
We are aware of issues with MySQL. Unfortunately, MySQL is very complicated software, and enabling it in Gramine needs a lot of debugging and analysis. It will be good if you could try to analyze the issues in MySQL and report them one by one.

Btw, `times` is not a problem in MySQL + Gramine. I remember looking into this issue. MySQL doesn't care about `times` execution really.

[2021-11-25 09:33] boryspoplawski commented on #15
No there was not, though a similar issue for untrusted part of PAL Linux-SGX was solved in https://github.com/gramineproject/graphene/pull/2602

[2021-11-25 09:43] shenyuchenx commented on #246
OK. I will try to look into MySQL and analyze the issues.

[2021-11-25 10:15] Satya1493 commented on #238
Looks like you're trying to bind Nginx server to port 8088 and it fails to start, complaining the port is already in use. This can happen due to 2 reasons AFAIK.
1. Some other app/server is already running on your system on port 8088? Please check and if this is the case, please use a different port for Nginx.
2. You have an older instance of Nginx already running? You have to kill the Nginx serve

[2021-11-25 10:32] pwmarcz commented on #161
Yes, I think we can close - the discussion seems finished.

[2021-11-25 10:32] #161 closed

[2021-11-25 10:33] pwmarcz commented on #7
Done.

[2021-11-25 15:32] mkow commented on #7
@dimakuv: I'd keep it and in the meantime try to write up at least a short "secure deployment guidelines" doc, with all the dangers we are aware of clearly listed.

[2021-11-25 16:22] tux3 opened #247 "Rust HTTP server freezes when receiving request (epoll)"
## Description of the problem

This issue seems to have similar symptoms as in https://github.com/gramineproject/gramine/issues/186 (epoll_wait gets stuck), but it is not obvious to me whether the root cause is the same.

I have a minimal example that repros the bug almost all the time (on my machine), and since I'm using a completely different stack as #186 (Rust / tokio instead of the Golang run

[2021-11-25 16:38] woju commented on #9
I think it's up to date. We didn't have scripted release, so that's unchecked. `debian/` and `.spec` are only available from repos, they're not committed to repo, and they will be around CI reorganisation. New installation procedure is #244.

[2021-11-25 17:47] M-V-Manikandan commented on #232
@boryspoplawski Thanks for commenting. As recommended tried with 'allow_all_but_log'.
Console logs are below.

[code]
Thanks & Regards.

[2021-11-25 18:01] boryspoplawski commented on #232
You need to set log level to warning or above, otherwise nothing will be printed about file accesses.

[2021-11-25 18:03] boryspoplawski commented on #232
Or if you already did, then this is not related to an inaccessible file and some other issue, most likely Gramine bug.

[2021-11-26 02:05] shenyuchenx commented on #238
Thank you for your reply. I am quiet sure 8088 port is not taken by other servers or other nginx instances.
I have verified the 8088 port using netstat. Moreover, as long as I set ```worker_processes``` to 1 (in nginx configuration), the error disappeared.

[2021-11-26 05:14] M-V-Manikandan commented on #232
@boryspoplawski Thanks for the response.
Attaching the gramine.log with level set as 'debug' as suggested.
[gramine_log_debug_2611.txt](https://github.com/gramineproject/gramine/files/7606411/gramine_log_debug_2611.txt)
Also attaching the console of the same run.
[gramine-sqvs-consolelogs-2611.txt](https://github.com/gramineproject/gramine/files/7606419/gramine-sqvs-consolelogs-2611.txt)
Thanks &

[2021-11-26 07:55] dimakuv commented on #232
@M-V-Manikandan I found in your log the following snippet:
[code]

This unsupported socket domain `16` corresponds to `AF_NETLINK` (see https://elixir.bootlin.com/linux/latest/source/include/linux/socket.h#L193).

Gramine doesn't support `AF_NETLINK` currently. We are aware of this issue, but there is currently no implementation for this, unfortunately. This may be the cause of your issues in your

[2021-11-26 08:10] dimakuv commented on #9
I'll just copy-paste my comment from https://github.com/gramineproject/gramine/pull/244 because I think it's important to discuss this. The context is that the current Gramine package doesn't come with DCAP attestation enabled (only EPID attestation enabled).

[2021-11-26 08:21] boryspoplawski commented on #232
@dimakuv I doubt this is the problem, go would probably write some error message about it. It seems to be failing on a write to a pipe, which is kind of weird.

@M-V-Manikandan Could you try running you app with `loader.log_level = "all"` in manifest, `loader.log_file` removed and stdout+stderr redirected to file (like `your_cmdline >log 2>&1`)? Maybe we could get why the read is failing from that

[2021-11-26 08:22] dimakuv commented on #247
Thanks @tux3 for the awesome bug report!

@boryspoplawski Now *this* issue looks like a similar problem with our epoll implementation, right? The repro linked in this issue may be useful to you.

[2021-11-26 08:27] boryspoplawski commented on #247
@tux3 thanks, such small repro will surely come in handy!

@dimakuv I don't think this is the same issue (well, I don't know, but at least it manifests differently), but it's definitely epoll bug. I've encountered deadlocks with rust aysncs before as well, but it was always some huge app and never got to debug it.

[2021-11-27 12:32] dingfangming opened #253 "run a program calling "sgx_qe_get_target_info()", always show "Failed to open Intel SGX device.""
Hi gays,

When i run a program which call sgx_qe_get_target_info() function to get QE3 target info, it always show "Failed to open Intel SGX device."

I am working on ubuntu21.04 with kernel 5.11.0-40-generic, on a SGX1 machine. And more info:

1.uname -a
Linux points 5.11.0-40-generic #44-Ubuntu SMP Wed Oct 20 16:16:42 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

2. is_sgx_available
SGX supported by

[2021-11-28 20:13] vijaydhanraj commented on #179
@dimakuv please assign this to me

[2021-11-29 07:45] dimakuv commented on #253
https://github.com/intel/SGXDataCenterAttestationPrimitives/issues/107 -- please try to run your Gramine app with `SGX_AESM_ADDR=1`. This forces the SGX DCAP library to use out-of-proc mode to communicate with the QE (Quoting Enclave). From what I understand, you application fails because the SGX DCAP library by default tries to use the in-proc mode -- which makes no sense: all code is executed in

[2021-11-29 11:25] mkow commented on #253
Yup, from the logs it seems that @dingfangming is running SGX SDK app inside Gramine... So I'm closing this as unrelevant to Gramine.
@dingfangming: Please either use SGX SDK or Gramine, you can't use two different SGX frameworks at the same time. Also, please format your issues using proper Markdown, it was very hard for me to see which parts of your message are the logs and which are your commen

[2021-11-29 11:25] #253 closed

[2021-11-29 11:44] #180 closed

[2021-11-29 13:17] #202 closed

[2021-11-29 13:17] #203 closed

[2021-11-29 13:17] #204 closed

[2021-11-29 17:33] M-V-Manikandan commented on #232
@boryspoplawski Thanks for the comments. As suggested taken the logs with log_level as "all", no log_file and redirected to a file from cmdline.
[all_logs.zip](https://github.com/gramineproject/gramine/files/7620008/all_logs.zip)

Thanks & Regards.

[2021-11-29 18:55] boryspoplawski commented on #232
Seems that `-13` (`EACCES`) is returned from `write` on a nonblocking pipe. I couldn't get more from the logs.
@dimakuv This is not an epoll issue.

[2021-11-30 11:10] aniket-intelx opened #254 "fork08 is failing with upgraded LTP suite"
## Description of the problem
The fork08 testcase checks that the parent's file descriptors will not be affected by being closed in the child.
## Steps to reproduce

Since the issues are seen with the LTP upgraded tests and something that we are still migrating to the local CI, follow the below steps to checkout and run the latest LTP test in your local workspace.

Checkout Gramine with commit ID

[2021-12-01 08:46] dimakuv commented on #254
This case is interesting. It is currently *not* supported in Gramine.

Some analysis follows.

## Correct Linux behavior

This `fork08` test looks like this: https://github.com/linux-test-project/ltp/blob/96daba2729112b83bb0a2438023c94f2645ae20f/testcases/kernel/syscalls/fork/fork08.c

Basically, the parent opens a `testfile_fork08` file and then forks a child. So now the parent and the child proc

[2021-12-01 13:49] pwmarcz commented on #254
We currently do not sychronize file offsets, and this is generally a hard problem to do practically (I prototyped a "sync engine", and it turned out to be way too complicated). So, probably not coming anytime soon.

[2021-12-01 18:27] pwmarcz opened #257 ""ninja: error: dependency cycle" on Ubuntu 18.04"
## Description of the problem

## Steps to reproduce

On Ubuntu 18.04 (ninja 1.8.2), run:

[code]

(The first run produces the depfile, `helloworld.manifest.sgx.d`, then the second run causes Ninja to parse it and fail).

## Explanation

The depfile comes from `gramine-sgx-sign`. It contains two outputs, e.g.:
[code]

Unfortunately, Ninja prior to 1.10 does not parse this file correctly, and inste

[2021-12-02 10:02] dimakuv opened #259 "[Pal,LibOS] Debug-related functions incorrectly call the argument `addr` (should be `base_diff`)"
## Description of the problem

In PR #255, we decided to rename all `l_addr` to `l_base_diff`. This is because the ELF standard confusingly uses `addr` to denote the "difference between the virtual addresses in the ELF file and the actual virtual addresses in memory". So this confusing name `addr` propagated to the debug-related functions: `remove_r_debug`, `append_r_debug, `shim_describe_location

[2021-12-02 10:55] pwmarcz commented on #259
I'm not sure why it wouldn't work for these. Based on what I know, an `ET_EXEC` file is passed to `DkDebugDescribeLocation` with "address" (i.e. base diff) of 0, which means that the addresses in memory will directly correspond to addresses in the `*.map` file that we produce.

If you can reproduce the problem, maybe you could look a bit deeper:
* What's the reported RIP
* Does it correspond to a

[2021-12-02 11:04] boryspoplawski commented on #259
I would like to point out, that the meaning of this `base address` is probably an address where the "virtual" ELF starts, but there might be nothing mapped there (if first load segment has vaddr != 0). This name makes some sense, but is quite confusing for the readers.

[2021-12-02 11:05] dimakuv commented on #259
Ah, so `DkDebugDescribeLocation()` also works on "base diffs", not actual addresses? I read the code wrong then.

Anyway, this only shows how confusing this `addr` word is.

Btw, is this intended? Like, we can't have an EXEC file (its `addr == 0x0`) and a DYN file mapped at `0x0` (it is technically possible). Only one of them will be found in `g_debug_map`.

[2021-12-02 11:23] pwmarcz commented on #259
Right, the code makes an assumption that `addr` is unique in several places. I think it's fixable. The biggest problem is that `DkDebugMapRemove` takes just `addr`, without file path.

[2021-12-02 14:00] #113 closed

[2021-12-02 15:21] #257 closed

[2021-12-03 07:12] lead4good opened #263 "[BUG] allow file in trusted files to not exist, fail during runtime read only"
I'm currently working on a buildpack port for gramine and I have run into the following issue: there's a script finalizing the manifest similar to the one in GSC, that scans the whole container for existing files. However the container where this happens is a special build container, which has additional binaries and libraries installed vs. the run container, which is a slimmer version of the buil

[2021-12-03 07:59] dimakuv commented on #263
You're mixing several things in your issue.

1. You're talking about Trusted Files, but your link is to Protected Files (it even says so in the log error). Trusted and Protected files are two different beasts, declared via two different manifest lists (`sgx.trusted_files` and `sgx.protected_files`). So which ones are you talking about in this issue?
2. Gramine **doesn't verify** that Trusted/Prote

[2021-12-03 09:21] lead4good commented on #263
@dimakuv Sorry for the confusion, I did not double check my error message grepping and ended up looking at the wrong part of the code. I've updated the issue description accordingly.

Also to clarify things: this error only happens if the file mentioned does not exist. If I `touch` the non existing file and restart gramine it complains about a different file.

[2021-12-03 09:49] dimakuv commented on #263
@lead4good Thanks for the clarifications!

Yes, now I can see the issue: https://github.com/gramineproject/gramine/blob/c693d174f44808af556517a6c2109173364cec65/Pal/src/host/Linux-SGX/enclave_framework.c#L563

Indeed, we have a strange code snippet when we register the trusted file. For whatever reason, we want to initialize `tf->size`, and for this we call `_DkStreamAttributesQuery()` which tries

[2021-12-03 10:05] boryspoplawski commented on #263
I would say that the underlying problem is that we use host fs to store file metadata, but this particular issue is probably fixable by lazy initializing the size. I see no problem with that, but I'm not familiar with that part of the code.

[2021-12-03 10:16] pwmarcz commented on #19
## `use-after-return`

I investigated implementing `use-after-return` in AddressSanitizer, and my conclusion right now is we shouldn't do it. Here is a dump of what I found.

### How it works

(Assumes some knowledge about how AddressSanitizer works, see the comments in [`asan.h`](https://github.com/gramineproject/gramine/blob/master/common/include/asan.h)).

This mode is for detecting access to l

[2021-12-03 10:34] pwmarcz commented on #19
## `use-after-return`

I investigated implementing `use-after-return` in AddressSanitizer, and my conclusion right now is **it's not worth doing**. Here is a dump of what I found.

### How it works

(Assumes some knowledge about how AddressSanitizer works, see the comments in [`asan.h`](https://github.com/gramineproject/gramine/blob/master/common/include/asan.h)).

This mode is for detecting acces

[2021-12-03 14:04] dimakuv commented on #19
Thanks for the great analysis of `use-after-return`! I agree that this is too ugly, intrusive and complicated. Let's not do it. I'm especially skeptical about abandoned/switched stacks, this will probably require *a lot* of ugliness.

Could you mark this checkbox as done & strike-through or something in the very first message? Or @mkow should do it, I guess.

[2021-12-03 15:13] boryspoplawski commented on #19
I guess we could add this only to debug builds (so that it can be insecure) and then have such memory outside of the enclave in PAL SGX. This way we could uniformly handle this and not worry about in-enclave memory constraints. The minus would be it's constrained to debug builds, but you don't want to run asan on production anyway.

But that's just for the future in case we ever come back to this

[2021-12-03 16:06] pwmarcz commented on #19
Security is not the problem, the shadow memory for ASan is already outside of enclave. The problem is that I did not get this approach to work at all, because some places depend on local variables being in-enclave. If they're not, then some PAL functions error out on such variables (because they accept only in-enclave pointers), SGX instructions such as EREPORT and EGETKEY fail... and I haven't ch

[2021-12-03 23:55] mkow commented on #19
Thanks for the detailed summary, Paweł!
It seems that we're done with ASan for now, so we can finally resolve this issue :tada:

[2021-12-03 23:55] #19 closed

[2021-12-05 06:39] h4x3rotab opened #266 "Is it possible to get trusted performance counters?"
I'm looking for solutions to measure the execution time of the program inside the enclave in a trusted way for resource accounting, because we don't want to trust the system admin.

It's easy to check the performance counters or the wall time in the untrusted world, but I'm wondering if we can get the trusted measurements when we don't trust users. I noticed the sgx profiling section in the docs.

[2021-12-05 18:30] mkow commented on #266
Please keep such questions to the mailing list ;) We use GitHub issues only to track bugs/missing features/etc. for the project.

[2021-12-05 18:30] #266 closed

[2021-12-06 11:29] shenyuchenx commented on #238
Hi team, I have 2 findings, which might be worthy sharing here.

1. The error is related to the ```reuseport``` option in my nginx config.

With this option, nginx tries to bind the port for each worker. Basically, the process is carried out by 2 steps:

(a) call setsockopt() to set SO_REUSEPORT for the socket, and then
(b) call bind() to do the actual bind operation.

Here, ```SO_REUSEPORT``` is

[2021-12-06 20:18] #49 closed

[2021-12-07 06:14] monavij commented on #242
I believe this issue was initially discussed in Graphene issue #2208 that was closed with the assumption that it will be resolved by https://github.com/gramineproject/gramine/issues/11. So based on what Borys describes above we have the APIs, but we do need to have explicit tools like what Dmitrii and Vijay are suggesting.   I think the tools like gramine-regenerate-mrenlcave should be sufficient

[2021-12-07 09:44] dimakuv opened #269 "[Packaging] Missing Protobuf dependency for Gramine-SGX packages"
## Description of the problem

Following https://gramine.readthedocs.io/en/latest/quickstart.html to install the Gramine package.

When running the HelloWorld SGX example, we encounter the following error:
[code]

## Actual results

It looks like our Gramine package dependencies miss the Google Protobuf libraries.
For now, one can circumvent this issue as follows: install the missing dependencies

[2021-12-07 09:48] aniket-intelx opened #270 "Regression with musl commit: host_root_fs LibOS testcase is failing on CentOS/RHEL"
## Description of the problem
`host_root_fs` LibOS testcase is failing on CentOS/RHEL with below error.
[code]
When we tried to locate the file `ld-musl-x86_64.so.1`, it is found in below mentioned locations.
[code]
After enabling the `trace` mode, the test is looking for the file at below path and failing.
[code]
Please note that this is the only testcase which is failing on CentOS/RHEL. Similar

[2021-12-07 12:13] shenyuchenx commented on #246
Hi team, I have some findings.

MySQL calls ```lstat()``` and ```fstat()```, then compares ```st_dev``` values to do some checks. If the two values differ, MySQL prints the error message and exits as described in the above.

In Gramine,  ```lstat()``` and ```fstat()``` are implemented by ```do_stat()``` and ```do_hstat()``` respectively. However, the two implementations give different ```st_dev``

[2021-12-07 13:27] boryspoplawski commented on #246
@shenyuchenx Could you please give us the two values you have in `std_dev` in this case + what path is `lstat` called on + which `fd` (and what file does that `fd` refer to) is `fstat` called on?

[2021-12-07 14:29] boryspoplawski commented on #270
@aniket-intelx Please verify if https://github.com/gramineproject/gramine/pull/271 fixes the issue

[2021-12-08 01:58] shenyuchenx commented on #246
```std_dev``` returned by ```lstat()``` is 0x44b5f17a17515f09, which is assigned by ```buf->st_dev = hash_str(dent->mount->uri);``` (fs.c:376) in function ```chroot_stat()```. Here, the content of ```dent->mount->uri``` is "file:/work".

```std_dev``` returned by ```stat()``` is 0. This values is set by a ```memset(buf, 0, sizeof(*buf));``` (fs.c:344) operation in function ```chroot_istat()```.

A

[2021-12-08 08:01] aniket-intelx commented on #270
It works with this PR.

[2021-12-08 08:12] dimakuv commented on #246
@pwmarcz What do you think about this discrepancy in `std_dev` reported by two LibOS syscalls? Can we cook a quick patch to produce the same `std_dev` value in both lstat and stat?

[2021-12-08 13:00] boryspoplawski commented on #270
@aniket-intelx Thanks for confirmation, we will merge it then

[2021-12-08 13:51] boryspoplawski commented on #246
@shenyuchenx Could you try https://github.com/gramineproject/gramine/pull/273 and check if it fixes your issue?

[2021-12-09 02:55] shenyuchenx commented on #246
@boryspoplawski  Thanks for your prompt fix. I tried #273.

In direct mode, this patch fixed the problem. My MySQL instance succeeded to start.

I did not try sgx mode (because there are other problems in my environment at this moment) but I think this patch should be OK.

Thanks again.

[2021-12-09 05:46] jkr0103 commented on #232
@M-V-Manikandan Could you help me to replicate the issue in my machine by sharing application example and steps to repro the issue?

[2021-12-09 08:56] M-V-Manikandan commented on #232
Hi @jkr0103,
https://github.com/intel-secl/sgx-verification-service is the application which we are trying to run as a gramine application.

Once the application(https server) is up & listening in gramine, a curl/REST API request for quote verification is sent.

The application is crashing while responding to the request. BT already attached in earlier comments.

Thanks & Regards.

[2021-12-09 09:44] dimakuv opened #274 "[Pal/Linux-SGX] Different sealing keys generated via EGETKEY on different versions of Gramine"
## Description of the problem

(I am using the "Intel® 64 and IA-32 Architectures Software Developer’s Manual Combined Volumes: 1, 2A, 2B, 2C, 2D, 3A, 3B, 3C, 3D and 4" document; version 325462-075US, June 2021. To understand the context and details of the below issue, please use this document: Section 33.18 "KEY REQUEST (KEYREQUEST)" and Section 36.4 "EGETKEY". Please carefully read through the T

[2021-12-09 09:47] dimakuv commented on #274
Just a note: somewhat related issue in OpenEnclave: https://github.com/openenclave/openenclave/pull/3356. I didn't dig deeper, so I'm not sure if OpenEnclave developers are aware of the above problem, and whether they fixed it in any way.

Looking at the latest OpenEnclave definition of ATTRIBUTEMASK, I'm not sure the OpenEnclave devs are aware of this problem: https://github.com/openenclave/opene

[2021-12-09 11:14] dimakuv commented on #274
While testing my PR https://github.com/gramineproject/gramine/pull/275, I noticed something very strange.

`KEYREQUEST.MISCMASK` value is **not** used as a key derivation material for `EGETKEY(SEAL_KEY)`. At least this is what I observe on my local machine.

This goes against the Intel SDM documentation:
[code]

The `sgx.seal_key.misc_mask` manifest option in my PR is still useful (it allows to ma

[2021-12-13 10:24] jkr0103 commented on #104
Issue is not seen on latest gramine (commit 144e4f66a9d76fc0c85eb53acf1425bbefa3bcb3) on the same ubuntu 20.04 machine, @aniket-intelx have shared and where issue was seen around two months before.

[2021-12-13 10:39] dimakuv commented on #104
Looks like we can close this issue. @aniket-intelx If you still observe it on some machines, feel free to reopen the issue.

[2021-12-13 10:39] #104 closed

[2021-12-14 18:15] pwmarcz opened #279 "Inodes"
Parent issue: #24

This is an issue to track the inodes rewrite project, mostly for myself to keep my thoughts in order.

## Motivation

Currently Gramine uses `shim_dentry` as both "directory entry" and "file metadata" object. This is inconvenient for several reasons:

* It's hard or even impossible to implement unlink and rename correctly: if we we unlink/rename a file that is open, things often

[2021-12-15 09:01] jkr0103 commented on #263
Please assign to me.

[2021-12-15 09:03] jkr0103 commented on #263
Please assign to me

[2021-12-16 08:24] igor-davidyuk commented on #237
I having gramine installed from apt I also can not see output from helloworld example

[2021-12-16 08:28] dimakuv commented on #237
@igor-davidyuk Please add a line `loader.preload = "file:{{ gramine.libos }}"` in your HelloWorld manifest file. There was a change in the manifest syntax between Gramine v1.0 (installed from apt) and latest Gramine (in the GitHub repo).

In general, you're not supposed to use CI-Examples from the GitHub repository (https://github.com/gramineproject/gramine) to test the apt-installed Gramine. The

[2021-12-16 10:25] igor-davidyuk commented on #237
@dimakuv Thank you, it worked!
I just followed the [`Quick start` docs page](https://gramine.readthedocs.io/en/latest/quickstart.html#clone-the-repository-and-run-sample-application)

[2021-12-16 11:50] dimakuv commented on #237
@igor-davidyuk Sorry, you are right. In our QuickStart doc, we install Gramine v1.0 but ask to run the sample app from the latest Gramine repo.

Instead of changing the documentation, I created a PR (https://github.com/gramineproject/gramine/pull/287) to keep this backward-compatibility in our CI-Examples. Thanks for pointing this out!

[2021-12-20 05:59] lead4good commented on #48
@Nirusu Have you been able to progress on running .NET within gramine?

[2021-12-20 07:21] orangecalculator opened #289 "Incomplete pointer check in create_key_and_crt, misleading size passing in ra_tls_create_key_and_crt_der inside libra_tls_attest.so"
## Description of the problem
The problem lies in `gramine/Pal/src/host/Linux-SGX/tools/ra-tls/ra_tls_attest.c`.

In function `create_key_and_crt`, line 200, it checks null pointer condition by follows.

[code]

However, in exported function `ra_tls_create_key_and_crt_der`, it uses the function `create_key_and_crt` as follows.

[code]

We can easily see that `MBEDTLS_ERR_X509_FATAL_ERROR` will alw

[2021-12-20 08:15] dimakuv commented on #289
Thanks @orangecalculator for the detailed analysis. This is indeed a buggy implementation of `ra_tls_create_key_and_crt_der()` -- we don't have tests for it, so this function and the corresponding functionality got stale.

I verified that your patch looks correct. I will use your patch in my upcoming PR. I will also add some code to test this function in the `CI-Examples/ra-tls-mbedtls/src/server.

[2021-12-20 11:31] mcapuccini opened #290 "SSL certificate expired for https://packages.grapheneproject.io/distfiles/glibc-2.34.tar.gz"
## Description of the problem
I can't build gramine as the SSL certificate for `https://packages.grapheneproject.io/distfiles/glibc-2.34.tar.gz` is expired. Could you provide a workaround? It would be much appreciated.

## Steps to reproduce
Build gramine.

## Expected results
n/a

## Actual results
[code]

[2021-12-20 13:06] dimakuv commented on #290
@woju @mkow Please update our SSL certificate.

[2021-12-20 13:47] mcapuccini commented on #290
@dimakuv is there any workaround I can use in the meanwhile?

[2021-12-21 06:11] saruvig opened #292 "SSL Certificate verification failed"
I am trying to run the following python script on gramine. I am using the same template as used in /examples/PyTorch/ and have followed all the prerequisite steps. The PyTorch example is working fine.
[basic_cifar_copy.txt](https://github.com/gramineproject/gramine/files/7749950/basic_cifar_copy.txt)

The issue comes on line 43 when trying to load the CIFAR10 dataset. It is an SSL certificate veri

[2021-12-21 07:46] dimakuv commented on #292
Please add/change `loader.log_level = "all"` in your manifest file, rebuild the `manifest.sgx` file, and re-run the application.

Then please attach the resulting debug log to the issue (or analyze it yourself). This will give some hints what goes wrong with your application.

I have a suspicion that some files or FS mount points are not added to your manifest template.

Also, does this error happ

[2021-12-21 08:15] dimakuv commented on #290
Glibc is supposed to be downloaded from https://ftp.gnu.org/gnu/glibc/glibc-2.34.tar.gz (primary source), and only if this URL fails, then from `packages.grapheneproject.io` (secondary source).

See https://github.com/gramineproject/gramine/blob/7f064d509d3d09f2c2fbc00ac40ce9372706e397/subprojects/glibc-2.34-1.wrap#L8-L9

So why doesn't it download from the official FTP web-site? Maybe you have pr

[2021-12-21 08:18] mcapuccini commented on #290
Thanks for the direction. This explains why I am experiencing this issue only on Azure, on my desktop I can build with no problem. I'll double check.

[2021-12-21 09:07] saruvig commented on #292
I solved the above issue by editing my python script but am getting another error of permission denied while downloading the CIFAR 10 dataset.
[log.txt](https://github.com/gramineproject/gramine/files/7751013/log.txt)

above is the log file for the application now.

When I try to run gramine-direct, I get the following error:
![image](https://user-images.githubusercontent.com/23428423/146902699-9c

[2021-12-21 09:10] saruvig commented on #292
The earlier SSL error resolved when i added the following lines to my basic_cifar.py code

import ssl
ssl._create_default_https_context = ssl._create_unverified_context

[2021-12-21 09:50] dimakuv commented on #292
@saruvig The log says it all:
[code]

So, you forgot to add the `dataset/cifar-10-batches-py/data_batch_1` file in one of the `sgx.allowed_files`, `sgx.trusted_files`, `sgx.protected_files` lists. (In which list to add, depends on your purposes.)

As for `gramine-direct`, the "Emulating a raw system/supervisor call" is *not* an error. It's just a message from Gramine that tells you -- performance

[2021-12-21 10:46] mcapuccini commented on #290
@dimakuv I managed to fix the problem on Azure, it was on my side. If you want you can close it, but I guess it's good to wait for the certificate to be updated.

[2021-12-21 11:02] dimakuv commented on #290
@mcapuccini Thanks for raising this problem. It turned out we had some old links in our build process of Gramine. See https://github.com/gramineproject/gramine/pull/293.

This issue will be closed automatically when 293 is merged.

[2021-12-21 11:48] dimakuv commented on #289
@orangecalculator I submitted a PR #295 which fixes the bugs you found. Again, thanks for the analysis. Feel free to check my PR and leave any comments.

[2021-12-21 16:13] #290 closed

[2021-12-21 18:00] woju commented on #290
The certificate in question was renewed. It failed to renew automatically
because of syntax error in crontab. The crontab was also fixed. Sorry for that.

[2021-12-22 02:13] saruvig commented on #292
Thanks for pointing it out. I was able to run the code after adding the files to sgx.allowed in the manifest so closing the issue now.

[2021-12-22 02:13] #292 closed

[2021-12-23 09:45] dabai827 commented on #246
@shenyuchenx hello，I have successfully started mysql according to the solution you give using direct mode. But when I send a connection request using the command "mysql -uroot -h127.0.0.1"，I get a failure form the server：**the received IP address is out of order( '0.127.1.0') and there is an error 13 fault( InnoDB: Setting thread 3 nice to 0 failed, current nice 0, errno 13)**. The following is th

[2021-12-23 13:19] #274 closed

[2021-12-23 14:18] shenyuchenx commented on #246
hi. I have got the same message with out of order IP address. Unfortunately, I was not able to get rid of this error.

[2021-12-23 16:06] pwmarcz commented on #246
Yes, the 0.127.1.0 seems to be the bug in Gramine; we swap bytes when processing an address. After fixing it, I'm able to connect to the MySQL server.

I'm working on a fix.

[2021-12-24 06:39] dabai827 commented on #246
I rebuilt gramine with the latest code(https://github.com/gramineproject/gramine/tree/pawel/fix-ipv6) fixed by pwmarcz , and when I started mysql server in gramine-sgx mode, the mysql client could connect successfully!

[2021-12-27 14:21] dimakuv commented on #270
#271 was merged, closing this.

[2021-12-27 14:21] #270 closed

[2021-12-29 05:49] Nirusu commented on #48
@lead4good Have not really done anything ever since my last comment on this...
Generally, I _think_ with the changes I described above (stubbing `mlock`, `munlock`) and changing the GC configuration should get at least some "Hello World" kind of application running. I never tried anything besides this GCP microservice demo application, however since this was already part of the user code and not t

[2021-12-29 10:45] lead4good opened #302 "Verbose warning when loading a trusted or allowed file fails"
Currently if a trusted file has been modified by the host OS after the manifest has been signed, gramine will emit a very obscure message when trying to read the file:
[code]
If a trusted file has been modified I would expect a more verbose message, e.g. _"trusted file hash sum does not match with manifest"_

[2021-12-29 12:57] lead4good opened #303 "How to write to `/dev/tty`?"
I am trying to run PHP with gramine-sgx (within a container).
PHP is trying to log errors to `/proc/self/fd/2` which is a symlink to `/dev/tty`, and `/dev/tty` has permission bits `000` set, which leads to a permission denied whenever PHP tries to log an error:
[code]
Any suggestions on how to make this work?

[2021-12-29 12:58] dimakuv commented on #303
@lead4good This will be fixed by this PR: https://github.com/gramineproject/gramine/pull/297/commits. Check the very first commit of this PR. So I think, it should be fixed when this PR is merged (early next January, I guess).

[2021-12-29 12:59] dimakuv commented on #303
@pwmarcz Is my understanding correct? If yes, could you add in your PR 297 description that it will fix this issue?

[2021-12-29 13:21] pwmarcz commented on #303
My PR fixes permissions, but there's still something broken:

[code]

(BTW, using `>>` works regardless of permissions).

The problematic call is:
[code]

Apparently this is because of `O_TRUNC`. Linux ignores it, but Gramine translates it to a call to `DkStreamSetLength` which fails on the `dev:tty` device. Probably it should be ignored inside PAL (or translated to `ftruncate()`?).

Unfortunately

[2021-12-30 07:56] #246 closed

[2022-01-04 07:30] lead4good opened #310 "[LibOS] inotify API"
If flock and the mlock family of syscalls is emulated (#308, #309) most dotnet applications currently fail due to the FileSystemWatcher's inotify dependency. I wonder whether there are any security issues if for chrootfs (and possibly protected fs) gramine would just pass through the events of the untrusted linux kernel?

[code]

[2022-01-04 07:51] #302 closed

[2022-01-04 08:49] dimakuv commented on #310
Reading through `man inotify`, I see that this Linux sub-system is quite complicated.

In particular, implementing correct handling of `poll(<inotify-fd>)` will not be straight-forward in Gramine.

My quick assessment: implementing `inotify` will require substantial changes in Gramine codebase. That's because `inotify` is not just a couple of new syscalls (`inotify_init`, `inotify_add_watch`, etc)

[2022-01-04 14:03] dimakuv opened #312 ""Spam" test to stress exception handling flows"
## Description of the problem

We periodically find data races due to subtle bugs in exception-handling flows of Gramine, especially in the Linux-SGX PAL.

An excerpt from #311:

The "signal spam" test could have an external program that constantly spams the graminized process with SIGCONTs -- they are benign and side-effect-free (more or less) but invoke the relevant exception-handling flows.

[2022-01-04 16:17] boryspoplawski commented on #312
There might be two issues:
1) we lack a way of spawning processes not inside Gramine in our test suite
2) constant spam of signals might render the app unusable i.e. it would spend all of the time in signal handling - at least for Linux-SGX PAL it could be an issue - some small sleeps might solve this, but also make such a test useless; this needs some empirical testing.

[2022-01-04 18:51] salsal97 opened #313 "Performance latency with redis benchmark tests"
## Description of the problem
On comparing the performance of the gramine redis server with native using the redis-benchmark tool, gramine comes to be almost 2.75 times slower than running with its native counterpart. This test was run on an ubuntu 20.04 azure DC-series VMs.

## Steps to reproduce

Followed quickstart instructions to install gramine using apt -
[code]

## Expected results

Results

[2022-01-05 05:22] sammyne opened #315 "[bug] tokio app cannot exit"
## Description of the problem
A tokio app only printing "hello world" cannot exit in gramine mode, but ok without gramine.

I have made repo [sammyne/gramine-tokio-cannot-exit](https://github.com/sammyne/gramine-tokio-cannot-exit) to reproduce the problem.

## Steps to reproduce

## Reproduce

### 0. Environment
- [Gramine@84b331f]
- Ubuntu 20.04 LTS
- Rust@1.57.0

All above is realized using this

[2022-01-05 07:32] dimakuv commented on #313
I'm assuming these are the machines that have only 128MB of EPC (Enclave Page Cache)? You can easily check it via the `is-sgx-available` utility that comes with Gramine.

The size of EPC is very important for performance. You can read through this docs, for example: https://gramine.readthedocs.io/en/latest/devel/performance.html#choice-of-sgx-machine

There are also several other subtle issues wit

[2022-01-05 07:39] dimakuv commented on #315
Based on this log, looks like Thread 3 (`[P1:T3:hello-world]`) doesn't perform `shim_exit()`. In other words, Thread 3 is stuck somewhere, and that's why the whole application gets stuck.

Could you add `loader.log_level = "all"` in your Gramine manifest for this app, rerun it and paste the resulting log here?

@boryspoplawski IIRC, you worked on some Rust applications? Do you know about Tokio-bas

[2022-01-05 07:44] lead4good commented on #310
Thanks @dimakuv for the evaluation. It likes like running .NET with FileSystemWatcher on gramine is not worth it then.

[2022-01-05 08:26] sammyne commented on #315
Enabling all-level logs gives following logs @dimakuv

[code]

[2022-01-05 08:48] dimakuv commented on #315
This is what I see in the log:
[code]

So what we see here is this: there is an epoll fd `3` (also duplicated as `5`).

The epoll fd `3` has the following FDs to poll on:
- fd `4` -- some eventfd

The duplicated epoll fd `5` has the following FDs to poll on:
- fd `8` -- the duplicate of one end of the UNIX domain socketpair
- fd `4` -- same eventfd as above (??? is this what happens when an epoll

[2022-01-05 13:29] boryspoplawski commented on #315
I'm not sure what's exactly wrong here, but probably faulty epoll implementation - I'm working on a rewrite atm - thread 3 is sleeping on `epoll_wait`, probably needlessly...

@dimakuv there are a lot of corner cases w.r.t. to epoll, but 3 and 5 refer to the very same epoll instance - they can be used interchangeably

[2022-01-05 14:43] salsal97 commented on #313
Hi,

Thank you for your response. I'm running this on an icelake machine, the output of `is-sgx-available` is here -
[code]

Going through the factors for best performance here,
- [x] running on icelake
- [ ] since I am using an azure VM, I cannot connect the client on a different machine - is there any way to get around this?
- [ ] I was able to update the number of pairs to 10,000 using the -r p

[2022-01-05 15:00] dimakuv commented on #313
@salsal97 There is a `memtier` benchmark that I used when doing some Redis benchmarking -- this benchmark supports different ratio of reads/writes, and many other interesting knobs. See https://github.com/RedisLabs/memtier_benchmark.

The overhead of 2.75 is too much for a proper Icelake server. Something doesn't add up here.

1. What is the size of RAM on your machine? You can dump the output of

[2022-01-07 00:02] boryspoplawski opened #322 "[LibOS] Sockets' `PAL_HANDLE`s can change arbitrarily, yet there is no mutual exclusion"
## Description of the problem
`PAL_HANDLE` inside `shim_handle` (https://github.com/gramineproject/gramine/blob/ee1cffc98f5403384d16bb76e4db55d3f6765f2d/LibOS/shim/include/shim_handle.h#L216) usually does not change, except for socket type handles. Such handles are created without it (`pal_handle == NULL`) and it's set only later on (in `bind` or `connect`). It can also change if `connect` is used

[2022-01-07 07:36] lead4good commented on #48
@Nirusu Thanks again for your summary regarding .NET bringup in gramine.
As suggested in this issue I've implemented the mlock family of syscalls to just return success (PR merged), which brought me to the OOM issue:
[code]
I haven't been able to fix the OOM error by switching the garbage collector like you described, however limiting the GC heap by setting the `COMPlus_GCHeapHardLimit` env variab

[2022-01-07 07:41] lead4good commented on #310
I've found a way around the inotify API by setting the  DOTNET_USE_POLLING_FILE_WATCHER env var which disables the FileSystemWatcher. This only works since .NET 5.0, as there is still a bug in the older dotnet-core runtime which tries to start the FileSystemWatcher even if the flag is set, see dotnet/runtime#41426.

[2022-01-07 07:53] kvijay1918 opened #323 "rpc error: code = DeadlineExceeded desc = context deadline"
I have written a simple gRPC server and client applications which will encrypt and decrypt a text. I tried running the client continuously one by one. It works great. No issue up to this point when running them directly as executables.

After that now running the server application in a gramine container by using the GSC (https://github.com/gramineproject/gsc). and also running the client applicat

[2022-01-07 08:09] lead4good opened #324 "[Discussion] best way to do argv parameter expansion"
I would like to make use of [bash paramater expansion](https://www.gnu.org/software/bash/manual/html_node/Shell-Parameter-Expansion.html) within the application arguments. This does work if I run a gramine application via `bash -c "..."`. Are there any performance penalties with this approach?

[2022-01-07 08:43] dimakuv commented on #323
This part in the graminized server looks wrong:
[code]

I suggest you to add `loader.log_level = "all"` in your manifest file and re-run your scenario. Now you'll have a ton of messages from Gramine, and you'll be able to determine more why `bind()` fails. You can copy-paste the relevant part of the log here, so we can try to analyze and help.

Also, can you show your manifest.template file?

[2022-01-07 08:44] dimakuv commented on #323
Ah, since you're running the server using GSC:
- Instead of manually adding `loader.log_level = "all"` to the manifest file, simply add `--debug` option to `gsc build` command.
- Instead of showing us `manifest.template` file, show the `.manifest` file you're supplying to `gsc build` command.

[2022-01-07 08:52] dimakuv commented on #48
Thanks @lead4good and @Nirusu for this effort! Great to see .NET applications running (with caveats).

Just a note: from my experience, 1GB is not enough for garbage-collector-based runtimes (like Python, Go, Java and .NET). I observed that many real-world workloads require at least 4-8GBs, and in many cases we set the enclave size to 16-32GB.

Since this particular issue (missing support of `mloc

[2022-01-07 08:52] #48 closed

[2022-01-07 08:54] dimakuv commented on #310
Thanks @lead4good! We'll be happy if you'll be willing to contribute a simple .NET 5.0 example to the Gramine Examples repo: https://github.com/gramineproject/examples/.

I will close this issue now.

[2022-01-07 08:54] #310 closed

[2022-01-07 09:12] lead4good commented on #310
@dimakuv I've developed a buildpack for gramine that sets up graminized applications in one command. There is still internal discussions regarding the license, but hopefully it will be open sourced and then I am happy to provide a buildpack example that showcases .NET!

[2022-01-07 09:17] dimakuv commented on #324
No, there is no significant performance penalty (but read further!). I just verified it with the https://github.com/gramineproject/gramine/tree/master/CI-Examples/bash example.

I guess you were wondering whether Gramine creates a separate enclave when `bash` spawns a new process (e.g., `bash -c ls`). The (simplified) answer is **no**: Gramine does **not** create a separate enclave for the emulati

[2022-01-07 09:19] dimakuv commented on #324
(Of course, the best way to experiment with all this is to run your application natively under `strace` -- you'll get all the system calls that the app uses. And then run your graminized application with `loader.log_level = "trace"` in the manifest file -- you'll get all the system calls that Gramine intercepts and emulates.)

[2022-01-07 09:20] dimakuv commented on #310
@lead4good Just wanted to say it's a real pleasure to work with you!

[2022-01-07 13:58] salsal97 commented on #313
Hi @dimakuv, thanks again for your response.

1. I have a total of 15 GB RAM on this machine
2. I don't see that message when log_level is set to "warning"

Also, I'm guessing changing the connection between the client and server would not make a huge difference since the same test was performed with the same conditions for native and then compared.. I'm mostly looking for if there are any release

[2022-01-10 07:57] dimakuv commented on #313
@salsal97 I hope that you either used the Gramine package (as described in https://gramine.readthedocs.io/en/latest/quickstart.html) or built Gramine from GitHub sources **with `--buildtype=release`** (as described in https://gramine.readthedocs.io/en/latest/devel/building.html#id2). In both these cases you'll get a release version of Gramine (i.e., optimized for performance).

For different runti

[2022-01-10 09:41] xraw opened #326 "Running out of file descriptors when reusing stream sockets for connections"
## Description of the problem
While performing periodically hostname lookups with ```getaddrinfo```, gramine seems to reuse stream
sockets for connections to the dns server.

The following C program calls ```getaddrinfo``` in a loop in order to lookup an IP address for a host.
While running and observing with ```ss -unp``` for connections, a steady growth of sockets occurs which
are not cleaned up

[2022-01-10 10:09] dimakuv commented on #326
@boryspoplawski You discussed recently the issues with "reconnects on sockets". Have you done anything in that area? Do you recognize the memory leak described here? Does the fix make sense to you?

[2022-01-10 13:00] SoulKa opened #327 "Process CPU Clock not implemented"
## Description of the problem

I need to measure the CPU time consumption of my program running in Gramine (including CPU time of the Gramine LibOS). However, as implemented in `shim_time.c` ([Code](https://github.com/gramineproject/gramine/blob/175b1867cbe81250e75d5b8b9b35ba0530a37e7f/LibOS/shim/src/sys/shim_time.c#L56-L76)), the clock ID parameter is always ignored and only the system clock is r

[2022-01-10 15:45] dimakuv commented on #327
We chose to *not* implement different types of clocks in Gramine, because the clock values may be maliciously modified by the attacker, and so there was little incentive for us to try to implement e.g. `CLOCK_PROCESS_CPUTIME_ID`.

But I agree that we simply silently return `CLOCK_REALTIME` always. I believe that at least a one-time warning when the user asks for `CLOCK_PROCESS_CPUTIME_ID` or `CLOC

[2022-01-10 17:41] SoulKa commented on #327
It is not helping for my case as I need to measure the CPU time consumed for a program running inside Gramine SGX. But I think it is enough to resolve this inconsistency and close this issue.

[2022-01-10 17:55] mkow commented on #327
There's no trusted time inside enclaves (because the CPU itself doesn't know the time, and other PC components aren't trusted), so the easiest solution will most likely be just measuring the amount of computation finished instead of CPU time used (I'm assuming you need this for accounting purposes, so it has to be non-alterable by the enclave host). Another solution would be to periodically connec

[2022-01-10 19:06] SoulKa commented on #327
Actually, I'm comparing the CPU consumption of various SGX runtimes using the asynchronous syscall interface. For Gramine this is achieved using the "rpc-threads". I expected the `clock_gettime()` call to be forwarded to the RPC threads in Gramine. For other SGX runtimes such as Occlum, the `clock_gettime()` syscall using the `CLOCK_PROCESS_CPUTIME_ID` clock actually returns the consumed CPU time

[2022-01-10 20:14] salsal97 commented on #313
@dimakuv

I did use the gramine installation from the quickstart instructions, so we are covered on that front.

Thank you for the manifest suggestions. This brought the performance of the gramine redis benchmark test up considerably and its now running more or less on par with native, even faster in some cases.

[2022-01-10 21:34] boryspoplawski commented on #327
All we could do in Gramine is pass time info from untrusted host OS, which is by design insecure and can be easily done outside of Gramine (either by some wrapper, modifying untrusted Gramine loader or injecting some shared library into the process, etc.).
For testing purposes getting untrusted time should be enough and actually more accurate and reliable.

[2022-01-10 22:34] boryspoplawski commented on #326
@dimakuv not really, the problem I've encountered was that `PAL_HANDLE` can arbitrarily change, but there is no locking around that.

[2022-01-11 03:25] Glenrun commented on #8
@mkow hello, is the security audit done by external security expert?

[2022-01-11 09:16] dimakuv commented on #313
Great to hear that your Redis runs with an expected perf overhead now :) I am closing this issue, but if you think there is still something to discuss, feel free to reopen it.

[2022-01-11 09:16] #313 closed

[2022-01-11 10:15] jkr0103 commented on #303
Please assign to me for the fix.

[2022-01-11 14:05] SoulKa commented on #327
I finally managed to get the CPU time from inside Gramine by creating a softlink to `/proc/pid_of_gramine_loader/stat` to `/tmp/stat` and adding `/tmp/stat` to the list of allowed files and mounting the host `/tmp` FS. It is insecure, but this is completely about performance measuring. Thank you for your suggestions!

[2022-01-11 15:35] lead4good commented on #324
@dimakuv Thanks, this was very helpful. I wonder why GSC does not use the approach of starting applications via bash. It would make situations work where the entrypoint is a script, which does happen quite often with docker containers.

[2022-01-11 15:35] #324 closed

[2022-01-11 17:03] dimakuv commented on #329
I just found another workload that checks `/proc/stat`. The workload is Python's qiskit (https://qiskit.org/documentation/getting_started.html).

See https://github.com/gramineproject/gramine/pull/328 on how to test qiskit in our Python example. This is what happens when I run it:
[code]

To be more precise, two things happened here:
1. Python tried to open `/proc/stat` file and failed
2. Python t

[2022-01-11 19:24] dimakuv commented on #324
Hm, looks like you're right. @mkow @boryspoplawski @aneessahib Do you think it will just work if we replace the original Docker entrypoint with the `gramine-sgx "bash -c original-entrypoint"` value?

In GSC, the changes will be here (approximately, didn't give a lot of thought to it):
- https://github.com/gramineproject/gsc/blob/634ef1ad0a32795f4b61de66b13c1973a64af314/templates/entrypoint.manifes

[2022-01-11 21:23] mkow commented on #8
Hi, depends what do you mean by "external". There were some non-gramine-developers doing parts of it, but they were employed by a company involved in this project. And some parts were done by the maintainers.

[2022-01-11 21:27] mkow commented on #327
Seems that @SoulKa's problem was resolved, but let's keep this issue open until we fix the following:

Any volunteer? ;)

[2022-01-11 23:37] mkow commented on #324
Isn't this mostly to preserve resources? But after the EDMM support gets upstreamed to the kernel and implemented in Gramine we could think about changing this.

[2022-01-12 08:08] dimakuv commented on #324
Which resources? `bash -c <actual-app>` uses `execve()`, so there is no performance overhead of creating a child SGX enclave. Of course, overall startup time will be *slightly worse* because we first load the `bash` binary and only then the actual binary, but this is probably negligible.

[2022-01-12 09:06] aneessahib commented on #324
This makes sense. We actually made bash as the default entry point for some of the validation teams to fix some issues they observed while running scripts. But I misunderstood this to be actually spawning another child underneath.

[2022-01-12 13:17] mkow commented on #324
Ah, ok, then this may make sense. Although I'm not sure if Docker uses bash, more likely `/bin/sh`? If so, then some popular minimal images may lack bash binary?

[2022-01-12 13:52] dimakuv commented on #324
Yes, bash was just a "common name" for shells. We should use the `/bin/sh` link actually.

[2022-01-12 14:25] boryspoplawski commented on #324
`bash -c ...` doesn't use execve, at least not always. E.g. `bash -c 'ls ; ls'`
As for starting scripts: we should add interpreter scripts support (`#!`) and it should all work properly without `bash -c` then

[2022-01-12 14:54] dimakuv commented on #324
I think you're talking about support for `execve("#!...")` in core Gramine. I was talking about GSC support (starting entrypoint *scripts*, currently GSC only supports starting entrypoint *binaries*).

Yes, but GSC won't use such multiple-command invocations.

[2022-01-12 15:23] boryspoplawski commented on #324
Isn't Gramine entrypoint and `execve` handled in the same way/by the same code (ofc there are differences in cleaning old state in case of execve, but starting new exec should be the same)?

[2022-01-12 16:47] #327 closed

[2022-01-13 08:42] kvijay1918 commented on #323
Find the manifest file of mine.

[code]

I got an error for low number of threads. Initially I mentioned 50. Then I increased it to 150. It has resolved that thread error.

While gsc build, I provided --debug argument.

`./gsc build --insecure-args --debug server  myserver/myserver.manifest`

Here I have attached both the server and client side whole logs for you. Find the file names :
working_cas

[2022-01-13 15:24] dimakuv commented on #326
I cannot reproduce this problem on my local machine with Ubuntu 18.04 and my `/etc/nsswitch.conf` looking like this:
[code]

My `/etc/resolv.conf` contains a single nameserver (a corporate DNS machine).

My `/etc/gai.conf` is empty.

From what I understand, these are the only important files required for `getaddrinfo()` functioning. @xraw Could you share your files? Or explain a bit more on how to

[2022-01-13 15:38] dimakuv commented on #323
Interesting, I see this pattern in `error_case_server.txt`:
[code]

What we see here:
1. The app creates an INET6 socket, creating an FD = `3`.
2. The app tries to bind this socket to some address, but fails with `-13 = EACCES The address is protected, and the user is not the superuser`. (See `man 2 bind`.)
3. The app then tries to create another INET6 socket, creating an FD = `7`.
4. The app trie

[2022-01-13 15:50] dimakuv commented on #323
Currently my only suspicion is that `epoll_pwait()` -- which is used extensively in your application -- is somehow buggy. @boryspoplawski is currently working on a complete epoll subsystem rewrite. Let's hope that his rewrite will also fix your particular issue.

Unfortunately, your issue looks pretty hard to reproduce and debug, and I'm out of simple explanations... Also, I don't think we'll have

[2022-01-14 13:16] #263 closed

[2022-01-17 04:08] kvinwang opened #341 "The rust webserver rocket not working"
## Description of the problem

I was trying to run the helloworld of the Rust webserver rocket with gramine-sgx and found it reject any incoming http request.

## Expected results
The helloworld just works fine.

## Actual results
Reject any incoming http request.

## Additional information
After looking into the source code, I found the cause is that Rocket webserver always set the socket's rw ti

[2022-01-17 05:37] kvijay1918 commented on #323
@dimakuv from your words,

"It seems that the application first tries to create a network socket on one of the protected ports (less than 1024), but then the app recognizes that this is impossible (because it is not run with sudo privileges) and falls back to a higher port.
Moreover, these steps 1-5 seems like the app simply figures out which ports are available, so these steps are purely for test

[2022-01-17 07:06] dimakuv commented on #323
This is correct. This looks like expected behavior of the application. The bug is *not* in binding a socket, the bug is in something else (my assumption -- in the epoll implementation).

[2022-01-17 07:08] dimakuv commented on #341
I'm confused. You're talking about the Rust webserver rocket first, but the log that you show is from Nginx?

[2022-01-17 08:13] kvinwang commented on #341
Sorry for the mislead. Actually, to be fast to setup, I reused the nginx example's Makefile and manifest. Just replaced the nginx binary with the rocket helloworld binary.

[2022-01-17 08:43] dimakuv commented on #341
I see. Gramine actually supports `setsockopt(fd, SOL_SOCKET, SO_RCVTIMEO)` but looks like we have a small bug.

`SO_RCVTIMEO` and `SO_SNDTIMEO` (send/receive timeout values, see `man 7 socket`) are supposed to be of type `struct timeval` (16 bytes in size). However, in Gramine's PAL implementations we have them of type `int` (4 bytes in size). See these:
- https://github.com/gramineproject/gramine

[2022-01-17 08:46] dimakuv commented on #341
We have the same issue in the LibOS component of Gramine. `SO_RCVTIMEO` and `SO_SNDTIMEO` are also treated as `int` values, which is wrong.

See: https://github.com/gramineproject/gramine/blob/53d4f5c461d77b188523f8d80f3b146765967d3d/LibOS/shim/src/sys/shim_socket.c#L1835-L1846

And: https://github.com/gramineproject/gramine/blob/53d4f5c461d77b188523f8d80f3b146765967d3d/LibOS/shim/src/sys/shim_soc

[2022-01-17 09:15] kvinwang opened #342 "Extreme slow rust rocket webservice"
## Description of the problem
After temp patched the settimeout issue, the rocket works now. But it often response very slow.

## Steps to reproduce
[code]

In another terminal:
[code]

## Expected results
Should response the HTTP request in milliseconds.

## Actual results
Often response the HTTP request in several seconds.

## Additional information
perf shows that it spent most time on memory a

[2022-01-17 09:20] dimakuv commented on #342
1. Do you observe the same behavior with `gramine-direct` (non-SGX mode)?
2. Did you try `sgx.preheat_enclave = true`?
3. Did you try `sys.brk.max_size = "1G"`? (try to play with this size; for example, try 1G, 2G, 4G, etc.)

[2022-01-17 09:45] kvinwang commented on #342
Tried many times, no problem with gramine-direct

No help.

Failed to start with `sys.brk.max_size = "1G"`, etc.
[code]

Tried 128M, 256M, No help.

My CPU is i7-9700k
[code]

[2022-01-17 10:05] dimakuv commented on #342
That's not good. You only have 94MB of EPC. Given that your workload tries to allocate 64MB of memory for every request, this leads to a huge amount of EPC swapping (there is not enough free memory in EPC, so the least recently used EPC pages are swapped out to RAM, which is a very expensive operation in Intel SGX).

To be honest, I think the only way to improve your Rocket workload is to run it o

[2022-01-17 10:10] kvinwang commented on #342
I don't think it the rocket allocating the memory. I logged the Rust's low level memory allocation API, the 64MB allocation is not from Rust.
So, I tried to use gdb to inspect the backtrace, but failed to stop at the breakpoint.

[2022-01-17 10:28] dimakuv commented on #342
Did you add `sgx.debug = 1` to your manifest file? Otherwise GDB won't be able to peek inside the SGX enclave.

GDB is your best tool. See https://gramine.readthedocs.io/en/latest/devel/debugging.html.

[2022-01-17 10:39] kvinwang commented on #342
Yes, But it quited when the breakpoint hit.
[code]

[2022-01-17 10:40] usejava opened #343 "nginx demo run failed 2022/01/15"
## Description of the [problem](url)
<img width="921" alt="d455d2c4c6cdbecf3e34cd04afce2c9" src="https://user-images.githubusercontent.com/1049353/149754697-fda7ea7f-94bc-41e8-b50c-e2684ecc3126.png">

## Steps to reproduce

## Expected results

## Actual results

[2022-01-17 10:41] usejava commented on #343
helloword demo run success

[2022-01-17 10:48] dimakuv commented on #342
This is not good. Does it happen also without GDB, in normal `gramine-sgx ...` runs? You should first identify why this happens.

[2022-01-17 10:56] kvinwang commented on #342
It does not happen without GDB.
The program is a really simple helloworld and written in Rust. So there might be some issue in gramine-sgx env?

[2022-01-17 12:37] boryspoplawski commented on #342
@kvinwang Try adding `loader.env.M_ARENA_MAX = 1` to the manifest file or change the enclave size to something greater than `number_of_threads * 64MB + some_flat_memory_for_graphene(let's say 256MB)`

[2022-01-17 12:54] dimakuv commented on #342
@boryspoplawski I guess you assume that this Rust application spawns a new thread for each new request? Have you observed this in Rust apps? (I only remember observing this for Python.)

But yes, it is a good suggestion.

[2022-01-17 13:04] boryspoplawski commented on #342
No, but it spawns some (~20 in this example, notice the gdb output) threads.

This is a issue I've seen already. The problem is that glibc's malloc (@kvinwang  that's why you didn't see these allocations come from rust) has a per thread arenas (think of it as memory pools) that are 64MB in size that are lazily allocated at first malloc (in a given thread). If enclave doesn't have enough memory, so

[2022-01-17 13:06] kvinwang commented on #342
Adding the env got an error:
[code]

However, after increasing the enclave_size the problem gone. Cool!

Could you explain a bit more on what happened under the hood?

And should I open an new issue for the GDB issue? It's seems only has problem on the breakpoint for the 64MB allocation.

[2022-01-17 13:10] kvinwang commented on #342
That explains a lot. Thank you so much.

[2022-01-17 13:26] dimakuv commented on #342
That's because Borys gave a slightly wrong string to copy. It should be: `loader.env.M_ARENA_MAX = "1"` -- note the double-quotes. This is because all environment variables are strings, not numbers. Try this and it will work.

[2022-01-17 13:32] boryspoplawski commented on #342
Ah, yes, was writing from the top of my head, sorry.

Already did in the previous message (I guess a race condition happened).

No need, there are tons of issues with GDB, half probably caused by our integration and other just by GDB bugs. It's not related to this specific workload or rust

[2022-01-17 13:34] kvinwang commented on #342
Yes, This works as well. Thanks again very much!

[2022-01-17 13:34] #342 closed

[2022-01-17 16:23] kvijay1918 commented on #323
Then, is there something I made wrong in the server client code (I have updated the code already above)? because, the same code is working perfect when we do with generic docker containers. This deadline exceeded error is only being seen when we run the server with the gsc.

[2022-01-18 07:53] saruvig opened #344 "Trying to run a Federated Learning Pytorch example with Flower on Gramine-sgx environment"
Hi All,

I am trying to run the quickstart Pytorch example from the Flower Git on gramine. The environment is Microsoft Azure. I have tested gramine on it before and was successfully able to run the examples in the Gramine git.
Flower is a Federated Learning framework (https://github.com/adap/flower)

Below is the source code of the example:
https://github.com/adap/flower/tree/main/examples/quicks

[2022-01-18 08:11] dimakuv commented on #323
Can you try this PR that fixes epoll in your GSC: https://github.com/gramineproject/gramine/pull/340?

To try this PR, you simply need to change a line in your `config.yaml` file in the GSC directory. The new line will be like this:
[code]

After you modified `config.yaml`, you'll need to rebuild the Docker image with `gsc build` & `gsc sign` again, from scratch. Hopefully this helps.

[2022-01-18 08:24] dimakuv commented on #344
The log (`log_flower.txt`) ends abruptly at:
[code]

Probably it was cut by GitHub (as it is almost 10MB in size)? Could you look at the end of the log and copy-paste only the relevant parts?

[2022-01-18 08:34] saruvig commented on #344
are you able to access it with link

https://github.com/saruvig/Basic_Cifar/blob/main/local_git/log.txt

[2022-01-18 08:48] dimakuv commented on #344
I don't see anything special in that file (no error messages). The file ends with this:
[code]

This looks perfectly normal -- the application waits for some network connections and/or network packets.

[2022-01-18 08:54] saruvig commented on #344
Yes, Even I could not find any error messages in the log file. The Client-side itself stops running after trying to connect to the server-side I think that's why there is no error message ( the stopIteration function as seen in the screenshot).

Any reason you think it is not able to create this connection. Do I have to make any changes in the manifest to enable such connections on SGX?

[2022-01-18 08:57] dimakuv commented on #344
No, you don't have to make any changes in the manifest.

You should analyze Gramine log files of both the client and the server applications (both run inside Gramine SGX enclaves, right?). I don't see how we can currently help here.

[2022-01-18 09:00] saruvig commented on #344
Yes, they run inside the same enclave as of now. Hence, just the one log file I was able to generate. Can I run them on separate enclaves on the same VM from different terminals?

[2022-01-18 09:07] dimakuv commented on #344
These two statements are contradictory. Each process (the server process, the first client process, the second client process) run in their own SGX enclaves (if this is how you set up your environment). These three processes cannot run in the same SGX enclave, that's not how Intel SGX works.

[2022-01-18 09:13] saruvig commented on #344
Sorry, I am not sure I understand this or how can I be sure if this is how I set up.

I used the usual guide to set up SGX on my VM, which runs fine. To run this specific example this is steps I follow:
1. In my example directory I run Make SGX =1
2. run: gramine-sgx ./pytorch ./server.py
3. Open another terminal for Client 1 and run : gramine-sgx ./pytorch ./client.py
4. Open another terminal for

[2022-01-18 09:43] dimakuv commented on #344
Do you use the same manifest file for these three Gramine-SGX processes? Do they all run in the same directory?

What happens here is that your `loader.log_file = "log.txt"` writes the output **from all three processes** in the same file `log.txt`. So your `log.txt` contains a mess with all three outputs interposed and mangled.

You need to have three different manifest files, each with its own `l

[2022-01-18 09:47] saruvig commented on #344
Yes, the same manifest file, in the same directory.

Ok, I understand. Maybe to begin with I can run them from 3 different directories with three separate manifest files.
If I understand correctly, this in turn will process three separate enclaves and I should get a separate log for all three?

[2022-01-18 09:58] kvinwang opened #345 "Failed to write to protected file which previously moved away"
## Description of the problem
Given that the `protected/` directory is configured as protected files.
I was trying to run the following rust code:
[code]
It failed at the 2nd write with error:
[code]

## Steps to reproduce
For convenience, Let's try to reproduce the issue in C:

https://github.com/kvinwang/gramine-issue-poc2/blob/master/helloworld.c

[code]
The C version use fopen and fwrite and d

[2022-01-18 10:00] dimakuv commented on #344
Yes, there will be three processes (and thus three SGX enclaves). And you will get three logs, each in a different directory.

[2022-01-18 10:03] dimakuv commented on #345
Gramine currently doesn't support renaming of Protected Files, unfortunately.

This is a known problem, we tried a fix for it: https://github.com/gramineproject/gramine/pull/31. But while reviewing the fix, we realized that we have a serious problem with Protected Files that needs a big rewrite of the code... Unfortunately, we didn't have time to fix all these problems with Protected Files.

[2022-01-18 10:12] kvinwang commented on #345
Sad to here that. If so, would it better to let the `rename` function return an error rather than run into a broken state?

[2022-01-18 10:14] dimakuv commented on #345
Yeah, true... Let me see if I can quickly cook a patch like this.

[2022-01-18 12:44] kvijay1918 commented on #323
@dimakuv
Hey great..! this worked for me.

But I have noticed an error related epoll after running so many client applications.

runtime: epollwait on fd 4 failed with [P1:T26:myserver] error: create_pollable_event: DkStreamOpen failed: -13
13
fatal error: runtime: netpoll failed

runtime stack:
runtime.throw({0x9181f1, 0x200e73648})
        /usr/local/go/src/runtime/panic.go:1198 +0x71
runtime.ne

[2022-01-18 13:11] dimakuv commented on #323
@boryspoplawski Not sure if the above log will be of help to you, but apparently your epoll PR fixes this particular issue (well, almost). Maybe this log/workload can be a good helper in your PR debug.

[2022-01-18 13:34] #303 closed

[2022-01-18 16:40] boryspoplawski commented on #323
The error is weird and not related to epoll (most likely, but cannot be sure). This error basically says that connection to a local TLS socket failed (but the socket/pipe is there), which should work...
@kvijay1918 Could you try increasing the number of sgx threads (`sgx.thread_num` in manifest)? Each such connection to a TLS socket creates a temporary thread (to handle TLS handshake) - all of the

[2022-01-19 15:47] haadeescott opened #348 "Remote Attestation EPID secret provisioning not working"
## Description of the problem
I am unable to run the ra-tls-secret-prov sample provided even after following the documentation, using the dummy EPID API key. And how do i even generate the API key?
## Steps to reproduce

As per the docs i generated the input.txt and the epid server using the dummy EPID key:
[code]
And started the server:
[code]

The output that was produced indicated that the API

[2022-01-20 05:53] svenkata9 commented on #345
@dimakuv Are you doing this, or I can take this up to return an error now.

[2022-01-20 06:02] svenkata9 commented on #343
Hi @usejava This seems to be related to some path related issue. Could you check if these paths are valid in your environment?

[2022-01-20 07:47] dimakuv commented on #348
You cannot use dummy SPID and EPID API keys. You must register at Intel SGX Attestation Service web page first: https://api.portal.trustedservices.intel.com/EPID-attestation. After you sign up, the Service will generate these two keys for you. These are the keys you must use in Gramine SGX attestation examples (including `ra-tls-secret-prov`).

You may also want to learn more about SGX attestation

[2022-01-20 08:03] dimakuv commented on #345
@svenkata9 No, I'm not doing it. Please take it, thanks!

[2022-01-20 14:24] dimakuv opened #353 "Communication with devices (shared memory, ioctl)"
This describes the current state of my "communication with devices" project.

This project is in the context of the Linux-SGX PAL, though it should be applicable to other TEEs as well. This project is trivially implementable in the Linux PAL.

Legend:

:heavy_check_mark: Done (merged to master)
:construction: In progress (usually has a PR open)
:star: Next (usually will be unlocked by current "in

[2022-01-20 15:21] #348 closed

[2022-01-21 08:50] kvijay1918 commented on #323
I have tried with 1024 sgx threads in manifest and enclave size 32G. This time I could run more than 100 clients at a time as well as in parallel. After that, it threw the same error that I mentioned in the above log.

runtime: epollwait on fd 4 failed with [P1:T26:myserver] error: create_pollable_event: DkStreamOpen failed: -13
13
fatal error: runtime: netpoll failed

[2022-01-21 10:19] dimakuv commented on #323
@kvijay1918 Could it be that you're exceeding the number of opened connections (more specifically, file descriptors) on your system? Ubuntu systems typically allow 1024 FDs to be opened by one process at a time, iirc. At least on my Ubuntu 18.04, I see this soft limit:
[code]

So it feels like you're out of file descriptors (FDs), and the host Linux kernel disallows creating more FDs (that's why G

[2022-01-24 07:12] aniket-intelx opened #356 "fstat03 failing with internal memory fault after test haven't reported issue resolved"
## Description of the problem
The testcase fstat03 is failing after commit `[LibOS] Re-map tainted shared file-backed memory regions on fork `.
Earlier it used to give TBROK error message which seems to be fixed now. The test seems to be proceeding now but running into some internal memory fault. This failure was reported in an issue `https://github.com/gramineproject/graphene/issues/2256`.
Previo

[2022-01-24 07:14] haadeescott commented on #348
Even after registering my own API keys. The client side is still unable to retrieve the secret.

Server side
[code]

Client side
[code]

Is there anything else that needs to be changed aside from EPID and API keys?
Thanks for assisting me on this.

[2022-01-24 07:53] dimakuv commented on #348
Did you add `RA_TLS_ALLOW_DEBUG_ENCLAVE_INSECURE=1` when starting the server?

Please see the examples of how to run the server and the client here: https://github.com/gramineproject/gramine/tree/master/CI-Examples/ra-tls-secret-prov#quick-start

[2022-01-24 07:55] dimakuv commented on #356
@svenkata9 @jkr0103 Can anyone take a look at this 'Internal memory fault'? Sounds bad. Needs some debugging.

[2022-01-24 07:56] haadeescott commented on #348
Yes i followed the exact steps for the EPID attestation:

Server side:
[code]

Client side:
[code]

[2022-01-24 08:02] jkr0103 commented on #356
Please assign to me

[2022-01-25 10:29] eigmax opened #357 "Feature request: Multiple PF Keys"
## Description of the problem

Consider a situation similar to multi-parties computation, some clients try to do joint computing in an enclave cluster(we name it worker enclave), some of them provide data, and the others query or train an AI model.  the data providers encrypt their data and upload it to the cluster, and then do a Remote Verification before sending pf key into the enclave by secret

[2022-01-25 10:29] #357 closed

[2022-01-25 10:30] duanbing opened #358 "Feature request: Multiple PF keys corresponding to different PF mount"
## Description of the problem

Consider a situation similar to multi-parties computation, some clients try to do joint computing in an enclave cluster(we name it worker enclave), some of them provide data, and the others query or train an AI model.  the data providers encrypt their data and upload it to the cluster, and then do a Remote Verification before sending pf key into the enclave by secret

[2022-01-25 10:49] lead4good opened #359 "[RFC] Allowed and protected file definitions within trusted parent folders"
The current [expansion algorithm for trusted files](https://github.com/gramineproject/gramine/blob/51f9eae739d25993c557b650b9d6e77a32a67ad5/python/graminelibos/manifest.py#L175-L201) does not take protected and allowed files into consideration.

**Example**
[code]

The current expansion algorithm will add both the protected folder `/mydirectory/secrets` as well as the allowed file `/mydirectory/co

[2022-01-25 11:18] boryspoplawski commented on #358
For the format of passing keys I suggest using TOML. We use that for manifests, so it should be easy (and we have a parser with some useful helper functions already).

As for PF: we encounter more and more issues and I've heard some voices that they might need a redesign/rework, but I'm not aware of any actual plans to do it. On the other hand it might be not worth to put the effort in implementin

[2022-01-25 11:21] boryspoplawski commented on #359
I don't think we should support such cases, allowed,protected,trusted subtrees should not overlap.
BUT Gramine should fail with a clean error in such cases (if it does not do so right now).

[2022-01-25 11:37] mkow commented on #359
Alternatively, we could make it work like mounts on Linux, but then we'd need to merge all of them into one list instead of three (to define the mounting order), which is probably not something we want to do.

[2022-01-25 14:09] lead4good commented on #359
Can you elaborate on that? Do you see security issues?

Sorry, typo

[2022-01-25 15:41] dimakuv commented on #358
@duanbing Can your application assume something about where the files from different data providers are located?

For example, can we assume something like this:
[code]

In this case, we can introduce a syntax like this:
[code]

And then we will introduce `DkSetProtectedFilesKey(key_buf, key_name)` and `/dev/attestation/protected_files_keys = 'key1=0x1234, key1_name="dp1'"`. This will be cleaner,

[2022-01-25 15:48] duanbing commented on #358
@dimakuv  The assumption makes sense.  It's quite clear to import key_name to bridge the key and PF.

[2022-01-25 18:03] boryspoplawski commented on #359
Not really security issues, but let's say "unclear" semantics with nesting trusted and protected directories. Trusted files are by definition read-only pre-created files. What should happend if you try to create a file at path `/protected_directory/trusted_directory/a_file`? Should that file be protected, or should creation fail? Lot's of corner cases, lot's of tricky scenarios, many things can go

[2022-01-25 22:08] #345 closed

[2022-01-26 08:46] lead4good commented on #359
I do :)

My use case is very similar to GSC; there's no knowledge about a users application, so for improved compatibility in an initial step all existing files in a containerized application are added to the trusted files.

A user might provide a list of additional protected files, and of this list, some of the files had been in the container while scanning trusted files. According to the order d

[2022-01-26 08:58] lead4good commented on #359
Why do I think the `allowed > protected > trusted` order makes most sense from a user perspective? Allowed is least restrictive, allows for read and write access shared with the host. Protected is more restricted, allows for read and write access without sharing, and trusted is most restricted allowing only read access. We never know what kind of application a user might convert to gramine, in whi

[2022-01-26 08:59] lead4good commented on #359
Sorry, another typo in the title.

[2022-01-26 21:13] #329 closed

[2022-01-27 03:44] duanbing commented on #358
Hi @dimakuv, just double check, if the malicious data provider sets up the wrong key_name, the data they provide will not be decrypted.  right?

[2022-01-27 07:30] yanghongsing opened #361 "Failed to run flower example of "server.py" with the error of "Protocol not available""
## Description of the problem
Failed to run server.py with the error log below:
$gramine-sgx ./flower server.py
1 socket_utils_common_posix.cc:223] check for SO_REUSEPORT: {"created":"@1643255843.458833000","description":"Protocol not available","errno":92,"file":"src/core/lib/iomgr/socket_utils_common_posix.cc","file_line":202,"os_error":"Protocol not available","syscall":"getsockopt(SO_REUSEPORT

[2022-01-27 07:50] dimakuv commented on #361
Could you re-run this example with Gramine and have `loader.log_level = "all"` in the Gramine manifest file?

This will output a Gramine log, in addition to the application messages. Please attach the log (or copy-paste the last ~100 lines) here, so we can examine what exactly goes wrong inside Gramine.

[2022-01-27 08:07] dimakuv commented on #358
@duanbing Could you clarify this on the example? I'm not sure what is the exact scenario you're thinking about. (But if I understood correctly, yes, the data will not be decrypted, instead there will be an error like "Failed to decrypt".)

[2022-01-27 08:29] kvijay1918 commented on #323
@dimakuv I have increased the FD limit to 65535 from 1024. Even after also, getting the same error.

Find the steps that I followed,

sudo apt-get update
vi /etc/sysctl.conf

at the end of this file, added the below line,
fs.file-max = 65535

made change in one more file,
vi /etc/security/limits.conf

Put the below lines at the end,
root soft nproc 65535
root hard nproc 65535
root soft nofile 6553

[2022-01-27 10:06] yanghongsing commented on #361
Here attached the logfile
[logfile.zip](https://github.com/gramineproject/gramine/files/7949479/logfile.zip)
.

[2022-01-27 10:09] dimakuv commented on #323
Unfortunately, I'm out of ideas what is wrong here. One suggestion for you would be to wait for ~2 weeks, until the epoll rework lands in Gramine (see https://github.com/gramineproject/gramine/pull/340). And then try again, with this new Gramine.

Another suggestion is to dug deep into the trace logs of Gramine (see https://gramine.readthedocs.io/en/latest/manifest-syntax.html#log-level), and try

[2022-01-27 10:12] dimakuv opened #364 "[LibOS,Pal] Support `/sys/devices/system/node/nodeX/meminfo` files"
## Description of the problem

One (private, not open source) workload fails because it doesn't find the following NUMA node info files:
[code]

Gramine currently doesn't emulate these files. We have emulation for a similar file `/proc/meminfo`, maybe we can re-use it here? But need to check.

Anyway, I think it should be trivial to add some (dummy) support for these files.

[2022-01-27 10:13] dimakuv commented on #364
@vijaydhanraj Do you think it's doable and pretty simple to implement? Not right now of course, but in some near future.

[2022-01-27 10:44] dimakuv commented on #361
Thanks. This is because we don't have `SO_REUSEPORT` reported inside Gramine's `getsockopt()` emulation: https://github.com/gramineproject/gramine/blob/df6ed60faef161ceec26fc019a21fadcd3756260/LibOS/shim/src/sys/shim_socket.c#L2068

Someone will need to add it. Since Gramine actually creates all sockets with `SO_REUSEPORT` (if I remember correctly), the change to support this can be trivial, by ju

[2022-01-27 11:32] kvijay1918 commented on #323
@dimakuv One weird thing is... when I do gsc build with --debug option and continue my testing, everything was going smooth. Even I could run more than 300 client instances. Even after also, didn't get this error.

🤔

runtime: epollwait on fd 4 failed with [P1:T26:myserver] error: create_pollable_event: DkStreamOpen failed: -13
13
fatal error: runtime: netpoll failed

[2022-01-27 12:51] #356 closed

[2022-01-27 21:01] boryspoplawski commented on #186
@Glenrun could you verify that https://github.com/gramineproject/gramine/pull/340 fixes your issue? It runs correctly for me with that PR.

[2022-01-27 21:15] boryspoplawski commented on #247
@tux3 could you verify that https://github.com/gramineproject/gramine/pull/340 fixes the issue? It did for my tests

[2022-01-27 21:41] boryspoplawski commented on #315
@sammyne  could you verify that https://github.com/gramineproject/gramine/pull/340 fixes the issue? It does for me

[2022-01-28 00:38] tux3 commented on #247
@boryspoplawski

Thank you for the update. I tried #340 (as of 79e7a1afecafe20c1a9c6e89d7f27d777a12349c), and the good news is that I don't see the same error as before with `shim_epoll_wait`, and it doesn't deadlock every time for me anymore.

However, I still see a deadlock about 30% of the time even with #340. The gramine log at the point where it gets stuck looks like this now (it always freez

[2022-01-28 02:46] duanbing commented on #358
@dimakuv  You are right, that's what I need.  And then the application will catch errors like `Failed to decrypt` and terminate the process.

[2022-01-28 05:48] jkr0103 commented on #361
@yanghongsing could you please share the application you are executing with manifest file?
@dimakuv please assign to me

[2022-01-28 07:44] yanghongsing commented on #361
Dear Kumar

I tried to run flower in gramine. flower is an open source framwork for federated machine leaning. Please refer to the link below. It needs grpc to commmunication between server and clients.
https://flower.dev/

Regards
@yanghongsing

[2022-01-28 11:20] dimakuv commented on #361
I remembered incorrectly. Gramine creates sockets with `SO_REUSEADDR` but not with `SO_REUSEPORT`.

Since `SO_REUSEPORT` is typically an optional feature for applications (and it is certainly optional for gRPC), Gramine will **not** implement this feature in the near future.

@yanghongsing I looked at the `socket_utils_common_posix.cc:223` gRPC source code which prints your error: https://github.c

[2022-01-28 12:52] sammyne commented on #315
I'm on vacation for now. Verification will be done about 2 weeks later, and result will be posted here~ Great thanks

[2022-01-28 15:41] boryspoplawski commented on #247
@tux3 thanks!

I was able to reproduce it as well. It did not trigger for me before on multi cpu system, but turning all cores but one offline made it trigger.

The problem is our emulation of `EPOLLET` with `eventfd` - we cannot emulate it 100% correctly and with exact same semantics as in Linux.
Rust (tokio) uses it in a peculiar way: it registers an `eventfd` with `EPOLLET` does `epoll_wait` an

[2022-01-29 00:11] tux3 commented on #247
@boryspoplawski Thank you, I can confirm it works with 60321f7e28bf12e707f36fae1fe20c4a16ea13ae !

[2022-01-29 00:31] boryspoplawski commented on #247
Good to hear. Thanks for the detailed report, it was very helpful!

[2022-01-29 03:41] yanghongsing commented on #361
@dimakuv
It is acceptable if this error does not affect grpc communcation.

But client side also get some errors. This example is supposed to run one server and two clients. The first client quits when it starts after server. below is the error messages. I also attached details log file for both server and client.

Thank you.

Detected a huge manifest, preallocating 128MB of internal memory.
-----

[2022-01-30 16:19] boryspoplawski opened #365 "[PAL SGX] Secure pipe creation helper threads are not freed"
## Description of the problem
To perform TLS handshake when creating a PAL pipe, Gramine creates a helper thread: https://github.com/gramineproject/gramine/blob/c4c88f9bc1db53460774cd8adb07267236cef039/Pal/src/host/Linux-SGX/db_pipes.c#L230
This thread's resources are never cleared, e.g. PAL_HANDLE is never freed. This leads to memory leaks, each time a PAL pipe is created (e.g. IPC communication,

[2022-01-30 16:22] boryspoplawski commented on #365
Seems we already had an issue about this in the old repo: https://github.com/gramineproject/graphene/issues/2467

[2022-01-31 07:17] dimakuv commented on #361
The log of the client (`logfile_client01`) doesn't have any Gramine debug info; in other words, the client manifest was not created with `loader.log_level = "all"`. Could you please add this to the client manifest and re-run?

Also, did you verify why this error happens in your client:
[code]

This is the crux of your problem. Something wrong with SSL certificates during the TLS handshake between

[2022-01-31 11:16] dimakuv commented on #365
@boryspoplawski I created PR #366 that should fix this problem. Could you please rebase it on top of your epoll PR and check it?

[2022-01-31 14:54] #365 closed

[2022-01-31 21:45] #59 closed

[2022-01-31 21:45] #80 closed

[2022-01-31 21:45] #186 closed

[2022-01-31 21:45] #247 closed

[2022-01-31 21:45] #315 closed

[2022-02-01 09:47] alexander-lindner opened #367 "protected_mrsigner_files: Disallowing access to file ...; file is not protected, trusted or allowed."
## Description of the problem
warning: Disallowing access to file 'src/keys/private/8888'; file is not protected, trusted or allowed.

## Steps to reproduce
[code]
I've got this line in my (python) code:
[code]
and this part of the manifest
[code]
This dir or a parent one is not specified elsewhere like `sgx.allowed_files`.
I've tried to specify the file direct, create the file before, use `sgx.pr

[2022-02-01 11:14] mkow commented on #367
Does it work if you use absolute path to access it?

[2022-02-01 11:59] alexander-lindner commented on #367
This doesn't change anything (I changed it in my py code as well as inside the manifest).
The current working directory is `/` and my `src/...` is mounted under `/` so it should make no difference?

This is the log:
[code]

In the warning message, the `/` disappears, I'm not sure if this is only a formatting thing.
I also noticed, that when I add

[code]
it also doesn't change anything. I assumed

[2022-02-01 13:02] pwmarcz commented on #367
AFAICT, this is because the path in the warning message (`src/keys/private/8888) is the path _on host_, and it's relative to your working directory on host. (By default, `/` in Gramine corresponds to the working directory on host, i.e. `file:.` is mounted at `/`).

Can you check what happens if you change `"file:./src/keys/private/"` to `"file:src/keys/private/"` in the manifest? I suspect there m

[2022-02-01 13:54] dimakuv commented on #353
## Example with CUSE device

Some more details on this sub-project.

### How CUSE works

The Linux kernel exposes the `/dev/cuse` driver. The user-mode driver (UMD) is a normal C application that must be started with root privileges. This UMD calls `cuse_lowlevel_main()` function to connect to the `/dev/cuse`, and the Linux kernel's CUSE module creates a new device with the name requested by UMD,

[2022-02-01 15:49] jinengandhi-intel opened #369 "Gramine test failures (related to vDSO) seen on 5.14 kernel on Icelake systems"
## Description of the problem

With one of the CI machines running Ubuntu 18.04 and 5.14 kernel we started seeing test failures with the following error:

[code]

Showed the issue to Dmitrii and this is what he thinks about the issue:

[code]

## Steps to reproduce

Run any LTP test on this machine.

## Expected results

## Actual results

[2022-02-01 15:57] boryspoplawski commented on #369
iWe already have a fix in review: https://github.com/gramineproject/gramine/pull/368

[2022-02-01 16:13] #369 closed

[2022-02-01 19:31] boryspoplawski commented on #353
That will be a nightmare to maintain. Realistically we have to expect some bugs and submitting a new app version manually each time? Ugh.

I disagree it's complex, I've done it many times, it's super easy. The only hard thing here is SGX enabled QEMU, I don't know what's the state of that.

Yeah, isn't `mmap` like half of the complexity we want to test (other being ioctl)? I would say CUSE is a no

[2022-02-02 07:20] alexander-lindner commented on #367
Good to know. Would be nice, if there is an easy way of differentiating a path on a host and a mounted path ...

Nice, that worked. So it seems to be that path normalization is really the problem.

[2022-02-02 07:26] dimakuv commented on #353
Yes, I agree. With all the limititations of other approaches, it seems we should go for an obvious solution: a kernel module. Which leads to the usage of a VM to run it in.

[2022-02-02 07:42] dimakuv commented on #367
We have numereous small bugs in our allowed/trusted/protected files implementation... We are planning a complete rewrite of this implementation soon, hopefully this quarter.

[2022-02-02 13:09] pwmarcz opened #371 "RFC: protected files redesign"
## Summary

Make protected files configurable per mount, and move handling to LibOS.

## Problems

This proposal addresses the following problems:

* Bug: Protected files do not support renaming (#31). This is difficult to fix for the following reasons:
  * Protected files are tracked in PAL by path
  * We store the path in file header (so renaming needs to modify the file)
  * Broken reference co

[2022-02-02 13:18] dimakuv commented on #371
One immediate comment: we need backwards-compatibility in our manifest file. While I agree that per-mount properties (`protected`, `key`) are better, we still need to support `sgx.protected_files` for some time. I guess LibOS can look for this key in the TOML manifest and automatically construct mount points. Ugly but required...

Another immediate comment: how can we support an `libos.entrypoint`

[2022-02-02 13:22] boryspoplawski commented on #371
We also need to carefully design how keys are deployed - they are never stored in manifest (outside of testing). While PF can be a generic feature, some of the mentioned keys (e.g. mrenclave_key) are SGX specific

[2022-02-02 16:18] pwmarcz commented on #371
Yeah, if arbitrary files can be protected, then probably the best way to emulate them is by separate mountpoints.

However, the "right way of doing things" would probably involve a single mount of a whole directory, and optionally a list of allowed files (if we want to only allow _some_ files from that directory):

[code]

This suggests that `allowed_files` (as @dimakuv mentioned elsewhere) can be

[2022-02-02 16:23] mkow commented on #371
Would it be acceptable if instead of keeping the compatibility in Gramine itself we published a tool to automatically translate old manifests to the new format? And mention the tool if parsing fails for someone.
And this is in general, not just for this particular case.

[2022-02-03 05:50] jkr0103 commented on #341
please assign to me

[2022-02-03 06:36] jinengandhi-intel opened #376 "[Linux-SGX] Intermittent LTP test failures seen with create_pollable_event: DkStreamOpen failed: -13 error"
## Description of the problem

For setrlimit01 and sendfile04, sendfile04_64 we are seeing intermittent failures when run with Gramine SGX.

**Sendfile**
[code]
For sendfile it throws `cannot allocate memory` error even though the system has sufficient free memory and because of the intermittent nature of the issue, the immediate run tends to PASS.

**Setrlimit**

[code]

For setrlimit the test ha

[2022-02-03 07:19] jinengandhi-intel opened #377 "Documentation issue: Prepare signing key command in QuickStart guide doesn't work"
## Description of the problem

As part of the QuickStart guide we provide the users with steps to install and test the package and here one of the steps is generating the signing key using the following command:
`openssl genrsa -3 -out "$HOME"/.config/gramine/enclave-key.pem 3072`

The above command assumes there's already a `gramine` directory inside `"$HOME"/.config/` but that is not the case an

[2022-02-03 07:30] dimakuv commented on #371
This is exactly correct, the Protected Files module (https://github.com/gramineproject/gramine/tree/master/Pal/src/host/Linux-SGX/protected-files) was specifically designed in such a way as to be independent from the rest of the Gramine codebase (bar a couple handy macros).

For example, this Protected Files module constitutes the bulk of the `pf_crypt` ( renamed to `gramine-sgx-pf-crypt` during i

[2022-02-03 07:47] dimakuv commented on #371
I created an example dir hierarchy. I think it reflects a typical application well, and it covers all things that we want to support with allowed/trusted/protected files.

[code]

Legend:
- `al_` for allowed files, `pr_` for protected files, `tr_` for trusted files.
- Keys for protected files: `_mrencave` for SGX mrenclave-based key, `__mrsigner` for SGX mrsigner-based key, `_key0` for user-provid

[2022-02-03 08:34] dimakuv commented on #371
Regarding the manifest syntax. I highly dislike the hack of `fs.mount.pf.allowed_files` proposed by Pawel. I think users must be forced to create per-file mount points in cases like this ("several allowed files in the otherwise protected-files mount").

I would propose the following manifest syntax, using my example dir tree above (I skip `type = "chroot"` for brevity):
[code]

[2022-02-03 08:39] dimakuv commented on #371
Regarding the **renaming** feature:

- Renaming of/to Trusted Files doesn't make sense and must be disallowed
- Renaming of Allowed Files must only be allowed to another Allowed File (i.e., under the path that resolves to the mount point with `shielding = "allowed"`)
- Renaming of Protected Files must only be allowed to another Protected File (i.e., under the path that resolves to the mount point

[2022-02-03 10:36] dimakuv commented on #377
True. Adding `mkdir -p "$HOME"/.config/gramine/` before this `openssl ...` line fixes the problem.

@jinengandhi-intel Could you update our documentation (in particular, this file: https://github.com/gramineproject/gramine/blob/master/Documentation/quickstart.rst) with this?

[2022-02-03 10:39] dimakuv commented on #376
@boryspoplawski What does this error `create_pollable_event: DkStreamOpen failed: -13` typically imply?

@jinengandhi-intel What is the enclave size specified in the manifest file for `sendfile04`?

[2022-02-03 10:59] aniket-intelx commented on #376
The enclave size is 256 MB. Please find the attached `sendfile04.manifest.sgx` .
[sendfile04_manifest_sgx.txt](https://github.com/gramineproject/gramine/files/7993886/sendfile04_manifest_sgx.txt)

[2022-02-03 11:28] mkow commented on #371
While doing such a big rework, let's consider some breaking changes:

- +1 to enforcing separate mounts (like in Linux) if you want to have a bunch of files in different mode - you just overlay them at the top of another mount.
- Renaming `allowed` to `passthrough`.
- Renaming `trusted` to something more meaningful (`prehashed`? `hardcoded`? we probably need some better ideas).
- Renaming uri to `

[2022-02-03 11:52] dimakuv commented on #376
Could you increase the enclave size to 512M for this particular test? Just to verify whether the failure persists or not.

Because of the recent epoll rework, it is possible that sockets-related applications (like `sendfile04`) use slightly more enclave memory than before. Maybe bumping the enclave size is the solution to this issue.

[2022-02-03 12:00] dimakuv commented on #371
I agree that maybe we can just rename everything :)

I dislike the historical `allowed`, `trusted` and `protected` words. If redesigning this from scratch, I would go with two boolean values: `shield_integrity = true` and `shield_confidentiality = true`. This would correspond to:
- `allowed` files become the ones with `shield_integrity = shield_confidentiality = false`
- `trusted` files become the

[2022-02-03 12:15] mkow commented on #371
I like the idea with 2 booleans, although it will be quite a breaking change :) But in the long term it should be more logical for new users.

[2022-02-03 12:46] aniket-intelx commented on #376
The testcase is still failing with enclave size of 512M.

[2022-02-03 13:34] boryspoplawski commented on #376
@dimakuv no idea, -13 is default error for everything on SGX...

[2022-02-03 14:52] pwmarcz commented on #371
Some comments (from me, but based on discussion with @mkow @boryspoplawski @woju):

I don't think boolean flags are a good idea, they obscure the fact that we have 3 distinct mechanisms, each with its own quirks (protected files use a key which you can specify, trusted files are read-only). I like the idea of `mode = "passthrough|measured|encrypted"` parameter for a mount. Or `shielding` if you wa

[2022-02-03 15:03] pwmarcz commented on #371
Another thing (thanks @woju): this will require converting `fs.mount` to be a list, not a dictionary (same as we did for `trusted_files` etc.) We need the mounts to be ordered, and also big dictionaries in TOML [cause performance problems](https://github.com/oscarlab/graphene/issues/2593).

[2022-02-03 15:18] mkow commented on #371
We even have an issue for changing it to a list: https://github.com/gramineproject/gramine/issues/23

[2022-02-03 15:27] mkow commented on #371
+1, when we discussed it more I changed my mind and don't like the bools idea anymore. It would be viable if we could make all three mount modes have the same interface, but there are too many differences the user needs to know right now, as Paweł mentions.

I'd prefer if we had this in key names (e.g. `fs.mount.dir1.host_path = "asdf"`), not values. When this is in values then it gives an impress

[2022-02-03 18:50] boryspoplawski commented on #376
@aniket-intelx @jinengandhi-intel Could you provide more details, like compile flags, used host OS etc? I was not able to reproduce the issue locally.

[2022-02-04 02:27] jinengandhi-intel commented on #376
@aniket-intelx Pls share the machine credentials so that Borys can reproduce and debug the issue faster.

[2022-02-04 04:19] aniket-intelx commented on #376
I have shared the details via email.

[2022-02-04 18:28] #289 closed

[2022-02-06 21:39] boryspoplawski commented on #323
@kvijay1918 this error will be fixed by https://github.com/gramineproject/gramine/pull/381

[2022-02-06 21:39] boryspoplawski commented on #376
@aniket-intelx Could you verify that https://github.com/gramineproject/gramine/pull/381 fixes this issue?

[2022-02-07 01:25] #377 closed

[2022-02-07 04:47] aniket-intelx commented on #376
The issue is still persistent with the above mentioned PR. I will share the details of machine via email.

[2022-02-07 06:48] boryspoplawski commented on #376
Turns out there were two similar issues, I've fixed the other one as well.

@aniket-intelx could you verify now?

[2022-02-07 07:43] saruvig commented on #344
Based on the suggestions. I am now running clients in different enclaves with two different manifest files. To start with the server is running in native mode ( without gramine or gramine-sgx). I have added the following line in the manifest file:

sgx.rpc_thread_num=3

It code seems to be in an endless waiting loop, with the server waiting on signals from the client. I am even attaching the zip f

[2022-02-07 07:46] saruvig commented on #344
Also, would you happen to have any other simple example that I can try with remote calls being made server and clients, successfully running on the gramine-sgx setup? I don't see in the examples repository.